<div class="usa-modal crisis-line-modal" id="crisis-line-modal" aria-labelledby="crisis-modal-heading"
        aria-describedby="crisis-modal-description">
        <div class="usa-modal__content">
            <div class="usa-modal__main">
                <h2 class="usa-modal__heading" id="crisis-modal-heading">
                    <div class="display-flex flex-align-center"><img class="vcl-logo" src="assets/img/vcl-logo.png"
                            alt="Veterans Crisis Line Logo" />We're here anytime, day or night – 24/7</div>
                </h2>
                <div class="usa-prose">
                    <p id="crisis-modal-description">If you are a Veteran in crisis or concerned about one, connect with
                        our caring, qualified responders for confidential help. Many of them are Veterans themselves.
                    </p>
                </div>
                <div class="crisis-links">
                    <div class="crisis-link border-top border-base-lighter">
                        <img class="usa-icon" src="assets/img/material-icons/phone.svg" aria-hidden="true"
                            focusable="false" /><a class="usa-link" href="tel:988">Call <strong>988 and select
                                1</strong></a>
                    </div>
                    <div class="crisis-link border-top border-base-lighter">
                        <img class="usa-icon" src="assets/img/material-icons/smartphone.svg" aria-hidden="true"
                            focusable="false" /><a class="usa-link" href="sms:838255">Text <strong>838255</strong></a>
                    </div>
                    <div class="crisis-link border-top border-base-lighter"><img class="usa-icon"
                            src="assets/img/material-icons/chat.svg" aria-hidden="true" focusable="false" /><a
                            class="usa-link" href="https://www.veteranscrisisline.net/get-help-now/chat/">Start a
                            Confidential Chat</a></div>
                    <div class="crisis-link border-top border-base-lighter">
                        <img class="usa-icon" src="assets/img/material-icons/hearingdisabled.svg" aria-hidden="true"
                            focusable="false" /><a class="usa-link" href="tel:+18007994889">Call TTY if you have hearing
                            loss <strong>800-799-4889</strong></a>
                    </div>
                    <div class="crisis-link border-top border-base-lighter"><a class="usa-link"
                            href="https://www.veteranscrisisline.net/">Get more resources at VeteransCrisisLine.net</a>
                    </div>
                </div>
            </div>
            <button class="usa-button usa-modal__close" type="button" aria-label="Close this window" data-close-modal>
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="assets/img/sprite.svg#close"></use>
                </svg>
            </button>
        </div>
    </div>