<footer class="usa-footer">
    <div class="usa-footer__secondary-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class=" grid-row tablet:grid-col-6 tablet:grid-gap-2">
                    <div class="mobile-lg:grid-col-auto display-flex flex-column flex-justify-center"> <a
                            href="https://www.va.gov">
                            <img class="width-mobile maxw-mobile"
                                src="/assets/images/homepage/va-color-seal-black-text.png"
                                alt="United States Department of Veterans Affairs"></a> </div>
                </div>
                <div class="usa-footer__contact-links tablet:grid-col-6">
                   
                    <div id="footer-social-wrapper">
                        <a title="Link to VA's Email Directory" href="https://public.govdelivery.com/accounts/USVA/subscriber/new/"><img src="/assets/images/social-email.png" alt="Email icon"></a>
                        <a title="Link to VA's main Twitter account" href="https://www.twitter.com/DeptVetAffairs/"><img src="/assets/images/social-twitter.png" alt="Twitter icon"></a>
                        <a title="Link to VA's Blog VAntage Point" href=https://www.blogs.va.gov><img src="/assets/images/social-blog.png" alt="Blog icon"></a>
                        <a title="Link to VA's main Flickr account" href="https://www.flickr.com/photos/VeteransAffairs/"><img src="/assets/images/social-flickr.png" alt="Flickr icon"></a>
                        <a title="Link to VA's main Youtube account" href="https://www.youtube.com/user/DeptVetAffairs"><img src="/assets/images/social-youtube.png" alt="Youtube icon"></a>
                        <a title="Link to VA's main Instagram account" href="https://www.instagram.com/deptvetaffairs/"><img src="/assets/images/social-instagram.png" alt="Instagram icon"></a>
                    </div>

                    <address class="usa-footer__address">
                        <div class="usa-footer__contact-info grid-row grid-gap">
                            <div class="grid-col-auto">U.S. Department of Veterans Affairs<br>
                                810 Vermont Ave., NW<br>
                                Washington, DC 20420<br>
                                <a href="tel:+1-800-698-2411">1-800-698-2411</a>
                            </div>
                        </div>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="usa-identifier bg-blue-90v">
    <section class="usa-identifier__section usa-identifier__section--masthead padding-top-3"
        aria-label="Agency identifier">
        <div class="usa-identifier__container">
            <div class="usa-identifier__identity" aria-label="Agency description">
                <h2 class="usa-identifier__identity-domain font-body-lg text-white"><span class="logo">VA</span>
                    Artificial Intelligence</h2>
                <p class="usa-identifier__identity-disclaimer">An official website of the <a
                        href="https://www.va.gov">U.S. Department of Veterans Affairs</a></p>
            </div>
        </div>
    </section>
    <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links">
        <div class="usa-identifier__container">
            <ul class="usa-identifier__required-links-list">
                <li class="usa-identifier__required-links-item"> <a href="https://www.va.gov/ABOUT_VA/index.asp"
                        class="usa-identifier__required-link">About VA</a> </li>
                <li class="usa-identifier__required-links-item"> <a href="https://www.section508.va.gov/"
                        class="usa-identifier__required-link">Accessibility support</a> </li>
                <li class="usa-identifier__required-links-item"> <a
                        href="https://www.va.gov/ormdi/NOFEAR_Select.asp"
                        class="usa-identifier__required-link usa-link">No FEAR Act data</a> </li>
                <li class="usa-identifier__required-links-item"> <a href="https://www.va.gov/accountability/"
                        class="usa-identifier__required-link">Whistleblower Protection</a> </li>
                <li class="usa-identifier__required-links-item"> <a href="https://www.va.gov/oig/"
                        class="usa-identifier__required-link usa-link">Office of the Inspector General</a> </li>
                <li class="usa-identifier__required-links-item"> <a href="https://www.va.gov/performance-dashboard/"
                        class="usa-identifier__required-link usa-link">Performance reports</a> </li>
                <li class="usa-identifier__required-links-item"> <a href="https://www.va.gov/privacy-policy/"
                        class="usa-identifier__required-link usa-link">Privacy policy</a> </li>
                <li class="usa-identifier__required-links-item"> <a href="https://www.va.gov/foia/"
                        class="usa-identifier__required-link usa-link">FOIA requests</a> </li>
                <li class="usa-identifier__required-links-item"> <a
                        href="https://www.va.gov/web/standards/disclaimer.cfm"
                        class="usa-identifier__required-link usa-link">Disclaimers</a> </li>
                <li class="usa-identifier__required-links-item"> <a href="https://www.data.va.gov"
                        class="usa-identifier__required-link usa-link">Open Data</a> </li>
                <li class="usa-identifier__required-links-item"><a
                        href="https://www.va.gov/vulnerability-disclosure-policy/"
                        class="usa-identifier__required-link usa-link">Vulnerability Disclosure Policy</a></li>
            </ul>
        </div>
    </nav>
    <section class="usa-identifier__section usa-identifier__section--usagov"
        aria-label="U.S. government information and services">
        <div class="usa-identifier__container">
            <div class="usa-identifier__usagov-description">Looking for U.S. government information and services?
            </div>
            <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
        </div>
    </section>
</div>