<footer class="usa-footer usa-footer--big" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section padding-bottom-8">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-4 mobile:grid-row">
          <h3 class="font-serif-lg">VA Mission</h3>
          <p>To fulfill President Lincoln&rsquo;s promise <span class="text-italic font-family-alt">&ldquo;To care for
              him who shall have borne the battle,
              and for his widow, and his orphan&rdquo;</span> by serving and honoring the men and women who are
            America&rsquo;s Veterans.</p>
          <h3 class="font-serif-lg">Subscribe</h3>
          <p>Get the latest VA News products delivered to your inbox.</p>
          <a href="https://public.govdelivery.com/accounts/USVA/subscriber/new/"
            class="usa-button usa-button--secondary shadow"
            title="the will take you to the GovDelivery subscription form for VA and will open a new window or tab"
            target="_blank"><i class="fa fa-at icon-left" aria-hidden="true"></i> SUBSCRIBE TODAY!</a>

        </div>
        <div class="desktop:grid-col-5 mobile:grid-row">
          <h3 class="font-serif-lg">Veterans Programs and Services</h3>
          <ul class="usa-list usa-list--unstyled" style="column-count:2;column-gap:2rem;">
            <li><a href="https://www.va.gov/" title="Department of Veterans Affairs homepage">VA.gov</a></li>
            <li><a href="https://www.va.gov/homeless/">For Homeless Veterans</a></li>
            <li><a href="https://www.va.gov/womenvet/">For Women Veterans</a></li>
            <li><a href="https://www.va.gov/centerforminorityveterans/">For Minority Veterans</a></li>
            <li><a href="https://www.ptsd.va.gov">PTSD</a></li>
            <li><a href="https://www.mentalhealth.va.gov/">Mental Health</a></li>
            <li><a href="https://www.publichealth.va.gov/">Public Health</a>
            <li><a href="https://www.accesstocare.va.gov/ourproviders/">Find a VA Healthcare Provider</a></li>
            <li><a href="https://www.va.gov/adaptivesports/">Adaptive Sports and Special Events</a></li>
            <li><a href="https://www.va.gov/vso/">Veterans Service Organizations (VSO)</a></li>
          </ul>

          <h3 class="font-serif-lg">Additional VA Resources</h3>

          <ul class="usa-list usa-list--unstyled" style="column-count:2;column-gap:2rem;">
            <li><a href="https://iris.custhelp.va.gov/">Contact VA</a></li>
            <li><a href="https://explore.va.gov">Explore VA</a></li>
            <li><a href="https://www.va.gov/vaforms/">VA Forms</a></li>
            <li><a href="https://www.va.gov/health/">Veterans Health Administration (VHA)</a></li>
            <li><a href="https://benefits.va.gov/benefits/">Veterans Benefits Administration (VBA)</a></li>
            <li><a href="https://www.cem.va.gov/">National Cemetery Administration (NCA)</a></li>
            <li><a href="https://www.va.gov/jobs/">Careers at VA</a></li>
            <li><a href="https://www.va.gov/COMMUNITYCARE/programs/veterans/VCP/index.asp">Veterans Choice
                Program</a></li>
            <li><a href="https://www.accesstocare.va.gov/">Access to Care</a></li>
            <li><a href="https://www.va.gov/landing2_business.htm">Doing Business with VA</a></li>
            <li><a href="https://www.va.gov/opa/">Public Affairs</a></li>
            <li><a href="https://www.va.gov/opa/pressrel/">News Releases</a></li>
          </ul>
        </div>

        <div class="desktop:grid-col-3 mobile:grid-row">
          <h3 class="font-serif-lg">Connect with VA</h3>
          <ul class="usa-list fa-ul">
            <li><span class="fa-li"><i class="fas fa-rss text-accent-warm-dark" aria-hidden="true"></i></span><a
                href="https://www.blogs.va.gov/VAntage">VAntage
                Point</a></li>
            <li><span class="fa-li"><i class="fab fa-facebook facebook" aria-hidden="true"></i></span><a
                href="https://www.facebook.com/VeteransAffairs">Facebook</a></li>
            <li><span class="fa-li"><i class="fab fa-twitter twitter" aria-hidden="true"></i></span><a
                href="https://www.twitter.com/DeptVetAffairs/">Twitter</a></li>
            <li><span class="fa-li"><i class="fab fa-youtube youtube" aria-hidden="true"></i></span><a
                href="https://www.youtube.com/user/DeptVetAffairs">YouTube</a></li>
            <li><span class="fa-li"><i class="fab fa-flickr flickr" aria-hidden="true"></i></span><a
                href="https://www.flickr.com/photos/VeteransAffairs/">Flickr</a></li>
            <li><span class="fa-li"><i class="fab fa-instagram instagram" aria-hidden="true"></i></span><a
                href="https://www.instagram.com/deptvetaffairs/">Instagram</a></li>
            <li><span class="fa-li"><i class="fas fa-mobile" aria-hidden="true"></i></span><a
                href="https://mobile.va.gov/appstore/">VA
                Mobile Apps</a></li>
            <li><span class="fa-li"><i class="fas fa-list" aria-hidden="true"></i></span><a
                href="https://www.va.gov/opa/socialmedia.asp">Social
                Media Index</a></li>
          </ul>
          <h3 class="font-serif-lg">In Crisis? Get Help Now</h3>
          <a href="http://www.veteranscrisisline.net/" class="usa-button radius-0 shadow"><i
              class="fas fa-comment-alt-dots text-white icon-left" aria-hidden="true"></i> Veterans Crisis Line</a>

        </div>
      </div>
    </div>
  </div>
  <section class="usa-section usa-section--dark" style="padding-bottom:0rem;padding-top: 0rem;">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col" style="height:5rem;">
          <p class="text-center"> <a href="https://www.va.gov" title="go to the VA homepage"><img
                src="/assets/images/logos/Official_VA_Seal.png"
                style=" margin-left: auto; margin-right: auto; margin-top:-3rem; max-width:7rem;"
                alt="Official VA seal" /></a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="usa-section usa-section--dark mobile-hide padding-top-1 padding-bottom-4 copyright"
    style="padding-top:1rem;">
    <div class="grid-container">
      <p class="text-center font-serif-3xs"> <span><a href="https://www.va.gov/oei/docs/VA2018-2024strategicPlan.pdf">VA
            Strategic Plan</a></span> | <span><a href="https://www.oprm.va.gov/privacy/">Privacy</a></span> | <span><a
            href="https://www.va.gov/web/standards/disclaimer.cfm">Disclaimers</a></span> | <span><a
            href="https://www.va.gov/oig/">Inspector General</a></span> | <span><a
            href="https://www.oprm.va.gov/foia/">FOIA</a></span> | <span><a
            href="https://www.va.gov/orm/NOFEAR_Select.asp">No FEAR Act</a></span> | <span><a
            href="https://www.va.gov/accountability">Whistleblower and Rights
            Protection</a></span> | <span><a href="https://www.va.gov/web/standards/">Website Policies</a></span> | <span><a
            href="https://www.data.va.gov">Open Data</a></span>
      </p>
    </div>
  </section>
</footer>