<section class="usa-banner" id="banner" aria-label="Official government website">
    <div class="grid-container padding-x-0">
<div class="usa-accordion">
<header class="usa-banner__header">
<div class="usa-banner__inner tablet:padding-y-1 tablet-lg:padding-y-0">
                     
<div class="grid-col-auto padding-left-1">
<img class="usa-banner__header-flag" src="/_media/img/uswds/us_flag_small.png" alt="U.S. flag">
</div>
<div class="tablet-lg:display-inline-flex grid-col-auto">
<p class="usa-banner__header-text">An official website of the United States government</p>
<p class="usa-banner__header-action" aria-hidden="true">Here&rsquo;s how you know</p>
</div>
<button class="usa-accordion__button usa-banner__button"
aria-expanded="false" aria-controls="gov-banner">
<span class="usa-banner__button-text">Here&rsquo;s how you know</span>
</button>
</div>

</header><div class="tablet:position-relative tablet:padding-0">
    <div class="crisis-line">
                                                                                                    <div class="flex">
                                                                                                                    <a href="#vcl-modal" class="usa-button vcl-crisis-line__button overlay-trigger tablet:top-neg-3  tablet:margin-right-4" aria-controls="vcl-modal" data-open-modal> <span class="flex">
                                                                                                                                                    <span class="vcl"></span>Talk to the Veterans Crisis Line now</span> </a>
                                                                                                    </div>
                                                                                    </div>
</div>
<div class="usa-banner__content usa-accordion__content bg-transparent" id="gov-banner">
<div class="grid-row grid-gap-lg">
<div class="usa-banner__guidance tablet:grid-col-6">
<img class="usa-banner__icon usa-media-block__img" src="/_media/img/uswds/icon-dot-gov.svg" role="img" alt="Dot gov">
<div class="usa-media-block__body">
<p>
  <strong>
    Official websites use .gov
</strong>
  <br/>
  A <strong>.gov</strong> website belongs to an official government organization in the United States.

</p>
</div>
</div>
<div class="usa-banner__guidance tablet:grid-col-6">
<img class="usa-banner__icon usa-media-block__img" src="/_media/img/uswds/icon-https.svg" role="img" alt="Https">
<div class="usa-media-block__body">
<p>
  <strong>
    Secure .gov websites use HTTPS
</strong>
  <br/>
  A <strong>lock</strong> (
<span class="icon-lock">
<svg xmlns=http://www.w3.org/2000/svg width="52" height="64" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title banner-lock-description"><title id="banner-lock-title">Lock</title><desc id="banner-lock-description">A locked padlock</desc><path fill="##000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"/></svg></span>
) or <strong>https://</strong> means you&rsquo;ve safely connected to the .gov website. Share sensitive information only on official, secure websites.

</p>
</div>
</div>
</div>
</div>
                                                    </div></div>
                     
</section>
<!-- Gov banner END -->

                    <!-- Gov banner END -->
                    <div class="usa-overlay"></div>
                    <header class="usa-header usa-header--extended" role="banner">
                                    <div class="usa-navbar">
                                                    <div class="usa-logo" id="extended-logo"><em class="usa-logo__text"> <a href="/" accesskey="1" aria-label="Home"title="VA Center for Care and Payment Innovation"><span
                                                                                                    class="logo">VA</span><span class="text-thin"> | CCPI</abbr></a> </em></span></div>

                                                    <button class="usa-menu-btn"><i class="fas fa-bars icon-left" aria-hidden="true"></i> Menu</button>

                                    </div>
                                    <nav role="navigation" class="usa-nav">
<div class="usa-nav__inner">
<button class="usa-nav__close"> <img src="/_media/img/uswds/close.svg" alt="close"> </button>
<ul class="usa-nav__primary usa-accordion">
<li class="usa-nav__primary-item"> <a href=http://www.innovation.va.gov/careandpayment/index.html class="usa-nav__link"> <i class="fas fa-home icon-left" aria-hidden="true"></i> <span>Home</span> </a> </li>

<li class="usa-nav__primary-item">

<button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="about"> <span>About</span> </button>
<ul id="about" class="usa-nav__submenu " hidden="">
<!--       <li class="usa-nav__submenu-item"> <a href=http://www.innovation.va.gov/careandpayment/about/about-ccpi.html>About CCPI</a> </li> -->
<li class="usa-nav__submenu-item"> <a href=http://www.innovation.va.gov/careandpayment/about/leadership.html>Meet the Team</a> </li>



</ul>
</li>
<!--
 <li class="usa-nav__primary-item">
        <button class="usa-accordion__button usa-nav__link " aria-expanded="false"
            aria-controls="extended-nav-section-two"><span class="text-white">Pilots</span></button>
            <div id="extended-nav-section-two" class="grid-container usa-nav__submenu oneshadow"
            style="background-color: #152e50;border:1px solid #fdb81e; border-top:0; width: 30%;" hidden="hidden">
                <div class="grid-row ">
                 
                  <div class="usa-col">
                    <ul class="usa-nav__submenu-list">
                     <li class="usa-nav__submenu-item m-menu" style="font-size: 16px;font-weight:550">
                        <a href="/careandpayment/VETSmile/VETSmile.html" class="">VETSmile
                        </a>
                         </li>
                      <li class="usa-nav__submenu-item s-menu mybottom-border ">
                        <a href="/careandpayment/vetsmile/vetsmile-works.html" class="">
                          <small class="margin-right-1 margin-left-1">»

                          </small>How VETSmile Works​</a>
                      </li>
                    
                      <li class="usa-nav__submenu-item s-menu mybottom-border ">
                        <a href="/careandpayment/VETSmile/veteran-need.html" class="">
                          <small class="margin-right-1 margin-left-1">»

                          </small>VETSmile Need and Impact​</a>
                      </li>
                      <li class="usa-nav__submenu-item s-menu mybottom-border ">
                        <a href="/careandpayment/VETSmile/sites-partners.html" class="">
                          <small class="margin-right-1 margin-left-1">»

                          </small>VETSmile Sites and Partners</a>
                      </li>
                      <li class="usa-nav__submenu-item s-menu mybottom-border ">
                        <a href="/careandpayment/VETSmile/faq-page.html" class="">
                          <small class="margin-right-1 margin-left-1">»

                          </small>VETSmile FAQs​</a>
                      </li> -->
         <!--           

<li class="usa-nav__primary-item">

<button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="pilots"> <span>Pilots</span> </button>
<ul id="pilots" class="usa-nav__submenu " hidden="">
<li class="usa-nav__submenu-item"> <a href=http://www.innovation.va.gov/careandpayment/pilots/vetsmile.html>VETSmile</a> </li> -->


</ul>
</li>



</ul>
<div class="usa-nav__secondary usa-nav__secondary--no-links">  
   
<form class="usa-search usa-search--small" action="/search" id="search" method="post">
<div role="search">
  <label for="query" class="usa-sr-only">Search:</label>
<input class="usa-input" type="search" autocomplete="off" id="query" name="query" placeholder="Search">
<button type="submit" class="usa-button"> <span class="usa-sr-only">Search</span> </button>
</div>
</form>
     </div>
</div>
</nav>
                    </header>

                   
   
                    <!---/*Required JS*/--->

                    <script src="/_media/js/uswds/uswds.min.js"></script>
                    <script src="/_media/js/app.js"></script>






<!-- <header class="usa-header usa-header--extended" role="banner">
                                    <div class="usa-navbar">
                                                    <div class="usa-logo" id="extended-logo"><em class="usa-logo__text"> <a href="/" accesskey="1" aria-label="Home" title="VA Center for Care and Payment Innovation"><span class="logo">VA</span><span class="text-thin"> | CCPI</span></a> </em></div>

                                                    <button class="usa-menu-btn"><i class="fas fa-bars icon-left" aria-hidden="true"></i> Menu</button>
     
      
      
      <nav role="navigation" class="usa-nav">
<div class="usa-nav__inner">
<button class="usa-nav__close"> <img src="/_media/img/uswds/close.svg" alt="close"> </button>
<ul class="usa-nav__primary usa-accordion">
<li class="usa-nav__primary-item"> <a href=http://www.innovation.va.gov/careandpayment/home.html class="usa-nav__link"> <i class="fas fa-home icon-left" aria-hidden="true"></i> <span>Home</span> </a> </li>

<li class="usa-nav__primary-item">

<button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="about"> <span>About</span> </button>
<ul id="about" class="usa-nav__submenu " hidden="">
<li class="usa-nav__submenu-item"> <a href=http://www.innovation.va.gov/careandpayment/about/about-ccpi.html>About CCPI</a> </li>
<li class="usa-nav__submenu-item"> <a href=http://www.innovation.va.gov/careandpayment/about/leadership.html>Leadership</a> </li>
<li class="usa-nav__submenu-item"> <a href=http://www.innovation.va.gov/careandpayment/about/vetsmile.html>VETSmile</a> </li>


</ul>
</li>

</ul>
<div class="usa-nav__secondary usa-nav__secondary--no-links">  
   
<form class="usa-search usa-search--small" action="/search" id="search" method="post">
<div role="search">
  <label for="query" class="usa-sr-only">Search:</label>
<input class="usa-input" type="search" autocomplete="off" id="query" name="query" placeholder="Search">
<button type="submit" class="usa-button"> <span class="usa-sr-only">Search</span> </button>
</div>
</form>
</div>
</div>
</nav>
     
      
      

                                    </div>
                                   

                    </header>  -->
<div class="usa-modal usa-modal--lg" id="vcl-modal" aria-labelledby="vcl-modal-heading" aria-describedby="vcl-modal-description">
<div class="usa-modal__content">
<div class="usa-modal__main ">
<h2 class="usa-modal__heading vcl-modal__title font-family-serif font-serif-lg" id="vcl-modal-heading"> We&rsquo;re here anytime, day or night - 24/7</h2>
                    <div id="modal-2-description" class="vcl-crisis__panel-body">
<p class="font-sans-xs padding-bottom-3">If you are a Veteran in crisis
or concerned about one, connect with our caring, qualified responders for confidential help. Many of
them are Veterans themselves. </p>
<ul>
<li class="display-flex border-bottom-1px"><i
  class="fas fa-fw fa-phone icon-left margin-right-2  margin-top-2 fa-lg"
  aria-hidden="true"></i><a href=tel:18002738255 tabindex="0"
  id="vcl-crisis-primary"> Call <strong>1-800-273-8255 and press
1</strong></a></li>
<li class="display-flex"><i
  class="fas fa-fw fa-mobile-alt icon-left margin-right-2  margin-top-2 fa-lg"
  aria-hidden="true"></i><a href="sms:838255"> Text to <b>838255</b></a></li>
<li class="display-flex"><i
  class="far fa-fw icon-left fa-comments margin-right-2  margin-top-2 fa-lg"></i><a
  href=https://www.veteranscrisisline.net/ChatTermsOfService.aspx?account=Veterans%20Chat> Chat <b>confidentially now</b></a></li>
<li class="display-flex"><i
  class="fa fa-fw fa-deaf icon-left margin-right-2  margin-top-2 fa-lg"
  aria-hidden="true"></i><a href=tel:18007994889> Call TTY if you
have hearing loss <strong>1-800-799-4889</strong></a></li>
</ul>
<p class="font-sans-xs">Get more resources at <a href=https://www.veteranscrisisline.net/>VeteransCrisisLine.net</a>. </p></div>
</div>
<button class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
<use xlink:href="/_media/img/uswds/sprite.svg#close"></use>
</svg>
</button>
</div>
</div>
