<!-- This will skip to main content of a page. All main tags must have id of 'main-content' -->
<a class="usa-skipnav" href="#main-content">Skip to main content</a>

<!-- This section is the gov banner, should be present on all pages-->
<div class="usa-banner">
    <div class="usa-accordion">
        <div class="usa-banner__header ">
            <div class="usa-grid usa-banner__inner" style="max-width: 87rem;">
                <div class="desktop:grid-col-6 grid-col-12 desktop:padding-0 padding-left-2">
                    <div class="grid-col-auto">
                        <img class="usa-banner__header-flag" src="/assets/uswds-2.0.3/img/us_flag_small.png"
                            alt="U.S. flag">
                    </div>
                    <div class="grid-col-fill tablet:grid-col-auto">
                        <p class="usa-banner__header-text">An official website of the United States government <span>
                                <button class="usa-accordion__button usa-banner__button" aria-expanded="false"
                                    aria-controls="gov-banner" id="banner-toggle">
                                    <span class="usa-banner__button-text">Here’s how you know</span>
                                </button></span></p>
                        <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
                    </div>
                </div>
                <div id="crisis-line-btn" class="desktop:grid-col-6 grid-col-12 text-right">
                    <div class="crisis-line">
                        <div class="flex">
                            <button data-target="#modal-crisisline" data-toggle="modal" data-backdrop="true"
                                class="usa-button va-crisis-line__button text-left"
                                style="max-width:18rem; padding: 1em 26px .5em .5em"> <span class="flex font-body-3xs">
                                    <span class="vcl"><img src="/assets/images/logos/vcl-logo.png"
                                            alt="Veteran Crisis Line Logo"
                                            style="width: 10%; height: 10%;"></span>&nbsp;&nbsp;Talk
                                    to the Veterans Crisis Line now</span> </button>
                        </div>
                    </div> 
                </div>

            </div>
        </div>
        <div class="crisis-line-container">

            <button id="crisis-line-row" data-target="#modal-crisisline" data-toggle="modal" data-backdrop="true"
                class="usa-button crisis-line-row__button text-left" style="background-color: #dcdfe3; color: black">
                <div id="crisis-line-row-inner">
                    <span class="flex font-body-3xs">
                        <span class="vcl"><img src="/assets/images/logos/vcl-logo.png" alt="Veteran Crisis Line Logo"
                                style="width: 10%; height: 10%;"></span>
                        <span>&nbsp;&nbsp;Talk
                            to the Veterans Crisis Line now</span>
                </div>

            </button>
        </div>
        <div class="usa-banner__content usa-accordion__content" id="gov-banner" hidden="hidden">
            <div class="grid-row grid-gap-lg">
                <div class="usa-banner__guidance tablet:grid-col-6">
                    <img class="usa-banner__icon usa-media-block__img" src="/assets/uswds-2.0.3/img/icon-dot-gov.svg"
                        alt="Dot gov">
                    <div class="usa-media-block__body">
                        <p>
                            <strong>The .gov means it’s official.</strong>
                            <br>
                            Federal government websites often end in .gov or .mil. Before sharing sensitive
                            information, make sure you’re on a federal government site.
                        </p>
                    </div>
                </div>
                <div class="usa-banner__guidance tablet:grid-col-6">
                    <img class="usa-banner__icon usa-media-block__img" src="/assets/uswds-2.0.3/img/icon-https.svg"
                        alt="Https">
                    <div class="usa-media-block__body">
                        <p>
                            <strong>The site is secure.</strong>
                            <br>
                            The <strong>https://</strong> ensures that you are connecting to the official website
                            and that any information you provide is encrypted and transmitted securely.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended" style="background-color: rgb(14, 38, 64);">
    <div class="usa-navbar">
        <div id="extended-logo" class="usa-logo">
            <em class="usa-logo__text">
                <a href="/home.html" title="VHA Innovation Ecosystem"
                    aria-label="Home">
                    <span class="logo text-white">VA </span>
                    <span class="text-white text-thin"> | SimLEARN</span></a>
            </em>

        </div>
        <button class="usa-menu-btn">Menu</button>
    </div>
    <nav role="navigation" class="usa-nav" style="background-color: rgb(14, 38, 64);">
      <div class="usa-nav__inner">
          <button class="usa-nav__close"><img src="/assets/uswds-2.0.3/img/close.svg" alt="close"></button>
          <ul class="usa-nav__primary usa-accordion">
              <li class="usa-nav__primary-item">
                  <a href="/home.html" title="VHA Innovation Ecosystem Homepage" class="usa-nav__link usa-link"><i
                          class="fa fa-home icon-left text-white" aria-hidden="false"></i> Home</a>
              </li>
              <!-- who we are nav -->
              <li class="usa-nav__primary-item">
                  <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
                      aria-controls="extended-nav-section-one"><span class="text-white">About</span></button>
                  <ul id="extended-nav-section-one" class="usa-nav__submenu bg-submenu" hidden="hidden">
                    <li class="usa-nav__submenu-item m-menu mybottom-border  ">
                      <a href="/views/about/about-simlearn.html" class="">About SimLEARN</a>
                    </li>
                            <li class="usa-nav__submenu-item m-menu mybottom-border">
                              <a href="/views/about/bio-simlearn.html" class=""> Biographies </a>
                            </li>
                            <li class="usa-nav__submenu-item m-menu mybottom-border">
                              <a href="/views/about/contact.html" class=""> Contact Us </a>
                            </li>
                            
                            <li class="usa-nav__submenu-item m-menu   ">
                              <a href="/views/about/history.html" class="">History</a>
                            </li>
                      
                  </ul>
              </li>
                <!-- MEDIA -->
                <li class="usa-nav__primary-item">
                  <a href="/views/news-events/news-media.html" title="VHA Innovation Ecosystem Homepage" class="usa-nav__link usa-link"> News & Media</a>
              </li>
              <!-- portfolio -->
              <li class="usa-nav__primary-item">
                  <button class="usa-accordion__button usa-nav__link " aria-expanded="false"
                      aria-controls="extended-nav-section-two"><span class="text-white">Portfolios</span></button>
                  <ul id="extended-nav-section-two" class="usa-nav__submenu bg-gradiant" hidden="hidden">
                    <li class="usa-nav__submenu-item m-menu border-white mybottom-border padding-top-1">
                      <a href="/views/portfolios/assessment-collaboration-aco.html" class="">Assessment, Collaboration and Outreach (ACO)
                        </a>
                    </li> 
                    <li class="usa-nav__submenu-item m-menu border-white mybottom-border padding-top-1">
                      <a href="/views/portfolios/clinical-training-cte.html" class=""> Clinical Training and Engagement (CTE)</a>
                    </li>
                    <li class="usa-nav__submenu-item m-menu border-white mybottom-border padding-top-1">
                      <a href="/views/portfolios/ehti.html" class="m-menu"> Emerging Healthcare Technology Integration (EHTI)</a>
                    </li>
                    <li class="usa-nav__submenu-item m-menu border-white mybottom-border padding-top-1">
                      <a href="/views/portfolios/learning-management.html" class="m-menu"> Learning Management (LM)</a>
                    </li>
                    <li class="usa-nav__submenu-item m-menu border-white  padding-top-1">
                      <a href="/views/portfolios/redi.html" class="">Resuscitation Education and Innovation (REdI)</a>
                    </li>
                      
                  </ul>
              </li>
              <!-- news + events nav -->
              <li class="usa-nav__primary-item">
                  <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
                      aria-controls="extended-nav-section-five"><span class="text-white">Resources & FAQs</span></button>
                  <ul id="extended-nav-section-five" class="usa-nav__submenu" hidden="hidden">
                    <li class="usa-nav__submenu-item m-menu" style="font-size: 16px;font-weight:550">
                      <a href="/views/resurces-faq/faq-page.html" class="">Frequently Asked Questions (FAQs) </a>
                    </li>
                      
                     
                  </ul>
              </li>
            
          </ul>
      </div> 
  </nav>
    <!-- <nav role="navigation" class="usa-nav oneshadow" style="background-color: rgb(14, 38, 64);"> -->
        <!-- <div class="usa-nav__inner" >
            <button class="usa-nav__close"><img src="./assets/uswds-2.0.3/img/close.svg" alt="close"></button>
            <ul class="usa-nav__primary usa-accordion">
              <li class="usa-nav__primary-item">
                  <a href="/home.html" title="VHA Innovation Ecosystem Homepage" class="usa-nav__link usa-link"><i
                          class="fa fa-home icon-left text-white" aria-hidden="false"></i> Home</a>
              </li> -->
             
              <!-- about -->
              <!-- <li class="usa-nav__primary-item">
                  <button class="usa-accordion__button usa-nav__link" aria-expanded="false" 
                      aria-controls="extended-nav-section-one"><span class="text-white">About</span></button>
                      <div id="extended-nav-section-one" class="grid-container usa-nav__submenu usa-megamenu oneshadow" 
                      style="background-color: #152e50;border:1px solid #fdb81e; border-top:0; padding-right: 25; display: table;" hidden="hidden">
                      <div class="grid-row grid-gap-5">   
                        <div class="usa-col myright ">
                          <ul class="usa-nav__submenu-list" >
                            <li class="usa-nav__submenu-item m-menu mybottom-border  ">
                              <a href="./about-simlearn.html" class="">About SimLEARN</a>
                            </li>
                                    <li class="usa-nav__submenu-item m-menu mybottom-border">
                                      <a href="./bio-simlearn.html" class=""> Biographies </a>
                                    </li>
                                   
                                  </ul>
                        </div>    
                        <div class="usa-col  ">
                          <ul class="usa-nav__submenu-list">
                           
                            <li class="usa-nav__submenu-item m-menu mybottom-border">
                              <a href="./home.html" class=""> Contact Us </a>
                            </li>
                            
                            <li class="usa-nav__submenu-item m-menu mybottom-border  ">
                              <a href="/discovery.html" class="">History</a>
                            </li>
                          </ul>
                        </div>  
                     
                      </div>
                    </div>
                    </li> -->
                <!-- MEDIA -->
                <!-- <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button usa-nav__link" aria-expanded="false" 
                        aria-controls=""><span class="text-white">News & Media</span></button>
                </li> -->
                <!-- portfolio -->
                <!-- <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button usa-nav__link " aria-expanded="false"
                        aria-controls="extended-nav-section-two"><span class="text-white">Portfolios</span></button>
                        <div id="extended-nav-section-two" class="grid-container usa-nav__submenu usa-megamenu oneshadow" style="background-color: #152e50;border:1px solid #fdb81e; border-top:0;display: table;" hidden="hidden">
                            <div class="grid-row grid-gap-5">
                              <div class="usa-col myright ">
                                <ul class="usa-nav__submenu-list">
                                  <li class="usa-nav__submenu-item m-menu border-white mybottom-border padding-top-1">
                                    <a href="/views/solutions/spark-seed-spread.html" class="">Assessment, Collaboration and Outreach (ACO)
                                      </a>
                                  </li> 
                                  <li class="usa-nav__submenu-item m-menu border-white mybottom-border padding-top-1">
                                    <a href="/views/solutions/iNET-pro.html" class=""> Clinical Training and Engagement (CTE)</a>
                                  </li>
                                  <li class="usa-nav__submenu-item m-menu border-white mybottom-border padding-top-1">
                                    <a href="/views/solutions/greenhouse-initiative.html" class="m-menu"> Emerging Healthcare Technology Integration (EHTI)</a>
                                  </li>
                                 
                                </ul>
                              </div>
                              
                              <div class="usa-col  ">
                                <ul class="usa-nav__submenu-list">
                                 
                                  <li class="usa-nav__submenu-item m-menu border-white mybottom-border padding-top-1">
                                    <a href="/views/solutions/DOE-PP.html" class="m-menu"> Learning Management (LM)</a>
                                  </li>
                                  <li class="usa-nav__submenu-item m-menu border-white mybottom-border padding-top-1">
                                    <a href="/views/solutions/precision-medicine.html" class="">Resuscitation Education and Innovation (REdI)</a>
                                  </li>
                                </ul>
                              </div>
                             
                            </div>
                        </div>
                </li> -->
                <!-- news + events nav -->
                <!-- <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
                        aria-controls="extended-nav-section-five"><span class="text-white">Resources & FAQs</span></button>
                        <div id="extended-nav-section-five" class="grid-container usa-nav__submenu usa-megamenu oneshadow" style="background-color: #152e50;border:1px solid #fdb81e; border-top:0;" hidden="hidden">
                            <div class="grid-row grid-gap-5">
                              <div class="usa-col border-white border-right">
                                <ul class="usa-nav__submenu-list">
                                  <li class="usa-nav__submenu-item m-menu" style="font-size: 16px;font-weight:550">
                                    <a href="/views/news-events/iEX.html" class="">Frequently Asked Questions (FAQs) </a>
                                  </li>
                                 
                                 
                                 
                                </ul>
                              </div>
                              <div class="usa-col border-white border-right">
                                <ul class="usa-nav__submenu-list">
                                  <li class="usa-nav__submenu-item m-menu  " style="font-size: 16px;font-weight:550">
                                    <a href="/views/news-events/resources-publications.html" class="">Resources & Publications   </a>
                                  </li>
                                 
                                </ul>
                              </div>
                              <div class="usa-col border-white ">
                                <ul class="usa-nav__submenu-list">
                                  <li class="usa-nav__submenu-item m-menu  " style="font-size: 16px;font-weight:550">
                                    <a href="/views/news-events/newsroom.html" class="">Newsroom  </a>
                                  </li>
                                 
                                </ul>
                              </div>
                                                           
                             
                            </div>
                        </div>
                </li> -->
               
               
                <!-- <div style="margin: auto; text-align: left">
                    <img src="./assets/images/placeholder/twitter1.png" alt="" style="width:; height: 30px; margin: 5px; text-align: left">
                    <img src="./assets/images/placeholder/facebook1.png" alt="" style="width:; height: 30px; margin: 5px; text-align: left;">
                </div> --> 
            <!-- </ul>
        </div> 
    </nav> -->
    
</header>


<!--Script-->
<div id="modal-crisi3line" class="modal" tabindex="-1" role="dialog" aria-modal="true" aria-hidden="true"
    style="display:none; padding: 3rem;">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <div class="grid-row">
                    <h1 class="font-family-serif font-serif-md tablet-lg:font-serif-lg grid-col-11 text-bold">
                        We&rsquo;re here
                        anytime, day or night - 24/7</h1>
                    <button class="usa-button close grid-col-1 position-absolute right-0" type="button" id="va-vcl-close-btn" data-dismiss="modal"
                        aria-label="Close"><span class="usa-sr-only">Close
                            this modal</span> <i class="fa fa-times-circle fa-2x text-black" aria-hidden="true"
                            title="close this modal"></i> </button>
                </div>
            </div>
            <div class="modal-body">

                <p class="font-sans-xs padding-bottom-3">If you are a Veteran in crisis or concerned about one, connect
                    with
                    our caring, qualified responders for confidential help. Many of them are Veterans themselves.</p>

                <ul>
                    <li class="display-flex"><i class="fas fa-fw fa-phone icon-left margin-right-2  margin-top-2 fa-lg"
                            aria-hidden="true"></i><a href="tel:18002738255" tabindex='0' id="va-crisis-primary"> Call
                            <strong>1-800-273-8255 and press 1</strong></a></li>
                    <li class="display-flex"><i
                            class="fas fa-fw fa-mobile-alt icon-left margin-right-2  margin-top-2 fa-lg"
                            aria-hidden="true"></i><a href="sms:838255"> Text to <b>838255</b></a></li>
                    <li class="display-flex"><i
                            class="far fa-fw icon-left fa-comments margin-right-2  margin-top-2 fa-lg"></i><a
                            href="https://www.veteranscrisisline.net/ChatTermsOfService.aspx?account=Veterans%20Chat">
                            Chat
                            <b>confidentially now</b></a></li>
                    <li class="display-flex"><i class="fa fa-fw fa-deaf icon-left margin-right-2  margin-top-2 fa-lg"
                            aria-hidden="true"></i><a href="tel:18007994889"> Call TTY if you have hearing loss
                            <strong>1-800-799-4889</strong></a></li>
                </ul>
                <p class="font-sans-xs">Get more resources at <a
                        href="https://www.veteranscrisisline.net/">VeteransCrisisLine.net</a>.</p>
            </div>

        </div>

    </div>
</div>


