<aside class="usa-layout-docs__sidenav desktop:grid-col-12">
    <nav>
        <ul class="usa-sidenav">
            <li class="usa-sidenav__item">
                <ul class="usa-sidenav__sublist">
                    <li class="usa-sidenav__item">
                        <a href="/views/news-events/events.html">News</a> </li>
                    <li class="usa-sidenav__item">
                        <a href="/views/news-events/events.html">Events</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>