<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>Simlearn</title>
    <meta name="description" content="Simlearn">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- test  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="http://beneposto.pl/jqueryrotate/js/jQueryRotateCompressed.js"></script>


    <!----BOOTSTRAP DATATABLES---->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />



    <!-- test  -->
    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- custom hero slider -->
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
          <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- custom hero slider -->
    <script type="text/javascript" src="/assets/js/slick.js"></script>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>


</head>


<body>
    <!-- ======= Header ======= -->
    <div id="header"></div>


    <!-- ======= Hero Section ======= -->

    <main id="main">
        <!-- ======= About Section ======= -->

        <section style="background-color: #f9f9f9;" class="margin-top-0 padding-top-0 padding-bottom-3">
            <svg viewBox="0 0 422 20.98" preserveAspecdivatio="none"
                style="background:#f9f9f9;margin-top:0;padding-top: 0;">
                <defs></defs>
                <g>
                    <polygon class=" fl-shape" style="background:#f9f9f9;fill:#537494" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
            <div class="grid-container padding-3">


                <div class="grid-row grid-gap-3">



                    <div class="tablet:grid-col-12 text-left ">
                        <h1 class="f48-700 padding-top-0 padding-bottom-0 " style="text-align: left;">
                            Course Catalog
                        </h1>

                        <p class="font-body-sm " style="line-height: 1.7; letter-spacing: .6px;">


                            SimLEARN is proud to annouce upcoming courses. Course descriptions and class offerings
                            listed below.
                        </p>



                    </div>


                </div>
        </section>
        <!-- End About Section -->
        <!-- <div class="tablet:grid-col-8 form-group ">
                            <label class="usa-label" for="Class-Search">Class Search</label>
                            <input class="usa-input" placeholder="Class Search..." type="text"  value="">
                        </div> -->
        <!-- ======= Search ======= -->
        <section class="usa-graphic-list usa-section padding-top-0 bg-white ">
            <div class="grid-container">

                <div class="  padding-top-3 ">
                    <!-- <h2 class="font-heading-xl border-bottom ">
            Learn more about SimLEARN
          </h2> -->
                </div>


                <!--project1  -->
                <div class="grid-row grid-gap-3 ">

                    <!-- test  -->




                    <div id="myBtnContainer">
                        <button class="btn active usa-button  shadowme a-work" onclick="filterSelection('all')"> Show
                            all</button>
                        <button class="btn usa-button  shadowme a-work" onclick="filterSelection('person')"> In
                            Person</button>
                        <button class="btn usa-button  shadowme a-work" onclick="filterSelection('virtual')">
                            Virtual</button>
                        <button class="btn usa-button  shadowme a-work" onclick="filterSelection('both')"> Offered In
                            Person & Virtually</button>
                        <button class="btn usa-button  shadowme a-work" onclick="filterSelection('slice')">
                            SLICE</button>

                    </div>

                    <!-- 11 -->
                    <div class="filterDiv   both person virtual padding-left-4  margin-top-3">
                        <div class="padding-3" style="border-left: 5px solid #537494 ;">
                            <h3 class="text-dark-gray f36-line22-w700" style="font-weight:400;">
                                Indivoduction to Clinical Simulation (ICS)
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                The purpose of this face-to-face (FTF) simulation training is to address the gap in
                                qualified clinicians who can facilitate healthcare training using simulation. This
                                course provides a theoretical foundation for simulation-based training by combining
                                didactic, small group, and hands-on simulation activities. Participants can develop the
                                skills necessary to design, develop, implement, and debrief simulation-based healthcare
                                training scenarios in their work centers.
                                <br><br>
                            </p>
                            <p>
                                Offered In Person & Virtually
                                <a class="usa-button  shadowme a-work  float-right oneshadow " href="#"
                                    data-toggle="modal" data-target="#usermodal"><small>Course Details</small></a>



                            </p>

                        </div>
                    </div>
                    <!-- 22 -->
                    <div class="filterDiv  slice person padding-left-4  margin-top-3" style="border: 0  !important;">
                        <div class="padding-3" style="border-left: 5px solid #537494 !important;">
                            <h3 class="text-dark-gray f36-w400" style="font-weight:400;">
                                Out of Operating Room Airway Management - Insdivuctor Course (OOORAM - I)
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                This course is the Out of Operating Room Airway Management course for Instructors. This
                                course will be launched via the LMS platform Moodle and learners will be required to
                                sign up for the class via the Moodle platform. The course will introduce site specific
                                locations that have applied and granted access to the contents of the Out of Operating
                                Room Airway Management Simulator Operators Guide (SOG). The successful navigation of
                                this course (OOORAM-I) is a pre-requisite to gain access to be completed before
                                enrolling in the OOORAM 2.0 course.
                                <br><br>
                            </p>
                            <p>
                                In Person
                                <a class="usa-button  shadowme a-work  float-right oneshadow " href="#"
                                    data-toggle="modal" data-target="#usermodal"><small>Course Details</small></a>



                            </p>

                        </div>







                    </div>
                    <!-- 33 -->

                    <div class="filterDiv  person slice padding-left-4  margin-top-3" style="border: 0  !important;">
                        <div class="padding-3" style="border-left: 5px solid #537494 !important;">
                            <h3 class="text-dark-gray f36-w400" style="font-weight:400;">
                                Out of Operating Room Airway Management (OOORAM 2.0)
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                This course provides an application-based foundation for providing instruction within
                                traditional modalities, as well as simulation based training by combining lecture,
                                discussion, practical exercises, and hands-on simulation activities. Participants will
                                develop the skills necessary to provide traditional instruction geared toward adult
                                learners, conduct simulation-based healthcare training scenarios, and be able to
                                thoroughly debrief such events during SimLEARN training programs in their work centers.
                                <br><br>
                            </p>
                            <p>
                                In Person
                                <a class="usa-button  shadowme a-work  float-right oneshadow " href="#"
                                    data-toggle="modal" data-target="#usermodal"><small>Course Details</small></a>



                            </p>

                        </div>





                    </div>


                    <!-- 44 -->

                    <div class="filterDiv  both person virtual slice padding-left-4  margin-top-3"
                        style="border: 0  !important;">
                        <div class="padding-3" style="border-left: 5px solid #537494 !important;">
                            <h3 class="text-dark-gray f36-w400" style="font-weight:400;">
                                Trauma Nursing Core Course (TNCC)
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                The Purpose of Trauma Nurse Core Course is to teach Registered Nurses core level
                                knowledge and psychomotor skills, which are defined as central or key elements of the
                                multidimensional processes involved in the initial assessment and management of sick or
                                injured patients. TNCC also provides a foundation for integrated communication and
                                collaboration in identifying and treating the sick or injured. The intent of TNCC is to
                                help the nurse develop a rapid and accurate approach when caring for the ill or injured
                                patient. TNCC consists of lectures, hands-on psychomotor skill stations and interactive
                                online learning. TNCC is based on the nursing process, which is emphasized through the
                                components of the course.

                                <br><br>
                            </p>
                            <p>
                                Offered In Person & Virtually
                                <a class="usa-button  shadowme a-work  float-right oneshadow " href="#"
                                    data-toggle="modal" data-target="#usermodal"><small>Course Details</small></a>



                            </p>

                        </div>





                    </div>



                    <!-- 55 -->

                    <div class="filterDiv   person padding-left-4 margin-top-3" style="border: 0  !important;">
                        <div class="padding-3" style="border-left: 5px solid #537494 !important;">
                            <h3 class="text-dark-gray f36-w400" style="font-weight:400;">
                                Educator Cardiac Toolbox (ECG Interpretation Toolbox)
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                The purpose of the Educator Cardiac Toolbox is to further the knowledge and skills of
                                Veterans Health Administration (VHA) care providers tasked with reading a cardiac strip.
                                The training will address the main features and method to analyze Electrocardiograms
                                (EKG). The analysis method includes assessment of rhythm, calculating heart rate,
                                observing P-wave forms, measurement of intervals and segments and the evaluation of
                                other relevant waves.
                                <br><br>
                            </p>
                            <p>
                                In Person
                                <a class="usa-button  shadowme a-work  float-right oneshadow " href="#"
                                    data-toggle="modal" data-target="#usermodal"><small>Course Details</small></a>



                            </p>

                        </div>





                    </div>




                    <!-- 66 -->

                    <div class="filterDiv   person padding-left-4  margin-top-3" style="border: 0  !important;">
                        <div class="padding-3" style="border-left: 5px solid #537494 !important;">
                            <h3 class="text-dark-gray f36-w400" style="font-weight:400;">
                                Cardiac Toolbox EKG Interpretation - Student
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                This toolbox was developed by the Assessment, Collaboration & Outreach (ACO) branch of
                                SimLEARN to facilitate critical crisis skills of ECG interpretation for those caring for
                                our Veterans. The educational opportunity is intended to provide multiple modalities to
                                accommodate various learning styles and timeliness. There are virtual learning
                                opportunities, a self-paced website that includes practice, a power point, and a quick
                                guide for ECG interpretation. Feel free to utilize the components of the toolbox
                                separately or in tandem as appropriate for your facility. A schedule for both an
                                educator’s review of the toolbox contents and the virtual question and answer sessions
                                offered from ACO are attached.
                                <br><br>
                            </p>
                            <p>
                                In Person
                                <a class="usa-button  shadowme a-work  float-right oneshadow " href="#"
                                    data-toggle="modal" data-target="#usermodal"><small>Course Details</small></a>



                            </p>

                        </div>





                    </div>





                    <!-- 77 -->

                    <div class="filterDiv   person padding-left-4  margin-top-3" style="border: 0  !important;">
                        <div class="padding-3" style="border-left: 5px solid #537494 !important;">
                            <h3 class="text-dark-gray f36-w400" style="font-weight:400;">
                                Cardiac Toolbox ECG Interpretation - Blended
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                This toolbox was developed by the Assessment, Collaboration & Outreach (ACO) branch of
                                SimLEARN to facilitate critical crisis skills of ECG interpretation for those caring for
                                our Veterans. The educational opportunity is intended to provide multiple modalities to
                                accommodate various learning styles and timeliness. There are virtual learning
                                opportunities, a self-paced online that includes practice, a power point, and a quick
                                guide for ECG interpretation. Feel free to utilize the components of the toolbox
                                separately or in tandem as appropriate for your facility. A schedule for both an
                                educator’s review of the toolbox contents and the virtual question and answer sessions
                                offered from ACO are attached. <br><br>
                            </p>
                            <p>
                                In Person
                                <a class="usa-button  shadowme a-work  float-right oneshadow " href="#"
                                    data-toggle="modal" data-target="#usermodal"><small>Course Details</small></a>



                            </p>

                        </div>





                    </div>





                    <!-- 88  -->

                    <div class="filterDiv   person  padding-left-4  margin-top-3" style="border: 0  !important;">
                        <div class="padding-3" style="border-left: 5px solid #537494 !important;">
                            <h3 class="text-dark-gray f36-w400" style="font-weight:400;">
                                Escape Room
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                This instructor-led course provides interdisciplinary healthcare teams with an
                                interactive training opportunity to strengthen clinical and non-clinical knowledge,
                                leadership skills, and communication skills. The escape room provides participants with
                                a clinical theme and a simulated patient case. Participants work collaboratively to
                                solve puzzles. The puzzles challenge the team's knowledge and how they care for
                                Veterans. The escape room activity includes a debriefing which is essential to allow
                                participants to reflect on the experience, discuss their decisions and actions, and ask
                                each other questions.
                                <br><br>
                            </p>
                            <p>
                                In Person
                                <a class="usa-button  shadowme a-work  float-right oneshadow " href="#"
                                    data-toggle="modal" data-target="#usermodal"><small>Course Details</small></a>



                            </p>

                        </div>





                    </div>
                    <script>
                        filterSelection("all")
                        function filterSelection(c) {
                            var x, i;
                            x = document.getElementsByClassName("filterDiv ");
                            if (c == "all") c = "";
                            for (i = 0; i < x.length; i++) {
                                w3RemoveClass(x[i], "showbtn");
                                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "showbtn");
                            }
                        }

                        function w3AddClass(element, name) {
                            var i, arr1, arr2;
                            arr1 = element.className.split(" ");
                            arr2 = name.split(" ");
                            for (i = 0; i < arr2.length; i++) {
                                if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
                            }
                        }

                        function w3RemoveClass(element, name) {
                            var i, arr1, arr2;
                            arr1 = element.className.split(" ");
                            arr2 = name.split(" ");
                            for (i = 0; i < arr2.length; i++) {
                                while (arr1.indexOf(arr2[i]) > -1) {
                                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                                }
                            }
                            element.className = arr1.join(" ");
                        }

                        // Add active class to the current button (highlight it)
                        var btnContainer = document.getElementById("myBtnContainer");
                        var btns = btnContainer.getElementsByClassName("usa-button");
                        for (var i = 0; i < btns.length; i++) {
                            btns[i].addEventListener("click", function () {
                                var current = document.getElementsByClassName("active");
                                current[0].className = current[0].className.replace(" active", "");
                                this.className += " active";
                            });
                        }
                    </script>



                </div>


                <!-- <iframe src="https://calendar.google.com/calendar/embed?src=vha.simlearntn%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->



        </section>





        <div class="modal fade " id="usermodal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg padding-3" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 ">


                        <button type="button" class="close" style="opacity: 1;" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="usa-alert usa-alert--info usa-alert--no-icon">
                            <div class="usa-alert__body">
                                <p class="usa-alert__text">
                                <h4 class="usa-alert__heading"> You Are Now Leaving This Site</h4>

                                <br>


                                You are accessing a Veterans Affairs site that requires a VA PIV. If you are not a VA
                                employee, but are interested in taking a SimLEARN course, please e-mail <strong>vasimlearngeneralinformation@va.gov</strong>
                                 for registration.


                                <br> <br>
                                <a class="usa-button  shadowme a-work oneshadow  btn-me text-center  "
                                    href="https://hcm03.ns2cloud.com/sf/start?_s.crb=qc1nbwKaTvIW6%252fg7eUYgSrt323ZSt%252faRLRJTtogCEq0%253d#Shell-home
                                    "><small>Continue </small></a>
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

          </main><!-- End #main  -->

    <!-- ======= Footer ======= -->
    <div id="footer"></div><!-- End Footer -->

</body>

</html>