<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - Home Page</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->




        <section class="usa-graphic-list usa-section padding-top-0  " style="background-color: #f0f0f047;">
            <div class="grid-container  padding-3 ">
                <h4 class="font-heading-xl padding-bottom-4">Featured Speakers Biographies</h4>

                <div id="carolyn" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto flex-align-center">

                        <img class="usa-media-block__img height-15 flex-align-center  image-thumbnail"
                            src="/assets/images/IEX/Carolyn_BW.png" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <p class="font-body-sm margin-0" style="padding-top: 15px;">
                            Carolyn Clancy, MD, MACP, Deputy Under Secretary for Health for Discovery, Education and
                            Affiliate Networks, Veterans Health Administration <br><br>
                            Dr. Carolyn Clancy serves as the Deputy Under Secretary for Health (DUSH) for Discovery,
                            Education & Affiliate Networks (DEAN), VHA, effective July 22, 2018. The Office of the DEAN
                            fosters collaboration and knowledge transfer with facility-based educators, researchers, and
                            clinicians within VA, and between VA and its affiliates.
                            Prior to her current position, she served as the Executive in Charge, Veterans Health
                            Administration, with the authority to perform the functions and duties of the Under
                            Secretary for Health. As the Executive in Charge, Dr. Clancy directed a health care system
                            with an annual budget of approximately $68 billion, overseeing the delivery of care to more
                            than nine million enrolled Veterans. Previously, she served as the Interim Under Secretary
                            for Health from 2014-2015.
                            Dr. Clancy also served as the VHA Deputy Under Secretary for Health for Organizational
                            Excellence, overseeing VHA’s performance, quality, safety, risk management, systems
                            engineering, auditing, oversight, ethics, and accreditation programs, as well as ten years
                            as the Director, Agency for Healthcare Research and Quality (AHRQ). In 2015, Dr. Clancy was
                            selected as the Outstanding Federal Executive of the Year by Disabled American Veterans,
                            and, in 2018, she was selected as one of the Top 50 Physician Executives by Modern
                            Healthcare.
                            Dr. Clancy is a highly experienced and nationally recognized physician executive. She is a
                            general internist and health-services researcher, and a graduate of Boston College and the
                            University of Massachusetts Medical School. She holds an academic appointment at George
                            Washington University School of Medicine and serves as Senior Associate Editor, Health
                            Services Research. Dr. Clancy has contributed to eight academic text books and authored,
                            co-authored, and provided invited commentary in more than 225 scholarly journal articles.
                            She served as member of the National Quality Forum, Board of Directors, as the Chair of the
                            AQA Alliance and served on the Board of Governors, Patient-Centered Outcomes Research
                            Institute. An elected member of the National Academy of Medicine, Dr. Clancy was most
                            recently presented with the 2014 Quality Champion Award, National Committee for Quality
                            Assurance, and was also named as Honorary Fellow, American Academy of Nursing.


                        </p>
                    </div>
                </div>

                <div id="ryan" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto flex-align-center">

                        <img class="usa-media-block__img height-15 flex-align-center  image-thumbnail"
                            src="/assets/images/IEX/Ryan_BW.png" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <p class="font-body-sm margin-0" style="padding-top: 15px;">

                            Ryan Vega, MD Chief Officer, Office of Healthcare Innovation and Learning (OHIL), Veterans
                            Health Administration <br><br>
                            Dr. Ryan Vega is a practicing academic hospitalist and Chief Officer of the Office of
                            Healthcare Innovation and Learning (OHIL). He formerly served as the Executive Director of
                            VHA IE, overseeing the Innovators Network, Diffusion of Excellence, Care and
                            Transformational Initiatives, and Fellowship and Community Engagement. Prior to that role,
                            he served as Chief of Quality for the Hunter Holmes McGuire VA Medical Center (VAMC)and as
                            the Liaison for Institutional-Housestaff Quality and Safety Initiatives at the Virginia
                            Commonwealth University (VCU) Health System. Dr. Vega received his medical degree from
                            Louisiana State University in 2011 and completed his residency training in internal medicine
                            at the VCU Health System in 2014. He then served as a Chief Medical Resident with the VCU
                            Health System and as the VA Chief Resident for Quality and Safety at the Hunter Holmes
                            McGuire VAMC from 2014 to 2015. He is a graduate of the Intermountain Advanced Training
                            Program in Healthcare Quality and Research and completed his Master of Science in Health
                            Administration from VCU as an A.D. Williams Scholar. Dr. Vega has led multiple quality
                            improvement (QI) initiatives and mentored several other QI teams, including prior VA Chief
                            Residents for Quality and Safety. He speaks regularly on the diffusion of innovation and
                            best practices in health care, high reliability and continuous quality improvement, and the
                            impact of communication errors on patient safety.

                            <br>


                        </p>
                    </div>
                </div>
                <div id="torrey" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto flex-align-center">

                        <img class="usa-media-block__img height-15 flex-align-center  image-thumbnail"
                            src="/assets/images/IEX/Torrey_Reverse_BW.png" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <p class="font-body-sm margin-0" style="padding-top: 15px;">
                            Torrey Smith, CEO, Endiatx <br><br>
                            Torrey Smith is a 14-year veteran of the med device startup industry who has been fortunate
                            enough to participate in 3 successful exits. Before co-founding Endiatx, he worked in the
                            areas of endometrial ablation, atherectomy, sleep apnea, therapeutic hypothermia, and
                            vascular closure. Besides his work in med device, Torrey is the founder of an international
                            arts collective known as Sextant, and he has had his art featured in the Smithsonian.

                            Torrey is the CEO of Endiatx, a med device OEM dedicated to ushering in the era of
                            microrobotics inside the human body. Their first product, PillBot™, is a swimming robotic
                            pill camera that utilizes a patent-pending quad-pumpjet propulsion system to allow
                            Gastroenterologists to actively steer the robot around the human stomach with a live video
                            feed.



                        </p>
                    </div>
                </div>

                <div id="allison" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto flex-align-center">

                        <img class="usa-media-block__img height-15 flex-align-center  image-thumbnail"
                            src="/assets/images/IEX/Allison_BW.png" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <p class="font-body-sm margin-0" style="padding-top: 15px;">Allison Amrhein, Director of
                            Operations, VHA Innovators Network(iNET), VHA Innovation Ecosystem <br><br>
                            As Director of Operations for iNET, Ms. Allison Amrhein keeps the lights on and engine
                            running for the Network. She leads a team of incredible Innovation Specialists and employee
                            innovators from VAMCs across the country on their journey to operationalize innovation. She
                            also identifies and facilitates connections between the external innovation community and
                            iNET. These relationships allow iNET sites and staff the opportunity to put design theory
                            into practice, which is hugely important to the iNET mission. It brings the reality of
                            experiential learning of innovation (with little risk—start small, fail small) into the
                            Network. Additional areas of leadership responsibility include financial planning,
                            development of value metrics and oversight of data collection, and management of the annual
                            Spark-Seed-Spread Program application and review process. Allison also serves as the
                            Communications Lead for the VHA Innovation Ecosystem (IE) at-large. She is responsible for
                            strategic communications for all VHA IE portfolios. Prior to her role as Director of
                            Operations, Allison served as an Innovation Coordinator, managing high-value innovation
                            projects and contracts, as well as the Director of Executive Correspondence for the Office
                            of the Under Secretary for Health for Operations and Maintenance during her tenure at VA.
                            Prior to joining VA, she was a health systems researcher and technical writer for a number
                            of non-profits. Ms. Amrhein received her Master of Public Health from the University of
                            Kentucky and Health Administration degree from Indiana University. She is also a certified
                            yoga instructor, dog mom, and has a four-year-old son named Charlie.
                            <br>


                        </p>
                    </div>
                </div>

                <div id="gina" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto flex-align-center">

                        <img class="usa-media-block__img height-15 flex-align-center  image-thumbnail"
                            src="/assets/images/IEX/Gina_BW.png" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <p class="font-body-sm margin-0" style="padding-top: 15px;">

                            Gina Adams, Founder and CEO of Wareologie <br><br>

                            Gina Adams is the Founder and CEO of Ware•ologie, asocial venture that creates innovative
                            hardware to restore levels of independence and empower people with physical challenges.
                            Adams worked in the apparel industry in product development and merchandising for over 15
                            years. After witnessing the severe impacts of Parkinson’s on her stepfather, Adams was
                            inspired to bring functional, yet stylish adaptive accessories to market to restore
                            confidence and dignity for people with disabilities. She launched Ware•ologie in 2018, with
                            the company’s flagship product, Buttons 2 Button Magnetic Adaptors. The company collaborates
                            with individuals to develop, prototype and commercialize adaptive-friendly devices. They
                            also resale assorted adaptive consumer dressing, bathing and eating aids to help people
                            carry out vital activities of daily living and age in place. The Michigan based company
                            sells globally, while bringing positive impact locally through job creation specifically for
                            individuals with disabilities. Products are vetted through an inclusive design approach and
                            her diverse team fills various roles including sales and marketing to assembly. Adams holds
                            a master’s degree in Business Administration from Wayne State University and a bachelor’s
                            degree in Human Environment and Design from Michigan State University. In addition to her
                            startup, Adams is active as the Founder and Executive Director of the environmental
                            nonprofit, Peace, Love & Planet, a member of the Lawrence Tech University's Centre polis
                            Accelerator, Michigan Recycling Coalition, and Inforum. She also sits on the planning
                            committee of MI Arthritis Foundation and is a board member of the MI United Cerebral Palsy
                            Foundation. Adams resides in Farmington Hills, MI. Outside of work, she loves to garden,
                            travel and spend time with her two children, Sydney (18) and Hayden (16).

                            <br>


                        </p>
                    </div>
                </div>

                <div id="micheletti" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto flex-align-center">

                        <img class="usa-media-block__img height-15 flex-align-center  image-thumbnail"
                            src="/assets/images/IEX/Micheletti_BW.png" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <p class="font-body-sm margin-0" style="padding-top: 15px;">
                            Ryan Micheletti, Head of Global Operations, Founder Institute <br><br>
                            Ryan Micheletti is Head of Global Operations for the Founder Institute, the world’s largest
                            pre-seed startup accelerator. Since 2009, FI has launched over 5,000 startup companies
                            across 200 cities, with a global mentor network of over 20,000 mentors. Ryan works with
                            startup leaders in over 90 Countries to help develop their innovation ecosystems and launch
                            technology companies in their region. In addition to his work at Founder Institute, Ryan is
                            the co-founder Vet-Tech, one of the leading startup accelerators for military veterans in
                            the US. Serving as an Advisor, Managing Director and Investor, Ryan has directly launched
                            over 500 startups through his roles at Founder Institute and Vet-Tech.



                        </p>
                    </div>
                </div>



            </div>

        </section>














        <!-- <section>
            <div class="grid-container  padding-3">
                <div class="grid-row grid-gap-2 text-center">

                    <div class="tablet:grid-col border-gray">
                        <h2 class="font-heading-lg   text-left text-primary-darker border-bottom-1">
                            Contact
                        </h2> <br>
                        <h2 class="font-heading-lg    text-center text-primary-darker font-body-1xl ">
                            For questions related to the conference, email us at
                        </h2>

                        <div class="usa-button usa-button--outline tablet:margin-bottom-3">
                            <small>VAinnovation@atlasresearch.us</small></div>
                    </div>
                    <div class="tablet:grid-col-6 border-gray ">
                        <h2 class="font-heading-lg    text-left text-primary-darker border-bottom-1">
                            FAQ
                        </h2>
                        <div class="grid-row grid-gap-2 text-center  ">

                            <div class="tablet:grid-col ">

                                <h2 class="font-heading-lg text-left text-primary-darker font-body-1xl ">
                                    What software platform will host 2020 iEX? <br>
                                    Can I use my phone to access iEX? <br>
                                    How will the sessions be structured? <br>
                                    I don’t have a webcam, is that ok?

                                </h2>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section> -->

    </main>
    <div id="footer"></div>

    <script>
        var end = new Date('10/27/2020 12:00 pm');

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;

        function showRemaining() {
            var now = new Date();
            var distance = end - now;
            if (distance < 0) {

                clearInterval(timer);
                document.getElementById('countdown').innerHTML = 'EXPIRED!';

                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

            document.getElementById('countdown').innerHTML = days + '    ' + 'days' + '    ' + ' ,   ';
            document.getElementById('countdown').innerHTML += hours + '    ' + 'hrs ' + '    ' + '  ,  ';
            document.getElementById('countdown').innerHTML += minutes + '    ' + 'mins ' + '    ';

        }

        timer = setInterval(showRemaining, 1000);
    </script>
</body>

</html>