<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - News</title>
    <meta name="description" content="Some Alt Text">
    <meta name="keywords" content="">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer and side nav -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
            $('#news-events-navigation').load("/partials/news-events.html")
        });
    </script>
</head>

<body>
    <div id="header"></div>
    <main id="main-content" class=" usa-layout-docs">
        <br>
        <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="usa-layout-docs__main  usa-prose">
                    <h1>Events</h1>
                    <h4>See the calendar below for an up-to-date list of activities, events, and deadlines of VHA Innovation Ecosystem events.” </h4>
                    <!-- <img class="padding-bottom-4" src="/assets/images/header-images/iEx_Header_Register.png"
                        alt="VHA Innovation Experience Registration"> -->
                    <div class="grid-row">
                        <div class="grid-col-12 usa-section" style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
                            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=dmhhLmlubm92YXRpb24uZWNvc3lzdGVtQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043"
                            style="border:solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                            <!-- <h3 class="margin-y-1">Join us for VHA Innovation Experience</h3>
                            <h5>October 28-29, 2020</h5>
                            <p>
                                This two-day session will highlight VA employees who are committed to transforming the
                                way VHA serves our nation’s heroes.
                            </p> -->
                        </div>
                    </div>
                    <!-- <div class="usa-section usa-section--light" style="padding-bottom: 2rem; padding-top: 0.5rem;">
                        <div class="grid-container">

                            <h2 class="text-center">Upcoming Events</h2>
                            <div class="grid-row grid-gap">
                                <div class="grid-col-4">
                                    <img class="mini-logo" src="/assets/images/news-images/3D-printing-Makathon.png"
                                        alt="VHA Innovation Experience Logo">
                                </div>
                                <div class="grid-col-8">
                                    <h4 class="small-top-bottom-margin">
                                        VHA Innovation Ecosystem <br>
                                        COVID-19 Maker Challenge
                                    </h4>
                                    <small>July 10 - 19th, 2020</small>
                                    <br>
                                    <small>
                                        <a href="https://covid19makerchallenge.com/" target="_top">Register & Learn
                                            More</a>
                                    </small>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="usa-section usa-section--light" style="padding-bottom: 2rem; padding-top: 0.5rem;">
                        <div class="grid-container">
                            <div class="grid-row grid-gap">
                                <div class="grid-col-4">
                                    <img class="mini-logo" src="/assets/images/news-images/PX_Symposium.PNG"
                                        alt="VHA Innovation Experience Logo">
                                </div>
                                <div class="grid-col-8">
                                    <h4 class="small-top-bottom-margin">PX Symposium</h4>
                                    <small>ON HOLD</small>
                                    <br>
                                    <small>Washington, D.C.</small>
                                    <br>
                                    <small>
                                        <a href="mailto:vainnovation@atlasresearch.us?Subject=PX Symposium Inquiry"
                                            target="_top">Contact Us For More Information</a>
                                    </small>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="usa-section usa-section--light" style="padding-bottom: 2rem; padding-top: 0.5rem;">
                        <div class="grid-container">

                            <div class="grid-row grid-gap">
                                <div class="grid-col-4">
                                    <img class="mini-logo" src="/assets/images/icons/bio_placeholder.png"
                                        alt="VHA Innovation Experience Logo">
                                </div>
                                <div class="grid-col-8">
                                    <h4 class="small-top-bottom-margin">HIMSS20</h4>
                                    <small>March 9 – March 13, 2020</small>
                                    <br>
                                    <small>Orlando, FL</small>
                                    <br>
                                    <small>
                                        <a href="mailto:vainnovation@atlasresearch.us?Subject=HIMSS20%20Inquiry" target="_top">Contact Us</a>
                                    </small>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="usa-section usa-section--light" style="padding-bottom: 2rem; padding-top: 0.5rem;">
                        <div class="grid-container">

                            <div class="grid-row grid-gap">
                                <div class="grid-col-4">
                                    <img src="/assets/images/news-images/basecap-image.jpg"
                                        alt="VHA Innovation Base Camp & Diffusion">
                                </div>
                                <div class="grid-col-8">
                                    <h4 class="small-top-bottom-margin">Base Camp & Diffusion Academy</h4>
                                    <small>February 10, 2020</small>
                                    <br>
                                    <small>New Orleans, LA</small>
                                    <br>
                                    <small>Contact Us For More Information</small>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        </div>
    </main>
    <div id="footer"></div>

</body>

</html>