<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12 text-left padding-top-1 ">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                            VHA Innovation Experience
                        </h1>
                    </div>


                    <div class="tablet:grid-col-7 text-left  ">
                        <!-- <h3 class="font-heading-l padding-top-0 padding-bottom-0 text-white">What is the VHA Innovation
                            Experience (iEX)?
                            <br> </h3> -->

                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            The VHA Innovation Experience (iEX) annual conference offers health care professionals from
                            VA, other government agencies, industry, and academia the opportunity to
                            celebrate, collaborate, and promote a culture of innovation. This year, VHA iEX showcased
                            both employee-developed and industry-sourced innovations and practices that inspired and
                            informed lively discussion via the conference platform. Participants had the opportunity to
                            engage with presenters via live chat and in virtual exhibit booths.
                        </p>
                    </div>
                    <div class="tablet:grid-col-5 padding-top-2">
                        <iframe class="oneshadow image-thumbnail" width="100%" height="315"
                            src="https://www.youtube.com/embed/e_47E3n6RSo" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>
                </div>
                <!-- <div class="grid-row grid-gap-1 margin-top-3" >
                    <div class="tablet:grid-col-2 text-right padding-top-2">
                        <img class="usa-media-block__img   image-thumbnail padding-top-3 " style="border-radius: 50%; height: 30%;"
                            src="/assets/images/NCCHI/dr-thom.jpg" alt="Dr asborve image">
                    </div>
                    <div class="tablet:grid-col-10 ">
                        <p class="font-mono-xs margin-0 text-white" style="padding-top: 15px;">

                        <blockquote class="text-white">
                            “We have both an opportunity and responsibility
                            to lead the discovery of solutions that improve the
                            health and wellness of our Veterans,” said Dr. Osborne.
                            “Groundbreaking collaborative partnerships like this
                            are an important part of our future success. As the
                            largest integrated health care system in the United
                            States, these advances have the potential to have
                            far-reaching positive impact.” Although our work is
                            focused on Veterans, it is also expected to benefit other
                            individuals and organizations, thanks to VA’s authority
                            to partner with others.
                        </blockquote>

                    </div>
                </div> -->
            </div>
        </section>
        <section style="background-color: #e8ecf3;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background-color: #e8ecf3;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background-color: #e8ecf3;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>

        <!-- svg image bottom  -->
        <!-- <svg class="fl-builder-layer-align-top-center" viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background:#e0f1f1;">

            <defs>
                    </defs>
    
            <g class="fl-shape-content">
                <polygon class="fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20"></polygon>
            </g>
        </svg> -->
        <!-- main boxes project  -->

        <section id="founder"
            class="  small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0  hero-dark-background"
            style="background-color: #e8ecf3;margin-top: 0 !important;padding-top: 0 !important;">
            <!-- innovation forefront section -->



            <div class="grid-container ">



                <div class="grid-row grid-gap-2 ">
                    <div class="tablet:grid-col-12 ">
                        <h2 class="font-heading-xl text-dark-gray border-bottom">
                            VHA iEX Lead-in Events
                        </h2>
                        <!-- <img class="oneshadow" src="/assets/images/IEX/founder.jpg" style="opacity: 0.8;" alt="image placejolder ">
                        -->
                    </div>
                    <!-- 111  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <!-- <img class="image-thumbnail wrapper img-me" src="/assets/images/IEX/first.png"
                                        alt="iEX"> -->
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading  f15" style="color: #004b87;">

                                        <i class="fas fa-external-link-square-alt project-icon "
                                            style="font-size: 1rem!important;"></i>
                                        <strong class="line-height-sans-6">Breaking Boundaries Collaboration Challenge
                                        </strong>
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-0 f14 ">
                                <p style="color:#1b1b1b; ">
                                    Hosted by VHA IE and Founder Institute on<strong> August 26-27, 2021,</strong> this
                                    event will feature a pitch competition in which innovators will have a chance to
                                    collaborate with the VA to advance their solution to the next stage of development.

                                </p>

                            </div>
                            <div class="text-center margin-top-3">
                                <a class="usa-button btn-me  shadowme a-work margin-bottom-1 margin-top-3 tablet:margin-bottom-3 onedow"
                                    href="/views/news-events/speakers.html"><small>Learn more / Register
                                        »</small></a>
                            </div>

                        </div>

                    </div>


                    <!-- 222  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <!-- <img class="image-thumbnail wrapper img-me" src="/assets/images/IEX/first.png"
                                  alt="iEX"> -->
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading  f15" style="color: #004b87;">

                                        <i class="fas fa-external-link-square-alt project-icon "
                                            style="font-size: 1rem!important;"></i>
                                        <strong class="line-height-sans-6">Forging a Healthier Future: Post Pandemic
                                            Care
                                        </strong>
                                    </h4>
                                </header>
                            </div>
                            <div class="usa-card__body padding-0 f14 ">
                                <p style="color:#1b1b1b; ">COVID-19 has provided the opportunity to re-imagine a
                                    post-pandemic world in which we are all healthier — as individuals and entire
                                    populations. On <strong>September 15, 2021</strong>, leaders within VA and industry
                                    have an in-depth
                                    conversation on what healthcare looks like in our new normal.
                                </p>

                            </div>
                            <div class="text-center">
                                <p class="usa-button btn-me  shadowme a-work margin-bottom-1 margin-top-2 tablet:margin-bottom-3 onesow"
                                    href="#"><small>Coming soon
                                        »</small></p>
                            </div>
                        </div>

                    </div>
                    <!-- 333 -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <!-- <img class="image-thumbnail wrapper img-me" src="/assets/images/IEX/first.png"
                              alt="iEX"> -->
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading  f15" style="color: #004b87;">

                                        <i class="fas fa-external-link-square-alt project-icon "
                                            style="font-size: 1rem!important;"></i>
                                        <strong class="line-height-sans-6">Breaking Boundaries: Using Innovation to
                                            Advance Health
                                            Equity </strong>
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-0 f14 ">
                                <p style="color:#1b1b1b; ">Innovation can advance health equity and create the
                                    conditions in which everyone has an equal opportunity to live longer, healthier
                                    lives. On<strong> October 13, 2021,</strong> hear from innovators who champion
                                    health equity by
                                    addressing inequalities in their community and within VA.
                                </p>

                            </div>
                            <div class="text-center">
                                <p class="usa-button btn-me  shadowme a-work margin-bottom-1 margin-top-2 tablet:margin-bottom-3 ow"
                                    href="#"><small>Coming soon
                                        »</small></p>
                            </div>

                        </div>

                    </div>

                </div>
                <hr>
                <!-- <div class="border-gray  margin-bottom-3 bg-white padding-5 oneshadow"
                    style="margin-top: 0 !important; margin-bottom: 20px !important;border: 1px solid #7fcfcf !important;border-radius: 6px;">

                    <p class="font-body-sm">
                        Veterans Health Administration (VHA) Innovation Ecosystem (IE) in partnership with the Founder
                        Institute and Innovators Network (iNET) are pleased to announce the launch of the Breaking
                        Boundaries Challenge. The Challenge is part of an ongoing series of events leading up to VHA
                        Innovation Experience (iEX) on October 27 and 28, 2021. Other pre-events prior to iEX will
                        include panels on September 15, 2021 “Forging a Healthier Future: Post-Pandemic Care” and on
                        October 13, 2021 “Breaking Boundaries: Using Innovation to Advance Health Equity.
                    </p><br>



                </div> -->


                <!-- style="box-shadow: 0px 5px 6px -6px black;" -->
                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">


                    <div class="grid-row ">

                        <div class="tablet:grid-col text-left"
                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                            <h3 class="text-left">
                                Dr. Robert L. Jesse Award for Excellence in Innovation

                            </h3>
                        </div>
                    </div>
                    <p class="font-body-md"> <br>


                        The Dr. Robert L. Jesse Award for Excellence in Innovation annually honors a clinical
                        individual, a non-clinical individual, and a team who have demonstrated excellence and promotion
                        of innovation across the VHA medical facility, Veterans Integrated Service Network (VISN) and/or
                        VHA Program Office level. <br><br> <strong>To learn more or submit a nomination
                        for Innovator of the Year by July 30, 2021, click below!</strong> 
                   
                    </p>
                    <p class="text-center flex-align-center" style="margin: auto;
                    width: 60%;">
                        <a class="usa-button btn-me  shadowme a-work margin-bottom-1 margin-top-3 tablet:margin-bottom-3 onedow " 
                        href="https://leaf.va.gov/NATIONAL/100/bob_jesse_award/"><small>Learn More (VA Only) »</small></a>


                    </p>

                </div>
            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g "="">
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill: #e8ecf3;" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>
        <section
            class=" usa-section--dark small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">

            <div class="grid-container ">
                <div class="grid-row grid-gap-2">
                    <div class="tablet:grid-col">
                        <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                            Innovation Experience 2020 Recap
                        </h2>

                    </div>
                </div>

            </div>
            <i class=""></i>

            <div class="grid-container">
                <!-- 11111 -->

                <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                    <!-- 1  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="image-thumbnail wrapper img-me" src="/assets/images/IEX/first.png"
                                        alt="iEX">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading  f17" style="color: #004b87;">
                                        <a href="https://youtu.be/rk8PNXPxq_k" style="color: #004b87;" target="_blank">
                                            <i class="fas fa-play-circle project-icon "
                                                style="font-size: 1rem!important;"></i>
                                            <strong>Embracing Disruptive Innovation in Health Care <br> <small> Watch
                                                    video
                                                    »</small></strong></a>
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-0 f14 ">
                                <p style="color:#1b1b1b; ">Dr. Ken Kizer and Mr. Dean Kamen discussed how to create a
                                    safe environment for innovation in health care and shared their experiences
                                    institutionalizing integrated, systematic, repeatable pathways for change. It also
                                    featured Mr. Kamen’s demonstration of the iBOT.
                                </p>

                            </div>

                        </div>

                    </div>
                    <!-- 2   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="image-thumbnail wrapper"
                                        src="/assets/images/IEX/iEX_Title_Enabling_Workforce_700.png " alt="iEX">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading  f17" style="color: #004b87 !important;">
                                        <a href="https://youtu.be/5zXJE79v6Ts" style="color: #004b87 !important;"
                                            target="_blank">
                                            <i class="fas fa-play-circle project-icon font-lang-5"
                                                style="font-size: 1rem!important;"></i>
                                            <strong> Enabling an Innovative Workforce <br><small> Watch video
                                                    »</small></strong></a>
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-0 f14">
                                <p style="color:#1b1b1b;">Panelists from the Office of Personnel Management, MIT,
                                    Innosight, and the Design Institute for Health discussed how workforce development
                                    and skill building advance innovation in health care, both in VHA and the medical
                                    community writ large.
                                </p>

                            </div>

                        </div>

                    </div>


                    <!-- 3  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img src="/assets/images/IEX/iEX_Title_Optimizing_Partnerships_700.png"
                                        class="image-thumbnail wrapper" alt="A placeholder image">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading  f17" style="color: #004b87;">
                                        <a style="color: #004b87;" href="https://youtu.be/5zXJE79v6Ts" target="_blank">
                                            <i class="fas fa-play-circle project-icon font-lang-5"
                                                style="font-size:1rem !important;"></i>
                                            <strong>
                                                Optimizing Partnerships <br> <small> Watch video
                                                    »</small></strong>
                                        </a>
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-0 f14">
                                <p style="color:#1b1b1b;">Featuring exciting panelists from UnitedHealth, Microsoft,
                                    American Veterans, and the American Hospital Association, this panel discussed how
                                    to build collaboration for health care delivery.

                                </p>

                            </div>

                        </div>


                    </div>


                </div>
                <!-- 222 -->

                <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                    <!-- 4  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="image-thumbnail wrapper img-me" src="/assets/images/IEX/keynote.png"
                                        alt="iEX">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading  f17" style="color: #004b87;">
                                        <a href="https://youtu.be/EFMONKpMbg4" style="color: #004b87;" target="_blank">
                                            <i class="fas fa-play-circle project-icon "
                                                style="font-size: 1rem!important;"></i>
                                            <strong> Keynote Address <br><small> Watch video
                                                    »</small></strong></a>
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-0 f14 ">
                                <p style="color:#1b1b1b; ">Mr. Toby Redshaw, the Senior Vice President for Enterprise
                                    Innovation and 5G Solutions at Verizon, shared the value of partnering with
                                    startups, academia, and enterprise teams to rethink what is possible in a 5G world.
                                    His address highlighted how VHA Innovation Ecosystem has worked with Verizon,
                                    Microsoft, and Medivis to implement Project CONVERGENCE.
                                </p>

                            </div>

                        </div>

                    </div>
                    <!-- 5   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img src="/assets/images/IEX/dmo.png" class="image-thumbnail wrapper"
                                        alt="A placeholder image">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading  f17" style="color: #004b87;">
                                        <a style="color: #004b87;" href="https://youtu.be/GsFURwBEFAY" target="_blank">
                                            <i class="fas fa-play-circle project-icon font-lang-5"
                                                style="font-size: 1rem !important;"></i>
                                            <strong>
                                                Demos <br> <small> Watch video
                                                    »</small>
                                            </strong>
                                        </a>
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-0 f14">
                                <p style="color:#1b1b1b;">Each year, IEX features innovation demonstrations from
                                    frontline employees that have designed, piloted and implemented innovations within
                                    VHA and the impact those innovations are having on Veterans’ lives.
                                </p>

                            </div>

                        </div>


                    </div>


                    <!-- 6  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img src="/assets/images/IEX/talk.png" class="image-thumbnail wrapper"
                                        alt="A placeholder image">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading  f17" style="color: #004b87;">
                                        <a style="color: #004b87;"
                                            href="https://www.youtube.com/watch?v=zmUByUIJmK8&amp;list=PLY7mRNUcQyMQF2uQzCBwMpQYugHWzUx4r"
                                            target="_blank">
                                            <i class="fas fa-play-circle project-icon font-lang-5"
                                                style="font-size:1rem !important;"></i>
                                            <strong>
                                                iEX Talks <br> <small> Watch video
                                                    »</small></strong>
                                        </a>
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-0 f14">
                                <p style="color:#1b1b1b;">VHA iEX Talks are TED-style talks that showcase innovations
                                    that challenge our beliefs, stire the imagination and tell a great story about the
                                    impact on Veteran well-being. In 2020, the iEX Talks featured collaborative effots,
                                    such as The Initiative to End Diabetic Limb Loss.

                                </p>

                            </div>

                        </div>


                    </div>

                </div>


            </div>
        </section>





        <!-- image gray top SVG  -->
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: #e0f1f1;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>
        <!-- <section>
            <div class="grid-row">
                <svg width="1694" height="113" xmlns="http://www.w3.org/2000/svg">
          
                    <g>
                        <title>background</title>
                        <rect fill="none" id="canvas_background" height="115" width="1696" y="-1" x="-1" />
                        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                        </g>
                    </g>
                    <g>
                        <title>Layer 1</title>
                        <rect stroke="null" transform="rotate(2.1024317741394043 822.357055664063,111.05017852783094) "
                            id="svg_1" height="161" width="1755.3888" y="30.55018" x="-55.3374" stroke-width="1.5"
                            fill="#f0f0f0" />
                        <rect id="svg_3" height="2" width="2" y="393.45313" x="929.5" stroke-opacity="null"
                            stroke-width="1.5" stroke="#000" fill="#f0f0f0" />
                    </g>
                </svg>
            </div>
        </section> -->

        <!-- 2nd quoat of thom -->
        <section class="usa-section small-padding usa-section  "
            style="background: #f0f0f0;box-shadow: 0px 5px 6px -6px black;margin-top: -10px;">
            <div class="grid-container">

                <!-- style="box-shadow: 0px 5px 6px -6px black;" -->
                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">


                    <div class="grid-row ">

                        <div class="tablet:grid-col text-left"
                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                            <h3 class="text-left">
                                Publications from 2020
                            </h3>
                        </div>
                    </div>
                    <p class="font-body-md"> <br>

                        <a href="/assets/documents/SOI-2020-Website-508-v3.pdf"> <strong>VHA State of Innovation Report
                                2020</strong> </a> <br>
                        VHA has long embraced innovation, from the first implantable cardiac pacemaker in 1960 to the
                        recent exploration of clinical virtual reality (VR) applications and 3D bioprinting to fabricate
                        patient-matched, vascularized living bone. Through this report, you will learn about innovation
                        across VHA today, and the exciting ways gamechangers are adapting to meet current and future
                        challenges that patients and their health care providers may face. We invite you to celebrate
                        the work our innovators have accomplished, especially their agility and commitment in combatting
                        COVID-19. We invite you to think about what else is possible when we have the courage to learn
                        quickly, fail quickly, and apply lessons learned to move forward quickly.
                    </p>



                </div>

            </div>




        </section>


        <!-- quoat of thom -->


    </main>
    <div id="footer"></div>
    <!-- <script>
        var end = new Date('8/27/2021 12:00 pm');

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;

        function showRemaining() {
            var now = new Date();
            var distance = end - now;
            if (distance < 0) {

                clearInterval(timer);
                document.getElementById('countdown').innerHTML = 'EXPIRED!';

                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

            document.getElementById('countdown').innerHTML = days + '    ' + 'days' + '    ' + ' ,   ';
            document.getElementById('countdown').innerHTML += hours + '    ' + 'hrs ' + '    ' + '  ,  ';
            document.getElementById('countdown').innerHTML += minutes + '    ' + 'mins ' + '    ';

        }

        timer = setInterval(showRemaining, 1000);
    </script> -->

</body>

</html>