<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - News</title>
    <meta name="description" content="Some Alt Text">
    <meta name="keywords"
        content="VHA Innovation Ecosystem, News, Newsroom, VHA News, Excellence, scaling excellence, high-reliability, best practices, life-saving best practices, Veteran, Veterans lives, Diffusion of Excellence, health care innovation, Innovation Community, strategic initiatives, innovators network">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
        <!-- js+jq for the header and footer and side nav -->
        <script>
            $(function () {
                $("#header").load("/partials/header.html");
                $("#footer").load("/partials/footer.html");
                $('#news-events-navigation').load("/partials/news-events.html")
            });
        </script>
</head>

<body>

    <div id="header"></div>
    <main id="main-content" class=" usa-layout-docs">
        <br>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="grid-container">
            <section class="usa-section small-padding usa-section">
                <!-- <div id="news-events-navigation" class="grid-col-3"></div> -->
                <div class="usa-layout-docs__main  usa-prose">
                    <h1>Media Archive</h1>
                    <h4><i>Featured Articles</i></h4>
                    <div class="grid-row grid-gap">

                        <div class="grid-col">
                            <a target="_blank"
                                href="https://www.fedscoop.com/va-brings-fedtech-employee-innovation-trainings/">
                                <img src="/assets/images/news-images/Feature-1.jpg"
                                    alt="Veterans Affairs Secretary Robert Wilkie tours the VA North Texas Health Care System on Aug. 29, 2018. (U.S. Department of Veterans Affairs / Flickr)">
                                <h4 class="no-bottom-margin">VA brings in FedTech for employee innovation trainings
                                </h4>
                            </a>
                            <small>By Tajha Chappellet-Lanier, FedScoop <br>Nov. 6, 2019</small>
                        </div>
                        <div class="grid-col">
                            <a target="_blank"
                                href="https://federalnewsnetwork.com/veterans-affairs/2019/10/va-innovators-see-home-grown-ideas-spread-far-and-wide-across-veterans-health-network/">
                                <img src="/assets/images/news-images/Feature-2.jpg"
                                    alt="Amy Kilbourne, Director of QUERI, and Jonah Czerinski, CEO of Oddball, speak on a panel at the kickoff of VHA Innovation Experience">
                                <h4 class="no-bottom-margin">VA innovators see home-grown ideas spread far and wide
                                    across veterans health network
                                </h4>
                            </a>
                            <small>By Nicole Ogrysko, Federal News Network <br>Oct. 31, 2019</small>
                        </div>
                        <div class="grid-col">
                            <a target="_blank"
                                href="https://www.graydc.com/content/news/Wisconsin-VA-program-battling-COPD-highlighted-in-DC-563795151.html">
                                <img src="/assets/images/news-images/Feature-3.jpg"
                                    alt="Madison, Wisconsin VA pharmacist, Edward Portillo, discusses the success of his center's COPD program in helping veterans' health with Washington Correspondent Alana Austin. (Source: GrayDC)">
                                <h4 class="no-bottom-margin">Wisconsin VA program battling COPD highlighted in DC
                                </h4>
                            </a>
                            <small>By Alana Austin, NBC 15<br>Oct. 24 2019</small>
                        </div>
                    </div>

                    <div class="usa-section " style="padding-bottom: 2rem; padding-top: 0.5rem;padding-left: 3px;">
                        <hr>
                        <h2 class="text-center margin-y-3">VHA Innovation Ecosystem Newsroom</h2>
                       
                        <ul class="usa-list usa-list--unstyled margin-x-3 striped-list padding-left-1 border">

                            <li><a target="_blank"
                                    href="https://federalnewsnetwork.com/veterans-affairs/2019/10/va-innovators-see-home-grown-ideas-spread-far-and-wide-across-veterans-health-network/">VA
                                    Innovators See Home-Grown Ideas Spread Far and Wide Across Veterans Health
                                    Network</a><br><small>Federal News Network, October 31, 2019</small></li>
                            

                            <li><a target="_blank"
                                    href="https://governmentciomedia.com/vha-integrating-opioid-dependency-treatment-within-broader-care">VHA
                                    Integrating Opioid Dependency Treatment Within Broader Care</a><br><small>Government
                                    CIO Media and Research, October 28, 2019</small></li>
                            

                            <li><a target="_blank"
                                    href="https://www.nwaonline.com/news/2019/oct/24/arkansans-at-d-c-event-offer-examples-o/">Arkansans
                                    at D.C. event offer examples of care innovation</a><br><small>Arkansas
                                    Democrat-Gazette, October 24, 2019</small></li>
                            

                            <li><a target="_blank"
                                    href="https://www.graydc.com/content/news/Birmingham-veterans-healthcare-workers-pitch-their-efforts-to-ditch-opioids-in-DC-563795491.html">Birmingham
                                    veterans healthcare workers pitch their efforts to ditch opioids in
                                    DC</a><br><small>WBRC (FOX), October 24, 2019</small></li>
                            

                            <li><a target="_blank"
                                    href="https://www.graydc.com/content/news/Kentucky-VA-kidney-care-program-highlighted-in-DC-563801571.html">Kentucky
                                    VA kidney care program highlighted in DC</a><br><small>WKYT (CBS), October 24,
                                    2019</small></li>
                            

                            <li><a target="_blank"
                                    href="https://www.graydc.com/content/news/Minneapolis-VA-mobile-clinic-for-elderly-veterans-highlighted-in-DC-563805381.html">Minneapolis
                                    VA mobile clinic for elderly veterans highlighted in DC</a><br><small>KEYC (dual
                                    CBS/Fox), October 24, 2019</small></li>
                           

                            <li><a target="_blank"
                                    href="https://www.graydc.com/content/news/Cleveland-veterans-healthcare-workers-pitch-innovation-summit--563795401.html">Cleveland
                                    veterans healthcare workers pitch innovation summit in DC</a><br><small>WOIO (CBS),
                                    October 24, 2019</small></li>
                            

                            <li><a target="_blank"
                                    href="https://www.graydc.com/content/news/Tele-dentistry-in-the-spotlight-as-Central-Texas-veterans-healthcare-worker-pitches-innovation-summit-563795741.html">Tele-dentistry
                                    in the spotlight as Central Texas veterans
                                    healthcare worker pitches innovation summit</a><br><small>KWTX (CBS),
                                    October 24, 2019</small></li>
                            

                            <li><a target="_blank"
                                    href="https://www.graydc.com/content/news/Wisconsin-VA-program-battling-COPD-highlighted-in-DC-563795151.html">Wisconsin
                                    VA program battling COPD highlighted in DC</a><br><small>NBC 15/WMTV, October 24,
                                    2019</small></li>
                            

                            <li><a target="_blank"
                                    href="https://www.nextgov.com/emerging-tech/2019/10/how-va-gets-innovators-focus-veterans-challenges/160801/">One
                                    event helped a severely injured veteran use a utensil on his own—for the first time
                                    in 12 years</a><br><small>NextGov, October 23, 2019</small></li>
                          

                            <li><a target="_blank"
                                    href="https://connectingvets.radio.com/articles/veteran-innovation-experience-3d-printing-technology">There's
                                    way more to the VA 3D printing project than just prosthesis</a><br><small>Connecting
                                    Vets, October 23, 2019</small></li>
                            

                            <li><a target="_blank"
                                    href="https://www.govloop.com/how-the-vha-does-human-centered-innovation/">HOW THE
                                    VHA DOES HUMAN-CENTERED INNOVATION</a><br><small>GovLoop, October 22, 2019</small>
                            </li>
                            

                            <li><a target="_blank"
                                    href="https://www.fedscoop.com/vha-innovation-experience-3d-printing/">VHA takes a
                                    3D approach to showing off its medical innovations</a><br><small>FedScoop, October
                                    15, 2019</small></li>
                           

                            <li><a target="_blank" href="http://bit.ly/2BwxXBw">Interview with Dr.
                                    Vega</a><br><small>Washington Report, October 15, 2019</small></li>
                            

                            <li><a target="_blank"
                                    href="https://govmatters.tv/government-matters-full-show-september-29-2019/">Dr.
                                    Ryan Vega of the Veterans Health Administration details
                                    the health innovations happening at VA Centers</a><br><small>Government Matters,
                                    September 29, 2019</small></li>
                            

                            <li><a target="_blank" href="https://dailynurse.com/author/nhackbarth/">Here’s How One VA
                                    Facility Reduced its Nursing Turnover Rate</a><br><small>Daily Nurse, September 16,
                                    2019</small></li>
                           

                            <li><a target="_blank"
                                    href="https://www.nextgov.com/emerging-tech/2019/08/va-seeks-staff-use-3d-printing-personalize-care-patients/159239/">VA
                                    seeks to Train Staff to Use 3d Printing to Personalize
                                    Care for Patients</a><br><small>NextGov, August 16, 2019</small></li>
                           
                            <li><a target="_blank"
                                    href="https://www.nextgov.com/emerging-tech/2019/08/hackathon-aims-enhance-veterans-care-through-public-private-innovation/158903/">Hackathon
                                    Aims to Enhance Veterans' Care through
                                    Public-Private Innovation</a><br><small>NextGov, August 02, 2019</small></li>
                            
                            <li><a target="_blank"
                                    href="https://comcastnewsmakers.com/Videos/2019/7/29/Veterans-Health-Administration?linkId=47325377">Interview
                                    with Dr. Vega</a><br><small>Comcast Newsmakers, July 29, 2019</small></li>
                            

                            <li><a target="_blank"
                                    href="https://www.wsj.com/articles/to-improve-care-veterans-affairs-asks-patients-their-life-stories-11562146202">To
                                    Improve Care, Veterans Affairs Asks Patients Their Life
                                    Stories</a><br><small>WSJ, July 03, 2019</small></li>
                            
                            <li><a target="_blank"
                                    href="https://www.wearethemighty.com/veterans/veterans-health-3d-printing-treatment">VA
                                    adds 3D printing and virtual reality as treatment
                                    options</a><br><small>We Are Mighty, May 29, 2019</small></li>
                           
                            <li><a target="_blank"
                                    href="https://www.hcinnovationgroup.com/policy-value-based-care/c-suite-innovators/article/21081947/scaling-up-best-practices-across-the-va">Scaling
                                    Up Best Practices Across the VA</a><br>
                                <small>David Raths, Healthcare Innovation, May 23, 2019</small></li>
                            
                            <li><a target="_blank"
                                    href="https://www.nextgov.com/it-modernization/2019/05/innovation-within-how-one-employee-built-tool-revolutionizing-va/156818/">Innovation
                                    From Within: How One Employee-Built Tool is Revolutionizing
                                    VA</a><br>
                                <small>NextGov, May 07, 2019 </small></li>
                            
                            <li><a target="_blank"
                                    href="https://federalnewsnetwork.com/veterans-affairs/2019/04/va-sees-growing-3d-printing-network-as-new-frontier-for-agencys-medical-research/">VA
                                    sees growing 3D printing network as 'new frontier' for agency's medical
                                    research</a><br><small>Federal
                                    News Network, April 19, 2019
                                </small></li>
                            
                            <li> <a target="_blank"
                                    href="https://federalnewsnetwork.com/veterans-affairs/2018/09/how-the-vha-innovators-network-is-turning-changing-narrative-of-complacency/">How
                                    the VHA innovators network is ‘changing narrative’ of
                                    complacency</a><br>
                                <small>Federal News Network, September 07, 2018 </small></li>
                            
                            <li><a target="_blank"
                                    href="https://www.fiercehealthcare.com/hospitals-health-systems/salem-va-medical-center-innovation-veterans-affairs-nursing-pneumonia">A
                                    Virginia hospital's simple solution to prevent pneumonia?
                                    Toothbrushes</a><br><small>Fierce
                                    Healthcare, August 31, 2018</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <div id="footer"></div>

</body>

</html>