<!DOCTYPE html>
<html class="no-js">

<head>


  <title>News & Media | SimLEARN, VA Office of Healthcare Innovation and Learning (OHIL)</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:#e1f3f8;;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>
    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="font-heading-xl text-dark-gray f48-700 ">
              News & Media

            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">
            

The latest information from the VA’s Simulation Learning, Eval, Assessment, & Research Network (SimLEARN).






            </p><br>

          </div>


        </div>

      </div>
    </section>
    <section style="background:#e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g "="">
              <polygon class=" fl-shape" style="background:#e1f3f8;fill:#fff" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

   <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0" style="background: #e1f3f8;margin-top: 0 !important;padding-top: 0 !important;">
 

      <div class="grid-container">



        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            
 <div class="usa-layout-docs__main  usa-prose">


  <div class="grid-row grid-gap-3">
    <script>
      function myFunction() {
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          ul = document.getElementById("myUL");
          li = ul.getElementsByTagName("li");
          for (i = 0; i < li.length; i++) {
              a = li[i].getElementsByTagName("a")[0];
              txtValue = a.textContent || a.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  li[i].style.display = "";
              } else {
                  li[i].style.display = "none";
              }
          }
      }
      </script>
      <!-- right column ,newsletter  -->
      <div class="tablet:grid-col padding-right-1 padding-top-1  margin-right-1 bg-white" 
      style="border:1px solid #dfd9cc;border-radius: 5px; box-shadow: 0px 5px 6px -6px black;padding-right:0; 
      padding-left: 0;padding-top: 0;">
    
          <div class="gpo-shadow" style="height: 70px;padding: 10px;">
              <p class=" font-weight-bold padding-top-2">
                  <i class="far fa-newspaper padding-right-2 icon"></i> <strong>Newsletters</strong> <a class="float-right " href="#" style="color: #072314;"></a>
              </p>
          </div>
          <div class="scrollmenu" style="max-height: 550px; padding: 5px;">  
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Newsletter.." title="serach for Newsletter" style="border: 0 !important;
             font-size: 20px;
            padding: 12px 20px 12px 40px;
            margin-bottom: 12px;
            border: 0 !important;"">
            
            <ul class="usa-list usa-list--unstyled margin-x-3 striped-list " id="myUL">
               
                
               
              <li><a href="https://content.govdelivery.com/accounts/USVHA/bulletins/2f4f0e8">Simulation Exchange 2021 Volume 12, Issue 4</a></li>
              <li><a href="https://content.govdelivery.com/accounts/USVHA/bulletins/2e97504">Simulation Exchange 2021 Volume 12, Issue&nbsp;3</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_12_Issue_2.pdf">Simulation Exchange 2021 Volume 12, Issue 2</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_12_Issue_1.pdf">Simulation Exchange 2021 Volume 12, Issue 1</a>
              </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_11_Issue_5.pdf">Simulation Exchange 2020 Volume 11, Issue 5</a>
              </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_11_Issue_4.pdf">Simulation Exchange 2020 Volume 11, Issue&nbsp;4</a>
              </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_11_Issue_3.pdf">Simulation Exchange 2020 Volume 11, Issue 3</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_11_Issue_2.pdf">Simulation Exchange 2020 Volume 11, Issue&nbsp;2</a>
              </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_11_Issue_1.pdf">Simulation Exchange 2020 Volume 11, Issue 1</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_10_Issue_6.pdf">Simulation Exchange 2019 Volume 10, Issue 6</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_10_Issue_5.pdf">Simulation Exchange 2019 Volume 10, Issue 5</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_10_Issue_4.pdf">Simulation Exchange 2019 Volume 10 Issue 4</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_10_Issue_3.pdf">Simulation Exchange 2019 Volume 10 Issue 3</a>
              </li>
              <li> <a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_10_Issue_2.pdf">Simulation Exchange 2019 Volume 10 Issue 2</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_10_Issue_1.pdf">Simulation Exchange 2019 Volume 10 Issue 1</a>
              </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_9_Issue_6.pdf">Simulation Exchange 2018 Volume 9 Issue 6</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_9_Issue_5.pdf">Simulation Exchange 2018 Volume 9 Issue 5</a>
              </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_9_Issue_4.pdf">Simulation Exchange 2018 Volume 9 Issue 4</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_9_Issue_3.pdf">Simulation Exchange 2018 Volume 9 Issue 3</a>
                </li>
              <li> <a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_9_Issue_2.pdf">Simulation Exchange 2018 Volume 9 Issue 2</a>
              </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_2018_Volume_9_Issue_1.pdf">Simulation Exchange 2018 Volume 9 Issue 1</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_8_Issue_7.pdf">Simulation Exchange 2017 Volume 8 Issue 7</a>
              </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_8_Issue_6.pdf">Simulation Exchange 2017 Volume 8 Issue 6</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_8_Issue_5.pdf">Simulation Exchange 2017 Volume 8 Issue 5</a>
              </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_8_Issue_4.pdf">Simulation Exchange 2017 Volume 8 Issue 4</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_8_Issue_3.pdf">Simulation Exchange 2017 Volume 8 Issue 3</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/Simulation_Exchange_Volume_8_Issue_2.pdf">Simulation Exchange 2017 Volume 8 Issue 2</a>
                </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/Simulation_Exchange_2017_Volume_8_Issue_1.pdf">Simulation Exchange 2017 Volume 8 Issue 1</a>
              </li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/Simulation_Exchange_Vol_7_Issue_3_Winter_2017.pdf">Simulation Exchange Newsletter Winter 2017</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Vol_7_Issue_2_Fall_2016.pdf">Simulation Exchange Newsletter Fall 2016</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/Simulation_Exchange_Vol_7_Issue_1_Spring_2016.pdf">Simulation Exchange Newsletter Spring 2016</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/Simulation_Exchange_Vol_7_Issue_1_Spring_2016.pdf">Simulation Exchange Newsletter Spring 2016</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simulation_Exchange_Vol_6_Issue_4_Winter_2016.pdf">Simulation Exchange&nbsp;Newsletter&nbsp;Winter 2016</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/Simulation_Exchange_Vol_6_Issue_3_Fall_2015.pdf">Simulation Exchange&nbsp;Newsletter&nbsp;Fall 2015</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol_6_Issue_2_Summer_2015.pdf">Simulation Exchange&nbsp;Newsletter&nbsp;Summer 2015</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol_6_Issue_1_Spring_2015.pdf">SimLEARN Newsletter&nbsp;Spring 2015</a></li>
              <li><a href="http://www.simlearn.va.govhttps://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol_5_Issue_4_Winter_2015.pdf">SimLEARN Newsletter&nbsp;Winter 2015</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol_5_Issue_3_Fall_2014.pdf">SimLEARN Newsletter&nbsp;Fall 2014</a></li>
              <li><a href="http://www.simlearn.va.gov/docs/lib/pr/SimLEARN_Newsletter_Vol_5_Issue_2_Summer_2014.pdf">SimLEARN Newsletter Summer 2014</a></li>
              <li><a href="http://www.simlearn.va.gov/docs/lib/pr/SimLEARN_Newsletter_Vol_5_Issue_1_Spring_2014.pdf" title="SimLEARN Newsletter Spring 2014">SimLEARN Newsletter Spring 2014</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol_4_Issue_4_Winter_2014.pdf" title="SimLEARN Newsletter Winter 2014"><span style="color: #0066cc;">SimLEARN Newsletter Winter 2014</span></a></li>
              <li><a href="http://www.simlearn.va.govhttps://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_fall_2013_Vol_4_Issue_3.pdf"><span style="color: #0066cc;">SimLEARN Newsletter - Fall 2013</span></a></li>
              <li><a href="http://www.simlearn.va.govhttps://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_summer_2013_Vol_4_Issue_2.pdf"><span style="color: #0066cc;">SimLEARN Newsletter - Summer 2013</span></a></li>
              <li><a href="http://www.simlearn.va.govhttps://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_Spring_2013_Volume_4_Issue_1.pdf">SimLEARN Newsletter - Spring 2013</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_Winter_2013_Vol_3_Issue_4.pdf" target="_blank">SimLEARN Newsletter - Winter 2013</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/simlearn_fall2012_vol_3_issue_3.pdf" target="_blank">SimLEARN Newsletter - Fall 2012</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLearn_Summer_2012v3_0612.pdf" target="_blank">SimLEARN Newsletter - Summer 2012</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol_3_Issue_1.pdf" target="_blank">SimLEARN Newsletter - Spring 2012</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_newsletter_Vol_2_Issue_4_v2_FC_0112.pdf" target="_blank">SimLEARN Newsletter - Winter 2012</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARNNewslette_Vol2_Iss3_100311.pdf" target="_blank">SimLEARN Newsletter - Fall 2011</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/Simlearn_summer2011.pdf" target="_blank">SimLEARN Newsletter - Summer 2011</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARNnewsletter_spring_singles_FC_rev2_0411.pdf" target="_blank">SimLEARN Newsletter - Spring 2011</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_newsletter_winter2010_FC_1210.pdf" target="_blank">SimLEARN Newsletter - Winter 2010</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol1_Iss2_FC_0710.pdf" target="_blank">SimLEARN Newsletter - Summer 2010</a></li>
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARNNewsletterSpring2010v01i01FC04104Print.pdf" target="_blank">SimLEARN Newsletter - Spring 2010</a></li>
            


            </ul>


          </div>
      </div>
      <!-- article  -->
      <script>
        function myFunctionart() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput-art");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL-art");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
        </script>
      <div class="tablet:grid-col padding-right-1 padding-top-1  margin-right-1 bg-white" style="border:1px solid #dfd9cc;border-radius: 5px; box-shadow: 0px 5px 6px -6px black;padding-right:0; padding-left: 0;padding-top: 0;">
          <div class="gpo-shadow" style="height: 70px;padding: 10px;">
              <p class=" font-weight-bold  padding-top-2" ><i class="fas fa-globe-europe padding-right-2 icon"></i> <strong>Articles
                  </strong> <a class="float-right " href="#" style="color: #072314;"></a></p>
          </div>
          <div class="scrollmenu" style="max-height: 550px; padding: 5px;">
            <input type="text" id="myInput-art" onkeyup="myFunctionart()" placeholder="Search for Articles.." title="serach for Newsletter" style="width: 100%;
            font-size: 20px;
            padding: 12px 20px 12px 40px;
            margin-bottom: 12px;
            border: 0 !important;">
            
         

            <ul class="usa-list usa-list--unstyled margin-x-3 striped-list " id="myUL-art" >


              <!-- 1111 -->
              <li> 
                <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_27_Directors_Corner_FY22_Priorities.asp">
                Director's Corner: FY22 Priorities</a>
               </li>
          
              <!-- 222 -->
              <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_21_SimLEARN_Addressing_Musculoskeletal_Conditions.asp">
                <br>SimLEARN: Addressing Musculoskeletal Conditions</a><br><br>
              
              </li>
              <!-- 11 -->
              <li> <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_26_Fellowship_Corner_VHA_Welcomes_New_Simulation_Fellows.asp">
                Fellowship Corner:&nbsp;Veterans Health Administration Welcomes New Simulation Fellows</a><br><br>
                </li>
          
              <!-- 222 -->
              <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_23_Simulation_Educator_or_High_Reliability_Partner.asp">
                Simulation Educator...or High Reliability Partner?</a><br><br>
               
              </li>
          
              <!-- 33 -->
              <li>   <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_25_New_and_Revised_Joint_Commission_Requirements_for_Resuscitation.asp">
                New and Revised Joint Commission Requirements for Resuscitation</a><br><br>
            
             </li>
              <!-- 44 -->
          
              <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_20_SimLEARN_National_Simulation_Center_is_Getting_a_Second_Floor.asp">
                SimLEARN’s National Simulation Center is Getting a Second Floor</a><br>
            
              </li>
              <!-- 55 -->
          
              <li><a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_24_Creating_Mixed_Simulation_Training_During_a_Pandemic.asp"><br>
                Creating mixed simulation training during a pandemic</a><br>
           
              </li>
              <!-- 66 -->
          
              <li> <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_13_Directors_Corner_Exciting_Events.asp"><br>
                Director's Corner: Exciting Events<br><br></a>
             </li>
          
              <!-- 77 -->
              <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_14_5G_in_VA_SimLEARN_and_Beyond.asp">5G in VA, SimLEARN and Beyond</a>
             
              </li>
              <!-- 88 -->
          
              <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_19_First_Simulation_Based_VA_Design_Standards_Testing_Workshop.asp">
                First Simulation-Based VA Design Standards Testing Workshop: Emergency Department</a>
             
              </li>
          
              <!-- 99 -->
              <li> 
                <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_15_Facility_Simulation_Certification_One_Step_in_the_HRO_Journey.asp">Facility Simulation Certification: One Step in the HRO Journey<br><br></a>
               </li>
          
             
          
              <!-- 11-11- -->
              <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_16_Congratulations_to_our_2021_Fellows.asp">
                Congratulations to our 2020-2021 Interprofessional Advanced Clinical Simulation Fellows<br><br></a>
              
              </li>
          
              <!-- 1111 -->
              <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_17_Durham_staff_use_Simulation_to_Improve_Care_for_Tracheostomy_Patients.asp">
          Durham staff use Simulation to Improve Care For Tracheostomy Patient<br><br></a>
               </li>
          
              <!-- 222 -->
              <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_18_VA_Librarians_Are_Here_to_Help.asp">
                Have information overload? VA Librarians are here to help!</a>
              
              </li>
              <!-- 11 -->
              <li> 
                <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_7_Directors_Corner_Changes_at_SimLEARN.asp">
                  Director's Corner: Changes at SimLEARN</a>
                  <!-- <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_1_SimLEARN_First_Event_Post_Pandemic.asp"><br><br>
                  </a> -->
                 </li>
          
              <!-- 222 -->
              <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_9_Virtual_Simulation_Helps_Grow_Telestroke_During_COVID_Operations.asp">Virtual Simulation Helps Grow Telestroke During COVID Operations</a>
              </li>
          
              <!-- 33 -->
              <li> <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_11_Virtual_Conferences_are_a_Click_Away.asp" 
                title="Virtual Conferences are a Click Away">Virtual Conferences are a Click Away</a></li>
              <!-- 44 -->
          
              <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_9_Virtual_Simulation_Helps_Grow_Telestroke_During_COVID_Operations.asp">
                Virtual Simulation Helps Grow Telestroke During COVID Operations</a><br><br>
               </li>
          
               <li><a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_10_Simulation_and_the_South_Texas_Ice_Storm_of_2021.asp">
                Simulation and the South Texas Ice Storm of 2021</a></li>
               <li><a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_6_Medication_Errors.asp">
                Fellowship Corner: Virtual and In-person Role Play Simulation on Medication Errors</a><br><br>
              </li>
               <li> <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_12_New_Concept_New_Centers.asp">New Concept, New Centers</a><br><br>
               </li>
               <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_8_SimLEARN_Certified_Simulation_Centers.asp">SimLEARN Certified Simulation Centers</a>
               </li>
               <li> <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_1_SimLEARN_First_Event_Post_Pandemic.asp">
                SimLEARN's First Event Post-Pandemic<br></a><br></li>
               <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_2_Escape_to_Simulation.asp">
                Escape to Simulation: How a COVID-19 Escape Room provided Interdisciplinary Team Building and Safer Practices<br><br></a>
             </li>
               <li>  <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_3_Simulation_Center_for_Innovation_Presents_Escape_the_Simulation.asp">
                Simulation Center for Innovation (SCI) Presents: SCI: 
                Escape the (room) Simulation with Leadership Medical Media News Release</a><br><br>
             </li>
               <li> <a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_4_Meet_Fellow_Nicole_Armitage.asp">Meet Fellow Nicole Armitage, PhD, RN<br><br></a>
               </li>
               <li><a href="https://www.simlearn.va.gov/SIMLEARN/FA_2021_5_Mobile_Sims_cart.asp">
                <span>Mobile Sims Cart:&nbsp;A Homegrown VA Compatible Virtual AV System</span></a></li>
          
          
          
          
          
          </ul>

          </div>
      </div>


     

  </div>

</div>

            <br>
            
          </div>


        </div>

      </div>
    </section>
    <!-- ======= About Section ======= -->

    <section style="background:white;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;;margin-top:0;padding-top: 0;">
  
        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:white;fill:#e1f3f8" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- main boxes  -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="background: white;margin-top: 0 !important;padding-top: 0 !important;">
 

      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 " style="font-size: 42px;">
              Resources</h1>

              <p>
                References, best practices, codes, and standards.
              </p>

            <a class="usa-button  shadowme a-work   " href="#" target="_blank"><small>Simulation Resources</small></a>






            <p></p><br>

          </div>


        </div>



    </section>
   


  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>