<!DOCTYPE html>
<html class="no-js">

<head>


  <title>News and Media</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <ul class="usa-list usa-list--unstyled margin-x-3 striped-list ">
               
                
               
    <li><a href="https://content.govdelivery.com/accounts/USVHA/bulletins/2f4f0e8">Simulation Exchange 2021 Volume 12, Issue 4</a></li>
    <li><a href="https://content.govdelivery.com/accounts/USVHA/bulletins/2e97504">Simulation Exchange 2021 Volume 12, Issue&nbsp;3</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_12_Issue_2.pdf">Simulation Exchange 2021 Volume 12, Issue 2</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_12_Issue_1.pdf">Simulation Exchange 2021 Volume 12, Issue 1</a>
    </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_11_Issue_5.pdf">Simulation Exchange 2020 Volume 11, Issue 5</a>
    </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_11_Issue_4.pdf">Simulation Exchange 2020 Volume 11, Issue&nbsp;4</a>
    </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_11_Issue_3.pdf">Simulation Exchange 2020 Volume 11, Issue 3</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_11_Issue_2.pdf">Simulation Exchange 2020 Volume 11, Issue&nbsp;2</a>
    </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_11_Issue_1.pdf">Simulation Exchange 2020 Volume 11, Issue 1</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_10_Issue_6.pdf">Simulation Exchange 2019 Volume 10, Issue 6</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_10_Issue_5.pdf">Simulation Exchange 2019 Volume 10, Issue 5</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_10_Issue_4.pdf">Simulation Exchange 2019 Volume 10 Issue 4</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_10_Issue_3.pdf">Simulation Exchange 2019 Volume 10 Issue 3</a>
    </li>
    <li> <a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_10_Issue_2.pdf">Simulation Exchange 2019 Volume 10 Issue 2</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_10_Issue_1.pdf">Simulation Exchange 2019 Volume 10 Issue 1</a>
    </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_9_Issue_6.pdf">Simulation Exchange 2018 Volume 9 Issue 6</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_9_Issue_5.pdf">Simulation Exchange 2018 Volume 9 Issue 5</a>
    </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_9_Issue_4.pdf">Simulation Exchange 2018 Volume 9 Issue 4</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_9_Issue_3.pdf">Simulation Exchange 2018 Volume 9 Issue 3</a>
      </li>
    <li> <a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_9_Issue_2.pdf">Simulation Exchange 2018 Volume 9 Issue 2</a>
    </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_2018_Volume_9_Issue_1.pdf">Simulation Exchange 2018 Volume 9 Issue 1</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_8_Issue_7.pdf">Simulation Exchange 2017 Volume 8 Issue 7</a>
    </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_8_Issue_6.pdf">Simulation Exchange 2017 Volume 8 Issue 6</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_8_Issue_5.pdf">Simulation Exchange 2017 Volume 8 Issue 5</a>
    </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_8_Issue_4.pdf">Simulation Exchange 2017 Volume 8 Issue 4</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Volume_8_Issue_3.pdf">Simulation Exchange 2017 Volume 8 Issue 3</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/Simulation_Exchange_Volume_8_Issue_2.pdf">Simulation Exchange 2017 Volume 8 Issue 2</a>
      </li>
    <li><a href="/SIMLEARN/docs/lib/Simulation_Exchange_2017_Volume_8_Issue_1.pdf">Simulation Exchange 2017 Volume 8 Issue 1</a>
    </li>
    <li><a href="/SIMLEARN/docs/lib/Simulation_Exchange_Vol_7_Issue_3_Winter_2017.pdf">Simulation Exchange Newsletter Winter 2017</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Vol_7_Issue_2_Fall_2016.pdf">Simulation Exchange Newsletter Fall 2016</a></li>
    <li><a href="/SIMLEARN/docs/lib/Simulation_Exchange_Vol_7_Issue_1_Spring_2016.pdf">Simulation Exchange Newsletter Spring 2016</a></li>
    <li><a href="/SIMLEARN/docs/lib/Simulation_Exchange_Vol_7_Issue_1_Spring_2016.pdf">Simulation Exchange Newsletter Spring 2016</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simulation_Exchange_Vol_6_Issue_4_Winter_2016.pdf">Simulation Exchange&nbsp;Newsletter&nbsp;Winter 2016</a></li>
    <li><a href="/SIMLEARN/docs/lib/Simulation_Exchange_Vol_6_Issue_3_Fall_2015.pdf">Simulation Exchange&nbsp;Newsletter&nbsp;Fall 2015</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol_6_Issue_2_Summer_2015.pdf">Simulation Exchange&nbsp;Newsletter&nbsp;Summer 2015</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol_6_Issue_1_Spring_2015.pdf">SimLEARN Newsletter&nbsp;Spring 2015</a></li>
    <li><a href="http://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol_5_Issue_4_Winter_2015.pdf">SimLEARN Newsletter&nbsp;Winter 2015</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol_5_Issue_3_Fall_2014.pdf">SimLEARN Newsletter&nbsp;Fall 2014</a></li>
    <li><a href="http://www.simlearn.va.gov/docs/lib/pr/SimLEARN_Newsletter_Vol_5_Issue_2_Summer_2014.pdf">SimLEARN Newsletter Summer 2014</a></li>
    <li><a href="http://www.simlearn.va.gov/docs/lib/pr/SimLEARN_Newsletter_Vol_5_Issue_1_Spring_2014.pdf" title="SimLEARN Newsletter Spring 2014">SimLEARN Newsletter Spring 2014</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol_4_Issue_4_Winter_2014.pdf" title="SimLEARN Newsletter Winter 2014"><span style="color: #0066cc;">SimLEARN Newsletter Winter 2014</span></a></li>
    <li><a href="http://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_fall_2013_Vol_4_Issue_3.pdf"><span style="color: #0066cc;">SimLEARN Newsletter - Fall 2013</span></a></li>
    <li><a href="http://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_summer_2013_Vol_4_Issue_2.pdf"><span style="color: #0066cc;">SimLEARN Newsletter - Summer 2013</span></a></li>
    <li><a href="http://www.simlearn.va.gov/SIMLEARN/docs/lib/pr/SimLEARN_Spring_2013_Volume_4_Issue_1.pdf">SimLEARN Newsletter - Spring 2013</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLEARN_Winter_2013_Vol_3_Issue_4.pdf" target="_blank">SimLEARN Newsletter - Winter 2013</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/simlearn_fall2012_vol_3_issue_3.pdf" target="_blank">SimLEARN Newsletter - Fall 2012</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLearn_Summer_2012v3_0612.pdf" target="_blank">SimLEARN Newsletter - Summer 2012</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol_3_Issue_1.pdf" target="_blank">SimLEARN Newsletter - Spring 2012</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLEARN_newsletter_Vol_2_Issue_4_v2_FC_0112.pdf" target="_blank">SimLEARN Newsletter - Winter 2012</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLEARNNewslette_Vol2_Iss3_100311.pdf" target="_blank">SimLEARN Newsletter - Fall 2011</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/Simlearn_summer2011.pdf" target="_blank">SimLEARN Newsletter - Summer 2011</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLEARNnewsletter_spring_singles_FC_rev2_0411.pdf" target="_blank">SimLEARN Newsletter - Spring 2011</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLEARN_newsletter_winter2010_FC_1210.pdf" target="_blank">SimLEARN Newsletter - Winter 2010</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLEARN_Newsletter_Vol1_Iss2_FC_0710.pdf" target="_blank">SimLEARN Newsletter - Summer 2010</a></li>
    <li><a href="/SIMLEARN/docs/lib/pr/SimLEARNNewsletterSpring2010v01i01FC04104Print.pdf" target="_blank">SimLEARN Newsletter - Spring 2010</a></li>
  


  </ul>

  <div id="footer"></div><!-- End Footer -->

</body>

</html>