<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class=" small-padding padding-bottom-3 " style="background-color: #e8ecf3;">
            <div class="grid-container padding-3">

                <div class="usa-layout-docs__main  usa-prose">
                    <h1>VHA Innovation Newsroom</h1>

                    <h3 class=" font-weight-bold" style="color: #026de0;">Featured News</h3>
                    <div class="grid-row grid-gap">

                        <div class="tablet:grid-col-7 over">
                            <img src="/assets/images/news-images/suzy.jpg" class="image-thumbnail"
                                alt="VA 3D Printing Network Director Beth Ripley named winner of 2020 Samuel J. Heyman Service to America Medals (Sammies). ">
                            <div class="overlay">Suzanne Shirley, Director of Fellowships & Community Engagement,
                                receives Arthur S. Flemming Award.
                                <a target="_blank"
                                    class="usa-button btn-me btn-lg shadowme a-work margin-bottom-1 margin-top-2"
                                    href="https://mediarelations.gwu.edu/arthur-s-flemming-awards-honor-outstanding-federal-employees">
                                    <small>Read
                                        More</small>
                                </a>
                            </div>
                        </div>
                        <div class="tablet:grid-col-5 padding-right-1 bg-white oneshadow padding-top-1">
                            <div>
                                <p class=" font-weight-bold " style="color: #026de0;"> <strong>Upcoming Events</strong>

                                </p>
                            </div><br>
                            <div class="scrollmenu" style="max-height: 380px; padding: 5px;">
                                <!-- 111 -->
                                <div class="grid-row ">
                                    <div class="grid-col-2">
                                        <h6> <span class="badge badge-secondary " style="color: white !important;
                                         background-color: #1655ab !important;font-size: 15px;">6 <br> Sep</span></h6>
                                    </div>
                                    <div class="grid-col-10 " style="border-bottom: 1px solid #eeeeee;">
                                        <p class="mb-0" style="font-size: 1rem;padding-top: 5px;font-weight: 400; ">
                                            VHA iEX Breaking Boundaries Collaboration Challenge hosted by the VHA
                                            Innovation Ecosystem and Founders Institute. Applications accepted 6/9-7/30.
                                            Pitches take place 8/26 with winners announced 8/27. Winner will also be
                                            invited to demo progress at iEX in October 2021. 
                                            <!-- <mark>To pitch or to attend,
                                            visit our website. (INSERT LINK/TBD)</mark> -->

                                        </p>

                                        <a class="" href="https://docs.google.com/forms/d/1tIhKlplLtt1V-nJimZpFHEcjisX_JWAtyfYhIyNeBPc/viewform?edit_requested=true" target="_blank"><small>Read
                                                More
                                                »</small></a>
                                    </div>
                                </div>
                                <!-- 222 -->
                                <!-- <div class="grid-row ">
                                    <div class="grid-col-2">
                                        <h6> <span class="badge badge-primary" style="color: white !important;
                                            background-color: #1655ab !important;font-size: 15px;">26 <br> May</span>
                                        </h6>
                                    </div>
                                    <div class="grid-col-10 " style="border-bottom: 1px solid #eeeeee;">
                                        <p class="mb-0" style="font-size: 1rem;padding-top: 5px;font-weight: 400;">Panel
                                            Discussion at the 2021 VA Healthcare Summit on the VHA Innovation
                                            Ecosystem’s
                                            Initiatives to Transform Healthcare at the VA </p>
                                        <a target="_blank" class=""
                                            href="https://www.idga.org/events-veteransaffairshealthcare-spring/agenda-mc"><small>Read
                                                More &raquo;</small></a>
                                    </div>
                                </div> -->
                                <!-- 333 -->
                                <div class="grid-row ">
                                    <div class="grid-col-2">
                                        <h6> <span class="badge badge-primary" style="color: white !important;
                                            background-color: #1655ab !important;font-size: 15px;">8 <br> Oct</span>
                                        </h6>
                                    </div>
                                    <div class="grid-col-10 " style="border-bottom: 1px solid #eeeeee;">
                                        <p class="mb-0" style="font-size: 1rem;padding-top: 5px;font-weight: 400;">Why
                                            the Future of Healthcare Innovation is in Our Back Yard presented by Dr.
                                            Ryan Vega at the AVAA and USSA Joint Annual Meeting </p>
                                        <a target="_blank" class=""
                                            href="https://ussa-asa.org/annual-meeting"><small>Read
                                                More &raquo;</small></a>
                                    </div>
                                </div>
                                <!-- 444 -->
                                <div class="grid-row ">
                                    <div class="grid-col-2">
                                        <h6> <span class="badge badge-primary" style="color: white !important;
                                            background-color: #1655ab !important;font-size: 15px;">27 <br> Oct</span>
                                        </h6>
                                    </div>
                                    <div class="grid-col-10 " style="border-bottom: 1px solid #eeeeee;">
                                        <p class="mb-0" style="font-size: 1rem;padding-top: 5px;font-weight: 400;">VHA
                                            Innovation Experience (iEX) </p>
                                        <a target="_blank" class="" href="/views/news-events/iEX.html"><small>Read
                                                More &raquo;</small></a>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>

                </div>

            </div>
        </section>

        <!-- main boxes project  -->
        <section
            class="  small-padding margin-bottom-3 padding-bottom-5 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e8ecf3;margin-top: 0 !important;padding-top: 0 !important;">
            <div class="grid-container">
                <!-- 11111 -->

                <div class="grid-row grid-gap-3 padding-top-2">

                    <!-- news  -->
                    <div class="tablet:grid-col padding-right-1 bg-white oneshadow padding-top-3 margin-right-1">
                        <div>
                            <p class=" font-weight-bold " style="color: #026de0;"> <strong>News</strong>

                            </p>
                        </div><br>
                        <div class="scrollmenu" style="max-height: 380px; padding: 5px;">

                            <ul class="usa-list usa-list--unstyled margin-x-3 striped-list ">
                                <!-- 111 -->
                                <li>
                                    <p class="mb-0">VEText Service is Delivering COVID-19 Vaccination Information and
                                        Scheduling Directly to Veterans’ Phones </p>
                                    <a href="https://www.va.gov/HEALTH/VEText.asp" target="_blank"
                                        style="color: #00a5b5;"><small>Read More »</small></a>
                                </li>
                                <!-- 2222 -->
                                <li>
                                    <p class="mb-0">Updates on the Veterans Health Administration’s Innovation Ecosystem
                                    </p>
                                    <a href="https://govmatters.tv/updates-on-the-veterans-health-administrations-innovation-ecosystem/"
                                        target="_blank" style="color: #00a5b5;"><small>Read More »</small></a>
                                </li>
                                <!-- 33333 -->
                                <li>
                                    <p class="mb-0">Patient-Centric Care Supports Veteran Mobile Prosthetics Program</p>
                                    <a href="https://governmentciomedia.com/listen-patient-centric-care-supports-veteran-mobile-prosthetics-program"
                                        target="_blank" style="color: #00a5b5;"><small>Read More »</small></a>
                                </li>
                                <!-- 44444 -->
                                <li>
                                    <p class="mb-0">VA Telehealth Innovation in the Age of COVID </p>
                                    <a href="https://governmentciomedia.com/listen-va-telehealth-innovation-age-covid"
                                        target="_blank" style="color: #00a5b5;"><small>Read More »</small></a>

                                </li>






                            </ul>


                        </div>




                    </div>

                    <!-- 222222 blogs -->
                    <div class="tablet:grid-col padding-right-1 bg-white oneshadow padding-top-3">
                        <div>
                            <p class=" font-weight-bold " style="color: #026de0;"> <strong>Blogs</strong>

                            </p>
                        </div><br>
                        <div class="scrollmenu" style="max-height: 380px; padding: 5px;">

                            <ul class="usa-list usa-list--unstyled margin-x-3 striped-list ">
                                <!-- 111 -->
                                <li>
                                    <p class="mb-0">Newest VHA Innovation Ecosystem Innovation Fellows are already
                                        changing and saving Veterans’ live </p>
                                    <a href="https://blogs.va.gov/VAntage/81245/newest-vha-innovation-fellows/"
                                        target="_blank" style="color: #00a5b5;"><small>Read More »</small></a>
                                </li>
                                <!-- 2222 -->
                                <li>
                                    <p class="mb-0">First Three Innovative iNET Greenhouse Collaborations Underway at
                                        VHA </p>
                                    <a href="https://blogs.va.gov/VAntage/87482/first-three-innovative-inet-greenhouse-collaborations-underway-vha/"
                                        target="_blank" style="color: #00a5b5;"><small>Read More »</small></a>
                                </li>
                                <!-- 33333 -->
                                <li>
                                    <p class="mb-0">VHA IE Trailblazer: Dr. George Akingba is leveraging VA’s Innovation
                                        Networks to improve surgical care </p>
                                    <a href="https://blogs.va.gov/VAntage/87033/vha-ie-trailblazers-dr-george-akingba-leveraging-vas-innovation-networks-improve-surgical-care/"
                                        target="_blank" style="color: #00a5b5;"><small>Read More »</small></a>
                                </li>
                                <!-- 44444 -->
                                <li>
                                    <p class="mb-0">Faces of InnoVAtion: Kwynn Mason and Emily Hood </p>
                                    <a href="https://blogs.va.gov/VAntage/87040/faces-innovation-kwynn-mason-emily-hood/"
                                        target="_blank" style="color: #00a5b5;"><small>Read More »</small></a>

                                </li>
                                <!-- 555555 -->
                                <li>

                                    <p class="mb-0">Face of InnoVAtion: Ronald Major</p>
                                    <a href="#" target="_blank" style="color: #00a5b5;"><small>Read More
                                            »</small></a>
                                </li>
                                <!-- 66666 -->
                                <li>

                                    <p class="mb-0">Innovative VA Program, NOHAP, is saving lives and improving patient
                                        care </p>
                                    <a href="https://blogs.va.gov/VAntage/85831/innovative-va-program-nohap-saving-lives-improving-patient-care/"
                                        target="_blank" style="color: #00a5b5;"><small>Read More »</small></a>

                                </li>

                                <!-- 7777 -->
                                <li>
                                    <p class="mb-0">Innovative Collaborations for Veterans at the Forefront During
                                        Federal Entrepreneurship Day Panel </p>
                                    <a href="https://blogs.va.gov/VAntage/86981/va-national-entrepreneurship-week/"
                                        target="_blank" style="color: #00a5b5;"><small>Read More »</small></a>
                                    <small> UCSF Rosenman Institute: Health Technology podcast Interview </small>
                                </li>






                            </ul>


                        </div>




                    </div>

                </div>


        </section>

        <!-- FORM  -->

        <section
            class="  small-padding padding-bottom-5 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e8ecf3;margin-top: 0 !important;padding-top: 0 !important;">
            <div class="grid-container">
                <div class="grid-row grid-gap-3 padding-top-2">
                    <div class="tablet:grid-col padding-right-1 bg-white oneshadow padding-top-1">
                        <form id="GD-snippet-form" class="margin-bottom=5px;"
                            action=https://public.govdelivery.com/accounts/USVHA/subscribers/qualify
                            accept-charset="UTF-8" method="post">
                            <input name="utf8" type="hidden" value="&#x2713;" />
                            <input type="hidden" name="topic_id" id="topic_id" value="USVHA_1468" />
                            <fieldset style="border: none;">
                                <legend style="color: #026de0;    border-bottom: 2px dotted #7fcfcf;">
                                    Email Updates
                                </legend>
                                <div>
                                    <label class="form-label padding-left-5" style="font-family: var(--bs-font-sans-serif);
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #212529;"><i class="fas fa-envelope-open-text project-icon"></i> To sign up for updates or
                                        to access your subscriber preferences, please enter your
                                        email address below.</label>

                                </div>
                                <ol class='form'>
                                    <li class='email_fields' style='display: block'>

                                        <input style="display: block; 
                        width: 100%;
                        padding: .375rem .75rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #212529;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 2px solid #7fcfcf;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        border-radius: .25rem;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;" type="email"
                                            placeholder="Enter email..." name="email" id="email" value=""
                                            class="long email_text_field oneshadow margin-top-2" required="required" />

                                    </li>
                                    <label for="email" class="padding-top-1">
                                        <img class="required" alt="" aria-hidden="true"
                                            src=https://content.govdelivery.com/images/required.gif /> <small
                                            class="text-dark">Email
                                            Address</small> </label>
                                </ol>
                                <div class='button_panel text-left'>
                                    <input class="usa-button  shadowme a-work " style="color: #fff;
                    background-color: #0d6efd;
                    border-color: #0d6efd;" type="submit" name="commit" value="Submit" class="sr-button reverse"
                                        data-disable-with="Submit" />

                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </section>



        <!-- tweets ecosystem-->
        <section class="usa-section small-padding usa-section  padding-top-0 padding-bottom-5 margin-top-0"
            style="background: #e8ecf3;">
            <div class="grid-container">
                <h2 class="font-heading-xl margin-top-0 padding-top-5 ">
                    Get Social With Us
                    <hr style="border-bottom: .3rem dotted #7fcfcf;">
                </h2>

                <!-- <div id="news-events-navigation" class="grid-col-3"></div> -->
                <div class="border-gray  margin-bottom-3 bg-white"
                    style="margin-top: 0 !important; margin-bottom: 20px !important;border: 1px solid #7fcfcf !important;border-radius: 6px;">


                    <div class="grid-row grid-gap ">


                        <!-- tweets  -->
                        <div class="tablet:grid-col  padding-top-1   padding-bottom-2 text-center"
                            style="border-right: 2px solid #7fcfcf47;">
                            <!-- <h2 class="font-heading-xl border-bottom text-left ">
                                Follow us on Twitter
                            </h2> -->

                            <div class="scrollmenu" style="max-height: 500px; padding: 5px; max-width:400px;">
                                <a class="twitter-timeline"
                                    href="https://twitter.com/VHAInnovation?ref_src=twsrc%5Etfw">Tweets by
                                    VHAInnovation</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



                            </div>




                        </div>


                        <!-- facebookk   -->
                        <div class="tablet:grid-col  padding-top-1   padding-bottom-2 text-right ">
                            <div id="fb-root"></div>
                            <script async defer crossorigin="anonymous"
                                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0"
                                nonce="2GgJcQ9Y"></script>

                            <div class="fb-page" data-href="https://www.facebook.com/VHAInnovation/"
                                data-tabs="timeline" data-width="400" data-height="500" data-small-header="false"
                                data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/VHAInnovation/"
                                    class="fb-xfbml-parse-ignore"><a
                                        href="https://www.facebook.com/VHAInnovation/">Veterans Health Administration
                                        Innovation Ecosystem</a></blockquote>
                            </div>



                        </div>
                    </div>
                    <hr>
                    <div class="grid-row grid-gap ">

                        <!-- ecosystem  -->
                        <div class="tablet:grid-col  padding-2 padding-top-5">




                            <p class="padding-2 padding-top-5"> <i
                                    class="fas fa-envelope-open-text project-icon"></i><strong>Let's
                                    Connect! </strong> <br> Email us with any questions or
                                inquiries. We would be happy to answer your questions. <br> <a
                                    class="usa-button btn-me oneshadow a-work  margin-top-2"
                                    href="mailto:vainnovation@atlasresearch.us"> Get Started</a>
                                <br> <br>
                                <!-- Partnership, collaboration, and communication are key to everything that VHA IE does.
                                Innovation doesn't happen in a vacuum. It requires input and work from a wide variety of
                                stakeholders, including Veterans themselves. We want to work with, hear from, and engage
                                with innovators from both within and outside of VA. Interested in the work we are doing
                                or working on something you think we should know about? Are you a Veteran engaged in an
                                innovative program you want to share? Just want to find out more about what we do? Reach
                                out! -->
                            </p>






                        </div>





                    </div>
                </div>
                <!-- second facebook -->
                <!-- <div class="border-gray  margin-bottom-3"
                    style="margin-top: 0 !important; margin-bottom: 20px !important;border: 1px solid #7fcfcf !important;border-radius: 6px;">


                    <div class="grid-row grid-gap ">

                       
                        <div class="tablet:grid-col  padding-2 padding-top-5">




                            <p class="padding-2 padding-top-5"> <i
                                    class="fas fa-envelope-open-text project-icon"></i><strong>Let's
                                    Connect! </strong> <br> Email us with any questions or
                                inquiries. We would be happy to answer your questions. <br> <a class="usa-button btn-me shadowme a-work btn-lg margin-top-2"
                                    href="mailto:vainnovation@atlasresearch.us"> Get Started</a>
                                <br> <br>
                              
                            </p>






                        </div>

                    



                    </div>
                </div> -->


            </div>
            </div>
        </section>


    </main>
    <div id="footer"></div>
</body>

</html>