<!DOCTYPE html>
<html class="no-js">

<head>


  <title>News and Media</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:#e1f3f8;;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>

    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">



        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class=" text-dark-gray f48-700 ">
              News & Media
 </h1>

 <div class="usa-layout-docs__main  usa-prose">


  <div class="grid-row grid-gap-3">
      <!-- right column ,newsletter  -->
      <div class="tablet:grid-col padding-right-1 padding-top-1  margin-right-1 bg-white" 
      style="border:1px solid #dfd9cc;border-radius: 5px; box-shadow: 0px 5px 6px -6px black;padding-right:0; 
      padding-left: 0;padding-top: 0;">
          <div class="gpo-shadow" style="height: 70px;padding: 10px;">
              <p class=" font-weight-bold padding-top-2">
                  <i class="far fa-newspaper padding-right-2 icon"></i> <strong>Newsletters</strong> <a class="float-right " href="#" style="color: #072314;"></a>
              </p>
          </div>
          <div class="scrollmenu" style="max-height: 550px; padding: 5px;">

              <ul class="usa-list usa-list--unstyled margin-x-3 striped-list ">
                  <!-- 111 -->
                  <li><a target="_blank" href="">
                    Simulation Exchange Newsletter 
                      </a><br>
                      <small>2021 Volume 12, Issue 3 </small>
                  </li>
                  <!-- 2222 -->
                  <li><a target="_blank" href="https://www.fedscoop.com/va-health-incubator-starts-disease-prevention-tools/">
                          “VA, Air Force Test Out 5G in Hospital Settings”
                      </a><br>
                      <small>FedTech Magazine </small>
                  </li>
                  <!-- 111 -->
                  <li><a target="_blank" href="https://www.usmedicine.com/non-clinical-topics/technology/vas-innovation-chief-sees-himself-as-a-catalyst-to-bring-people-ideas-together/">
                          Chief as a Catalyst to Bring People, Ideas Together</a><br>
                      <small>U.S. Medicine Interview </small>
                  </li>
                  <!-- 2222 -->
                  <li><a target="_blank" href="https://www.fedscoop.com/va-health-incubator-starts-disease-prevention-tools/">
                          Health incubator starts with disease prevention tools </a><br>
                      <small>FedScoop Interview </small>
                  </li>
                  <!-- 33333 -->
                  <li><a target="_blank" href="https://www.nextgov.com/emerging-tech/2020/08/six-months-vas-5g-enabled-hospital-project/167593/">
                          Six Months into VA's 5G-Enabled Hospital Project </a><br>
                      <small>Nextgov Interview</small>
                  </li>
                  <!-- 44444 -->
                  <li><a target="_blank" href="https://www.fedscoop.com/va-hospital-silicon-valley-5g-hololens-verizon-microsoft/">
                          Silicon Valley VA hospital gets taste of ‘mixed reality’ through Project
                          Convergence</a>
                      <small>FedScoop Interview </small>
                  </li>
                  <!-- 555555 -->
                  <li><a target="_blank" href="https://www.nextgov.com/emerging-tech/2020/02/va-reveals-industry-partners-first-5g-enabled-hospital/163172/">
                          VA Reveals Industry Partners for First 5G-Enabled Hospital</a><br>
                      <small>NextGov Interview </small>
                  </li>
                  <!-- 66666 -->
                  <li><a target="_blank" href="https://federalnewsnetwork.com/federal-drive/2019/11/va-creates-awards-innovation-honor-for-late-under-secretary-of-health/">
                          VA creates, awards innovation honor for late under secretary of Health
                      </a><br>
                      <small>Federal News Network Interview </small>
                  </li>

                  <!-- 7777 -->
                  <li><a target="_blank" href="https://rosenmaninstitute.org/podcast-2020/2020/5/26/54-dr-tom-osborne-predicting-the-future-with-big-data-1">Tom
                          Osborne: Predicting the Future with Big Data
                      </a><br>
                      <small> UCSF Rosenman Institute: Health Technology podcast Interview </small>
                  </li>


                  <!-- 88888 -->
                  <li><a target="_blank" href="https://www.research.va.gov/currents/0819-VA-DeepMind-partnership-reports-on-technology-for-early-detection-of-kidney-condition.cfm">
                          VA-DeepMind partnership reports on technology for early detection of
                          life-threatening kidney condition </a><br>
                      <small>VA Office of R&amp;D Interview </small>
                  </li>



              </ul>


          </div>
      </div>
      <!-- article  -->
      <div class="tablet:grid-col padding-right-1 padding-top-1  margin-right-1 bg-white" style="border:1px solid #dfd9cc;border-radius: 5px; box-shadow: 0px 5px 6px -6px black;padding-right:0; padding-left: 0;padding-top: 0;">
          <div class="gpo-shadow" style="height: 70px;padding: 10px;">
              <p class=" font-weight-bold  padding-top-2" ><i class="fas fa-globe-europe padding-right-2 icon"></i> <strong>Articles
                  </strong> <a class="float-right " href="#" style="color: #072314;"></a></p>
          </div>
          <div class="scrollmenu" style="max-height: 550px; padding: 5px;">

              <ul class="usa-list usa-list--unstyled margin-x-3 striped-list ">


                  <!-- 1111 -->
                  <li><a target="_blank" href="https://tippie.uiowa.edu/news/business-analytics-capstone-project-finds-better-outcomes-covid-19-patients-low-dose-aspirin-regimen">VHA
                          Business Analytics capstone project finds better outcomes for COVID-19
                          patients on a low dose aspirin regimen</a><br><small>
                          March 19, 2021</small></li>

                  <!-- 222 -->
                  <li><a target="_blank" href="https://blogs.va.gov/VAntage/85449/face-of-innovation-kalyn-essex/">
                          Face of Innovation: Kalyn Essex
                      </a>
                      <br><small>March 8, 2021</small>
                  </li>
                  <!-- 11 -->
                  <li><a target="_blank" href="https://ai.healthcareitnews.com/ai-powered-healthcare/va-launches-collaborative-healthcare-innovation-center-california">VHA
                          VA Launches Collaborative Healthcare Innovation Center in
                          California</a><br><small>
                          AI Powered Healthcare</small></li>

                  <!-- 222 -->
                  <li><a target="_blank" href="https://healthitanalytics.com/news/va-launches-predictive-analytics-clinical-decision-support-center">VA
                          Launches Predictive Analytics, Clinical Decision Support Center</a>
                      <br><small>Health IT Analytics</small>
                  </li>

                  <!-- 33 -->
                  <li><a target="_blank" href="https://www.executivegov.com/2019/09/va-opens-health-care-innovation-center-in-california-robert-wilkie-quoted/">
                          VA
                          Opens Health Care Innovation Center in California: Robert Wilkie quoted
                      </a><br><small>ExecutiveGov</small></li>
                  <!-- 44 -->

                  <li><a target="_blank" href="https://www.fedscoop.com/va-health-care-center-innovation/">
                          Veterans Affairs pilots health care center seeking innovative tech
                          breakthroughs</a>
                      <br><small>FedScoop </small>
                  </li>
                  <!-- 55 -->

                  <li><a target="_blank" href="https://www.va.gov/opa/pressrel/pressrelease.cfm?id=5309">
                          VA pilots first collaborative health care innovation center in Palo Alto
                      </a><br><small>
                          VA Press Release </small></li>
                  <!-- 66 -->

                  <li><a target="_blank" href="http://www.digitaljournal.com/pr/4879783/#ixzz6eDrwNerg">
                          Palarum Announces US Veterans Affairs to Evaluate Use of 'Smart Patient
                          Sock' to Reduce Patient Falls </a><br><small>
                          Press release</small></li>

                  <!-- 77 -->
                  <li><a target="_blank" href="https://www.va.gov/opa/pressrel/pressrelease.cfm?id=5433">
                          VA joins XPRIZE Pandemic Alliance to combat COVID-19 and future
                          outbreaks</a>
                      <br><small>Press release </small>
                  </li>
                  <!-- 88 -->

                  <li><a target="_blank" href="https://www.performance.gov/gearawards/vha-innovation/">
                          Breaking: Gears of Government President's Award Winners</a><br><small>
                          Press release </small></li>

                  <!-- 99 -->
                  <li><a target="_blank" href="https://www.fedhealthit.com/2019/10/press-release-va-secretary-recognizes-winner-and-finalists-of-the-under-secretary-for-health-robert-l-jesse-award-for-excellence-in-innovation/">
                          VA Secretary recognizes winner and finalists of the Under Secretary for
                          Health Robert L. Jesse Award for Excellence in Innovation”
                      </a><br><small>NextGov, October 23, 2019</small></li>

                  <!-- 1010101 -->
                  <li><a target="_blank" href="https://med.stanford.edu/radiology/news/2019/thomas-osborne-received-robert-l-jesse-award.html">
                          Dr. Osborne Received Inaugural Robert L. Jesse Award for Excellence in
                          Innovation</a>
                      <br><small>Stanford Medicine Press Release</small>
                  </li>

                  <!-- 11-11- -->
                  <li><a target="_blank" href="https://www.jessefamilyfoundation.org/news/robertjesse-va-innovation-award">
                          Inaugural Robert L. Jesse Award for Excellence in Innovation Given by VA
                          Secretary</a><br><small>
                          Jesse Family Foundation Press Release </small>
                  </li>





              </ul>


          </div>
      </div>


     

  </div>

</div>

            <br>
            
          </div>


        </div>

      </div>
    </section>
    <!-- ======= About Section ======= -->

    <section style="background:#e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g "="">
              <polygon class=" fl-shape" style="background:#e1f3f8;fill:#fff" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- main boxes  -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="background: #e1f3f8;margin-top: 0 !important;padding-top: 0 !important;">
 

      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 " style="font-size: 42px;">
              Resources</h1>

              <p>
                References, best practices, codes, and standards.
              </p>

            <a class="usa-button  shadowme a-work   " href="#" target="_blank"><small>Simulation Resources</small></a>






            <p></p><br>

          </div>


        </div>



    </section>
   


  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>