<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - Innovators Network Programming </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- title section -->
        <section id="" class="grid-container usa-section padding-bottom-0" style=" padding-top: .5rem;">
            <div class="grid-container padding-left-0" style="text-align: left;">
                <div class="grid-row grid-gap-1">
                    <!-- <div class="tablet:grid-col-2">
              <img src="/assets/images/icons/Icon_Innovators_B_r1.png"
                    alt=""  height="100px" width="100px">
            </div> -->
                    <div class="tablet:grid-col">
                        <h1 class="font-heading-3xl padding-bottom-0">
                            Resources & Publications 
                        </h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- 1111  -->
        <section id="" class="usa-section small-padding">
            <div class="grid-container">
                <div class="grid-row grid-gap-4" style="text-align: center;">

                    <div class="tablet:grid-col-6 ">
                        <h1 class="font-heading-lg" style="text-align: left;">
                            <a href="/assets/documents/iNET_Report_2020_FINAL_12.17.20_508-Final.pdf" target="_blank">
                                VHA iNET Annual Report 2020</a>

                        </h1>
                        <p class="font-body-md" style="text-align: left;">
                            2020 delivered a year like no other for the entire world. For health care providers,
                            including those at the Veterans Health Administration (VHA), new unparalleled challenges
                            arose nearly every day. For VHA Innovators Network (iNET), these circumstances meant
                            pivoting to find a way to fulfill their mission of empowering employees and fostering a
                            culture of innovation. Yet throughout the year, iNET and VHA employees found ways not just
                            to continue their work but adapt and change it to address the most pressing needs of
                            Veterans as they shifted throughout the ever-changing year. To discover more about how iNET
                            is changing the culture of VHA, dive into the iNET Annual Report, an engaging,
                            insightful, and quick look at how iNET runs and the kinds of practices, products, and
                            programs it supports. <br>
                            <a class="usa-button usa-button--outline tablet:margin-bottom-3 " target="_blank"
                                href="/assets/documents/iNET_Report_2020_FINAL_12.17.20_508-Final.pdf"
                                target="_blank"><small>Learn more
                                    »</small></a>
                        </p> <br>
                    </div>
                    <div class="tablet:grid-col-6 ">
                        <img class="image-thumbnail" src="/assets/images/HERO/inet202.png" alt="2020 report">

                    </div>
                </div>
            </div>
        </section>
        <hr>
        <!-- 22222  -->
        <section id="" class="usa-section small-padding">
            <div class="grid-container">
                <div class="grid-row grid-gap-4" style="text-align: center;">

                    <div class="tablet:grid-col-6 ">
                        <h1 class="font-heading-lg" style="text-align: left;">
                            <a href="/assets/documents/SOI-2020-Website-508-v3.pdf" target="_blank"> VHA State of
                                Innovation Report 2020</a>

                        </h1>
                        <p class="font-body-md" style="text-align: left;">
                            VHA has long embraced innovation, from the first implantable cardiac pacemaker in 1960 to
                            the recent exploration of clinical virtual reality (VR) applications and 3D bioprinting to
                            fabricate patient-matched, vascularized living bone. Through this report, you will learn
                            about innovation across VHA today, and the exciting ways gamechangers are adapting to meet
                            current and future challenges patients and their health care providers may face. We invite
                            you to celebrate the work our innovators have accomplished, especially their agility and
                            commitment in combatting COVID-19. We invite you to think about what else is possible when
                            we have the courage to learn quickly, fail quickly, and apply lessons learned to move
                            forward quickly. <br>
                            <a class="usa-button usa-button--outline tablet:margin-bottom-3 " target="_blank"
                                href="/assets/documents/SOI-2020-Website-508-v3.pdf" target="_blank"><small>Learn more
                                    »</small></a>
                        </p> <br>
                    </div>
                    <div class="tablet:grid-col-6 ">
                        <img class="image-thumbnail" src="/assets/images/HERO/state2020.png" alt="2020 report">

                    </div>
                </div>
            </div>
        </section>
        <hr>

        <!-- 33  -->


        <section id="">
            <div id="" class="grid-container  padding-3 padding-top-1">

                <h1 class="font-heading-lg" style="text-align: left;">
                    <a href="https://catalyst.nejm.org/doi/full/10.1056/CAT.20.0263" target="_blank">VHA Innovation
                        Ecosystem: Operationalizing Innovation in Health Care</a>
                </h1>

                <div class="grid-row grid-gap">


                    <div class="tablet:grid-col-6  ">
                        <div class="grid-row grid-gap">
                            <div class="tablet:grid-col-12  ">
                                <p class="font-body-sm"> New England Journal of Medicine Catalyst <br><br>

                                    By Ryan J. Vega, MD, MSHA & Kenneth W. Kizer, MD, MPH


                                </p><br>
                            </div>
                        </div>
                        <div class="grid-row grid-gap">
                            <div class="tablet:grid-col-12 ">
                                <p class="font-body-sm"> Innovation has been widely advocated as the solution to U.S.
                                    health care’s rising costs and unsatisfying outcomes, and an abundance of innovative
                                    health care products and practices have been developed in recent years. Most have
                                    neither produced dramatic improvements in care nor spread at the pace and scale
                                    needed to transform care or materially bend the health care cost curve. The authors
                                    believe that health systems lack a model for operationalizing and scaling
                                    innovations, which must be built on a foundation capable of embracing meaningful
                                    changes, whether incremental or dramatic.
                                    <br>
                                    <a class="usa-button usa-button--outline tablet:margin-bottom-3 " target="_blank"
                                        href="https://catalyst.nejm.org/doi/full/10.1056/CAT.20.0263"
                                        target="_blank"><small>Learn more
                                            »</small></a>
                                </p><br>
                            </div>
                        </div>


                    </div>
                    <div class="tablet:grid-col-6 ">
                        <p class="font-body-sm">
                        <div class="tablet:grid-col-12  ">
                            <img src="/assets/images/HERO/catalyst_2020.png" class=" image-thumbnail"
                                alt=" New England Journal of Medicine Catalyst ">
                        </div>

                        </p><br>
                    </div>
                </div>

            </div>

        </section>
        <hr>
        <!-- 444  -->
        <section id="" class="usa-section small-padding">
            <div class="grid-container">
                <div class="grid-row grid-gap-4" style="text-align: center;">

                    <div class="tablet:grid-col-6 ">
                        <h1 class="font-heading-lg" style="text-align: left;">

                            <a href="/assets/documents/iNET_Report_2019.pdf" target="_blank"> VHA iNET Annual Report
                                2019</a> 

                        </h1>
                        <p class="font-body-md" style="text-align: left;">In 2019, iNET navigated through a year of

                            <a href="https://www.va.gov/INNOVATIONECOSYSTEM/docs/report-2019.pdf"" target=" _blank"> VHA
                                State of
                                Innovation Report 2019</a>

                        </h1>
                        <p class="font-body-md" style="text-align: left;">Did you ever imagine that your smartphone
                            would connect you to your health care provider, or
                            that you’d be able to track key health metrics on your wrist? For generations, innovation
                            has been a
                            conduit for imagining a new world, and in health care, redefining excellence. This sentiment
                            has long
                            permeated the Veterans Health Administration (VHA). Innovation enables us to execute our
                            mission
                            and deliver health care to Veterans in exceptional ways. Innovative VHA solutions like 3D
                            Printing are
                            improving the delivery of customized solutions to Veterans and enabling the exploration of
                            future
                            health care solutions like 3D bioprinting to generate living, vascularized tissue. <br>
                            So, how do we do it? The answer lies in creating a culture that harnesses a willingness to
                            experiment.
                            Innovation enables frontline staff to take calculated risks, fail early and smart, and
                            methodically test
                            assumptions. These principles create a culture of agility and team learning aligned with
                            VHA’s goal of
                            becoming a learning organization. By embracing this mindset, we’ve delivered landmark
                            solutions
                            such as the cardiac pacemaker in 1960s to 3D printed organ models for surgical planning
                            today.
                            Building solutions that meet unique Veteran challenges have not only redefined Veteran-care,
                            but
                            health care around the globe. It is precisely this ability to continually innovate that
                            allows VHA to
                            remain the preferred choice of Veterans.
                            <br>
                            <a class="usa-button usa-button--outline tablet:margin-bottom-3 "
                                href="https://www.va.gov/INNOVATIONECOSYSTEM/docs/report-2019.pdf"
                                target="_blank"><small>Learn more
                                    »</small></a>
                        </p> <br>
                    </div>
                    <div class="tablet:grid-col-6 ">
                        <img class="image-thumbnail" src="/assets/images/news-images/2019.png" alt="2019 report">

                    </div>
                </div>
            </div>
        </section>

     

        <!-- 555  -->
        <section id="" class="usa-section small-padding">
            <div class="grid-container">
                <div class="grid-row grid-gap-4" style="text-align: center;">

                    <div class="tablet:grid-col-6 ">
                        <h1 class="font-heading-lg" style="text-align: left;">
inet 2019
                            <a href="/assets/documents/iNET_Report_2019.pdf" target="_blank"> VHA iNET Annual Report
                                2019</a>

                        </h1>

                        <p class="font-body-md" style="text-align: left;">
                            In 2019, iNET navigated through a year of


                        <p class="font-body-md" style="text-align: left;">In 2019, iNET navigated through a year of
 inet 2019
                            change and restructuring, during which we have evolved into a stronger, smarter, and more
                            confident organization. Stronger knowing that our Network is truly unique and valuable to
                            both Department of Veterans Affairs (VA) employees and Veterans. Smarter knowing that we
                            enable VHA’s workforce to change how they design solutions to solve problems. Confident
                            knowing that empowered employees lead to more thoughtfully designed solutions, which lead to
                            better outcomes for Veterans. Read more about how iNET grew in 2019 in our very first annual
                            report.
                            <br>
                            <a class="usa-button usa-button--outline tablet:margin-bottom-3 "

                                href="/assets/documents/iNET_Report_2019.pdf"

                            href="/assets/documents/iNET_Report_2019.pdf"

                                href="/assets/documents/iNET_Report_2019.pdf"
inet 2019
                                target="_blank"><small>Learn more
                                    »</small></a>
                        </p> <br>
                    </div>
                    <div class="tablet:grid-col-6 ">

                        <img class="image-thumbnail" src="/assets/images/news-images/2019.png" alt="2019 report">

                        <img class="image-thumbnail" src="/assets/images/news-images/inet2019.png" alt="2019 report">


                        <img class="image-thumbnail" src="/assets/images/news-images/2019.png" alt="2019 report">
 inet 2019

                    </div>
                </div>
            </div>
        </section>

    </main>
    <div id="footer"></div>
</body>

</html>