<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - Home Page</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                            Breaking Boundaries Collaboration Challenge
                        </h1>


                    </div>

                    <div class="tablet:grid-col-7 text-left padding-top-4  ">


                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7; 
                        letter-spacing: .6px;">
                            Hosted by VHA Innovation Ecosystem and Founder Institute, the Breaking Boundaries
                            Collaboration Challenge is a pitch competition in which innovators will have the opportunity
                            to collaborate with the VA to advance their solution to the next stage of development.
                            <br><br>
                            Twenty healthcare innovators, non-profits, entrepreneurs, start-ups, or academic affiliates
                            at the earliest stages of solution design and development will be invited to pitch to VHA IE
                            and 
                          <u> <a class="text-white" href="/views/solutions/greenhouse-initiative.html">
                            VHA Innovators Network (iNET)</a></u>  site leadership and staff throughout the country. The goal
                          is advancing innovative healthcare solutions that ultimately change the lives of Veterans
                            and the general public.
                            <br>

                        </p>
                    </div>
                    <div class="tablet:grid-col-5 padding-top-3 ">

                        <img class="image-thumbnail oneshadow" src="/assets/images/IEX/FB_1080x1080.jpg"
                            alt="Immersive Technology">

                    </div>
                    <div class="tablet:grid-col-12 padding-top-3 ">

                        <p class="font-body-md  text-white text-left" style="font-size: 20px;
                        line-height: 1.7; 
                        letter-spacing: .6px;">
                            Pitch applications are accepted June 9-July 30, 2021. Pitches take place August 26 with the
                            Breaking Boundaries: Co-Designing for Tomorrow panel discussion and Challenge winners
                            announced August 27. Winners will also be invited to demo progress at iEX in October 2021.
                            <br> <br>
                            To attend or compete, click register below! <br>
                            <a class="usa-button btn-me  shadowme a-work margin-bottom-1 margin-top-3 
                            tablet:margin-bottom-3 onedow" target="_blank" href="https://fi.co/startupwebinar/7298">
                                <small>Register
                                    »</small></a>


                        </p>

                    </div>
                </div>

            </div>
        </section>


        <section class=" usa-section--dark small-padding margin-bottom-3  
        hero-standard hero-noimage hero-dark-background padding-5"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">

            <div class="grid-container padding-5">
                <div class="grid-row grid-gap-2">

                </div>

            </div>


            <div class="grid-container">



                <div class="grid-row grid-gap-2  bg-white margin-top-3 padding-top-4"
                    style="box-shadow: 0px 5px 6px -6px black;">


                    <div class="tablet:grid-col-12 margin-bottom-3"
                        style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                        <h4 class="usa-card__body padding-0 f14 " style="margin-top:0 !important;">
                            Speakers
                        </h4>

                    </div>

                    <div class="tablet:grid-col-12 ">
                        <table class="usa-table usa-table--borderless text-dark">



                            <tbody>
                                <tr>
                                    <th scope="row" style="border-color:white"> <img
                                            class=" flex-align-center  image-thumbnail oneshadow "
                                            src="/assets/images/IEX/Carolyn_BW.png " style="width: 70%;" alt=""> </th>
                                    <td style="border-color:white"> <strong>Speaker</strong> <br>
                                        Carolyn Clancy, MD, MACP, Deputy Under Secretary for Health for Discovery,
                                        Education and Affiliate Networks, Veterans Health Administration <a
                                            href="/views/news-events/event-bio.html#carolyn">
                                            <small class="text-dark"> Learn more
                                                »</small>

                                        </a></td>

                                </tr>
                                <tr>

                                    <th scope="row" style="border-color:white"> <img
                                            class=" flex-align-center  image-thumbnail oneshadow "
                                            src="/assets/images/IEX/Ryan_BW.png" style="width: 70%;" alt=""> </th>
                                    <td style="border-color:white"><strong>Speaker </strong> <br>
                                        Ryan Vega, MD Chief Officer, Office of Healthcare Innovation and Learning
                                        (OHIL),
                                        Veterans Health Administration <a href="/views/news-events/event-bio.html#ryan">
                                            <small class="text-dark"> Learn more
                                                »</small>

                                        </a></td>


                                </tr>
                                <tr>

                                    <th scope="row" style="border-color:white"> <img
                                            class=" flex-align-center  image-thumbnail oneshadow "
                                            src="/assets/images/IEX/Torrey_Reverse_BW.png" style="width: 70%;" alt=""> </th>
                                    <td style="border-color:white"><strong>Speaker </strong> <br>
                                        Torrey Smith, CEO, Endiatx <a href="/views/news-events/event-bio.html#torrey">
                                            <small class="text-dark"> Learn more
                                                »</small>

                                        </a></td>


                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">


                    <div class="grid-row margin-top-3 ">

                        <div class="tablet:grid-col text-left"
                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                            <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                                Breaking Boundaries: Co-Designing for Tomorrow Panel
                            </h2>
                        </div>

                        <p class="font-body-md text-dark"> <br>

                            Collaboration between the entrepreneur community and VA can help solve industry challenges
                            and
                            address needs that transcend boundaries to impact Veteran lives. Hear from innovators and
                            entrepreneurs on how they successfully partnered with the VA.

                        </p>




                        <!-- 1111 -->
                    </div>
                    <div class="grid-row margin-bottom-3 margin-top-3 grid-row grid-gap-2 padding-top-4 bg-white">
                        <div class="tablet:grid-col-12 margin-bottom-3"
                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                            <h4 class="usa-card__body padding-0 f14 " style="margin-top:0 !important;">
                                Moderator/Panelists
                            </h4>

                        </div>

                        <div class="tablet:grid-col-12 ">
                            <table class="usa-table usa-table--borderless text-dark">
                                <caption style="color: #7fcfcf;">
                                </caption>



                                <tbody>

                                    <tr>

                                        <th scope="row" style="border-color:white"> <img
                                                class=" flex-align-center  image-thumbnail oneshadow "
                                                src="/assets/images/IEX/Allison_BW.png" style="width: 70%;" alt="">
                                        </th>
                                        <td style="border-color:white"> <strong>Moderator</strong> <br>
                                            Allison Amrhein, Director of Operations, VHA Innovators Network(iNET), VHA
                                            Innovation Ecosystem
                                            <a href="/views/news-events/event-bio.html#allison">
                                                <small class="text-dark"> Learn more
                                                    »</small>

                                            </a>
                                        </td>


                                    </tr>
                                    <tr>

                                        <th scope="row" style="border-color:white"> <img
                                                class=" flex-align-center  image-thumbnail oneshadow "
                                                src="/assets/images/IEX/Gina_BW.png" style="width: 70%;" alt=""> </th>
                                        <td style="border-color:white"> <strong> Panelists</strong> <br>
                                            Gina Adams, Founder and CEO of Wareologie <a
                                                href="/views/news-events/event-bio.html#gina">
                                                <small class="text-dark"> Learn more
                                                    »</small>

                                            </a></td>


                                    </tr>
                                    <tr>

                                        <th scope="row" style="border-color:white"> <img
                                                class=" flex-align-center  image-thumbnail oneshadow "
                                                src="/assets/images/IEX/Micheletti_BW.png" style="width: 70%;" alt="">
                                        </th>
                                        <td style="border-color:white"> <strong> Panelists</strong><br> Ryan Micheletti,
                                            Head of Global Operations, Founder Institute <a
                                                href="/views/news-events/event-bio.html#micheletti">
                                                <small class="text-dark"> Learn more
                                                    »</small>

                                            </a></td>


                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- <article class="article-summary image-align-right" >

                        <div class="article-summary-cta" style="background-color: #85afaf;">
                            <div class="summary-cta">
                               <h2 class="summary-cta-title text-white">Subscribe to the Enrollment Blog</h2> 
        
                                <div class="summary-cta-description text-white">
                                    Collaboration between the entrepreneur community and VA can help solve industry challenges and address needs that transcend boundaries to impact Veteran lives. </div>
        
                                <a class="summary-cta-link button-arrow button-arrow-filled external-link  margin-top-3" style="padding-top: 50px;"
                                     target="_blank"
                                    >
                                    Register </a>
                            </div>
                        </div> 
        
        
                    </article>    -->






                    </div>
                </div>
            </div>
        </section>


        <!-- innovation forefront section -->
        <section class=" grid-container usa-section padding-top-0 padding-bottom-2 padding-bottom-0 padding-bottom-3">
            <div class="grid-row grid-gap-2 ">
                <div class="tablet:grid-col-12 margin-bottom-3"
                    style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                    <h4 class="usa-card__body padding-0 f14 " style="margin-top:0 !important;">
                        Agenda
                    </h4>

                </div>

                <!-- day1  -->
                <div class="tablet:grid-col border-gray oneshadow">
                    <div class="tablet:grid-col ">
                        <table class="usa-table usa-table--borderless">
                            <caption> Day 1 - August 26th, 1-4pm (ET)
                            </caption>



                            <tbody>
                                <tr>
                                    <th scope="row"> Opening Welcome from Ryan Micheletti, Founder Institute and Allison
                                        Amrhein, VHA Innovators Network</th>

                                </tr>
                                <tr>
                                    <th scope="row"> Keynote Speaker</th>
                                    <!-- <td> Keynote Speaker </td>
                                    <td>15</td> -->
                                </tr>
                                <tr>
                                    <th scope="row">Breaking Boundaries Collaboration Challenge Pitches</th>
                                    <!-- <td> Pitching Session 1</td>
                                    <td> 70</td> -->
                                </tr>
                                <tr>
                                    <th scope="row" style="border-color:white"> Closing Remarks</th>
                                    <!-- <td>iEX Video Teaser </td>
                                    <td>2</td> -->
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- <article class="article-summary image-align-right" >

                        <div class="article-summary-cta" style="background-color: #85afaf;">
                            <div class="summary-cta">
                               <h2 class="summary-cta-title text-white">Subscribe to the Enrollment Blog</h2> 
        
                                <div class="summary-cta-description text-white">
                                    Collaboration between the entrepreneur community and VA can help solve industry challenges and address needs that transcend boundaries to impact Veteran lives. </div>
        
                                <a class="summary-cta-link button-arrow button-arrow-filled external-link  margin-top-3" style="padding-top: 50px;"
                                     target="_blank"
                                    >
                                    Register </a>
                            </div>
                        </div> 
        
        
                    </article>    -->
                </div>

                <!-- day 2  -->
                <div class="tablet:grid-col border-gray oneshadow ">
                    <div class="tablet:grid-col ">
                        <table class="usa-table usa-table--borderless usa-table--striped">
                            <caption> Day 2 - August 27th, 2-3:30pm (ET)






                            <tbody>
                                <tr>
                                    <th scope="row">Opening Remarks from Dr. Ryan Vega, Chief Officer, Office of
                                        Healthcare Innovation and Learning</th>
                                    <!-- <td> Intro/Opening </td>
                                    <td>10</td> -->
                                </tr>
                                <tr>
                                    <th scope="row">Fireside Chat with Dr. Carolyn Clancy, Acting Deputy Secretary,
                                        Veterans Affairs</th>
                                    <!-- <td> Fireside Chat </td>
                                    <td>15</td> -->
                                </tr>
                                <tr>
                                    <th scope="row">Breaking Boundaries: Co-Designing for Tomorrow moderated by Allison
                                        Amrhein,
                                        VHA Innovators Network featuring Ryan Micheletti, Founder Institute; Bill Evans,
                                        Rock Health; Kathryn Beckner, VHA Innovators Network; and Gina Adams, Wareologie
                                    </th>
                                    <!-- <td> iEX Video Teaser </td>
                                    <td> 2</td> -->
                                </tr>



                                <tr>
                                    <th scope="row"> Breaking Boundaries Collaboration Challenge Winners Announcement
                                    </th>
                                    <!-- <td> Break: Founder Institute information session/video </td>
                                    <td> 2</td> -->
                                </tr>
                                <tr>
                                    <th scope="row" style="border-color:white"> Closing Remarks </th>
                                    <!-- <td> Break: Founder Institute information session/video </td>
                                    <td> 2</td> -->
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>


            </div>

        </section>

        <section class="  small-padding padding-bottom-5 margin-bottom-0 hero-standard  "
            style="margin-top: 0 !important;padding-top: 0 !important;background: #e0f1f1;">
            <div class="grid-container">
                <div class="grid-row grid-gap-3 padding-top-2">
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <!-- <img class="image-thumbnail wrapper img-me" src="/assets/images/IEX/first.png"
                                        alt="iEX"> -->
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading  f15" style="color: #004b87;">

                                        <i class="fas fa-external-link-square-alt project-icon "
                                            style="font-size: 1rem!important;"></i>
                                        <strong class="line-height-sans-6">Breaking Boundaries Collaboration Challenge
                                        </strong>
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-0 f14 ">
                                <p style="color:#1b1b1b; "> <br>
                                    To attend or compete, click register below!

                                </p>

                            </div>
                            <div class="text-left margin-top-3">
                                <a class="usa-button btn-me  shadowme a-work margin-bottom-1 margin-top-3 
                                tablet:margin-bottom-3 onedow" target="_blank"
                                    href="https://fi.co/startupwebinar/7298">
                                    <small>Register
                                        »</small></a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>










    </main>
    <div id="footer"></div>

    <!-- <script>
        var end = new Date('10/27/2020 12:00 pm');

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;

        function showRemaining() {
            var now = new Date();
            var distance = end - now;
            if (distance < 0) {

                clearInterval(timer);
                document.getElementById('countdown').innerHTML = 'EXPIRED!';

                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

            document.getElementById('countdown').innerHTML = days + '    ' + 'days' + '    ' + ' ,   ';
            document.getElementById('countdown').innerHTML += hours + '    ' + 'hrs ' + '    ' + '  ,  ';
            document.getElementById('countdown').innerHTML += minutes + '    ' + 'mins ' + '    ';

        }

        timer = setInterval(showRemaining, 1000);
    </script> -->
</body>

</html>