<!DOCTYPE html>
<html>

<head>


  <title>SimVET-Vetting Healthcare Solutions</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>
 
<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>

    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 " id="how-works">
            <h1 class=" text-dark-gray f48-700 ">
              The Approach/How it Works </h1>

            <div class="grid-row grid-gap ">

              <div class="tablet:grid-col-12">

                <img src="/assets/images/simvet/SimLearn-OnePager_Graphic1.png" alt="Simvet infograph">


              </div>

              <div class=" tablet:grid-col-12">
                <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" background-color: #f0f0f0;
                padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 7px solid white; font-size: 18px;
                     line-height: 1.7;
                     letter-spacing: .6px;">
                  The SimVET model will analyze a variety of healthcare solutions (e.g., clinical software
                  applications and medical equipment/devices) through examining usability, impact on clinical workflow,
                  patient safety, and technical feasibility. The SimVET model will produce a “Consumer Reports” style
                  analysis including pros and cons, relevant comparisons, unique advantages, patient safety risks, and
                  end-user recommendations. This final report is intended to inform acquisition decisions throughout the
                  enterprise. In short, SimVET allows the VHA to “test drive” healthcare solutions before they reach
                  Veterans and clinical end-users. The criteria for healthcare solution analysis will be based on
                  priorities from leadership in the VHA, VISN, or VAMC levels and/or recommendations from the VHA
                  Program Offices or other stakeholders such as staff and Veterans. To ensure the solution can work in
                  the VHA environment, technical requirements will be tested. Frontline clinical staff will conduct live
                  scenarios in a realistic, simulated hospital environment, applying these new healthcare solutions in
                  the workflows for patient care and other Veteran-facing services.

                </p>



              </div>



            </div>



          </div>


        </div>

      </div>
    </section>


    <!-- ======= About Section ======= -->

    <section style="background:#e1f3f8;" id="challenge">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:#e1f3f8;fill:#fff" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- army boxes  -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="background: #e1f3f8;margin-top: 0 !important;padding-top: 0 !important;">

      <div class="grid-container">
        <h1 class="text-dark-gray f48-700 " style="margin-top:0 !important;">
          The Challenge</h1>


        <div class="grid-row  padding-3 oneshadow text-white text-ls-1" style="border: 4px solid white;
         background: #21648d;">






          <div class="grid-row  padding-bottom-2 usa-card-group ">

            <!--11-->
            <div class="tablet:grid-col mobile-lg:grid-col-auto display-flex flex-column flex-justify-center ">
              <img class="oneshadow " style="border: 7px solid white;" src="/assets/images/simvet/why-SimVet1.png"
                alt="challenges image placeholder ">
            </div>
            <!-- 22 -->
            <div class="tablet:grid-col  padding-top-1  margin-right-1  padding-bottom-2  margin-top-2 ">
              <p class=" line-height-sans-6  margin-0  " style="
                padding: 10px 20px; margin: 0 0 20px;font-size: 18px; ">The VHA recognizes there are
                opportunities to create a more streamlined process for vetting healthcare solutions prior to
                acquisition. This can result in increased cost and variability in healthcare solutions deployed across
                Veterans Integrated Services Networks (VISNs). Additionally, this can create interoperability challenges
                that lead to potential patient safety hazards, clinical workflow disruptions, and an inefficient use of
                resources. The lack of a centralized and streamlined process creates limitations in supporting the VHA’s
                mission to provide world-class healthcare for Veterans. To address these issues, SimVET seeks to support
                acquisition decisions by using simulation to validate, evaluate and test healthcare solutions throughout
                the enterprise.
              </p>
            </div>
          </div>



        </div>



    </section>







  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>