<!DOCTYPE html>
<html class="no-js">

<head>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

  <title>Simlearn</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>

    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class=" text-dark-gray f48-700 ">
              Resuscitation Education and Innovation (REdI) </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">
              The <strong>Resuscitation Education and Innovation (REdI)</strong> program, within SimLEARN, in its
              commitment to VA
              employees to provide the right tools, processes, and technologies to respond during a medical emergency.
              REdI oversees a robust resuscitation training portfolio that includes an innovative learning platform and
              a <strong>REdI Mock Code Training Program (RMCTP)</strong> that provides local VA Medical Facilities a
              standardized, turn
              key solution to building a mock code training program. In addition, REdI provides services through
              Resuscitation Simulation System Testing, which is a simulation-based strategy to identify and mitigate
              potential hazards related to the medical emergency response services and training of code team staff and
              first responders.





            </p><br>

          </div>


        </div>

      </div>
    </section>
    <!-- ======= About Section ======= -->

    <section style="background:#e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g "="">
              <polygon class=" fl-shape" style="background:#e1f3f8;fill:#fff" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- main boxes  -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="background: #e1f3f8;margin-top: 0 !important;padding-top: 0 !important;">

      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 ">
              Upcoming Courses </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">
              SimLEARN is proud to annouce upcoming courses: <br> <br>

              TNCC Offering Dates <br>
              November 15 – 16, 2021 <br>
              December 7 - 8, 2021 <br>
              January 25 - 26, 2022 <br>
              February 15 - 16, 2022 <br>
              March 7 - 8, 2022 <br> <br>

              Offered virtually and at multiple sites – for more information or to register for TNCC only, please  
              e-mail: <br>VHASimLEARNTNCCregistration@va.gov  <br><br>

              The following courses can be enrolled via Talent Managment System:<br><br>

             <strong>Virtual Introduction Clinical Simulation Offering Dates</strong> <br>
              January 4, 2022 (VA Item # 4615174)<br>
              January 11, 2022 (VA Item # 4615174)<br>
              January 18, 2022 (VA Item # 4615174)<br>
              January 25, 2022 (VA Item # 4615174)<br><br>

             <strong>F2F SimLEARN Faculty Instructor Course</strong> <br>
              December 6 - 9, 2021<br><br>

             <strong>F2F Introduction Clinical Simulation Offering</strong> <br>
              December 14 - 16, 2021 (VA Item #4618829/3771688)<br>




            </p><br>
            <h1 class="text-dark-gray f48-700 ">
              Resuscitation Education and Innovation’s Fact Sheet </h1>
              <a class="usa-button  shadowme a-work   " href="#" target="_blank"><small>See Fact Sheet</small></a>


          </div>


        </div>

      </div>



    </section>
    <section style="background: #f0f0f0;">
      <svg viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background: #f0f0f0;margin-top:0;padding-top: 0;">



        <g class="fl-shape-content" style="fill: #e1f3f8;">
          <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
        </g>
      </svg>
    </section>

    <!-- last row -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0 bg-base-lightest">

      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 ">
              Contact Us
            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">
              Please contact REdI with questions: <a href="mailto:VHASimLEARNAskREdI@va.gov"> VHASimLEARNAskREdI@va.gov</a><br><br>


            



            </p><br>

          </div>


        </div>

      </div>



    </section>


  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>