<!DOCTYPE html>
<html>

<head>


  <title>SimVET-Vetting Healthcare Solutions</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>

    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class=" text-dark-gray f48-700 ">
              Simulation, Validation, Evaluation and Testing (SimVET) </h1>

            <div class="grid-row grid-gap ">
              <div class=" tablet:grid-col-6">

                <p class="f18-line22-w700"> SimVET-Vetting Healthcare Solutions</p>
                <p class="font-body-sm" style="font-size: 18px;
                    line-height: 1.7;
                    letter-spacing: .6px;">
                  Simulation Validation, Evaluation and Testing (SimVET) is an emerging innovative model and service
                  sponsored by the National Simulation Center (NSC) to test drive healthcare solutions (e.g., clinical
                  software applications, medical devices) in a fail-safe simulated clinical environment prior to
                  acquisition and deployment across the VHA and in VA Medical Centers. SimVET supports VHA modernization
                  efforts to become a high reliability organization (HRO) by anticipating risks that could potentially
                  lead to harmful events. This is achieved by empowering front-line staff and clinicians who directly
                  provide care to Veterans to be an essential component of the vetting process.


                </p>



              </div>
              <div class=" tablet:grid-col-6  "> <br>
                <img src="/assets/images/simvet/SimLearn-OnePager_Graphic2.png"
                  alt=" Simulation, Validation, Evaluation and Testing (SimVET)"> <br>
              </div>
              <div class="tablet:grid-col-12">
                <p class="font-body-sm" style="font-size: 18px;
                    line-height: 1.7;
                    letter-spacing: .6px;">
                  By replicating complex
                  care environments such as Intensive Care Units (ICU), Community-Based Outpatient Clinics (CBOC) and
                  Community Living Centers (CLC), SimVET develops use-case scenarios to analyze healthcare solutions for
                  usability, patient safety, impact on clinical workflow and technical feasibility.
                  <br><br>
                </p>


              </div>

            </div>
            <div class="tablet:grid-col-12 text-left padding-3 padding-top-0 padding-bottom-0"
              style="border-left: 5px solid black;">
              <p class="f18-line22-w700"> Mission</p>
              <p class="font-body-sm ">

                To test drive health care solutions with frontline staff in a simulated hospital environment.

              </p>
              <p class="f18-line22-w700"> Vision</p>
              <p class="font-body-sm ">

                Nothing should touch a Veteran until it has been validated as safe and effective through simulation.


              </p>


            </div>
         

          </div>


        </div>

      </div>
    </section>


    <!-- ======= About Section ======= -->

    <section style="background:#e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:#e1f3f8;fill:#fff" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- army boxes  -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="background: #e1f3f8;margin-top: 0 !important;padding-top: 0 !important;">

      <div class="grid-container" >
        <h1 class="text-dark-gray f48-700 " style="margin-top:0 !important;">
          Why Simulation?</h1>
        

        <div class="grid-row  padding-3 oneshadow text-white text-ls-1" style="border: 4px solid white;
         background: #21648d;">

          


         

            <div class="grid-row  padding-bottom-2 usa-card-group ">
              
              <!--11-->
              <div class="tablet:grid-col  ">
                <img class="oneshadow" style="border: 7px solid white;" src="/assets/images/simvet/why-SimVet1.png"
                  alt="Veterans spent a career simulating and practicing ">
              </div>
              <!-- 22 -->
              <div class="tablet:grid-col  padding-top-1  margin-right-1  padding-bottom-2  margin-top-2 ">
                <p class=" line-height-sans-6  margin-0  " style="
                padding: 10px 20px; margin: 0 0 20px;font-size: 18px; "><br> <br> <strong> Veterans spent a career simulating and practicing some of the most dangerous and complex things that
                  could happen, nearly every eventuality. </strong>
                </p>
              </div>
            </div>
            <!-- <h1 class="text-dark-gray f48-700 ">
              Why Simulation?</h1> -->

              <div class="grid-row  padding-bottom-2 usa-card-group ">
                <!-- 22 -->
                <div class="tablet:grid-col  padding-top-1  margin-right-1  padding-bottom-2  margin-top-2 ">
                  <p class=" line-height-sans-6  margin-0  " style="
                  padding: 10px 20px; margin: 0 0 20px;font-size: 18px; ">
                    <br> <br> <strong> “Military service members go into harm’s way; our Veterans
                    should not.”</strong>
                   
  
                  
  
                  </p>
                </div>
                <!--11-->
                <div class="tablet:grid-col  ">
                  <img class="oneshadow" style="border: 7px solid white;" src="/assets/images/simvet/why-simvet2.png"
                    alt="Veterans spent a career simulating and practicing ">
                </div>
  
              </div>

        </div>



    </section>


    <!-- infograph section  -->
    <section style="background: #f0f0f0;">
      <svg viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background: #f0f0f0;margin-top:0;padding-top: 0;">



        <g class="fl-shape-content" style="fill: #e1f3f8;">
          <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
        </g>
      </svg>
    </section>

    <!-- info list row -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0 bg-base-lightest">
      <div class="grid-container">

        <div class="grid-row grid-gap-3 padding-top-2 padding-bottom-2 usa-card-group">
          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 ">
              What We Achieve </h1>
          </div>
          <!--11 -->
          <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/aco/f3.png" alt="function placeholder">
                </div>
               
              </div>

              <div class="f18-line22-w400 padding-2  " style="min-height: 256px;">
                <p style="color:#1b1b1b;"> <br><strong>A streamlined, reproducible process </strong>for validating, evaluating, and testing
                  healthcare
                  solutions for usability, patient safety, technical feasibility, and clinical workflow impact.


                </p>

              </div>

            </div>
          

          </div>
          <!-- 22 -->
          <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/aco/f2.png" alt="function placeholder">
                </div>
                
              </div>
              <div class="f18-line22-w400 padding-2  " style="min-height: 256px;">
                <p style="color:#1b1b1b;"> <br><strong>A simulation environment that accurately represents diverse clinical settings </strong>across
                  medical centers and scalable across SimVET network sites. </strong>


                </p>

              </div>

            </div>
           

          </div>
          <!-- 33 -->
          <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/aco/f1.png" alt="function placeholder">
                </div>
                
              </div>

              <div class="f18-line22-w400 padding-2  " style="min-height: 256px;">
                <p style="color:#1b1b1b;"> <br><strong>A “Consumer Reports” style analysis </strong>for each healthcare solution that is validated,
                  evaluated, and tested.




                </p>

              </div>

            </div>
           

          </div>


        </div>
        <!-- second row of boxes  -->
        <div class="grid-row grid-gap-3 padding-top-2 padding-bottom-2 usa-card-group">
         
          <!--11-->
          <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-center ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/simvet/why-SimVet1.png" alt="function placeholder">
                </div>
               
              </div>

              <div class="f18-line22-w400 padding-2  " style="min-height: 256px;">
                <p style="color:#1b1b1b;"> <br> <strong>A repository of SimVET analysis </strong>results for the enterprise.


                </p>

              </div>

            </div>
          

          </div>
          <!-- 22 -->
          <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
            <div class=" bg-white oneshadow ">


              <div class="u text-center ">
                <div class="">
                  <img class="" src="/assets/images/simvet/why-SimVet1.png" alt="function placeholder">
                </div>
                
              </div>
              <div class="f18-line22-w400 padding-2  " style="min-height: 256px;">
                <p style="color:#1b1b1b;"> <br> <strong>Decreased cost, variability, and interoperability challenges </strong>that lead to potential
                  patient safety hazards, clinical workflow disruptions, and an inefficient use of resources across
                  healthcare facilities.

                </p>

              </div>

            </div>
           

          </div>
        

        </div>
       
      </div>


    </section>

    <!-- more about+ background info  -->
    <section id="" class="aquaback " style="background:#e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;margin-top:0;padding-top: 0;">

          <defs>
          </defs>

          <g>
              <polygon class=" fl-shape" style="background:#e1f3f8;fill:#f0f0f0 " points="0,0 422,0 422,20">
              </polygon>
          </g>
      </svg>
      <div class="grid-container ">
          <div class="grid-row grid-gap-2">

              <div class="tablet:grid-col">
                  <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                      Learn more about SimVET
                  </h2>
              </div>
              <div class="tablet:grid-col-12">

                <p class="font-body-sm" style="font-size: 18px;
                line-height: 1.7;
                letter-spacing: .6px;"> <br>
                <strong>Simulation Validation, Evaluation and Testing (SimVET)</strong>
               is an emerging innovative model and service
              sponsored by <strong>the National Simulation Center (NSC)</strong>  to test drive healthcare solutions (e.g., clinical
              software applications, medical devices) in a fail-safe simulated clinical environment prior to
              acquisition and deployment across the VHA and in VA Medical Centers. <br> <strong>SimVET</strong> supports VHA modernization
              efforts to become <strong>a high reliability organization (HRO)</strong>  by anticipating risks that could potentially
              lead to harmful events. This is achieved by empowering front-line staff and clinicians who directly
              provide care to Veterans to be an essential component of the vetting process.


            </p>
              </div>

          </div>

      </div>
      <div class="grid-container">
          <!-- 11111 -->

          <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
              <!-- 1  -->
              <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2" style="box-shadow: 0px 5px 6px -6px black;">
                  <div class="usa-card__container">


                      <div class="usa-card__media usa-card__media--inset">
                          <div class="usa-card__img">
                              <img src="/assets/images/page1-images/card2.png" 
                              class="image-thumbnail wrapper" alt="how it works placeholder">
                          </div>
                          <header class="usa-card__header"> <br>
                              <h4 class="usa-card__heading text-center f17" style="color: #004b87;">
                                How it Works
                              </h4>
                          </header>
                      </div>

                      <div class="usa-card__body padding-1 f15">
                          <p style="color:#1b1b1b;">
                          </p>
                          <a class="usa-button btn-me btn-lg shadowme a-work " style="padding-bottom:10px;" 
                          href="/views/portfolios/how-it-works.html#how-it-works" target="_blank"><small>Read
                                  More
                                  »</small>
                          </a>
                      </div>

                  </div>

              </div>
              <!-- 2   -->
              <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2" style="box-shadow: 0px 5px 6px -6px black;">
                  <div class="usa-card__container">


                      <div class="usa-card__media usa-card__media--inset">
                          <div class="usa-card__img">
                              <img src="/assets/images/page1-images/card5.png" class="image-thumbnail wrapper" alt="African American Male Veteran, NYU VetSmile Patient with DCP_Candid_in chair">
                          </div>
                          <header class="usa-card__header"> <br>
                              <h4 class="usa-card__heading text-center f17" style="color: #004b87;">The Challenge
                              </h4>
                          </header>
                      </div>

                      <div class="usa-card__body padding-1 f15">
                          <p style="color:#1b1b1b;">
                          </p>
                          <a class="usa-button btn-me btn-lg shadowme a-work" style="padding-bottom:10px;" href="/views/portfolios/how-it-works.html#challenge" target="_blank"><small>Read
                                  More
                                  »</small>
                          </a>
                      </div>

                  </div>

              </div>


             
             

          </div>



      </div>


  </section>


  <!-- contact us section  -->

  <section class="  small-padding 3  margin-bottom-0   bg-white">

    


    <div class="grid-container margin-top-2">
   
        <div class="grid-row bg-white oneshadow border border-primary-lighter">
            <p class="padding-2 table:grid-col-12 border-bottom"> <i class="fas fa-envelope-open-text project-icon"></i><strong>Let's
                    Connect! </strong> </p>

            <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2  margin-top-2  ">
                <p class="padding-2"><strong>Contact Us:</strong> <br><br> Email us with any questions or
                    inquiries. We would be happy to answer your questions. <br>
                    <a class="usa-button btn-me oneshadow a-work  margin-top-2" href="mailto:SimVETSupport@va.gov">
                        <small>SimVETSupport@va.gov</small> </a>
                </p>
            </div>

            <!-- <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2  margin-top-2 ">
                <p class="padding-2"> <strong>NEWS Releases!
                    </strong> <br><br> View the official VA Press Release announcing VETSmile <br><br>
                      <a class="usa-button btn-me oneshadow a-work  margin-top-2" href="https://www.va.gov/opa/pressrel/pressrelease.cfm?id=5715"> <small>Read
                            More
                            »</small></a>
                </p>



            </div> -->

        </div>




    </div>
</section>



  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>