<!DOCTYPE html>
<html>

<head>


  <title>SimVET-Vetting Healthcare Solutions</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>

    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class=" text-dark-gray f48-700 ">
              Simulation, Validation, Evaluation and Testing (SimVET) </h1>

            <div class="grid-row grid-gap ">
              <div class=" tablet:grid-col-6">

                <p class="f18-line22-w700"> SimVET-Vetting Healthcare Solutions</p>
                <p class="font-body-sm" style="font-size: 18px;
                    line-height: 1.7;
                    letter-spacing: .6px;">
                  Simulation Validation, Evaluation and Testing (SimVET) is an emerging innovative model and service
                  sponsored by the National Simulation Center (NSC) to test drive healthcare solutions (e.g., clinical
                  software applications, medical devices) in a fail-safe simulated clinical environment prior to
                  acquisition and deployment across the VHA and in VA Medical Centers. SimVET supports VHA modernization
                  efforts to become a high reliability organization (HRO) by anticipating risks that could potentially
                  lead to harmful events. This is achieved by empowering front-line staff and clinicians who directly
                  provide care to Veterans to be an essential component of the vetting process.


                </p>



              </div>
              <div class=" tablet:grid-col-6  "> <br>
                <img src="/assets/images/simvet/SimLearn-infoG.jpg"
                  alt=" Simulation, Validation, Evaluation and Testing (SimVET)"> <br>
              </div>
              <div class="tablet:grid-col-12">
                <p class="font-body-sm" style="font-size: 18px;
                    line-height: 1.7;
                    letter-spacing: .6px;">
                  By replicating complex
                  care environments such as Intensive Care Units (ICU), Community-Based Outpatient Clinics (CBOC) and
                  Community Living Centers (CLC), SimVET develops use-case scenarios to analyze healthcare solutions for
                  usability, patient safety, impact on clinical workflow and technical feasibility.
                  <br><br>
                </p>


              </div>

            </div>
            <div class="tablet:grid-col-12 text-left padding-3 padding-top-0 padding-bottom-0"
              style="border-left: 5px solid black;">
              <p class="f18-line22-w700"> Mission</p>
              <p class="font-body-sm ">

                To test drive health care solutions with frontline staff in a simulated hospital environment.

              </p>
              <p class="f18-line22-w700"> Vision</p>
              <p class="font-body-sm ">

                Nothing should touch a Veteran until it has been validated as safe and effective through simulation.


              </p>


            </div>

          </div>


        </div>

      </div>
    </section>


    <!-- ======= About Section ======= -->

    <section style="background:#e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:#e1f3f8;fill:#fff" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- army boxes  -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="background: #e1f3f8;margin-top: 0 !important;padding-top: 0 !important;">

      <div class="grid-container" >
        <h1 class="text-dark-gray f48-700 " style="margin-top:0 !important;">
          Why Simulation?</h1>
        


        <div class="grid-row  padding-3 oneshadow text-white text-ls-1" style="border: 4px solid white; background: #092746;">

          


         

            <div class="grid-row  padding-bottom-2 usa-card-group ">
              <!--11-->
              <div class="tablet:grid-col  ">
                <img class="oneshadow" style="border: 7px solid white;" src="/assets/images/simvet/why-SimVet1.png"
                  alt="Veterans spent a career simulating and practicing ">
              </div>
              <!-- 22 -->
              <div class="tablet:grid-col  padding-top-1  margin-right-1  padding-bottom-2  margin-top-2 ">
                <p class=" line-height-sans-6  margin-0  " style="
                padding: 10px 20px; margin: 0 0 20px;font-size: 19px; "><br> <br> <strong> Veterans spent a career simulating and practicing some of the most dangerous and complex things that
                  could happen, nearly every eventuality. </strong>
                 
                 
                

                </p>
              </div>


             


            </div>
            <!-- <h1 class="text-dark-gray f48-700 ">
              Why Simulation?</h1> -->

              <div class="grid-row  padding-bottom-2 usa-card-group ">
                <!-- 22 -->
                <div class="tablet:grid-col  padding-top-1  margin-right-1  padding-bottom-2  margin-top-2 ">
                  <p class=" line-height-sans-6  margin-0  " style="
                  padding: 10px 20px; margin: 0 0 20px;font-size: 19px; ">
                    <br> <br> <strong> “Military service members go into harm’s way; our Veterans
                    should not.”</strong>
                   
  
                  
  
                  </p>
                </div>
                <!--11-->
                <div class="tablet:grid-col  ">
                  <img class="oneshadow" style="border: 7px solid white;" src="/assets/images/simvet/why-simvet2.png"
                    alt="Veterans spent a career simulating and practicing ">
                </div>
  
              </div>

        </div>



    </section>


    <!-- infograph section  -->
    <section style="background: #ffffff;">
      <svg viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background: #ffffff;margin-top:0;padding-top: 0;">



        <g class="fl-shape-content" style="fill: #e1f3f8;">
          <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
        </g>
      </svg>
    </section>

    <!-- info list row -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0 bg-white">
      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class=" text-dark-gray f48-700 ">
              What We Achieve
            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              Simulating high-risk, complex real-life situations is nothing new to the military. Since World War II,
              pilots have conducted flight simulations in cockpits to prepare for deployment. In 1999, the Army used
              clinical simulation as a core element in training combat medics in pre-hospital trauma care to improve
              survivor outcomes. Today, immersive simulation such as that offered by the NSC, has been well researched
              as a method to enhance the knowledge, skills and attitudes of clinicians to deliver high value, quality
              care. The VHA and NSC are well positioned to expand the use of clinical simulation from its traditional
              utility (training clinicians to perform safe care to engaging clinicians in front-line innovation) to
              advance how care is delivered to Veterans.
            <p></p><br>
            <img src="/assets/images/simvet/SimLearn-OnePager_Graphic-1.png" class="oneshadow" alt="simvet  infoGrapg">
            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

            <ul style="line-height: 33px;">
              <li><strong>A streamlined, reproducible process </strong>for validating, evaluating, and testing
                healthcare
                solutions for usability, patient safety, technical feasibility, and clinical workflow impact.</li>

              <li><strong>A simulation environment that accurately represents diverse clinical settings </strong>across
                medical centers and scalable across SimVET network sites. </strong> ​</li>

              <li><strong>A “Consumer Reports” style analysis </strong>for each healthcare solution that is validated,
                evaluated, and tested. </li>

              <li> <strong>A repository of SimVET analysis </strong>results for the enterprise. </li>

              <li> <strong>Decreased cost, variability, and interoperability challenges </strong>that lead to potential
                  patient safety hazards, clinical workflow disruptions, and an inefficient use of resources across
                  healthcare facilities. </li>
            </ul>


            </p><br>


          </div>

        </div>

      </div>

      <div class="grid-container">

        <div class="grid-row grid-gap-5">

          

        </div>

      </div>

    </section>


  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>