<!DOCTYPE html>
<html class="no-js">

<head>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

  <title>Simlearn</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header =======        <div class="text-center padding-0 margin-0" >
        <div class="container">
          <img src="/assets/images/page1-images/simtop.png" alt="simlearn image "  style="width: 100; height: auto;">
          
          <div class="centered">
            <img src="/assets/images/page1-images/simlogo.png" alt="Simlearn Logo">
          </div>
        </div>
        
        
        
    </div>-->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>

    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="font-heading-xl text-dark-gray f48-700 ">
              Frequently Asked Questions (FAQs)


            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">
              It’s important to ask the right questions when using the SimLEARN website site to learn more about
              simulation in healthcare. To address this, we’ve separated the answers to commonly asked SimLEARN
              questions into sections. For in-depth information about specific topics, review the appropriate section of
              this website.






            </p><br>

          </div>


        </div>

      </div>
    </section>
    <!-- ======= About Section ======= -->

    <section style="background:#e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g "="">
              <polygon class=" fl-shape" style="background:#e1f3f8;fill:#fff" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- main boxes  -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="background: #e1f3f8;margin-top: 0 !important;padding-top: 0 !important;">

      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 ">
              General Questions About Simulation and SimLEARN
            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              <strong> Virtual Patient: What is a "virtual patient?”</strong> <br> According to the Society for
              Simulation Healthcare Simulation Dictionary, the definition can be found
              here: https://www.ssih.org/Portals/48/sim-dictionary-2_1.pdf - p. 55
              <br>


            </p>
            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              <strong> Standardized Patient: What is a standardized patient? (may also be referred to as simulated
                patient).

              </strong>
              <br>
              According to the Society for Simulation Health Care Simulation Dictionary, the definition can be found
              here: https://www.ssih.org/Portals/48/sim-dictionary-2_1.pdf - p.52
              <br>


            </p>
            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              <strong> Mannequins: What is the difference between high fidelity and low fidelity mannequins.

              </strong>
              <br>
              This is from the book Mastering Simulation A handbook for Success – p. 52
              <br>
              Mid-level Mannequins – more rustically mimic reality with pulse, heart sounds and lung sounds, but lack
              the physiological display of chest rise and fall with breathing, blinking for automated physiological
              response to interventions (This is ALS Sim Man 3G with shock link)
              <br>


              High Fidelity Mannequins – mimics reality by linking, chest rise and fall, respiration and by offering
              physiological responses to interventions.

            </p>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              <strong> Integrator: What is an "integrator"?

              </strong>
              <br>
              a. Typically, the integrators capture video, simulator log files, session annotations, and evaluations.
              Integration technology is used to centralize and automate the recoding and management of simulation
              learning sessions.
              <br>
              Mid-level Mannequins – more rustically mimic reality with pulse, heart sounds and lung sounds, but lack
              the physiological display of chest rise and fall with breathing, blinking for automated physiological
              response to interventions (This is ALS Sim Man 3G with shock link)
              <br><br>


              Most integrators: <br><br>
              1. record multiple feeds digitally <br>
              2. handle instructor annotation and support debriefing <br>
              3. integrate with multiple types of simulators <br>
              4. build searchable participant portfolios automatically to support learning management records <br><br>

              Some integrators provide tools for scenario and checklist creation and generate multiple types of usage,
              session and aggregate reports.
              <br><br>
              b. Emerging Health Technology Integration (EHTI). <br><br>
              A data platform is an integrated technology solution that allows data located in database(s) to be
              governed, accessed, and delivered to users, data applications, or other technologies for strategic
              business purposes. Systems Integration is the process of creating a complex information system that may
              include designing or building a customized architecture or application, integrating it with new or
              existing hardware, packaged and custom software, and communications. <br><br>

              Emerging Health Technology Integration (EHTI) assists in the design, testing and deployment of various
              data platforms and systems integration technologies in the clinical care delivery setting. Examples
              include VHA’s Electronic Health Record Modernization (EHRM) effort or Cerner implementation, use of data
              platforms and systems integration in clinical care, emerging FDA regulations and policies surrounding this
              technology, and clinical effectiveness studies and/or evaluation across multiple clinical settings.
              <br><br>


            </p>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              <strong> Value: What is the value of clinical simulation?

              </strong>
              <br>
              The major advantages of learning skills in a simulated environment are that each procedure can be
              practiced repeatedly until the proficiency has been achieved. Most importantly, because the procedure is
              performed using simulated, virtual, or standardized patients, no real clinical harm is done when the user
              has a procedural or judgmental error.
              <br> <br>
              Getting Started Now: Our medical center wants to get started in clinical simulation right now. Where can I
              go now to learn the techniques of clinical simulation education? <br>
              <br>


              As part of SimLEARN, the Simulation Outreach Network (SON) assists staff to determine what objectives the
              simulation program will meet. In addition, the steps for developing the simulation program will be
              discussed. Contact SON at vhasimlearnson@va.gov <br><br>

              Many academic and non-academic organizations offer training in clinical simulation education principles
              and simulation technologies. You may wish to research options through the Society for Simulation in
              Healthcare, contacting your affiliate, contacting key accreditation organizations (e.g., ACS, ASA, etc.)
              or other colleagues involved in simulation education and training. SimLEARN’s link is
              https://www.simlearn.va.gov/SIMLEARN/curricula_simlearn.asp <br><br>

              The key question to ask yourself is whether you are interested in the key principles of simulation
              education or whether you are more interested in principles in training of a particular type of scenario.
              Certainly, starting with the principles of Introduction to Clinical Simulation would be foundational to
              your program. The particular scenario specialization at your medical center should then be driven by your
              clinical education priorities in which simulation is a preferred education modality. <br><br>

              You should send an email outlining your interests and providing any marketing information you have
              available to VASimLEARNGeneralInformation@va.gov. SimLEARN staff will contact you for further information.
              <br><br>
              SimLEARN representative: Who is my VISN SimLEARN champion? What is their role? <br><br>
              SimLEARN champions have been identified by each VISN. The list can be found here: <br><br>
              SimLEARN Champion List <br><br>
              Their role is to: <br><br>
              Champions will serve as leaders, coaches, and expert consultants in their respective networks for
              simulation training, education and research to ensure local success in simulation education and training.
              Champions will collaborate with the SimLEARN program to advise on the translation of nationally developed
              simulation curricula to the local level. <br><br>
              Champions will serve as the central points of contact between the SimLEARN program and the VISN and its
              facilities to actively communicate simulation information from the national program office to the
              appropriate subject matter experts in the field. <br><br>
              For VA employees: there is an internal listing of Local Facility (Simulation) Leads found that is
              routinely updated. The list can be found here: <br><br>
              Local Facility Leads


              <br><br>
            </p>




          </div>


        </div>


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 ">
              How to be a simulation learner or instructor?
            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              <strong> To become a simulation learner or instructor:

              </strong>
              <br>
              SimLEARN Innovation Cells for Education (SLICE)
              <br>
              SimLEARN Virtual Academy (SVA) <br>
              SimLEARN Outreach Network (SON) <br>
              - After clickling the above SON link, informaiton is located under the Field-Based Simulation Experiences.
              <br><br>


            </p>
            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              <strong>Debriefing a clinical simulation: What is the intent of the debriefing?

              </strong>
              <br>
              According to the Society for Simulation Healthcare Simulation Dictionary, the following can be found here:
              https://www.ssih.org/Portals/48/sim-dictionary-2_1.pdf - p.13
              <br> <br>
              Debrief/Debriefing: To conduct a session after a simulation event where educators/instructors/facilitators
              and learners re-examine the simulation experience for the purpose of moving toward assimilation and
              accommodation of learning to future situations (Johnson-Russell & Bailey, 2010; National League for
              Nursing
              - Simulation Innovation Resource Center, 2013); debriefing should foster the development of clinical
              judgment and critical thinking skills (Johnson-Russell & Bailey, 2010). <br><br>
              To encourage participants’ reflective thinking and provide feedback about their performance, while various
              aspects of the completed simulation are discussed.
              To explore with participants their emotions and to question, reflect, and provide feedback to one another
              (i.e., guided reflection). <br><br>


            </p>
            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              <strong> Crisis Resource Management: Why teach Crisis Resource Management and team training?

              </strong>
              <br><br>
              Emergent, complex medical events are nearly always managed by multidisciplinary teams. Typically, problems
              stem from human factors errors such as failure to plan, failure to cross monitor actions of team members,
              poorly designed work processes, fixation, etc. During a crisis, care givers' physiology changes and their
              ability to process information is affected. Deliberate practice is critical to the development of highly
              functioning teams and optimizing clinical outcomes. <br><br>

            </p>
          </div>


        </div>
        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 ">
              Curriculum for individual practitioners and for team-based learning
            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              <strong> Topics in curricula: How will the priorities for clinical topics be established?

              </strong>
              <br>
              The priorities will be driven by consideration of a number of factors, including (but not limited to):
              <br>
              <br>
              opportunities for improvements in high/low volume or high-risk procedures <br>
              opportunities for synergies with nationally recognized patient safety initiatives <br>
              the need for curricula to address the unique clinical needs of veterans (e.g., suicide prevention, PTSD,
              exposure related diagnoses, compensation and pension examinations)
              <br>
              the development of new technologies or procedures that would be more effectively implemented with system
              wide
              simulation training <br>
              the ubiquitous need for improved team communications in all types of clinical settings <br>



            </p>
            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              <strong> Simulation modalities: What type of simulation modalities will be used?

              </strong>
              <br>
              Simulation modalities typically considered to support curricula include:<br><br>
              standardized/simulated patients <br>
              virtual patients<br>
              virtual environments<br>
              mannequin based training<br>
              computer simulations (e.g., typically, but not always, for process modeling)<br>
              task trainers<br>
              The modality used will depend on the clinical topic addressed in the curricula. The intent is to use the
              most
              appropriate and effective modality and can include a blend of simulation and non-simulation
              approaches.<br><br><br>






            </p>
            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              <strong> Your clinical priorities: How can I make sure the clinical priorities are considered as a
                priority for the
                development of national curricula?

              </strong>
              <br><br>
              Your input is welcome and invited. This can be as simple as a thoughtful email to
              VASimLEARNGeneralInformation@va.gov. Note that the most helpful recommendations are those that include
              information about: <br><br>

              The evidence or data that supports the need for national curricula (e.g., quality gap as documented by
              clinical measures or external evidence from the clinical literature; need for training in a condition
              unique
              to veterans; etc.) <br>
              A short discussion of why you think simulation is the most appropriate modality for addressing the gap<br>
              A short discussion of how the organization could evaluate the success of the intervention<br>
              Information about others that have expressed interest or support (e.g., is this a local interest? Is the
              interest VISN-wide? Does the Network Director support this request?)<br>
              This information will be reviewed by the SimLEARN Education Committee and SimLEARN staff as they establish
              priorities for the program. The SimLEARN Education Committee (SEC) is the gathering of SimLEARN
              leadership.
              Program Managers, Simulation and Education Technicians, and designated faculty and staff to review,
              discuss,
              and vote on potential new course offerings, SLICE applications, and collaborative courses and/or training.
              This process allows leaders from other VA locations, course directors, and Simulation Champions an
              opportunity
              to address the SEC to be a partner in simulation with SimLEARN. <br><br>

            </p>
          </div>























        </div>

        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 ">
              General questions about this website
            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              <strong> Edits & errors: Who do I alert if I find an error in the text or a technical problem with the
                SimLEARN website?
              </strong>
              <br>
              Thank you for alerting us to the problem. Contact Us <br>
              <br>


              <strong> Updates: Can I be alerted when new content, articles or information appears on the SimLEARN
                website? <br>
              </strong>
              <br>
              No, our website does not offer that option. Newsletter articles are published quarterly and e-mail
              notifications are sent to each subscriber when a new newsletter is published. To obtain the latest news
              about SimLEARN, please visit the VHA SimLEARN Home page. If you would like additional information concerning
              a particular subject matter, please e-mail VASimLEARNGeneralInformation@va.gov. <br><br>
              

              <strong>  Website availability: Is this website available outside of the VA firewall?<br>
              </strong>
              <br>
              Yes. Though some of the resources on the site are naturally VA-specific, the main body of information is
              available to everyone. <br><br>
              
              <strong>    Where do I submit simulation or course requests, and sign up for courses and what information or forms do I
                provide?<br>
              </strong>
              <br>
              For questions about any course (other than TNCC) and how to register, please contact us at:
              VHASimLEARNNSCSupport@va.gov<br><br>
              For more information or to register for TNCC only, please e-mail: VHASimLEARNTNCCregistration@va.gov <br><br>
              
              <strong>   What options are there available to consult with simulation faculty or a tech member? Is there a list with
                names and email address that I can contact?
                <br>
              </strong>
              <br>
              Clinical Faculty VHASimLEARNClinicalFaculty@va.gov <br>

              Course Support VHASimLEARNNSCSupport@va.gov <br>

  
              Simulation Technician Mentorship VHASimLEARNSIMTECHMentorship@va.gov<br>

  
              Simulation Technicians VHASimLEARNSimTechs@va.gov<br>

  
              TNCC VHASimLEARNTNCCregistration@va.gov<br>

  
              REdI VHASimLEARMAskREdI@va.gov<br>

  
              For General Public Contact Us<br> <br>


              <strong>    Where can I go to find free resources for simulation?
                <br>
              </strong>
              <br>
             

  
              For Internal VA Employees <br><br>

            SimLEARN Virtual Academy (SVA)<br><br>

            Resources<br><br>

            For General Public Contact Us<br><br><br><br>



            Who receives my email when I click on the “Contact Us” link?
            Select SimLEARN employee will send your email to the appropriate SimLEARN staff to answer your question <br>

              
      
              



            </p>

            


           

          
          </div>

        </div>

      </div>




    </section>





  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>