<!DOCTYPE html>
 <html class="no-js lt-ie9 lt-ie8 lt-ie7">

<html class="no-js lt-ie9 lt-ie8">
<![endif]
[if IE 8]>
<html class="no-js lt-ie9">
<![endif]
[if gt IE 8]>
<html class="no-js">


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Office of Healthcare Innovation and Learning Team</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div class="" id="header"></div>
    <main class="" id="main-content" role="main">

        <!-- title section -->
        <section id="" class=" usa-section padding-left-0 padding-bottom-0" style=" padding-top: .5rem;">
            <div class="grid-container" style="text-align: left;">
                <div class="grid-row grid-gap-1">
                    <div class="tablet:grid-col">
                        <span class="font-heading-3xl" style="font-size: 33px;">
                            VHA Office of Healthcare Innovation and Learning Team
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <!-- Presenter Spotlight -->
        <section class="usa-graphic-list usa-section padding-top-0  " style="background-color: #f0f0f047;">
            <div class=" grid-container  padding-3">
                <!-- Ryan Vega  -->
                <!-- Ryan Vega, MD  -->
                <div id="ryan" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/VEGA_CIRCLE.png"
                            alt=" Ryan Vega, MD">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3"
                            style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
                            Dr. Ryan Vega <br>
                            Chief Officer, Office of Healthcare Innovation and Learning

                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Ryan Vega, MD, MSHA, currently serves as the Chief Officer of the Office of Healthcare
                            Innovation and Learning in the VHA Office of Discovery, Education and Affiliate Networks
                            where he oversees the management of both grassroot and strategic innovation initiatives
                            across VHA. Dr. Vega is a graduate of the Louisiana State University School of Medicine and
                            completed his Internal Medicine residency at the Virginia Commonwealth University Health
                            System where served as Chief Medicine Resident in the Department of Internal Medicine as
                            well as the VA Chief Resident for Quality and Safety. He also gained additional training in
                            clinical quality through the Advanced Training Program at Intermountain Health Care under
                            the tutelage of Dr. Brett James and received his Master of Science in Healthcare
                            Administration from Virginia Commonwealth University where he was an A.D. Williams Scholar.
                        </p>
                    </div>
                </div>
                <!-- Kristopher "Kit" Teague Deputy Director, VHA Innovation Ecosystem  -->
                <div id="kris" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/RIPLEY_CIRCLE.png"
                            alt=" Kristopher " Kit" Teague">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3"
                            style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
                            Beth Ripley, MD, PhD<br>
                            Deputy Chief Officer, Office of Healthcare Innovation and Learning
                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Beth Ripley, MD, PhD, serves as the Deputy Chief Officer for OHIL where she oversees
                            strategic operations to advance innovation efforts across VHA. She is a leader in the
                            expansion of 3D printing technology capabilities and applications across VHA and serves as
                            the Enterprise Lead for the VHA 3D Printing Network Initiative, Director for VA Ventures,
                            and Chair for the VHA 3D Printing Advisory Committee. Dr. Ripley collaborates with talented
                            and diverse staff throughout the VA system, experts across federal agencies, and industry
                            partners to improve the delivery of personalized healthcare solutions for Veterans through
                            3D printing solutions. Dr. Ripley is a staff radiologist at the Seattle Division of the VA
                            Puget Sound Health Care System and an Assistant Professor of Radiology at the University of
                            Washington School of Medicine. She received her bachelor’s degree in Art History from
                            Stanford University and her MD and PhD in Neurosciences from University of California, San
                            Diego School of Medicine. She completed radiology residency training and a cardiovascular
                            imaging fellowship at Brigham and Women’s Hospital, Harvard Medical School, and a body
                            imaging fellowship at the University of Washington.
                        </p>
                    </div>
                </div>
                <div id="kris" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/TEAGUE_CIRCLE.png" alt=" Kristopher "
                           >
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3"
                            style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
                            Kristopher "Kit" Teague<br>
                            Executive Director, Innovation Ecosystem (IE)
                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            As Executive Director for VHA Innovation Ecosystem (IE) in the Office of Healthcare
                            Innovation and Learning, Mr. Teague is responsible for both strategy and operations for VHA
                            IE in order to advance care delivery and service through mission-driven innovation that
                            changes and saves Veteran lives. VHA IE’s four portfolios—VHA Innovators Network, Diffusion
                            of Excellence, Care & Transformational Initiatives, and National Centers for Innovation to
                            Impact—are tasked with identifying and scaling innovations and best practices by empowering
                            frontline employees and leveraging external partners as force multipliers to build VA's
                            culture and capacity for transformational health care innovation. Prior to this role, he
                            served as the Deputy Director for VHA IE. Mr. Teague has over 20 years of experience in
                            health care between his time in the private sector and VA. 17 years of this experience has
                            been with VA, with nine of those years incubating, evaluating, and scaling clinical and
                            administrative innovation across VHA. He started his VA career in 2003 as an Auditor for the
                            VA Office of Inspector General in Washington, DC. Since then, he has sought to diversify his
                            experience by holding positions at both the regional and local levels of VHA. He served as a
                            Contracting Officer for the VISN 21 Network Contracting Office and Chief of Personnel
                            Security for the VA Palo Alto Health Care System prior to rejoining the VA Central Office
                            with VHA IE. With VHA IE, he has served in a leadership capacity for the past four years and
                            personally managed over 21 different innovation projects, including software prototypes for
                            various clinical specialties, production pilots of emerging technologies, regional rollouts
                            of innovative clinical treatments, multi-site equipment activations, and complex clinical
                            data mapping and informatics. Mr. Teague earned a bachelor’s degree in History/Political
                            Science at Arkansas Tech University and Federal Acquisition Certification for Program and
                            Project Managers through VA Acquisition Academy. He was nominated for the VHA Robert L.
                            Jesse Award for Excellence in Innovation in 2020.
                        </p>
                    </div>
                </div>
                <div id="kris" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/Circle-Cropped---Eric-Bruns.svg" alt=" Eric Bruns">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3"
                            style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
                            Eric Bruns, MBA<br>
                            Executive Director, Simulation Learning, Evaluation, Assessment, and Research Network
                            (SimLEARN)
                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                    margin: 0 0 20px;
                    font-size: 17.5px;
                    border-left: 5px solid #917b47;">

                            Eric B. Bruns is a retired career Army officer with over 25 years of valiant service to the
                            nation where he served as an Air Defense officer responsible for the implementation of
                            warfare
                            simulations programs. He retired as a Lieutenant Colonel after serving in Kitzingen,
                            Germany,
                            Guantanamo Bay Cuba and exercises in Japan, receiving a Legion of Merit. Eric graduated from
                            the
                            United States Military Academy at West Point in 1988 with a BS in Engineering and completed
                            an
                            MBA from Mays Business School at Texas A&M University that he uses to continue a career in
                            service to others.
                            <br><br>

                            Eric served as the Associate Director for the Events Division of the VHA Employee Education
                            System (EES) in the Crystal City Facility where he addressed education needs for VHA
                            clients. As
                            the Associate director, he implemented the policies, procedures and systems required for
                            maintaining and enhancing the overall organizational mission, develops and documents
                            standards
                            to measure quality and effectiveness of programs.
                            <br><br>

                            Eric is currently the Executive Director of the Simulation Learning Evaluation, Assessment
                            and
                            Research Network (SimLEARN) where he develops strategy for using simulation based clinical
                            education products to drive the innovation of healthcare, making the VA a high reliability
                            organization.

                        </p>
                    </div>
                </div>
                <div id="kris" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/Circle-Cropped---Roshni-Ghosh.svg" alt="Dr. Roshni Ghosh">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3"
                            style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
                            Dr. Roshni Ghosh<br>
                            Executive Director, Center for Care and Payment Innovation (CCPI)
                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                margin: 0 0 20px;
                font-size: 17.5px;
                border-left: 5px solid #917b47;">

                            Roshni Ghosh, MD, MPH currently serves as the Executive Director for the Center for Care and
                            Payment Innovation in the Office of Healthcare Innovation and Learning in the VHA Office of
                            Discovery, Education an Affiliate Networks where she oversees the development and
                            implementation of new and innovative care delivery and payment models. Dr. Ghosh is a
                            graduate of The Rutgers University School of Medicine and received her Masters in Public
                            Health from Columbia University’s Mailman School of Public Health. Dr. Ghosh has also served
                            as a Vice President and Chief Medical Information Officer at multiple healthcare
                            consultancies, and currently sits on the Board of Directors for a non-profit healthcare
                            organization and is an adjunct professor at George Washington University.
                        </p>
                    </div>
                </div>
                <div id="alli" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/Circle-Cropped---Katy-Pierce.svg"
                            alt=" Kathryn “Katy” Pierce">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3"
                            style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
                            Kathryn “Katy” Pierce<br>
                            Executive Officer, Office of Healthcare Innovation and Learning
                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Katy Pierce is the Executive Officer for the OHIL Chief Officer. In this role, Katy directly
                            supports the Chief Officer and OHIL leadership in overseeing operational requirements and
                            strategically aligning the office and sub-programs to meet key objectives and serve our
                            Veterans through innovation. Katy began her federal career in 2014 as an Administrative
                            Resident at the Central Virginia VA Health Care System in Richmond, Virginia. After
                            completing her internship year, she transitioned to the Surgical Service, where she served
                            as the Administrative Officer and later the Outpatient Practice Manager. In these roles, she
                            created innovative solutions to improve new patient access and streamline care processes. In
                            2018, she transitioned to the role of Executive Officer to the Director and Strategic
                            Planner, where she was a key consultant to the Senior Leadership team and was responsible
                            for developing and operationalizing the strategic vision for the organization. Katy received
                            her Bachelor of Arts degree from the University of Virginia and her Master of Health
                            Administration degree from Virginia Commonwealth University.
                        </p>
                    </div>
                </div>
                <!-- Brynn Cole Director of Programming, VHA Innovators Network  -->
                <div id="bryn" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100"
                            src="/assets/images/team-headshots/Circle-Cropped---Crista-Hummel.svg"
                            alt="Christa Hummel">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3"
                            style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
                            Christa Hummel<br>
                            Budget Analyst, Office of Healthcare Innovation and Learning

                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Christa Hummel is the Budget Analyst for the OHIL Chief Officer where she supports the OHIL
                            front office (OHIL), SimLEARN (HIL2), Innovation Ecosystems (HIL1), and Center for Care and
                            Payment Innovation (HIL3). She provides budgetary guidance, support and oversight, develops
                            operational spend plans, monitors the execution of the budget and responds to financial
                            reporting requirements. Christa joined the OHIL team in February 2021. She previously worked
                            at the VHA Employee Education System as a Budget Analyst for 12 years where she supported
                            various divisions including SimLEARN, with 2 prior years as a Program Support Assistant in
                            support of training events for other VHA service lines, such as the Office of Mental Health
                            and Office of Nursing Service. Before joining VHA, Christa worked in the private sector in
                            Administrative Assistant and other support roles for over 10 years.
                        </p>
                    </div>
                </div>
                <!-- Blake Henderson Director, Diffusion of Excellence   -->
                <div id="blake" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100"
                            src="/assets/images/team-headshots/Circle-Cropped---Ebony-Fitzgerald.svg" alt="Ebony Fitzgerald">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3"
                            style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
                            Ebony Fitzgerald <br>
                            Executive Secretary, Office of Healthcare Innovation and Learning


                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Ebony Fitzgerald is the Executive Secretary for the OHIL Chief Officer. Ebony joined the
                            OHIL team in 2020 and works closely with OHIL leadership and staff to support administrative
                            functions, facilitate communications, and problem-solve. Ebony ensures smooth and organized
                            administrative operations to support all of OHIL in meeting the core mission to serve our
                            Veterans. Before serving in her current role, Ebony worked in a variety of administrative
                            positions at the Washington DC VA Medical Center since 2010. Prior to her federal
                            experience, Ebony had almost 20 years of administrative experience working at Georgetown
                            University Hospital and George Washington University Hospital. She enjoys spending time with
                            her teenage daughter Taniyah.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div  id="footer"></div>
</body>

</html>