<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - Home Page</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- title section -->
        <section id="" class="grid-container usa-section padding-left-0 padding-bottom-0" style=" padding-top: .5rem;">
            <div class="grid-container" style="text-align: left;">
                <div class="grid-row grid-gap-1">
                    <div class="tablet:grid-col">
                        <h1 class="font-heading-3xl">
                            VHA Innovation Ecosystem Team
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Presenter Spotlight -->
        <section class="usa-graphic-list usa-section padding-top-0  " style="background-color: #f0f0f047;">
            <div class="grid-container  padding-3 ">
                <!-- Ryan Vega  -->
                <!-- Ryan Vega, MD  -->
                <div id="ryan" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/VEGA_CIRCLE.png"
                            alt=" Ryan Vega, MD">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;"> Dr. Ryan Vega <br>
                            Chief Officer, Office of Healthcare Innovation and Learning

                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">Ryan Vega, MD, MSHA, currently serves as the Chief Officer of
                            the Office of Healthcare Innovation and Learning in the VHA Office of Discovery, Education
                            and Affiliate Networks where he oversees the management of both grassroot and strategic
                            innovation initiatives across VHA. Dr. Vega is a graduate of the Louisiana State University
                            School of Medicine and completed his Internal Medicine residency at the Virginia
                            Commonwealth University Health System where served as Chief Medicine Resident in the
                            Department of Internal Medicine as well as the VA Chief Resident for Quality and Safety. He
                            also gained additional training in clinical quality through the Advanced Training Program at
                            Intermountain Health Care under the tutelage of Dr. Brett James and received his Master of
                            Science in Healthcare Administration from Virginia Commonwealth University where he was an
                            A.D. Williams Scholar.

                            <br>
                            <strong> Innovation Superpower: Leadership</strong>
                        </p>
                    </div>
                </div>
                <!-- Kristopher "Kit" Teague Deputy Director, VHA Innovation Ecosystem  -->
                <div id="kris" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/TEAGUE_CIRCLE.png"
                            alt=" Kristopher " Kit" Teague">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;"> Kristopher "Kit" Teague <br>
                            Executive Director, VHA Innovation Ecosystem
                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">As Executive Director for VHA Innovation Ecosystem (IE) in the
                            Office of Healthcare Innovation and Learning, Mr. Teague is responsible for both strategy
                            and operations for VHA IE in order to advance care delivery and service through
                            mission-driven innovation that changes and saves Veteran lives. VHA IE’s four portfolios—VHA
                            Innovators Network, Diffusion of Excellence, Care & Transformational Initiatives, and
                            National Centers for Innovation to Impact—are tasked with identifying and scaling
                            innovations and best practices by empowering frontline employees and leveraging external
                            partners as force multipliers to build VA's culture and capacity for transformational health
                            care innovation. Prior to this role, he served as the Deputy Director for VHA IE. Mr. Teague
                            has over 20 years of experience in health care between his time in the private sector and
                            VA. 17 years of this experience has been with VA, with nine of those years incubating,
                            evaluating, and scaling clinical and administrative innovation across VHA. He started his VA
                            career in 2003 as an Auditor for the VA Office of Inspector General in Washington, DC. Since
                            then, he has sought to diversify his experience by holding positions at both the regional
                            and local levels of VHA. He served as a Contracting Officer for the VISN 21 Network
                            Contracting Office and Chief of Personnel Security for the VA Palo Alto Health Care System
                            prior to rejoining the VA Central Office with VHA IE. With VHA IE, he has served in a
                            leadership capacity for the past four years and personally managed over 21 different
                            innovation projects, including software prototypes for various clinical specialties,
                            production pilots of emerging technologies, regional rollouts of innovative clinical
                            treatments, multi-site equipment activations, and complex clinical data mapping and
                            informatics. Mr. Teague earned a bachelor’s degree in History/Political Science at Arkansas
                            Tech University and Federal Acquisition Certification for Program and Project Managers
                            through VA Acquisition Academy. He was nominated for the VHA Robert L. Jesse Award for
                            Excellence in Innovation in 2020.


                            <br>
                            <strong> Innovation Superpower: Persistence
                            </strong>
                        </p>
                    </div>
                </div>
                <!-- Allison Amrhein, MPH Director of Operations, VHA Innovators Network  -->
                <div id="alli" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/AMRHEIN_CIRCLE.png"
                            alt=" Allison Amrhein,">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;"> Allison Amrhein, MPH <br>
                            Director of Operations, VHA Innovators Network




                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">As Director of Operations for the VHA Innovators Network,
                            Allison Amrhein guides a team of incredible Innovation Specialists from VA Medical Centers
                            across the country through operational day-to-day functions and leads operational strategic
                            planning for the VHA Innovators Network. Particular areas of leadership responsibility
                            include financial maintenance and planning, internal VA communications and relationship
                            building, development of value metrics and oversight of data collection, and management of
                            the annual Spark-Seed-Spread Innovation Investment Program application and review process.
                            Prior to her role as Director of Operations, Allison served as an Innovation Coordinator,
                            managing high-value innovation projects and contracts, as well as the Director of Executive
                            Correspondence for the Office of the Under Secretary for Health for Operations and
                            Maintenance during her tenure at VA. Prior to joining VA, she was a health systems
                            researcher and technical writer for a number of non-profit organizations. Allison received
                            her Master of Public Health from the University of Kentucky and Health Administration degree
                            from Indiana University. She is also a certified yoga instructor, dog mom, and has a
                            four-year-old son named Charlie.




                            <br>
                            <strong> Innovation Superpower: Perseverance
                            </strong>
                        </p>
                    </div>
                </div>
                <!-- Brynn Cole Director of Programming, VHA Innovators Network  -->
                <div id="bryn" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/COLE_CIRCLE.png"
                            alt=" Brynn Cole Director of Programming, VHA Innovators Network">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Brynn Cole <br>
                            Director of Programming, VHA Innovators Network

                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">A VHA employee of over 10 years, Brynn Cole is thrilled to be
                            currently serving as Director of Programming for the VHA Innovators Network. In this role,
                            Brynn’s primary focus is coordinating training and events, managing alumni relationships,
                            facilitating the annual Spark-Seed-Spread Innovation Accelerator, identifying and fulfilling
                            training needs for both Innovation Specialists and Investees, and establishing external
                            industry and academic partnerships. Previously the Innovation Specialist at the White River
                            Junction VA Medical Center, Brynn brings unique perspective to her current role and is
                            energized to bring together people and ideas to act as a catalyst of positive change and as
                            an antidote to the "can’t do" attitude that some believe inherent to the federal government.
                            Brynn earned her Bachelor of Arts from Johnson State College in Johnson, VT, with a focus on
                            Gender Studies and Sociology and has recently returned to her native Vermont after years in
                            the San Francisco Bay Area. She is obsessed with her snug cabin on 11 acres of Vermont
                            mountainside, enjoys rambling around in the woods with her nieces and nephews, 12-year-old
                            Golden Retriever (Angus), and two bobtailed cats, which makes for quite a scene! This
                            winter, Brynn discovered a love affair with cross-stitch and fermenting vegetables, but she
                            promises that she is still a lot more fun than that makes her sound.
                            <br>
                            <strong> Innovation Superpower: Foresight
                            </strong>
                        </p>
                    </div>
                </div>
                <!-- Blake Henderson Director, Diffusion of Excellence   -->
                <div id="blake" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/HENDERSON_CIRCLE.png" alt=" Blake Henderson
                            Director, Diffusion of Excellence
                            ">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Blake Henderson <br>
                            Director, Diffusion of Excellence


                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">Blake Henderson is an experienced product developer and
                            teambuilder working as an advocate for frontline employee innovators at VHA. He has been
                            integral in the development of VA business systems, such as VA’s Light Electronic Action
                            Framework (LEAF), and clinical platforms like the Remote Veteran Sleep Apnea Management
                            Platform (REVAMP). He currently serves as the Director for Diffusion of Excellence, which
                            identifies, replicates, and scales promising practices throughout the largest integrated
                            health care system in the United States.

                            <br>
                            <strong> Innovation Superpower: Imagination

                            </strong>
                        </p>
                    </div>
                </div>
                <!-- Joshua Patterson Director, Care & Transformational Initiatives   -->
                <div id="joshua" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/JOSHUA_CIRCLE.png" alt=" Joshua Patterson
                        Director, Care & Transformational Initiatives    ">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Joshua Patterson <br>
                            Director, Care & Transformational Initiatives

                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">Joshua Patterson is the Director for Care & Transformational
                            Initiatives in the VHA Innovation Ecosystem. Leading Care & Transformational Initiatives, he
                            focuses on driving five strategic priorities in the VHA Innovation Ecosystem to include:
                            Augmented/Virtual Reality, Precision/Personalized Medicine, 3D Printing (national scaling),
                            Artificial/Machine Intelligence, and Veteran-facing Solutions. He aims to provide an avenue
                            to source innovation through internal and external partners (i.e., industry, academia, and
                            other government agencies) to accelerate innovation in VHA. Joshua has over 19 years of
                            experience in the government with 14 years within VA. He started with VA at the former
                            Health Administration Center (now within the Office of Community Care) where he worked on
                            providing data/business analytics and strategic planning within the Office of the Director.
                            He has been supporting innovation at VHA Innovations for eight years, serving as a project
                            manager for projects from development through national deployment.
                            <br>
                            <strong> Innovation Superpower: Tenacity </strong>
                        </p>
                    </div>
                </div>
                <!-- Thomas Osborne, MD Director, National Center for Collaborative Healthcare Innovation  -->
                <div id="tom" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/NCCHI/OSBOURNE_CIRCLE.png"
                            alt=" JThomas Osborne, MD Director, National Center for Collaborative Healthcare Innovation ">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Dr. Thomas Osborne <br> Director
                            for NCCHI

                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">Thomas Osborne, MD, is the Director of the National Center for
                            Collaborative Healthcare Innovation (NCCHI) and Chief Medical Informatics Officer (CMIO) at
                            VA Palo Alto Health Care System. As Director of NCCHI, he is leading multidisciplinary teams
                            in the co-development and implementation of pioneering healthcare solutions throughout VA,
                            with other government agencies, and with leading technology companies. His teams overarching
                            goal is to deliver the best and most advanced healthcare solutions to our Veterans. He is
                            the inaugural recipient of the VA Under Secretary for Health Robert L. Jesse Award for
                            Excellence in Innovation. His work has been published in numerous medical journals and
                            textbooks on topics such as predictive analytics, artificial intelligence, sensor
                            technology, augmented reality, virtual reality, and the future of health care. Dr. Osborne
                            received his medical degree from Dartmouth Medical School, completed his residency at
                            Harvard Mount Auburn Hospital, and fellowship at Harvard Massachusetts General Hospital. He
                            is board certified in both Diagnostic Radiology and Neuroradiology. Dr. Osborne is also a
                            staff neuroradiologist at VA Palo Alto Healthcare System and Clinical Associate Professor
                            (affiliated) at Stanford University School of Medicine.

                            <br>
                            <strong> Innovation Superpower: Grit


                            </strong>
                        </p>
                    </div>
                </div>
                <!-- Beth Ripley, MD, Ph Enterprise Lead, VHA 3D Printing Network Initiative Director, VA Ventures  -->
                <div id="Beth" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/RIPLEY_CIRCLE.png"
                            alt=" Beth Ripley, MD, PhD Enterprise Lead,  ">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Dr. Beth Ripley <br>
                            Enterprise Lead, VHA 3D Printing Network Initiative <br>
                            Director, VA Ventures


                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">Beth Ripley, MD, PhD is the Enterprise Lead for the VHA 3D
                            Printing
                            Network Initiative, Director for VA Ventures, and Chair for the VHA 3D Printing Advisory
                            Committee. Dr. Ripley collaborates with a talented and diverse group of physicians,
                            orthotists, prosthetists, engineers, administrators, and information technologists across
                            the VA system who—together—are reimagining the meaning of individualized patient care
                            through 3D printing. Dr. Ripley’s work with the VHA 3D Printing Advisory Committee aims to
                            understand how patient-specific 3D printing can improve the safety and quality of diagnoses
                            and interventions, such as surgery and minimally invasive procedures; improve patient
                            education, shared decision-making, and informed consent; and improve how patients engage
                            with their surroundings. Dr. Ripley is a staff radiologist at the Seattle Division of the VA
                            Puget Sound Health Care System and an Assistant Professor of Radiology at the University of
                            Washington School of Medicine. She received her bachelor’s degree in Art History from
                            Stanford University and her MD and PhD in Neurosciences from University of California, San
                            Diego School of Medicine. She completed radiology residency training and a cardiovascular
                            imaging fellowship at Brigham and Women’s Hospital, Harvard Medical School, and a body
                            imaging fellowship at the University of Washington.

                            <br>

                        </p>
                    </div>
                </div>
                <!-- Suzanne Shirley, LCSW Director of Partnerships & Community Engagement  -->
                <div id="suzy" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/team-headshots/SHIRLEY_CIRCLE.png"
                            alt=" Suzanne Shirley, LCSW Director of Partnerships & Community Engagement  ">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Suzanne Shirley, LCSW <br>
                            Director of Fellowships & Community Engagement



                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">Suzanne Shirley serves as the Director of Fellowships &
                            Community Engagement with the Veterans Health Administration Innovation Ecosystem (VHA IE).
                            In this role, she oversees the Fellowship tracks, the MIT Catalyst Fellowship Program in
                            VHA, and leads community engagement efforts across VHA IE. Through the strategic
                            implementation of experiential learning opportunities that aim to shape future thought
                            leaders in health care and deliver enterprise-wide solutions, Suzanne engages the skills and
                            talents of a strong community of innovators spanning across government, academia, non-profit
                            organizations, and industry.

                            <br>
                            <strong>Innovation Superpower: Vision</strong>

                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div id="footer"></div>
</body>

</html>