<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - Home Page</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12  ">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white text-center"
                            style="text-align: left;">
                            Care & Transformational Initiatives <br>
                        </h1>
                    </div>
                    <div class="tablet:grid-col-7 padding-top-3">
                        <!-- <img src="/assets/images/placeholder/img-blue-placeholder.png"
                                    alt="A Veteran in the STRIDE program at Durham VAHCS." height="200px"> -->
                        <iframe class="oneshadow image-thumbnail" width="100%" height="315"
                            src="https://www.youtube.com/embed/t-1QVHftrCM" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>


                    <div class="tablet:grid-col-5 text-left  ">
                        <h3 class="font-heading-l padding-top-0 padding-bottom-0 text-white">Testing New Models of Care
                            for Transformational Impact
                            <br> </h3>

                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            Care & Transformational Initiatives (CTI) is focused on testing and refining innovative care
                            models and transformational initiatives that can be meaningfully scaled to impact Veteran
                            care. CTI works closely with a variety of partners from academia, industry, non-profits, and
                            other government agencies.
                        </p>
                    </div>

                </div>
                <!-- <div class="grid-row grid-gap-1 margin-top-3" >
                    <div class="tablet:grid-col-2 text-right padding-top-2">
                        <img class="usa-media-block__img   image-thumbnail padding-top-3 " style="border-radius: 50%; height: 30%;"
                            src="/assets/images/NCCHI/dr-thom.jpg" alt="Dr asborve image">
                    </div>
                    <div class="tablet:grid-col-10 ">
                        <p class="font-mono-xs margin-0 text-white" style="padding-top: 15px;">

                        <blockquote class="text-white">
                            “We have both an opportunity and responsibility
                            to lead the discovery of solutions that improve the
                            health and wellness of our Veterans,” said Dr. Osborne.
                            “Groundbreaking collaborative partnerships like this
                            are an important part of our future success. As the
                            largest integrated health care system in the United
                            States, these advances have the potential to have
                            far-reaching positive impact.” Although our work is
                            focused on Veterans, it is also expected to benefit other
                            individuals and organizations, thanks to VA’s authority
                            to partner with others.
                        </blockquote>

                    </div>
                </div> -->
            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>

        <!-- svg image bottom  -->
        <!-- <svg class="fl-builder-layer-align-top-center" viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background:#e0f1f1;">

            <defs>
                    </defs>
    
            <g class="fl-shape-content">
                <polygon class="fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20"></polygon>
            </g>
        </svg> -->
        <!-- main boxes project  -->
        <section
            class=" usa-section--dark small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important; margin-bottom: 0 !important;">

            <div class="grid-container ">
                <div class="grid-row grid-gap-2">
                    <div class="tablet:grid-col">
                        <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                            Our Focus Areas
                        </h2>
                    </div>
                </div>

            </div>
            </div>

            <div class="grid-container">
                <!-- 11111 -->

                <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                    <!-- 1 Care Models -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img text-center">
                                    <img class="image-thumbnail wrapper img-me"
                                        src="/assets/images/CTI/medical-kit-svgrepo-com.svg"
                                        style="height:200px; background: #f0f0f0;" alt="VHA Shark Tank
                                        Competition">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Care Models
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15 ">
                                <p style="color:#1b1b1b; ">Changing the way VHA thinks about and
                                    delivers care, understanding that traditional care models are not one-size-fits-all
                                    <br> <br>
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work"
                                    href="/views/solutions/care-models.html" target="_blank"
                                    style="color: #0050d8 ; "><small>Read
                                        More
                                        »</small>
                                </a>

                            </div>

                        </div>

                    </div>
                    <!-- 2   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img text-center">
                                    <img class="image-thumbnail wrapper" src="/assets/images/CTI/man-svgrepo-com.svg "
                                        style="height:200px;background: #f0f0f0;" alt="Project Convergence">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Veteran-Facing
                                        Solutions
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;;">Developing solutions that are informed by
                                    direct Veteran feedback and address the most pressing and impactful challenges
                                    throughout the Veteran community


                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work"
                                    href="/views/solutions/veteran-facing.html" target="_blank"
                                    style="color: #0050d8 ; "><small>Read
                                        More
                                        »</small>
                                </a>


                            </div>

                        </div>

                    </div>


                    <!-- 3  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img text-center">
                                    <img src="/assets/images/CTI/dna-svgrepo-com.svg "
                                        style="height:200px;background: #f0f0f0;" class="image-thumbnail wrapper" alt="Precision
                                        Medicine">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Precision
                                        Medicine
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;">Delivering a strategy that will drive clinical decision
                                    support to the point of care, enabling providers to create individualized treatments
                                    that work for Veterans
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work"
                                    href="/views/solutions/precision-medicine.html" target="_blank"
                                    style="color: #0050d8 ; "><small>Read
                                        More
                                        »</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 222222 row / -->
                <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                    <!-- 44 -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img text-center">
                                    <img class="image-thumbnail wrapper img-me"
                                        src="/assets/images/CTI/3d-printer-svgrepo-com.svg "
                                        style="height:200px;background: #f0f0f0;" alt="VHA Shark Tank
                                        Competition">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">3D Printing
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15 ">
                                <p style="color:#1b1b1b; ">Leading the way in developing and
                                    scaling hospital-based 3D printing, providing a pathway for innovations that
                                    directly impact patient health including presurgical planning models, orthotics,
                                    prosthetics, and beyond
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work"
                                    href="/views/solutions/3d-printing-network.html" target="_blank"
                                    style="color: #0050d8 ; "><small>Read
                                        More
                                        »</small>
                                </a>

                            </div>

                        </div>

                    </div>
                    <!-- 55   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset text-center">
                                <img class="image-thumbnail wrapper img-me"
                                    src="/assets/images/CTI/server-data-svgrepo-com.svg "
                                    style="height:200px; background: #f0f0f0;" alt="Artificial
                                Intelligence">
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Artificial
                                        Intelligence
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;">Exploring how to apply complex algorithms
                                    and machine learning tools to improve Veteran care throughout the largest integrated
                                    health care system in the United States <br> <br>
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work"
                                    href="/views/solutions/artificial-intelligence.html" target="_blank"
                                    style="color: #0050d8 ; "><small>Read
                                        More
                                        »</small>
                                </a>

                            </div>

                        </div>

                    </div>


                    <!-- 66 -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img text-center">
                                    <img src="/assets/images/CTI/virtual-reality-svgrepo-com.svg"
                                        style="height:200px;background: #f0f0f0;" class="image-thumbnail wrapper"
                                        alt="A placeholder image">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Immersive
                                        Technology
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;">Using augmented and virtual reality to help Veterans and
                                    providers apply new frontiers for interactive imaging and immersive therapies for a
                                    variety of health applications <br> <br>


                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work" href="/views/solutions/VR-AI.html"
                                    target="_blank" style="color: #0050d8 ; "><small>Read
                                        More
                                        »</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>




        <!-- image gray top SVG  -->
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: #e0f1f1;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>
        <!-- <section>
            <div class="grid-row">
                <svg width="1694" height="113" xmlns="http://www.w3.org/2000/svg">
          
                    <g>
                        <title>background</title>
                        <rect fill="none" id="canvas_background" height="115" width="1696" y="-1" x="-1" />
                        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                        </g>
                    </g>
                    <g>
                        <title>Layer 1</title>
                        <rect stroke="null" transform="rotate(2.1024317741394043 822.357055664063,111.05017852783094) "
                            id="svg_1" height="161" width="1755.3888" y="30.55018" x="-55.3374" stroke-width="1.5"
                            fill="#f0f0f0" />
                        <rect id="svg_3" height="2" width="2" y="393.45313" x="929.5" stroke-opacity="null"
                            stroke-width="1.5" stroke="#000" fill="#f0f0f0" />
                    </g>
                </svg>
            </div>
        </section> -->

        <!-- 2nd quoat of thom -->
        <section class="usa-section small-padding usa-section  "
            style="background: #f0f0f0;margin-top: -10px;">
            <div class="grid-container">
                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">
                    <div class="tablet:grid-col-3">
                        <img class="usa-media-block__img  padding-top-5  " style="border-radius: 5%;padding: 30px;"
                            src="/assets/images/team-headshots/JOSHUA_CIRCLE.png" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <a href="/views/who-we-are/biograph.html#joshua">
                            <p class="font-body-sm margin-0 padding-left-3" style="padding-top: 15px;">
                                <strong> Joshua Patterson <br>
                                    Director, Care & Transformational Initiatives</strong></p>
                        </a>
                        <blockquote>
                            “The work of CTI is to define what’s possible and disrupt what’s normal. We have no ambition
                            to make great names for ourselves, but we do aim to set the pace for transforming
                            healthcare, while keeping in mind that everything we do, we do for our Veterans, for VA, and
                            for health care worldwide.”

                        </blockquote>
                    </div>

                </div>
            </div>
            

        </section>


        <!-- quoat of thom -->
       



    </main>
    <div id="footer"></div>
</body>

</html>