<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12  ">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white text-center"
                            style="text-align: left;">
                            Diffusion of Excellence <br>
                        </h1>
                    </div>
                    <div class="tablet:grid-col-7 padding-top-0 "style="padding-left: 0px !important;">
                        <!-- <img src="/assets/images/placeholder/img-blue-placeholder.png"
                                    alt="A Veteran in the STRIDE program at Durham VAHCS." height="200px"> -->
                        <iframe class="oneshadow image-thumbnail" width="100%" height="315"
                            src="https://www.youtube.com/embed/ilQOm7Ao3oI" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>


                    <div class="tablet:grid-col-5 text-left  ">
                        <h3 class="font-heading-l padding-top-0 padding-bottom-0 text-white">Scaling Promising Practices
                            <br> </h3>

                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            Diffusion of Excellence specializes in scaling emergent, high-impact health care practices
                            across the nation’s largest integrated health care system.
                        </p>
                    </div>
                </div>
                   
                        


                       
                            <!-- 11111 -->

                            <div class="grid-row grid-gap padding-top-1 padding-bottom-2 margin-top-2 usa-card-group">
                                <div class="tablet:grid-col-12"style="padding-left: 0px !important;">
                                    <h3 class="font-heading-l padding-top-0 padding-bottom-0 text-white">Our Model
                                        <br> </h3>
                                    <p class="font-body-md  text-white text-left" style="font-size: 18px;
                                    line-height: 1.7;
                                    letter-spacing: .6px;">
                                        Diffusion of Excellence meets its goal through deploying a model to discover,
                                        test, replicate, and scale. </p>
                                </div>
                                <!-- 1 VHA Shark Tank
                                                    Competition -->
                                <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                                    style="box-shadow: 0px 5px 6px -6px black;">
                                    <div class="usa-card__container">


                                        <div class="usa-card__media usa-card__media--inset text-center">
                                            <div class="usa-card__img">
                                                <img class="image-thumbnail wrapper img-me"
                                                    src="/assets/images/DOE/DoE_Shark_Light.png "
                                                    style="width:60%;background: #f0f0f0;" alt="VHA Shark Tank
                                                    Competition">
                                            </div>
                                            <header class="usa-card__header">
                                                <h4 class="usa-card__heading text-center f17" style="color: #004b87;">
                                                    VHA Shark Tank
                                                    Competition
                                                </h4>
                                            </header>
                                        </div>

                                        <div class="usa-card__body padding-1 f15 ">
                                            <p style="color:#1b1b1b; padding-bottom: 15px;">VHA IE identifies
                                                employee-developed
                                                Promising Practices and matches them with interested facilities.
                                                <br> </p>

                                        </div>

                                    </div>

                                </div>
                                <!-- 2   -->
                                <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                                    style="box-shadow: 0px 5px 6px -6px black;">
                                    <div class="usa-card__container">


                                        <div class="usa-card__media usa-card__media--inset text-center">
                                            <div class="usa-card__img">
                                                <img class="image-thumbnail wrapper"
                                                    src="/assets/images/DOE/DoE_Building_Light.png "
                                                    style="width:70%;background: #f0f0f0;" alt="Project Convergence">
                                            </div>
                                            <header class="usa-card__header">
                                                <h4 class="usa-card__heading text-center f17" style="color: #004b87;">
                                                    Facilitated
                                                    Replication
                                                </h4>
                                            </header>
                                        </div>

                                        <div class="usa-card__body padding-1 f15">
                                            <p style="color:#1b1b1b;padding-bottom: 17px;">Promising Practices are
                                                implemented in
                                                one or two additional facilities with training and project management
                                                support
                                                through a six to nine-month process.
                                            </p>

                                        </div>

                                    </div>

                                </div>


                                <!-- 3 Smart Cane for the Blind -->
                                <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                                    style="box-shadow: 0px 5px 6px -6px black;">
                                    <div class="usa-card__container">


                                        <div class="usa-card__media usa-card__media--inset text-center">
                                            <div class="usa-card__img">
                                                <img src="/assets/images/DOE/DoE_Gears_Light.png"
                                                    style="width:60%;background: #f0f0f0;"
                                                    class="image-thumbnail wrapper" alt="A placeholder image">
                                            </div>
                                            <header class="usa-card__header">
                                                <h4 class="usa-card__heading text-center f17" style="color: #004b87;">
                                                    Diffusion
                                                    Pathway
                                                </h4>
                                            </header>
                                        </div>

                                        <div class="usa-card__body padding-1 f15">
                                            <p style="color:#1b1b1b;">Promising Practices continue through organic
                                                diffusion,
                                                initial diffusion, or national diffusion.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       


                


                </div>
                
            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>

        <!-- svg image bottom  -->
        <!-- <svg class="fl-builder-layer-align-top-center" viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background:#e0f1f1;">

            <defs>
                    </defs>
    
            <g class="fl-shape-content">
                <polygon class="fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20"></polygon>
            </g>
        </svg> -->
        <!-- main boxes project  -->
        <section
            class=" usa-section--dark small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">

            <div class="grid-container ">
                <div class="grid-row grid-gap-2">
                    <div class="tablet:grid-col">
                        <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                            Our Work
                        </h2>
                    </div>
                </div>

            </div>


            <div class="grid-container">
                <!-- 11111 -->

                <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                    <!-- 1  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="image-thumbnail wrapper img-me" src="/assets/images/DOE/1d.png "
                                        alt="Promising Practices">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Promising
                                        Practices
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15 ">
                                <p style="color:#1b1b1b;padding-bottom: 21px; ">The Diffusion of Excellence Program
                                    specializes in scaling emerging, high-impact health care Promising Practices across
                                    the nation’s largest integrated health care system. <br><br><br>
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work"
                                    href="/views/solutions/DOE-PP.html" target="_blank"
                                    class="text-primary-vivid"><small>Read
                                        More
                                        »</small></a>
                            </div>

                        </div>

                    </div>
                    <!-- 2   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="image-thumbnail wrapper" src="/assets/images/DOE/22d.png "
                                        alt="HAPPEN">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">HAPPEN
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;">The Diffusion of Excellence Program
                                    advances Promising Practices that improve Veteran care such as Hospital-Acquired Pneumonia Prevention by Engaging Nurses (HAPPEN), an initiative
                                    that is leveraging a simple, low-cost, low-risk intervention to reduce the risk of
                                    hospital-acquired pneumonia. <br>
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work"
                                    href="/views/solutions/happen.html" target="_blank"><small>Read
                                        More
                                        »</small>
                                </a>
                            </div>

                        </div>

                    </div>


                    <!-- 3  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img src="/assets/images/DOE/33d.png" class="image-thumbnail wrapper"
                                        alt="National Organization for NV-HAP Prevention ">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">National
                                        Organization for NV-HAP Prevention
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;padding-bottom: 2px;">VHA is collaborating with a network of health care leaders to
                                    advance a national research agenda and develop policies to combat non-ventilator
                                    associated pneumonia through the National Organization for NV-HAP Prevention
                                    (NOHAP).
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work"
                                    href="/views/solutions/national-organization.html" target="_blank"><small>Read
                                        More
                                        »</small>
                                </a>
                            </div>

                        </div>


                    </div>


                </div>








        </section>



       
        <!-- image gray top SVG  -->
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: #e0f1f1;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>
     
        <section class="usa-section small-padding usa-section  "
        style="background: #f0f0f0;box-shadow: 0px 5px 6px -6px black;margin-top: -10px;">
            <div class="grid-container bg-white padding-3" style="box-shadow: 0px 5px 6px -6px black;">
                <div class="grid-row grid-gap-2" style="text-align: center;">
                    <div class="tablet:grid-col-12 text-left">
                        <h1 class="font-heading-xl text-dark margin-bottom-2 padding-bottom-3" style="color: #004b87;
                        border-bottom: .125rem dotted #7fcfcf;">
                            The Diffusion Marketplace
                        </h1>
                    </div>
               
            
                <div class="tablet:grid-col">
                    <p class="font-body-md text-dark padding-top-2" style="text-align: left;">
                        Diffusion Marketplace supports VA in becoming a high-reliability and learning organization by
                        diffusing promising practices. The site is designed to help organically spread important and
                        life-saving practices throughout the VA health care system.
                        <br><br>
                    </p>
                   
                </div>
                <div class="tablet:grid-col-12" style="text-align: center;">
                    <!-- <iframe src="/assets/images/DOE/doe.jpg" width="100%" height="500px">

                    </iframe> -->
                    <img src="/assets/images/DOE/STRIDE_Marketplace_Web_Page.png" 
                    class="border oneshadow image-thumbnail" alt="stride webpage screenshot" style="  margin-bottom: 10px;">
                    <div class="tablet:grid-col-12" style="text-align: center;">
                        <a href="https://marketplace.va.gov/"  target="_blank" class="usa-button   padding-1usa-button btn-me  shadowme a-work margin-top-2 margin-bottom-2">
                            Shop The Marketplace
                        </a>
                        <p>
                            <strong>
                                Please note, at this time, the site is only accessible to VHA staff.
                            </strong>
                        </p>
    

                    </div>
                   
                  
                    
                  
                </div>
            </div>
            </div>
        </section>
        <!-- 2nd quoat of thom -->
        <section class="usa-section small-padding usa-section  "
            style="background: #f0f0f0;box-shadow: 0px 5px 6px -6px black;margin-top: -10px;">
            <div class="grid-container">
                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">
                    <div class="tablet:grid-col-3 padding-top-1">
                        <img class="usa-media-block__img   " style="border-radius: 5%;width: 80%;"
                            src="/assets/images/team-headshots/HENDERSON_CIRCLE.png" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 "> <a href="/views/who-we-are/biograph.html#blake">
                            <p class="font-body-sm margin-0 padding-left-3" style="padding-top: 15px;">
                                <strong> Blake Henderson <br>
                                    Director, Diffusion of Excellence</strong></p>
                        </a>

                        <blockquote>
                            “Diffusion of Excellence enables our partnered practices and innovations to sustainably
                            scale across our nationwide health care system to maximize their impact.”

                        </blockquote>
                    </div>

                </div>
            </div>

        </section>


       




    </main>
    <div id="footer"></div>
</body>

</html>