<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>
    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                            Fellowships
                        </h1>
                    </div>
                    <div class="tablet:grid-col-6 text-left padding-top-1 ">
                        <p class="font-body-md  text-white padding-top-3" style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            The VHA Innovation Ecosystem (VHA IE) Innovation Fellowship Program is a unique learning
                            opportunity for emerging leaders with a dynamic presence, passion for innovation, and vision
                            for the future.
                        </p>
                    </div>
                    <div class="tablet:grid-col-5 padding-top-1">
                        <img class="image-thumbnail img-me padding-top-1" src="/assets/images/fellow/fellow1.PNG"
                            alt="place holdr image for fellows page">
                    </div>
                </div>
                <div class="grid-row grid-gap-2  margin-bottom-3 margin-top-2">
                    <div class="tablet:grid-col-12 ">
                        <img class="image-thumbnail img-me padding-top-1" src="/assets/images/fellow/Innovation_Fellowship_Infographic_r5.jpg"   alt="place holdr image for fellows page">

                    </div>


                   
                </div>
            </div>

        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g ">
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>


        <!-- main boxes project  -->
        <section
            class=" usa-section--dark small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">

            <div class="grid-container ">
                <div class="grid-row grid-gap-2">
                    <div class="tablet:grid-col">
                        <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                            Our Fellowship Opportunities
                        </h2>
                    </div>
                </div>

            </div>


            <div class="grid-container">
                <!-- 11111 -->

                <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                    <!-- 1 Augmented Reality and 5GE  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="image-thumbnail wrapper img-me" src="/assets/images/fellow/11.jpg "
                                        alt="Project Convergence">
                                </div>
                                <header class="usa-card__header">
                                    <!-- <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Augmented
                                        Reality
                                        and 5G
                                    </h4> -->
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15 ">
                                <p style="color:#1b1b1b; padding-bottom: 20px;">The Entrepreneur in Residence (EIR)
                                    fellowship provides an opportunity for emerging leaders who are prepared to
                                    implement innovation projects that leverage internal stakeholders and leaders at
                                    their local institutions and beyond. <br><br><br><br></p>
                                <a class="usa-button btn-me btn-lg shadowme a-work"
                                    href="/views/who-we-are/fellows-bio.html#EIR" target="_blank"
                                    class="text-primary-vivid"><small>Meet our Entrepreneurs in Residence
                                        »</small></a>
                            </div>

                        </div>

                    </div>
                    <!-- 2   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="image-thumbnail wrapper" src="/assets/images/fellow/22.jpg"
                                        alt="Project Convergence">
                                </div>
                                <header class="usa-card__header">

                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;padding-bottom: 20px;">The Senior Innovation Fellowship (SIF)
                                    provides an opportunity for accomplished leaders who are prepared to implement a
                                    national scale project that leverages internal and external stakeholders throughout
                                    the organization, government, academia, and industry with mature, large-scale
                                    innovation projects that are ready to further deploy. <br><br>
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work"
                                    href="/views/who-we-are/fellows-bio.html#SIF" target="_blank"><small>Meet
                                        our Senior Innovation Fellows
                                        »</small>
                                </a>
                            </div>

                        </div>

                    </div>


                    <!-- 3  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img src="/assets/images/fellow/catalyst.jpeg" class="image-thumbnail wrapper"
                                        alt="A placeholder image">
                                </div>
                                <header class="usa-card__header">

                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;">The MIT Catalyst Fellowship Program aims to spark innovative
                                    and impactful solutions to address unmet medical and health care needs in VA.
                                    Catalyst Fellows work to generate solutions using a needs-driven approach alongside
                                    a collaborative, multidisciplinary, nationally networked community. Projects with
                                    demonstrated potential for impact will establish longer-term efforts to realize
                                    impactful solutions.
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work"
                                    href="/views/who-we-are/fellows-bio.html#Cat" target="_blank"><small>Meet our
                                        Catalyst Fellows
                                        »</small>
                                </a>
                            </div>
                        </div>


                    </div>


                </div>


        </section>


        <!-- image gray top SVG  -->
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: #e0f1f1;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>


        <!-- 2nd quoat of thom -->
        <section class="usa-section small-padding usa-section  "
            style="background: #f0f0f0;box-shadow: black 0px 8px 6px -6px;margin-top: -10px;">
            <div class="grid-container">

              
                <!-- style="box-shadow: 0px 5px 6px -6px black;" -->
                <div class="grid-row grid-gap-2 border-gray bg-white oneshadow">


                    <div class="grid-row " id="fellow">

                        <div class="tablet:grid-col text-left"
                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                            <h3 class="text-left">
                                More about the Innovation Fellowship Program
                            </h3>
                        </div>
                    </div>

                    <p class="padding-top-2  font-body-md bg-white margin-1 ">
                        <i class="fas fa-paste project-icon"></i>
                        The VHA IE Fellowship program focuses on developing the thought leaders of tomorrow to enable
                        innovations that transform VA health care. During the year, Fellows are able to uncover
                        insights, collaborate to build networks, and foster change through idea sharing. By offering
                        emerging innovation leaders the opportunity to gain hands-on experience building solutions at
                        scale, this program is an incredible opportunity for VA innovators to develop professionally and
                        have a lasting impact on Veterans’ lives. <br> <br>
                        <strong>The 2022 VHA Innovation Fellowship Program application cycle is open for candidates! VHA employees, click below to apply for our Entrepreneur in Residence and Senior Innovation Fellowship roles by July 16, 2021. 

                        </strong>
                        <br><br>
                        <a class="usa-button btn-me text-center  oneshadow a-work" 
                        href="https://leaf.va.gov/NATIONAL/100/vha_innovation_fellowship/
                        " target="_blank"><small>Apply Here (VA Only) 

                            »</small></a>
                    </p>
                </div>
            </div>
        </section>
        <!-- quoat of thom -->
        <section class="usa-section small-padding usa-section padding-bottom-3 "
            style="background: #f0f0f0;box-shadow: 0px 5px 6px -6px black;">
            <div class="grid-container">
                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">
                    <div class="tablet:grid-col-3 padding-top-2">
                        <img class="usa-media-block__img  padding-top-2  " style="border-radius: 5%;padding: 30px;"
                            src="/assets/images/team-headshots/SHIRLEY_CIRCLE.png" alt="placeholder">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <a href="/views/who-we-are/biograph.html#suzy">
                            <p class="font-body-sm margin-0 padding-left-3" style="padding-top: 15px;">
                                <strong> Suzanne Shirley, LCSW <br>
                                    Director of Fellowships & Community Engagement</strong>
                            </p>

                        </a>

                        <blockquote>
                            "The Fellowship Program has given VHA employees opportunities to implement wide-spread change
                            across VHA by developing a thriving community of cross-sector leaders and fostering growth.
                            Their actions inspire others to strive to innovate, collaborate, and accomplish more
                            together for our Veterans."
                        </blockquote>
                    </div>

                </div>
            </div>
        </section>

    </main>
    <div id="footer"></div>
</body>

</html>