<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- title section -->
        <section id="" class="grid-container usa-section padding-left-0 padding-bottom-0" style=" padding-top: .5rem;">
            <div class="grid-container" style="text-align: left;">
                <div class="grid-row grid-gap-1">
                    <div class="tablet:grid-col">
                        <h1 class="font-heading-lg">
                            The VHA Innovation Ecosystem (VHA IE) Innovation Fellowship Program Team
                        </h1>
                    </div>
                </div>
            </div>
        </section>



        <!-- Presenter Spotlight -->

        <section class="usa-graphic-list usa-section padding-top-0  " style="background-color: #f0f0f047;">
            <div class="grid-container  padding-3 ">
                
                <div id="EIR" class=" btn-me btn-lg shadowme a-work">
                    <i class="fas fa-hand-point-down padding-right-1 "></i> Entrepreneurs in Residence
                </div>
                <!--44 Dr. A. George Akingba, MD, Ph.D.​Veteran Health Administration (VHA) Entrepreneur in Residence, VHA Innovation Ecosystem​-->
                <div class="grid-row oneshadow border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Akingba.png"
                            alt="Dr. A. George Akingba, MD, Ph.D.​">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Dr. A. George Akingba
                            <br>

                            VHA Entrepreneur in Residence, VHA Innovation Ecosystem​
                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">A. George Akingba, MD, PhD is a vascular surgeon at the VA
                            Medical Center in Washington, D.C. Dr. Akingba has over 25 years of experience in the field
                            of medicine and biomedical engineering. He shares a passion for finding innovative
                            engineering solutions to solve clinical challenges. Dr. Akingba developed a Retraction
                            Housing Device (RHoD) that will further the development of a three-dimensional (3D) printed
                            Class II medical device fabricated for the purpose of efficient guide-wire management,
                            retraction, and housing in any area with space constraints. RHoD is an innovative hand-held
                            guide-wire capable of improving wire retraction times, wire-storage space requirements, and
                            wire-utilization efficiency. The use of RHoD technology effectively reduces procedural time,
                            indirectly reduces radiation exposure, sedation requirements, and overall costs associated
                            with performing complex interventional procedures. ​



                            <br> <strong> Innovation Superpower: Solutioning​</strong>


                        </p>
                    </div>
                </div>

                <!-- 55  -->
                <div class="grid-row oneshadow border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Ravi.png"
                            alt="Dr. Ravi Rasalingam, M.B., Ch.B.​">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Dr. Ravi Rasalingam
                            <br>

                            VHA Entrepreneur in Residence, VHA Innovation Ecosystem​
                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">Ravi Rasalingam, MBChB is a Cardiologist at VA Boston
                            Healthcare System. Dr. Rasalingam is a clinical educator and has been recognized for
                            excellence by physicians training in echocardiography. While on faculty at Washington
                            University in St. Louis, he was the inaugural editor of The Washington Manual of
                            Echocardiography. His clinical expertise is in echocardiography, advanced cardiac imaging,
                            and valvular heart disease. Dr. Rasalingam is currently working on a novel device for the
                            Treatment of Obstructive Sleep Apnea (OSA). He will continue the development and testing of
                            a 3D computer design and printing workflow that manufactures a custom-fit mouthguard. This
                            innovation aims to demonstrate efficacy in reducing OSA, improving sleep quality, and
                            improving comfort for Veterans.​


                            <br><strong> Innovation Superpower: Insight​</strong>

                        </p>
                    </div>
                </div>
                <!-- 66 G. Eli Kaufman, CPO​ -->
                <div class="grid-row oneshadow border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Kaufman.png" alt="G. Eli Kaufman, CPO">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">G. Eli Kaufman, CPO​
                            ​ <br>

                            VHA Entrepreneur in Residence, VHA Innovation Ecosystem​</h4>

                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            G. Eli Kaufman, CPO is a Research Prosthetist at the Center for Limb Loss & MoBility (CLiMB)
                            at VA Puget Sound Health Care System in Seattle, WA. Mr. Kaufman collaborates with several
                            teams on research and development of emerging technologies and clinical practices to enhance
                            mobility for individuals with limb differences and neuromusculoskeletal impairments. Since
                            2018, Mr. Kaufman has been working with a Seattle-based group on a program entitled Mobile
                            Orthotics & Prosthetic Services (Mobile OPS), which is designed to meet the clinical
                            prosthetic & orthotic needs of Veterans that face significant challenges in traveling to VA
                            Medical Centers to receive specialty care. Mobile OPS utilizes telehealth, as well as
                            portable digital technologies and a mobile laboratory based on a platform of low-cost,
                            lightweight, modular battery-powered tools to provide care at the location that feels safest
                            and most comfortable to the patient. Mr. Kaufman aims to develop a roadmap for the national
                            expansion of Mobile OPS, including the standardization of operational processes, development
                            of comprehensive business and evaluation plans, and promoting awareness of the program’s
                            benefits among key stakeholders within and outside the VA.​


                            <br><strong>Innovation Superpower: Resourcefulness​</strong>


                        </p>
                    </div>
                </div>
                <!-- 77 Indra Sandal, Ph.D., MBA​-->
                <div class="grid-row oneshadow border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Sandal.png"
                            alt="Indra Sandal, Ph.D., MBA">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Dr. Indra Sandal​ <br>

                            VHA Entrepreneur in Residence, VHA Innovation Ecosystem </h4>

                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Indra Sandal, PhD, MBA is an Innovation Specialist at the Memphis VA Medical Center. She
                            leads the hospital-wide innovation strategy through collaboration with teams across service
                            lines. Dr. Sandal builds relationships with local and national leaders and catalyzes change
                            through a human-centered design methodology with the goal to achieve the best possible
                            outcomes for nearly 200,000 Veterans. Prior to this position, Dr. Sandal led numerous
                            high-impact teams through 15 years of groundbreaking genetic and genomic research that
                            included 17 secured patents, 13 peer-reviewed journal publications as lead author, three
                            book chapters, and over 50 conference presentations worldwide. She earned her PhD degree in
                            biotechnology and an MBA from the Kellogg School of Management at Northwestern
                            University. Dr. Sandal was nominated for the 2019 Dr. Robert L. Jesse Award for excellence
                            in innovation. Dr. Sandal’s project, Veteran Rideshare Services (VRS), will address
                            transportation barriers through a new, public-private partnership between the VA and
                            Uber/Lyft rideshare services. The partnership will integrate and provide a ride-sourcing
                            platform to health care providers, allowing clinics and VA Medical Centers to book rides for
                            Veterans, track their trips, record billing and spending information, and send reminders to
                            their mobile phone or landline from a centralized dashboard.

                            <br><strong>Innovation Superpower: Get things done (concept to execution)​</strong>


                        </p>
                    </div>
                </div>
                <!-- 88 Dr. Raza Hussain, BDS, DMD, FACS​​​-->
                <div class="grid-row oneshadow border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Hussain.png" alt="Raza Hussain​">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Dr. Raza Hussain
                            <br>

                            VHA Entrepreneur in Residence, VHA Innovation Ecosystem </h4>

                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Raza Hussain, BDS, DMD, FACS serves as the Chief, Oral and Maxillofacial Surgery (OMFS) at
                            the Jesse Brown VA Medical Center. Dr. Hussain graduated with honors from Boston University
                            Goldman School of Dental Medicine in 2005 and has more than 15 years of diverse experiences.
                            Dr. Hussain is currently working on Teeth in a Day, a program that aims to overhaul OMFS by
                            offering implant-based, immediate load full arch prosthodontic rehabilitation of a patient’s
                            entire missing dentition and surrounding soft tissue structures. With this method, an
                            eligible Veteran who is missing all their teeth or who has teeth damaged beyond repair can
                            have them replaced with an implant retained prothesis in one appointment.

                            <br><strong>Innovation Superpower: Adaptability​​</strong>


                        </p>
                    </div>
                </div>

                <div id="SIF" class=" btn-me btn-lg shadowme a-work">
                    <i class="fas fa-hand-point-down padding-right-1 "></i> Senior Innovation Fellows
                </div>
                <!-- 11 Arash  -->
                <div class="grid-row  border-gray bg-white oneshadow">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Harzand.png" alt=" Arash Harzand">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Dr. Arash Harzand
                            ​ <br>

                            VHA Senior Innovation Fellow, VHA Innovation Ecosystem​

                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Arash Harzand, MD, MBA is the Director of Digital Cardiology and Vascular Medicine at
                            Atlanta VA Medical Center and an Assistant Professor of Medicine at Emory University. In
                            these roles, Dr. Harzand focuses on developing virtual health interventions for patients
                            across the spectrum of cardiovascular disease. Dr. Harzand’s project focuses on expanding
                            access to virtual cardiology services through Veteran-facing technologies and mobile
                            platforms. The project will work to implement widespread adoption and clinical integration
                            of virtual cardiac care through the development of clinical and operational elements to
                            enable the expansion of telecardiology services. As a clinician-scientist, Dr. Harzand is
                            also building a pathway to identify and rapidly evaluate promising virtual innovations for
                            heart disease in collaboration with the VA Office of Research and Development (ORD). ​​
                            ​​ <br>
                            <strong>Innovation Superpower: Creativity​</strong>
                        </p>
                    </div>
                </div>
                <!-- 2 Dr. Michael Amendola, MD MEHP -->
                <div class="grid-row  border-gray bg-white oneshadow ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Amendola.png"
                            alt=" Dr. Michael Amendola, MD MEHP">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;"> Dr. Michael Amendola

                            <br>

                            VHA Senior Innovation Fellow, VHA Innovation Ecosystem​
                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">Michael Amendola, MD MEHP is the Chief of Vascular Surgery,
                            Director of the Non-Invasive Vascular Lab, Program Director for the Chief Resident in
                            Quality and Patient Safety at The Central Virginia VA Health Care System (CVHCS). Dr.
                            Amendola is a Professor of Surgery at Virginia Commonwealth University School of Medicine.
                            His interests focus on vascular disease, hemodialysis access, undergraduate and graduate
                            medical education, implications of surgical simulation in the current health care
                            environment, as well as three-dimensional printing (3DP) in the health care setting. Dr.
                            Amendola serves as the 3DP Clinical Champion at CVHCS and works on several national projects
                            including an upcoming 3DP VA Talent Management System (TMS) training module. Dr. Amendola’s
                            innovation project will focus on mentorship projects geared towards developing 3DP clinical
                            stakeholders in the established Agile Design and Production Transformation (ADAPT) site as
                            well as in the larger VHA 3DP Network. ​
                            ​<br>


                            <strong> Innovation Superpower: Connectivity​</strong>




                        </p>
                    </div>
                </div>
                <!--3  -->
                <div class="grid-row  border-gray bg-white oneshadow ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Krakora.png" alt=" Danielle Krakora, MBA">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Danielle Krakora, MBA​ <br>

                            VHA Senior Innovation Fellow, VHA Innovation Ecosystem​ </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Danielle Krakora currently serves as a Product Manager for Digital Solutions in the VA
                            Office of Information and Technology. Danielle is a leader in technology and innovation and
                            is a 10-year US Army Veteran. Danielle developed the Make-a-thon Model for Building
                            Community Partnerships aimed at increasing opportunities for external and academic
                            institutions to collaborate with VA employees and provide subject matter expertise in
                            support of specialized Veteran solutions. The primary objective is to provide physical and
                            technological solutions to meet the needs of disabled Veterans. The Make-a-thon model will
                            expand VHA’s partnerships with industry and academia across the country to promote a
                            user-centered design approach in solving Veteran challenges through design competitions and
                            socializing solutions. This model works to refine internal VA processes and develop a
                            framework for future innovation events that is replicable and transferable.

                            <br> <strong> Innovation Superpower: Connecting​</strong>

                        </p>
                    </div>
                </div>

                <div id="Cat" class=" btn-me btn-lg shadowme a-work">
                    <i class="fas fa-hand-point-down padding-right-1 "></i> Catalyst Fellows
                </div>

                <!-- 99  Samantha B. Miles, MSN, RN-BC-->
                <div class="grid-row oneshadow border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Miles.png"
                            alt="Samantha B. Miles, MSN, RN-BC​">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Samantha B. Miles, MSN, RN-BC
                            <br>
                            Informatics and Education RN, Memphis VA Medical Center Memphis
                        </h4>

                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Samantha B. Miles is the Informatics and Education Registered Nurse for the Community Care
                            department at the Memphis VA Medical Center (VAMC). She is responsible for the
                            implementation of Community Care applications, analytics, workflow development, and
                            education for clinical processes. She is also serving as Project Faculty Advisor for the VHA
                            American Medical Informatics Association (AMIA) 10x10 course. Ms. Miles earned a Bachelor of
                            Arts in Anthropology, a Bachelor of Science in Nursing, and a Master of Science in Nursing
                            Informatics from Middle Tennessee University. Ms. Miles has been board certified in Nursing
                            Informatics since 2010. She served as the Nursing Informatics Clinical Research Liaison
                            between the University of Tennessee Health Sciences College of Nursing, Memphis VAMC, and
                            Baptist Health Sciences. Ms. Miles’ clinical practice includes Cardiovascular Intensive Care
                            Unit, Emergency Care, Hospice, and Home Health.


                        </p>
                    </div>
                </div>
                <!--111 Alison Quinn, MD​​​-->
                <div class="grid-row oneshadow border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Quinn.png" alt="Alison Quinn, MD ​">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Dr. Alison Quinn <br>

                            Staff Physician, Psychiatrist, Memphis VA Medical Center Memphis
                        </h4>

                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Alison Quinn, MD is the acting Inpatient Psychiatry Supervisor for the Memphis VA Medical
                            Center in addition to serving as a staff physician in their psychiatry service. She is
                            responsible for overseeing the acute inpatient psychiatry ward, consult liaison service, and
                            the emergency department mental health team in addition to continuing clinical services as
                            an inpatient psychiatrist for veterans evaluated through the Memphis VA Medical Center. She
                            holds a Doctorate of Medicine from the American University of the Caribbean and a Master’s
                            Degree in Biohazardous Threat Agents and Emerging Infectious Diseases from Georgetown
                            University. She completed her residency in adult psychiatry at the University of Tennessee
                            Health Science Center in 2020. Dr. Quinn hails from a military family and has lived and
                            traveled all over the world. She is soon to be a mother of two, with her second child due in
                            early 2021. She lives with her husband of nearly 10 years in their home in Memphis,
                            Tennessee.



                        </p>
                    </div>
                </div><!-- 112 Jason Ramirez, MD ​​​-->
                <div class="grid-row oneshadow border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Ramirez.png" alt="Jason Ramirez, MD​">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Dr. Jason Ramirez <br>
                            Staff Physician, VA Salt Lake City Health Care System
                        </h4>

                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Jason Ramirez, MD is a board-certified Anesthesiologist with the VA Medical Center (VAMC) in
                            Salt Lake City, UT. He holds an undergraduate degree in Environmental Health from Colorado
                            State University. Dr. Ramirez obtained his MD from the University of Colorado School of
                            Medicine. Graduate Medical Education included completion of a Transitional Year Internship
                            at Sacred Heart Medical Center in Spokane, Washington and primary Residency training in
                            Anesthesiology at the Mayo Clinic in Rochester, MN. In addition, Dr. Ramirez completed
                            advanced Fellowship training in the fields of Regional Anesthesiology at the University of
                            Florida and Hospice and Palliative Medicine at the University of Arkansas for Medical
                            Sciences. Dr. Ramirez has practiced medicine in the academic, community, and government
                            settings. He has also participated as a short-term medical volunteer in both Haiti and
                            Kenya. Dr. Ramirez has presented on various topics in Anesthesiology, Pain Medicine, and
                            Palliative Medicine at the local, state, and national levels as well as overseas. Dr.
                            Ramirez lists a rotation with the Spokane Medical Examiner’s Office, both of his Fellowships
                            and overseas medical trips as some of his most influential professional experiences. Hobbies
                            include hiking, mountain biking, and fly fishing. Professional interests include Pain
                            Medicine and Technology. Dr. Ramirez joined the VA Salt Lake City Health Care System (HCS)
                            in 2014. While at the VA Salt Lake City HCS, Dr. Ramirez has served as the Director of
                            Palliative Medicine and Associate Chief of the Holistic Medicine Service. His current role
                            is as a staff physician with the Anesthesia Service at VA.


                        </p>
                    </div>
                </div><!-- 13 Anita Ranade, MPH  ​​​-->
                <div class="grid-row oneshadow border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Ranade.png" alt="Anita Ranade, MPH​">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Anita Ranade, MPH <br>
                            Chief of Business Office, VA Boston Healthcare System
                            Boston
                        </h4>

                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Anita Ranade currently serves as Chief of Business Office at VA Boston Healthcare System. In
                            this capacity, she leads 150 of her teammates across three main facilities and five
                            community-based outpatient clinics all working together to serve those who have served us:
                            our nation’s Veterans. Anita’s diverse health care experience ranges from the large-scale
                            implementation of electronic health records to regular interaction with patients in a retail
                            pharmacy setting which has provided her with a unique viewpoint that directly shapes her
                            leadership style as an enthusiastic change management practitioner. A California native,
                            Anita completed her undergraduate studies at the University of California, Berkeley focusing
                            on Public Health and received her Master of Public Health (MPH) at the University of
                            California, Los Angeles. Anita looks forward to learning, collaborating, and innovating
                            alongside her Catalyst Fellow colleagues with the goal of making an impact. She is
                            specifically interested in the fields of health care access and equity.




                        </p>
                    </div>
                </div>
                <!-- 14 Paolo Renigar, Ph.D.
                    ​​​-->
                <div class="grid-row oneshadow border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Renigar.png" alt="Raza Hussain​">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Dr. Paolo Renigar <br>

                            Education Program Specialist, Veterans Affairs Salt Lake City
                        </h4>

                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;  font-size: 17.5px;  border-left: 5px solid #917b47;">
                            Paul “Paolo” Renigar, PhD in Second Language Acquisition and Teaching, is trained in applied
                            linguistics, sociolinguistics, and cryptologic linguistics. Currently he is an Education
                            Program Specialist for VA where he leads the Mentorship Program, oversees the educational
                            Technology Systems Management platform for clinical and non-clinical staff, provides
                            advisory services, and plans, delivers, and develops courses based on local, regional, and
                            national criteria. His main interests are in: critical discourse studies, multimodal
                            semiotics, critical pedagogy, computer assisted learning, and in the way language is used to
                            sediment social and political structures of power. Dr. Renigar is a qualitative researcher,
                            language analyst, trilingual interpreter/translator, versatile researcher, proofreader, and
                            concept-builder fluent in analyzing a broad range of topics, including trends in clinical,
                            academic, and political settings and emergent technologies for educational purposes. An
                            organized packager, idea generator, and stickler for details, he leads innovative projects
                            independently and collaboratively and enjoys bringing media to life to make complex topics
                            relevant and accessible to a variety of audiences. His most recent research focuses on the
                            integration of social justice within the foreign language classroom and experiences of
                            radicalization through social media. He continues to challenge the dichotomy that separates
                            scholarship from activism while using education as a bottom-up method of promoting social
                            and political progress. Dr. Renigar’s future research plans include topics that span
                            innovation in health care for underserved communities, the social justice dilemmas created
                            by postmodern interpretations of language and identity, and the impact of discourse on the
                            delivery of health care.


                        </p>
                    </div>
                </div><!-- 15 Fatima Shahzad, MPH, MBA-->
                <div class="grid-row oneshadow border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Shahzad.png"
                            alt="Fatima Shahzad, MPH, MBA​">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Fatima Shahzad, MPH, MBA <br>
                            Senior Project Manager, All of Us Research Program / VA Boston Healthcare System / Boston VA
                            Research Institute (BVARI) Bostone
                        </h4>

                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Fatima Gloria Shahzad has worked in clinical research for over a decade. Early in her
                            career, she worked for an NIH-funded randomized control trial evaluating therapies for knee
                            osteoarthritis at Tufts Medical Center and a study focused on reducing cancer risk behaviors
                            at Dana Farber Cancer Institute. Fatima concentrated on behavioral health and policy during
                            her MPH and on entrepreneurship and marketing during her MPH/MBA at Johns Hopkins. As part
                            of her graduate work, Fatima designed, implemented, and authored a study on the behaviors
                            and motivations of e-cigarettes users. After completing her graduate work, Fatima worked at
                            Doximity, a physician-network company, in marketing and went on to manage several clinical
                            trials evaluating impact of digital medication reminders for different therapeutic areas at
                            a medication adherence startup. Fatima also worked at Medumo (acquired by Philips), a
                            startup focused on improving patient experience and providing clear instructions for
                            procedures and visits. Currently, Fatima’s full-time role is with the NIH-led All of Us
                            Research Program which seeks to enroll 1 million or more people from across the U. to help
                            speed up medical and precision medicine research. At All of Us at VA, she advocates for
                            Veterans and leads engagement and retention efforts. Following her passion for storytelling,
                            Fatima has served as a board of advisor and producer for documentary The Human Trial, which
                            follows researchers and patients in pursuit of a cure to type 1 diabetes. Having lived with
                            type 1 diabetes since she was 13, Fatima has served in several other diabetes-related
                            capacities, including as a former Board of Director for the Diabetes Hands Foundation and
                            currently as a community advisory board member for a study focused on online support for
                            people living with diabetes.



                        </p>
                    </div>
                </div><!-- 16 Jack Tsao, M.D., D.Phil,  ​​​-->
                <div class="grid-row oneshadow border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/fellow/Tsao.png" alt="Raza Hussain​">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Dr. Jack Tsao <br>
                            Staff Neurologist, Memphis VA Medical Center Memphis
                        </h4>

                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Jack Tsao, MD, D.Phil is Professor of Neurology, Pediatrics, and Anatomy & Neurobiology at
                            the University of Tennessee Health Science Center, Memphis, TN, Director of the
                            Polytrauma/OIF/OEF Clinic at the Memphis VA Medical Center, a researcher at the Children’s
                            Foundation Research Institute at Le Bonheur Children’s Hospital, and Fellow of both the
                            American Academy of Neurology and American Neurological Association. Dr. Tsao received his
                            undergraduate degree in biochemistry from Harvard College, a master’s degree in biochemistry
                            from the University of Cambridge, England, a doctorate in physiology/pharmacology from the
                            University of Oxford, England, a medical degree from Harvard Medical School, and a master’s
                            in business administration from the University of Memphis. Prior to finishing his medical
                            degree, he was a postdoctoral fellow in the Department of Neurology at Johns Hopkins
                            Hospital. He completed internal medicine internship and neurology residency at the
                            University of California—San Francisco and then began 14 years of active-duty service in the
                            United States Navy, where he was first stationed at Naval Hospital Jacksonville, Florida as
                            neurology department head. While there, Dr. Tsao completed a behavioral neurology fellowship
                            at the University of Florida. He was then assigned to the Uniformed Services University of
                            the Health Sciences in Bethesda, MD for 4 years before being selected to become the
                            inaugural Director of Traumatic Brain Injury (TBI) Programs for the United States Navy
                            Bureau of Medicine and Surgery, Falls Church, VA, where he managed Navy and Marine Corps TBI
                            policy and programs for 6.5 years prior to his transfer to the Navy Reserve in 2015. He has
                            published over one hundred peer-reviewed articles and book chapters and edited books on TBI
                            and teleneurology. His clinical research is focused on treatments for phantom limb pain in
                            amputees (his research team conducted the first randomized, controlled trial which
                            demonstrated the utility of mirror therapy for treating phantom limb pain), for which he was
                            awarded the 2014 United States Navy Hero of Military Medicine by the Center for
                            Public-Private Partnerships at the Henry M. Jackson Foundation for the Advancement of
                            Military Medicine, and the clinical effects of blast exposure and concussion. He is also
                            past chairperson of both the Government Services Section and the Practice Committee
                            Telemedicine Work Group of the American Academy of Neurology. 

                        </p>
                    </div>
                </div>
            </div>

        </section>

    </main>
    <div id="footer"></div>


</body>

</html>