<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - Home Page</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
         <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!-- title section -->
        <section id="" class="grid-container padding-left-1 usa-section"  style="padding-bottom: 0; padding-top: .5rem;">
            <div class="grid-container padding-left-0" style="text-align: left;">
                <div class="grid-row grid-gap-1">
                    <!-- <div class="tablet:grid-col-4">
                      <img src="/assets/images/logos/Logo_Innovation_Community.png"
                            alt=""  height="" width="">
                    </div> -->
                    <div class="tablet:grid-col">
                        <h1 class="font-heading-3xl">
                            Innovation Community
                        </h1>  
                    </div>
                </div>
              </div>
        </section>

        <!-- delivering more section -->
        <section id="" class="usa-section small-padding usa-section">
            <div class="grid-container padding-left-1">
                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-7">
                        <!-- <img src="/assets/images/placeholder/img-blue-placeholder.png"
                                    alt="A Veteran in the STRIDE program at Durham VAHCS." height="200px"> -->
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Fv3LVDogE7w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="tablet:grid-col-5">
                        <h1 class="font-heading-lg" style="text-align: left;">
                            Delivering More, Together
                        </h1>  
                        <p class="font-body-md" style="text-align: left;">
                            VHA Innovation Community (VHAIC) seeks to engage and empower a broader community of groups within 
                            VHA that are engaged in innovation activity. VHAIC’s charge is to serve as the connective tissue 
                            to enable innovation across VHA.
                        </p> 
                    </div>
                </div>
            </div>
        </section>

        <!-- goals + principles section -->
        <section id="" class="usa-section usa-section--dark small-padding">
            <div class="grid-container usa-section--dark" style="padding-top: 2rem; padding-bottom: 2rem;">
                <div class="grid-row grid-gap-2" >
                    <div class="tablet:grid-col">
                        <h1 class="font-heading-xl text-white">
                            Our Goals & Principles
                        </h1>  
                    </div>
                </div>
                <div class="grid-row grid-gap-2">
                    <div class="tablet:grid-col-6">
                        <h3 class="margin-y-0 font-heading-lg">VHAIC Goals</h3>
                        <p >
                            <ul class="font-body-md">
                                <li>Establish common language/processes for Innovation</li>
                                <li>Explore and tackle barriers to innovation</li>
                                <li>Promote collaboration to break down silos</li>
                            </ul>
                        </p>  
                    </div>
                    <div class="tablet:grid-col-6">
                        <h3 class="margin-y-0 font-heading-lg">VHAIC Core Principles</h3>
                        <p >
                            <ul class="font-body-md">
                                <li>Share common vision and language</li>
                                <li>Embrace an agile and adaptable execution strategy</li>
                                <li>Deliver on innovation in a disciplined, evidenced-based fashion</li>
                                <li>Partner with internal and external stakeholder to deliver beyond our means</li>
                            </ul>
                        </p>  
                    </div>
                    
                </div>
            </div>
        </section>
        

        <!-- collaborations section -->
        <section id="" class="usa-section small-padding usa-section">
            <div class="grid-container">
                <div class="grid-row grid-gap-2" style="">
                    <div class="tablet:grid-col">
                        <h1 class="font-heading-xl">
                           Featured Collaborations
                        </h1>  
                    </div>
                </div>
                <div class="grid-row grid-gap-2" style="text-align: center;">
                    <div class="tablet:grid-col-6">
                        <img src="/assets/images/VHAIC/podimetrics.png"
                                    alt="" height="300px" width="">
                        <a href="#" alt="">
                            <h1 class="font-heading-lg">
                                Podimetrics
                            </h1>
                        </a>
                    </div>
                    <div class="tablet:grid-col-6">
                        <img class="image-thumbnail"src="/assets/images/VHAIC/trugenomix.jpg"
                                    alt="" height="300px" width="">
                        <a href="#" alt="">
                            <h1 class="font-heading-lg">
                                Trugenomix
                            </h1>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <div id="footer"></div>
</body>

</html>