<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - Home Page</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- custom hero slider -->
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- custom hero slider -->
    <script type="text/javascript" src="/assets/js/slick.js"></script>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script> -->
    <!-- js+jq for the  header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body class="letter-spacing sub-text">

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <h1 class=" tablet:grid-col-12 font-heading-xl padding-top-0 padding-bottom-0 text-white"
                        style="text-align: left;">
                        VHA Innovators Network

                    </h1>

                    <div class="tablet:grid-col-5 text-left  ">

                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            The VHA Innovators Network (iNET) launched in 2015 to build and empower a community of
                            VHA
                            employees who actively move VA forward using innovation to better serve Veterans and their
                            families. iNET takes a ground-up approach by using the first-hand knowledge of frontline
                            employees to identify some of VA’s greatest challenges and develop both Veteran- and
                            employee-centric solutions.
                        </p>
                    </div>
                    <div class="tablet:grid-col-7 padding-top-3">
                        <a href="https://www.youtube.com/watch?v=UUXAI4JGeMU&amp;feature=youtu.be" target="_blank">
                            <img src="/assets/images/iNET/vido.png" alt="int vido link ">
                        </a>
                        <!-- <iframe width="100%" height="315" src="/INNOVATIONECOSYSTEMhttps://www.youtube.com/embed/UUXAI4JGeMU"
                            frameborder="10"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe> -->
                    </div>
                </div>

            </div>
        </section>

        <!-- svg image bottom  -->
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>
        <!-- dark section    -->
        <!-- svg top  -->
        <!-- <section>
            <div class="grid-row">
                <svg xmlns="http://www.w3.org/2000/svg" width="1694" height="141">
                
                    <g>
                        <title>background</title>
                        <rect fill="none" id="canvas_background" height="143" width="1696" y="-1" x="-1" />
                        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                        </g>
                    </g>
                    <g>
                        <title>Layer 1</title>
                        <rect transform="rotate(2.1024317741394043 515.85498046875,94.88464355468672) " stroke="null"
                            id="svg_1" height="147.08178" width="1089.93687" y="21.34376" x="-29.11342"
                            stroke-width="1.5" fill="#7fcfcf" />
                        <rect transform="rotate(-3 823.6282958984368,122.94682312011822) " stroke="#000" id="svg_2"
                            height="148.95553" width="1784.03086" y="48.46906" x="-68.38707" stroke-opacity="null"
                            stroke-width="0" fill="#00355f" />
                        <rect id="svg_3" height="2" width="2" y="393.45313" x="929.5" stroke-opacity="null"
                            stroke-width="1.5" stroke="#000" fill="#0000bf" />
                    </g>
                </svg>
            </div>
        </section> -->
        <!-- main boxes project  -->
        <section
            class="small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background "
            style="background: #e0f1f1;">
            <div class="">
                <div class="grid-container  ">
                    <div class="grid-row grid-gap-2">
                        <div class="tablet:grid-col">
                            <h2 class="font-heading-xl text-dark">
                                Our Work
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="grid-container">
                    <!-- 11111 -->

                    <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                        <!-- 1 Augmented Reality and 5GE  -->
                        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                            style="box-shadow: 0px 5px 6px -6px black;">
                            <div class="usa-card__container">


                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="usa-card__img">
                                        <img class="image-thumbnail wrapper img-me"
                                            src="/assets/images/iNET/Logo_S-S-S.png" alt="spark speed">
                                    </div>
                                    <header class="usa-card__header">
                                        <h4 class="usa-card__heading text-center" style="color: #004b87;">Innovators
                                            Network
                                            Spark-Seed-Spread Investment Program
                                        </h4>
                                    </header>
                                </div>

                                <div class="usa-card__body padding-1 ">
                                    <p style="color:#1b1b1b;padding-bottom:5px; ">The Spark-Seed-Spread Innovation Investment Program seeks
                                        innovative concepts, programs, products, and solutions from VHA employees. This
                                        program invests in both employees themselves and their innovative
                                        solutions.
                                    </p>
                                    <a class="usa-button btn-me btn-lg shadowme"
                                        href="/views/solutions/spark-seed-spread.html" target="_blank"
                                        style="color: #0050d8 ; "><small>Read
                                            More
                                            »</small></a>
                                </div>

                            </div>

                        </div>
                        <!-- 2   -->
                        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                            style="box-shadow: 0px 5px 6px -6px black;">
                            <div class="usa-card__container">


                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="usa-card__img">
                                        <img class="image-thumbnail wrapper"
                                            src="/assets/images/iNET/Graphic_Spring-Summer-Fall.png" alt="int pro">
                                    </div>
                                    <header class="usa-card__header">
                                        <h4 class="usa-card__heading text-center" style="color: #004b87;">Innovators
                                            Network
                                            Programming
                                        </h4>
                                    </header>
                                </div>

                                <div class="usa-card__body padding-1">
                                    <p style="color:#1b1b1b;padding-bottom: 68px;">VHA’s Innovators Network (iNET)
                                        exists to inspire,
                                        connect,
                                        and empower VHA employees to change and save Veterans’ lives through
                                        employee-driven
                                        innovation.
                                    </p>
                                    <a class="usa-button btn-me btn-lg shadowme" href="/views/solutions/iNET-pro.html"
                                        target="_blank" style="color: #0050d8 ; "><small>Read
                                            More
                                            »</small>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <!-- 3   -->
                        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                            style="box-shadow: 0px 5px 6px -6px black;">
                            <div class="usa-card__container">


                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="usa-card__img">
                                        <img src="/assets/images/iNET/Logo_Greenhouse.png"
                                            class="image-thumbnail wrapper" alt="green house">
                                    </div>
                                    <header class="usa-card__header">
                                        <h4 class="usa-card__heading text-center" style="color: #004b87;">Greenhouse
                                            Initiative
                                        </h4>
                                    </header>
                                </div>

                                <div class="usa-card__body padding-1">
                                    <p style="color:#1b1b1b;padding-bottom: 24px;">Because the VHA Innovators Network
                                        (iNET) and the VHA
                                        Innovation Ecosystem believe that through collaboration, we can deliver more,
                                        together; iNET created the Greenhouse.
                                        <br><br>
                                    </p>
                                    <a class="usa-button btn-me btn-lg shadowme"
                                        href="/views/solutions/greenhouse-initiative.html" target="_blank"
                                        style="color: #0050d8 ; "><small>Read
                                            More
                                            »</small>
                                    </a>
                                </div>

                            </div>


                        </div>


                    </div>

                    <div class="grid-container box-me margin-top-3 margin-bottom-3"
                        style="background:white; border:5px solid white;border-top: 10px solid #00355f;box-shadow: 0px 5px 6px -6px black;">
                        <div class="grid-row grid-gap-2" style="">
                            <div class="tablet:grid-col">
                                <h1 class="font-heading-xl " style="color: #004b87;
                                border-bottom: .125rem dotted #7fcfcf;">
                                    Map of VHA Innovators Network sites
                                </h1>
                            </div>
                        </div>
                        <div class="grid-row grid-gap-2" style="text-align:center;">
                            <div class="tablet:grid-col-12 " style="height: 100% !important;">
                                <!-- <h1 class="font-heading-lg">
                                    Map
                                </h1>   -->
                                 <!-- <div class='tableauPlaceholder' id='viz1592323032187' style='position: relative;'><noscript><a
                                            href='#'>
                                            <img alt=' '
                                                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;iN&#47;iNETMap&#47;Dashboard1&#47;1_rss.png'
                                                style='border: none' /></a></noscript><object class='tableauViz'
                                        style='display:none;'>
                                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                        <param name='embed_code_version' value='3' />
                                        <param name='site_root' value='' />
                                        <param name='name' value='iNETMap&#47;Dashboard1' />
                                        <param name='tabs' value='no' />
                                        <param name='toolbar' value='yes' />
                                        <param name='static_image'
                                            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;iN&#47;iNETMap&#47;Dashboard1&#47;1.png' />
                                        <param name='animate_transition' value='yes' />
                                        <param name='display_static_image' value='yes' />
                                        <param name='display_spinner' value='yes' />
                                        <param name='display_overlay' value='yes' />
                                        <param name='display_count' value='yes' />
                                        <param name='filter' value='publish=yes' /></object></div>
                                <script type='text/javascript'>
                                    var divElement = document.getElementById('viz1592323032187');
                                    var vizElement = divElement.getElementsByTagName('object')[0];
                                    if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; }
                                    else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; }
                                    else { vizElement.style.width = '100%'; vizElement.style.height = '827px'; }
                                    var scriptElement = document.createElement('script');
                                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                                </script> -->

                                <img src="/assets/images/iNET/INET_Site_Map_3-11-21.png" alt=""
                                    style="max-width: 400px;">
                                <figcaption>The map above highlights the current placement of Innovation Specialists
                                    across the country.</figcaption>
                                <hr>


                            </div>
                            <div class="tablet:grid-col-12 " style="text-align: left;">
                                <h3 class="font-body-lg  " style="border-bottom: .125rem dotted #7fcfcf;">
                                    Building Innovation Capacity by Engaging the Frontline
                                </h3>
                                <p class="font-body-md">
                                </p>
                                <p class="font-body-sm">
                                    <strong> Innovation Specialists</strong> <br>


                                    Our Network consists of Innovation Specialists at each iNET site, who are
                                    responsible
                                    for
                                    implementing facility-based innovation programs, moving VA toward becoming a more
                                    creative,
                                    innovative workforce. <br>
                                </p>


                                <!-- <p class="font-body-sm">
                                    <strong>
                                        Spark-Seed-Spread Investment Program <br>
                                    </strong>

                                    The Spark-Seed-Spread Innovation Investment Program seeks innovative concepts,
                                    programs, products, and solutions from VHA employees. The Program invests in both
                                    employees themselves and their innovative solutions.
                                    <a href="/INNOVATIONECOSYSTEM/views/solutions/spark-seed-spread.html" target="_blank"><small>Learn more
                                            »</small></a><br>
                                </p> -->



                                <p class="font-body-sm"> <strong>Innovation Accelerator</strong> <br>
                                    VHA employees who are selected for investments enter the Spark-Seed-Spread
                                    Innovation Accelerator (Accelerator). The Accelerator supports early-stage ideas
                                    through education, mentorship, and financing. It runs for a fixed-period of time and
                                    is a process of intense, rapid, and immersive education aimed at accelerating the
                                    lifecycle of young innovative ideas, compressing years’ worth of learning-by-doing
                                    into just a few months. <br>
                                </p>


                                <p></p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>






        </section>


        <!-- Graphic part  -->
        <section id=" highlights" class="usa-graphic-list usa-section padding-top-2 ">

            <div id="" class="grid-container  padding-4 bg-white " style="border: 1px solid #f0f0f0 !important;
   padding: 10px;">
                <h1 class="font-heading-xl">
                    How We Drive Innovation Forward
                </h1>
                <hr>
                <!-- <h2 class="font-heading-xl text-light-blue ">
           Phases
       </h2> -->
                <h3 class="font-body-sm text-dark-blue padding-bottom-205">
                    iNET programming has a cadence, spanning both calendar and fiscal years,.
                    Innovation happens at all
                    times of year, but a phased approach ensures the pipeline is continuously
                    maintained.
                </h3>


                <!-- yellowish  -->
                <div class="grid-container" style="padding-bottom: 2rem;">

                    <div class="grid-row grid-gap-2 "
                        style="text-align:center;background: #08a6ce;box-shadow: 0px 5px 6px -6px black;">
                        <div class="tablet:grid-col border-right border-white">
                            <div>
                                <h1 class="font-heading-lg text-center">
                                    Ignite
                                </h1>
                            </div>
                            <div>
                                <img class="" src="/assets/images/iNET/ICON_ignite_red.png" height="150"
                                    alt="Ignite image">
                            </div>
                            <div>
                                <p class="text-center" style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                    Fire up the creativity and passion of the VA workforce. Lean
                                    into problem-framing
                                    ideation and posing solutions based on human-centered
                                    design.
                                </p>
                            </div>

                        </div>
                        <div class="tablet:grid-col border-right border-white">
                            <div>
                                <h1 class="font-heading-lg">
                                    Incubate
                                </h1>
                            </div>
                            <div>
                                <img class="" src="/assets/images/iNET/ICON_incubate_blue.png" height="150"
                                    alt="cubate Logo">
                            </div>
                            <div>
                                <p class="text-center" style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                    Nurture people and ideas that have promise. Open up access
                                    to iNET frameworks so
                                    anyone, anywhere, can become part of the iNET.
                                </p>
                            </div>

                        </div>
                        <div class="tablet:grid-col border-right border-white">
                            <div>
                                <h1 class="font-heading-lg">
                                    Accelerate
                                </h1>
                            </div>
                            <div>
                                <img class="" src="/assets/images/iNET/ICON_accelerate_grey.png" height="150"
                                    alt="Accelerate Logo">
                            </div>
                            <div>
                                <p class="text-center" style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                    Intriguing ideas are resourced by Spark-Seed-Spread Program and undergo a rapid
                                    learning-by-doing process unlike any other available within VA.

                                </p>
                            </div>

                        </div>
                        <div class="tablet:grid-col border-right border-white">
                            <div>
                                <h1 class="font-heading-lg">
                                    Celebrate
                                </h1>
                            </div>
                            <div>
                                <img class="" src="/assets/images/iNET/ICON_celebrate_yellow.png" height="150"
                                    alt="Celebrate Logo">
                            </div>
                            <div>
                                <p class="text-center" style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                    It is important to reflect on the achievements (including failing smartly) of
                                    the past year with the VHA Innovation Experience, local site celebrations, and
                                    annual iNET Awards.
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </section>

        <!-- image gray top SVG  -->
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: white;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>

        <!-- 2nd quoat of thom -->
        <section class="usa-section small-padding usa-section  "
            style=" background: #f0f0f0;box-shadow: black 0px 8px 6px -6px;margin-top: -10px;">
            <div class="grid-container">

                <!-- style="box-shadow: 0px 5px 6px -6px black;" -->
                <div class="grid-row grid-gap-2 border-gray bg-white">


                    <div class="grid-row ">

                        <div class="tablet:grid-col text-left"
                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                            <h3 class="text-left">
                                iNET Publications
                            </h3>


                        </div>

                    </div>



                    <p class="padding-top-5   bg-white margin-2">
                        VHA iNET Annual Report 2020
                        <a href="/assets/documents/iNET_Report_2020_FINAL_12.17.20_508-Final.pdf">
                            <strong>2020 delivered a year like no other for the entire world. For health care providers,
                                including those at the Veterans Health Administration (VHA), new unparalleled challenges
                                arose nearly every day.</strong></a>
                        <br><br>

                        VHA iNET Annual Report 2019 <a
                            href="https://www.va.gov/INNOVATIONECOSYSTEM/assets/documents/iNET_Report_2019.pdf"><strong>In
                                2019,
                                iNET navigated through a year of change and restructuring, during which we have evolved
                                into a stronger, smarter, and more confident organization. </strong></a>

                        <br>




                    </p>
                </div>

            </div>
        </section>

        <!-- quoat of thom -->
        <section class="usa-section small-padding usa-section padding-bottom-3 "
            style="background: #f0f0f0;box-shadow: 0px 5px 6px -6px black;">
            <div class="grid-container">
                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">
                    <div class="tablet:grid-col-3">
                        <img class="usa-media-block__img    " style="border-radius: 5%;"
                            src="/assets/images/small-logos/VHA_inet.png" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <p class="font-body-sm margin-0 padding-left-3" style="padding-top: 15px;">
                            <strong> Allison Amrhein, iNET Director of Operations</strong></p>
                        <blockquote>
                            “I was so proud of our iNET team. I
                            know the virtual
                            environment
                            made a lot of
                            folks even more
                            nervous to share
                            their story, but
                            they were all
                            amazing and
                            inspiring, as
                            usual.”

                        </blockquote>
                    </div>

                </div>
            </div>
        </section>

        <!-- leader image -bio icon section -->
        <section class="usa-graphic-list usa-section padding-top-0 p ">
            <div class="grid-container  padding-3 ">

                <div class="grid-row margin-top-3 margin-bottom-3">
                    <div class="tablet:grid-col">
                        <h3 class="has-color" style="color: #004b87;">
                            Our Team
                        </h3>


                    </div>

                </div>

                <!-- 11111 row    Thomas Osborne, MD    Paola Suarez, MPH   -->
                <div class="grid-row ">
                    <div class="tablet:grid-col margin-right-1 text-center ">
                        <!-- Allison Amrhein, MPH  -->
                        <a href="/views/who-we-are/biograph.html#alli" class="text-dark" target="-blank">
                            <div class="grid-row bg-white wrapper padding-2 box-me2" style="background: #f0f0f0;
                        box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center text-center">

                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/team-headshots/AMRHEIN_CIRCLE.png"
                                        alt="Allison Amrhein, MPH">




                                </div>
                                <div class="tablet:grid-col-12  ">
                                    <h3 class="font-heading-lg   ">
                                        Allison Amrhein, MPH



                                    </h3>
                                    <p class="text-center text-800"> Director of Operations, VHA Innovators Network </p>

                                </div>



                            </div>

                        </a>


                    </div>

                    <div class="tablet:grid-col margin-right-1 ">
                        <!-- Brynn Cole   -->
                        <a href="/views/who-we-are/biograph.html#bryn" class="text-dark" target="-blank">
                            <div class="grid-row  bg-white wrapper padding-2 text-center box-me2" style="background: #f0f0f0;
                        box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center">
                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/team-headshots/COLE_CIRCLE.png" alt="Brynn Cole">



                                    <br>
                                    <!-- <p class="tablet:grid-col-12"> Director
               National Center for Collaborative Healthcare Innovation</p> -->
                                </div>
                                <div class="tablet:grid-col-12  ">
                                    <h3 class="font-heading-lg   ">
                                        Brynn Cole
                                    </h3>
                                    <p class=" text-800">Director of Programming, VHA Innovators Network </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <!-- 222 first row  -->


            </div>

        </section>

    </main>
    <div id="footer"></div>



</body>

</html>