<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - Home Page</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- title section -->
        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                        VA National Centers for Innovation to Impact (NCI2I)
                    </h1>

                    <div class="tablet:grid-col-7 text-left padding-top-1 ">

                        <p class="font-body-md  text-white" style="font-size: 18px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            VHA Innovation Ecosystem’s National Centers for Innovation to Impact (NCi2I) aim to foster
                            collaboration between both internal and external partners and select, local VA medical
                            centers to address VHA’s most pressing healthcare challenges. While each center is designed
                            to have a unique “sweet spot,” the tie that binds these centers together is the collective
                            objective to bridge VHA strategic priorities with frontline solutions that are
                            transformational, scalable, and responsive to the needs of Veterans. This vision can only be
                            realized through frontline-lead incubation, co-development, and testing of solutions with
                            Veterans themselves and support from a diverse cadre of internal and external partners from
                            academia, industry, nonprofits, and other government agencies. These partners can serve as
                            force multipliers and will help build both the culture and capacity for innovation across
                            VHA.


                        </p>



                    </div>
                    <div class="tablet:grid-col-5 padding-top-3  margin-top-3">
                        <img class="oneshadow image-thumbnail" style="background-color: white!important;  "
                            src="/assets/images/nci2i/NCi2I_Top_Graphic_C.jpg" alt="Virtual Reality Care in Action">


                    </div>
                    <div class="tablet:grid-col-12">
                        <div class="wrapper-txt oneshadow margin-2 margin-left-0 padding-2"
                            style="background: #032b50;">
                            <div class="typing-demo4">
                                Frontline Perspective + Partner Collaboration = Delivering More, Together
                            </div>
                        </div>

                    </div>



                </div>

            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>
        <!-- main boxes project  -->
        <section
            class=" usa-section--dark small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">

            <div class="grid-container ">

                <div class="grid-row grid-gap-2">

                    <div class="tablet:grid-col">
                        <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                            Our Center
                        </h2>
                        <p class="text-dark padding-3 font-body-lg" style="padding-left: 0px;">
                            To learn more about each National Center, hover over or click on the stars on the map below.
                        </p>


                        <!-- map map map map map map map  -->
                        <div class='tableauPlaceholder' id='viz1618430445666' style='position: relative'><noscript><a
                                    href='#'><img alt='Sheet 2 '
                                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;VA&#47;VANationalCentersforInnovationtoImpactNCI2I&#47;Sheet2&#47;1_rss.png'
                                        style='border: none' /></a></noscript><object class='tableauViz'
                                style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                <param name='embed_code_version' value='3' />
                                <param name='site_root' value='' />
                                <param name='name' value='VANationalCentersforInnovationtoImpactNCI2I&#47;Sheet2' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='static_image'
                                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;VA&#47;VANationalCentersforInnovationtoImpactNCI2I&#47;Sheet2&#47;1.png' />
                                <param name='animate_transition' value='yes' />
                                <param name='display_static_image' value='yes' />
                                <param name='display_spinner' value='yes' />
                                <param name='display_overlay' value='yes' />
                                <param name='display_count' value='yes' />
                                <param name='language' value='en' />
                            </object></div>
                        <script type='text/javascript'>
                            var divElement = document.getElementById('viz1618430445666');
                            var vizElement = divElement.getElementsByTagName('object')[0];
                            vizElement.style.width = '100%';
                            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                            var scriptElement = document.createElement('script');
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                            vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

                    </div>
                </div>

            </div>

            <div class="grid-container">
                <!-- 11111 -->

                <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                    <!-- 1 NCCHI  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">

                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">National
                                        Center for Collaborative Healthcare Innovation
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15 ">
                                <p style="color:#1b1b1b; ">National Center for Collaborative
                                    Healthcare Innovation (NCCHI), located in Silicon Valley, is working in close
                                    collaboration with the VA Office of Information and Technology (OIT) between VA Palo
                                    Alto Health Care System, VHA Innovation Ecosystem, leading technology companies, and
                                    other government agencies to improve Veteran health care. </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work" href="/views/who-we-are/NCCHI.html"
                                    target="_blank" class="text-primary-vivid"><small>Read More »</small></a>
                            </div>

                        </div>

                    </div>
                    <!-- 2   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset margin-top-2">

                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17"
                                        style="color: #004b87;padding-bottom: 17px; ">
                                        VA Ventures
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;padding-bottom: 15px;">VA Ventures is an innovation incubator
                                    designed to promote early collaboration between VA, academia, start-ups and
                                    industry. It’s mission is to drive health care innovations towards sustainable, high
                                    impact solutions, and ensure those innovations are delivered to VA patients first.
                                    <br><br>
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work"
                                    href="/views/who-we-are/VA-Ventures.html" target="_blank"><small>Read
                                        More
                                        »</small>
                                </a>
                            </div>
                        </div>
                    </div>


                    <!-- 222 -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">
                            <div class="usa-card__media usa-card__media--inset">

                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">VA New England
                                        Center for Innovation Excellence (NECIE)
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15 ">
                                <p style="color:#1b1b1b;padding-bottom: 20px; ">

                                    The VA New England Center for Innovation Excellence was created to serve as the
                                    premier, integrated academic health care system. The Center will focus on technology
                                    solutions for chronic illness, making high quality health care accessible to rural
                                    Veterans and providing health care solutions for an aging population.
                                    <br>
                                </p>


                                <a class="usa-button btn-me btn-lg shadowme a-work" href="#" target="_blank"
                                    class="text-primary-vivid"><small>Coming Soon !</small></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="usa-section small-padding usa-section  padding-top-0 padding-bottom-0 margin-top-2">
            <div class="grid-container">


                <div class="grid-row grid-gap">
                  
                    <div class="tablet:grid-col padding-right-1 padding-top-1  margin-right-1 bg-white"
                        style="border:1px solid #dfd9cc;border-radius: 5px;padding-right:0; padding-left: 0;padding-top: 0;">
                        <div style="height: 70px;padding: 10px;background-color: #00355f;">
                            <p class=" font-weight-bold padding-top-2">
                                <strong class="text-white">NCI2I Background </strong> <a class="float-right " href="#"
                                    style="color: #072314;"></a>
                            </p>
                        </div>

                        <div class="grid-row grid-gap">
                          
                            <div class="tablet:grid-col-7">
                                <p class="font-body-sm text-dark-blue padding-bottom-205 line-height-sans-5 margin-top-2 padding-3"
                                    style="letter-spacing: .2px;">
                                    Health care is faced with three profound interrelated challenges. 1)Our rapidly
                                    growing older adult population is living with multiple comorbidities requiring
                                    complex resource-intensive care; 2)healthcare spending in the US is growing at an
                                    extraordinary rate, surpassing $3 trillion a year; 3)there is a growing deficit in
                                    the number of available providers and caregivers. Traditional approaches to care
                                    will not meet the increasing demand, even if we could afford it. As a result, we are
                                    at a critical inflection-point requiring innovative and scalable solutions to tackle
                                    these challenges. This will require the organized collaboration of experts from
                                    diverse disciplines and perspectives to deliver timely, co-developed solutions. <br>
                                </p>
                            </div>
                            <div class="tablet:grid-col padding-top-3 margin-right-2">
                                <img class="oneshadow image-thumbnail margin-top-3 "
                                    style="background-color: white!important; "
                                    src="/assets/images/nci2i/NCi2I_Background_Graphic_E.jpg"
                                    alt="Virtual Reality Care in Action">



                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </section> -->
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: #e0f1f1;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>
        <section class="usa-section small-padding usa-section oneshadow "
            style="background: #f0f0f0;margin-top: -10px;">
            <div class="grid-container">

                <!-- style="box-shadow: 0px 5px 6px -6px black;" -->
                <div class="grid-container">
                    <div class="grid-row grid-gap-2 border-gray bg-white oneshadow">
                        <div class="tablet:grid-col-3">
                            <img class="usa-media-block__img  padding-3  " src="/assets/images/logos/nci2i.png"
                                alt="NCI2I logo">
                        </div>
                        <div class="tablet:grid-col-9 " style="padding-top: 40px;">
                            <p class="font-body-sm margin-0 padding-left-3" style="padding-top: 15px;">
                               <a href="/views/who-we-are/biograph.html#tom"> <strong> Dr. Thomas Osborne, Director for NCCHI</strong></a>
                            </p>
                            <blockquote>
                                “The National Centers provide an opportunity to lead the discovery of solutions that
                                improve the health and wellness of our Veterans. The groundbreaking collaborative
                                partnerships formed through these Centers are an important part of VA’s future success.”

                            </blockquote>
                        </div>

                    </div>
                </div>

            </div>
        </section>


    </main>
    <div id="footer"></div>

</body>

</html>