<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - Home Page</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- title section -->
        <section id="" class="grid-container usa-section padding-left-0 padding-bottom-0" style=" padding-top: .5rem;">
            <div class="grid-container" style="text-align: left;">
                <div class="grid-row grid-gap-1">
                    <div class="tablet:grid-col">
                        <h1 class="font-heading-3xl">
                            Tackling Healthcare Challenges Through Collaborative Innovation

                        </h1>
                    </div>
                </div>
            </div>
        </section>



        <!-- Presenter Spotlight -->

        <section class="usa-graphic-list usa-section padding-top-0  " style="background-color: #f0f0f047;">
            <div class="grid-container  padding-3 ">
                <!--project1  -->
                <div id="project1" class="grid-row grid-gap-3 border-gray  " style="background-color: #edf8f8;">
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail" src="/assets/images/fall/download-1.jpg"
                            alt="Augmented Reality and 5G">
                    </div>
                    <div class="tablet:grid-col-8  ">
                        <h2 class="font-heading-md project-title"> Augmented Reality and 5G </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;"><i
                                class="fas fa-procedures project-icon"></i>
                            Project Convergence brings “science fiction to life” through its cutting-edge 5G and
                            augmented reality program. NCCHI has created one of the first 5G-enabled hospitals in the
                            world at our home base at VA Palo Alto Healthcare System. This partnership brings
                            cutting-edge wireless health care solutions, including augmented reality for clinical
                            training, presurgical planning and operative guidance. The partnership includes 5G wireless
                            connectivity from Verizon, clinical augmented reality software from Medivis, and HoloLens 2
                            headsets from Microsoft.



                        </p>
                    </div>
                </div>
                <!--project2  -->
                <div id="project2" class="grid-row grid-gap-2 border-gray bg-white ">

                    <div class="tablet:grid-col-8 ">
                        <h2 class="font-heading-md project-title"> Fall Prevention Projects </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;"> <i
                                class="fas fa-crutch project-icon"></i>
                            In 2015 the cost of fatal and non-fatal falls in the US was approximately $50 billion – and
                            since falls disproportionally impact older adults, it is a particularly important issue for
                            VA to address. <br><br>

                            As a result, we have been developing innovative ways to prevent falls and their devastating
                            consequences. NCCHI is collaborating with the medical company Palarum on an exciting project
                            that utilizes their smart integrated sock sensor system to alert nurses when a fall-risk
                            patient attempts to get out of bed. The system is optimized for efficient clinical response
                            and nurses are empowered to be in the right place, at the right time. <br><br>


                        </p>
                    </div>
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail" src="/assets/images/NCCHI/ncchi2.jpg"
                            alt="project image">
                    </div>
                </div>
                <!--project3  -->
                <div id="project3" class="grid-row grid-gap-3 border-gray  " style="background-color: #edf8f8;">
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail" src="/assets/images/NCCHI/COVID_19.jpg"
                            alt="our works image">
                    </div>
                    <div class="tablet:grid-col-8 ">
                        <h2 class="font-heading-md project-title"> COVID-19 Operational Readiness </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;"> <i
                                class="fas fa-user-md project-icon"></i>
                            During the onset of the COVID-19 pandemic, front-line clinical teams in many parts of the
                            world were overwhelmed, overworked and understaffed. Our NCCHI team proactively sought out
                            advanced tools to optimize VA’s workforce deployment and improve operational agility. Issio
                            is an advanced cloud-based scalable solution that allows us to efficiently float staff to
                            areas where they are most needed. We currently have over 5K employees in the system and
                            areac
                            leveraging the analytics insights to enhance our operational readiness.



                        </p>
                    </div>
                </div>
                <!--project4  -->
                <div id="project4" class="grid-row grid-gap-2 border-gray bg-white ">

                    <div class="tablet:grid-col-8">
                        <h2 class="font-heading-md project-title"> XPRIZE Alliance to combat COVID-19</h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;"> <i
                                class="fas fa-file-medical-alt project-icon"></i>Our NCCHI partnership with the
                            XPRIZE Foundation is bringing leading VA innovators next to partners from around the world
                            to develop new ways of combatting COVID-19. VA professionals are engaging with fellow global
                            healthcare leaders to share ideas, present projects, and test solutions to help rapidly
                            scale promising technology for the global pandemic response. As of December 2020, nearly
                            three hundred COVID-19 solutions have been shared, 18 new projects initiated, and 6
                            completions launched through the alliance. <br> <br>

                            Through this partnership, we helped to form a Brain Trust around Collective Pandemic
                            Artificial Intelligence. As part of this effort, we joined “AI for Good”, a partnership that
                            fosters solutions and dialogue on the beneficial use of Artificial Intelligence to solve
                            pressing global issues such as COVID-19, and organized a partnership with over 35 sister
                            United Nations agencies. <br> <br>




                        </p>
                    </div>
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail"
                            src="/assets/images/NCCHI/PA_woSponsor_OGTag.jpg" alt="our works image">
                    </div>
                </div>
                <!--project5  -->
                <div id="project5" class="grid-row grid-gap-2 border-gray  " style="background-color: #edf8f8;">
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail" src="/assets/images/NCCHI/spotlight.png"
                            alt="our works image">
                    </div>
                    <div class="tablet:grid-col-8">
                        <h2 class="font-heading-md project-title"> AI with DeepMind </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;"><i
                                class="fas fa-file-medical project-icon"></i>
                            In collaboration with Google DeepMind and Google Health, we are studying the clinical
                            applications of machine-learning. The initial work with VA data demonstrated that a Google
                            machine learning algorithm can predict acute kidney injury up to two days before normally
                            detected. This breakthrough offers tremendous potential for early kidney treatment that can
                            reduce or eliminate the devastating consequences of the disease. <br> <br>


                        </p>
                    </div>
                </div>
                <!--project6  -->
                <div id="project6" class="grid-row grid-gap-2 border-gray bg-white ">

                    <div class="tablet:grid-col-8 ">
                        <h2 class="font-heading-md project-title"> Innovative Treatments for ALS and Prostate Cancer
                        </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;"><i
                                class="fas fa-lightbulb project-icon"></i>

                            NCCHI has partnered with the U.S Department of Energy, Lawrence Livermore National
                            Laboratory (LLNL) in the fight against ALS (Amyotrophic Lateral Sclerosis) and prostate
                            cancer, two diseases that have devastating effects on Veteran populations. Our clinical
                            experts, in collaboration with their advanced data scientists, are leveraging LLNL
                            supercomputers to uncover clinical insights from our EHR database that will help us to
                            better understand diagnoses and inform treatments for ALS and prostate cancer.


                        </p>
                    </div>
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail" src="/assets/images/NCCHI/energy.jpeg"
                            alt="our works image">
                    </div>
                </div>
                <!--project7  -->
                <div id="project7" class="grid-row grid-gap-2 border-gray  " style="background-color: #edf8f8;">
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail" src="/assets/images/NCCHI/arm.jpg"
                            alt="project image">
                    </div>
                    <div class="tablet:grid-col-8 ">
                        <h2 class="font-heading-md project-title"> Augmented Reality Microscope
                        </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;"><i
                                class="fas fa-microscope project-icon"></i>

                            The Augmented Reality Microscope (ARM) is an advanced Artificial Intelligence and Augmented
                            Reality enabled system which is currently programmed to detect prostate and breast cancer on
                            pathology slides as a clinical decision support tool. Our VA NCCHI, the Defense Innovation
                            Unit, and VA Palo Alto Pathology leadership have been collaborating to optimize the
                            performance of this cutting-edge system to better serve our nation’s Veterans.


                        </p>
                    </div>
                </div>
                <!--project8  -->
                <div id="project8" class="grid-row grid-gap-2 border-gray bg-white ">

                    <div class="tablet:grid-col-8 ">
                        <h2 class="font-heading-md project-title">Smart Cane for the Blind </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;"><i
                                class="fas fa-blind project-icon"></i>

                            Safe and independent navigation is one of the biggest challenges for those who are blind or
                            visually impaired. Although technological tools are improving, the traditional mobility and
                            orientation tool (i.e., white cane) utilized by those who are blind or visually impaired has
                            not significantly changed since its inception nearly 100 years ago – until now. <br><br>

                            NCCHI is collaborating closely with Brian Higgins in the development of an advanced sensor
                            package that attaches to the standard white cane to provide object detection and avoidance
                            beyond the limited capabilities of the cane itself. The sensor package includes a LIDAR
                            sensor, two ultrasonic sensors, and is paired with an iPhone and other feedback tools such
                            as sound and haptics. Brian, a Blind Rehab Specialist at the VA Palo Alto’s Western Blind
                            Rehab Center, is a visually impaired Veteran himself and has been working for decades to
                            innovate solutions to this problem.




                        </p>
                    </div>
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail" src="/assets/images/NCCHI/crane_cc_2.png"
                            alt="project image">
                    </div>
                </div>


            </div>

        </section>





        <!-- contact us / faq  -->
        <!-- <section>
            <div class="grid-container  padding-3">
                <div class="grid-row grid-gap-2 text-center">

                    <div class="tablet:grid-col border-gray">
                        <h2 class="font-heading-lg   text-left text-primary-darker border-bottom-1">
                            Contact
                        </h2> <br>
                        <h2 class="font-heading-lg    text-center text-primary-darker font-body-1xl ">
                            For questions related to the conference, email us at
                        </h2>

                        <div class="usa-button usa-button--outline tablet:margin-bottom-3">
                            <small>VAinnovation@atlasresearch.us</small></div>
                    </div>
                    <div class="tablet:grid-col-6 border-gray ">
                        <h2 class="font-heading-lg    text-left text-primary-darker border-bottom-1">
                            FAQ
                        </h2>
                        <div class="grid-row grid-gap-2 text-center  ">

                            <div class="tablet:grid-col ">

                                <h2 class="font-heading-lg text-left text-primary-darker font-body-1xl ">
                                    What software platform will host 2020 iEX? <br>
                                    Can I use my phone to access iEX? <br>
                                    How will the sessions be structured? <br>
                                    I don’t have a webcam, is that ok?

                                </h2>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section> -->

    </main>
    <div id="footer"></div>

</body>

</html>