<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- title section -->
        <section id="" class="grid-container usa-section padding-left-0 padding-bottom-0" style=" padding-top: .5rem;">
            <div class="grid-container" style="text-align: left;">
                <div class="grid-row grid-gap-1">
                    <div class="tablet:grid-col">
                        <h1 class="font-heading-lg">
                            The National Center for Collaborative Healthcare Innovation Team
                        </h1>
                    </div>
                </div>
            </div>
        </section>



        <!-- Presenter Spotlight -->

        <section class="usa-graphic-list usa-section padding-top-0  " style="background-color: #f0f0f047;">
            <div class="grid-container  padding-3 ">
                <!-- thom  -->
                <div id="thom" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/NCCHI/OSBOURNE_CIRCLE.png"
                            alt=" Dr. Thomas Osborne, Director for NCCHI">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;"> Dr. Thomas Osborne, Director
                            for NCCHI

                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">Thomas Osborne, MD, is the Director of the National Center for
                            Collaborative Healthcare Innovation (NCCHI) and Chief Medical Informatics Officer (CMIO) at
                            VA Palo Alto Health Care System. As Director of NCCHI, he is leading multidisciplinary teams
                            in the co-development and implementation of pioneering healthcare solutions throughout VA,
                            with other government agencies, and with leading technology companies. His teams overarching
                            goal is to deliver the best and most advanced healthcare solutions to our Veterans. He is
                            the inaugural recipient of the VA Under Secretary for Health Robert L. Jesse Award for
                            Excellence in Innovation. His work has been published in numerous medical journals and
                            textbooks on topics such as predictive analytics, artificial intelligence, sensor
                            technology, augmented reality, virtual reality, and the future of health care. Dr. Osborne
                            received his medical degree from Dartmouth Medical School, completed his residency at
                            Harvard Mount Auburn Hospital, and fellowship at Harvard Massachusetts General Hospital. He
                            is board certified in both Diagnostic Radiology and Neuroradiology. Dr. Osborne is also a
                            staff neuroradiologist at VA Palo Alto Healthcare System and Clinical Associate Professor
                            (affiliated) at Stanford University School of Medicine. <br>
                            <strong>Innovation Superpower: Grit</strong>
                        </p>
                    </div>
                </div>
                <!-- Paola Suarez, MPH -->
                <div id="paola" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/NCCHI/SUAREZ_CIRCLE.png"
                            alt=" Paola Suarez, MPH Data Scientist">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;"> Paola Suarez, MPH Data
                            Scientist
                        </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">Paola Suarez is a Data Scientist for
                            the National Center for Collaborative Healthcare Innovation (NCCHI). She has worked in
                            healthcare analytics for 12 years, mostly within VHA, analyzing data in the Veteran
                            population to learn about diseases and disease outcomes with the aim of improving quality of
                            care. She is very interested in the use of predictive models which include a broad array of
                            risk factors, to build algorithms that can help predict an individual’s health and thus
                            influence inflection points in the care trajectory that may result in a more positive health
                            outcome. She has an MPH in Epidemiology from UMDNJ-SPH, and dual B.S. degrees in
                            Biotechnology and Biochemistry from Rutgers University. In her spare time, she loves to
                            explore nature with her family, photograph and paint the beautiful landscapes she comes
                            across and to think of ways to keep squirrels away from her garden while still sharing the
                            fruits of labor. <br>


                            <strong> Innovation Superpower: Perseverance</strong>




                        </p>
                    </div>
                </div>
                <!--David Arreola  -->
                <div id="david" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/NCCHI/ARREOLA_CIRCLE.png"
                            alt=" David Arreola Technology Integration Analyst">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">David Arreola, MCSE
                            Technology Integration Analyst </h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            David Arreola is a Technology Integration Analyst working with the National Center for
                            Collaborative Healthcare Innovation (NCCHI). David brings over 15 years of Information
                            Technology experience to NCCHI and has worked the last 7 years within the VA. He started
                            with VA at the VA Palo Alto Health Care System (VAPAHCS) in 2013, as an IT Specialist and
                            quickly rose through the ranks to become the Chief of the Palo Alto IT Customer Support
                            office. David’s desire to contribute to the VA in a greater capacity and passion for
                            technology has led him to start working with the National Center for Collaborative
                            Healthcare Innovation in 2019. David focuses on implementing novel and innovative technology
                            solutions into the VHA Innovations Ecosystem by leveraging his IT experience and VA OIT
                            institutional knowledge.

                            <br> <strong> Innovation Superpower: Resolution</strong>

                        </p>
                    </div>
                </div>
                <!--Ilya Vrublevskiy, PMP -->
                <div id="Ilya" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/NCCHI/VRUBLEVSKIY_CIRCLE.png"
                            alt="Ilya Vrublevskiy, PMP">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;">Ilya Vrublevskiy, PMP Project
                            Manager</h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">Ilya Vrublevskiy is a Project
                            Manager for the National Center for Collaborative Healthcare Innovation (NCCHI). He has been
                            with the VA for a total of 7 years. Ilya received his bachelor’s degree from San Jose State
                            University and is also PMP certified. He is an executive-level project manager with over 13
                            years of Information Technology (IT) and Project Management experience in both the federal
                            and private sector with key emphasis on IT system implementation, integration, product
                            development and systems analysis. He is a versatile, bilingual professional with global
                            expertise driving projects and leading cross-functional/global teams to consistently meet
                            key program deliverables. Adept at maintaining focus on achieving bottom-line results while
                            formulating and implementing advanced technology and business solutions to meet a diversity
                            of needs. Exemplary communication and attention to detail to exceed customer expectations
                            and maintain high levels of client satisfaction. Ilya is also a United States Army Veteran
                            who served as a Cavalry Scout.


                            <br> <strong> Innovation Superpower: Persistence</strong>


                        </p>
                    </div>
                </div>
                <!-- Kalyn Essex, MPA   -->
                <div id="Kalyn" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/NCCHI/KALYN_CIRCLE.png"
                            alt="Kalyn Essex, MPA Innovations Specialist">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;"> Kalyn Essex, MPA Innovation
                            Specialist</h4>
                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">Kalyn Essex is the Innovation
                            Specialist for the VAPAHCS, serving as the local representative for the VHA Innovators
                            Network. In this role, she is working to create a facility environment that encourages
                            creative thinking, permission-less innovation, and collaboration. Her primary efforts are
                            focused around supporting staff in identifying problems, testing and implementing solutions,
                            and utilizing a human-centered approach to improve how we care for our Veterans. Kalyn is an
                            Air Force Veteran, served on Active Duty for almost 12 years as an Aerospace Medical
                            Technician, and is passionate about empowering staff to think big and fearlessly innovate.
                            She loves spending time snuggling her three dogs, propagating plants, hiking, reading, doing
                            yoga, and traveling. Always accepting captivating book and bingeworthy show recommendations.

                            <br><strong> Innovation Superpower: Balance</strong>

                        </p>
                    </div>
                </div>
                <!-- Zach Veigulis, MS  -->
                <div id="Zach" class="grid-row grid-gap-2 border-gray bg-white ">
                    <div class="tablet:grid-col-3 ml-auto ">

                        <img class="bi-image h100" src="/assets/images/NCCHI/ZACH_CIRCLE.png"
                            alt="Zach Veigulis, MS Data Scientist">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <h4 class=" text-900 padding-left-3" style="font-weight: bold;"> Zach Veigulis, MS Data
                            Scientist</h4>

                        <p class="font-body-sm margin-0" style="padding: 10px 20px;
                        margin: 0 0 20px;
                        font-size: 17.5px;
                        border-left: 5px solid #917b47;">
                            Zachary Veigulis has been with VHA for over 10 years and is currently serving as a Data
                            Scientist for the National Center for Collaborative Healthcare Innovation (NCCHI). He
                            received his Master of Science, Business Analytics and Health and Human Physiology degree
                            from the University of Iowa (Go Hawks). He has a strong track record of utilizing electronic
                            healthcare record (EHR) data to inform clinical decisions. His particular areas of interest
                            include utilizing predictive analytics (including machine learning/artificial intelligence)
                            to identify and improve outcomes for vulnerable patient populations. Through our work and
                            collaborations with internal/external government, industry and academic partners, Zach looks
                            forward to continue advancing our patient-centered advanced analytics capabilities and
                            projects, to improve healthcare.

                            <br><strong>Innovation Superpower: Ingenuity</strong>


                        </p>
                    </div>
                </div>




            </div>

        </section>






    </main>
    <div id="footer"></div>


</body>

</html>