<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                        VA New England Center for Innovation Excellence (NECIE)
                    </h1>

                    <div class="tablet:grid-col-5 text-left padding-top-1 ">

                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            The VA New England Center for Innovation Excellence (NECIE) provides the Innovation
                            community with practical healthcare provider input to the development process, a natural
                            clinical partner, and real-world patient input from the Veteran community as part of the
                            design to accelerate “innovation to impact”. NECIE and the VHA Innovation Ecosystem are
                            exceptionally aligned and positioned to design, develop, and broadly share positively
                            impactful health care solutions.
                        </p>
                    </div>
                    <div class="tablet:grid-col-7 padding-top-0">
                        <img style="background-color: #537494 !important;  width: 500px;"
                            src="/assets/images/necie/Picture1.jpg" alt="Virtual Reality Care in Action">

                    </div>
                </div>
                <!-- <div class="grid-row grid-gap-1 margin-top-3" >
                    <div class="tablet:grid-col-2 text-right padding-top-2">
                        <img class="usa-media-block__img   image-thumbnail padding-top-3 " style="border-radius: 50%; height: 30%;"
                            src="/assets/images/NCCHI/dr-thom.jpg" alt="Dr asborve image">
                    </div>
                    <div class="tablet:grid-col-10 ">
                        <p class="font-mono-xs margin-0 text-white" style="padding-top: 15px;">

                        <blockquote class="text-white">
                            “We have both an opportunity and responsibility
                            to lead the discovery of solutions that improve the
                            health and wellness of our Veterans,” said Dr. Osborne.
                            “Groundbreaking collaborative partnerships like this
                            are an important part of our future success. As the
                            largest integrated health care system in the United
                            States, these advances have the potential to have
                            far-reaching positive impact.” Although our work is
                            focused on Veterans, it is also expected to benefit other
                            individuals and organizations, thanks to VA’s authority
                            to partner with others.
                        </blockquote>

                    </div>
                </div> -->
            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g ">
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>

        <!-- svg image bottom  -->
        <!-- <svg class="fl-builder-layer-align-top-center" viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background:#e0f1f1;">

            <defs>
                    </defs>
    
            <g class="fl-shape-content">
                <polygon class="fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20"></polygon>
            </g>
        </svg> -->
        <!-- main boxes project  -->
        <section class="  small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0  hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;">
            <div class="grid-container ">
                <div id="" class="  padding-3 padding-top-1  text-dark">
                    <h2 class="font-heading-xl text-dark-gray border-bottom">
                        Mission - Focus
                    </h2>

                    <div class="grid-row grid-gap">
                        <div class="tablet:grid-col-5 ">
                            <p class="font-body-md padding-top-3">
                                The <strong>mission of VA New England Center for Innovation Excellence</strong> is to
                                create the
                                foundation for operationalizing innovation in VISN 1 and VHA’s health care settings.
                                <br>

                            </p><br>
                            <br>
                            <p class="font-body-md padding-top-1 ">
                                The <strong>focus of VA New England Center for Innovation Excellence</strong> is three-fold <br><br>
                                1. Technology solutions for chronic and/or complex illnesses and injuries <br>
                                2. Rural access to world class health care <br>
                                3. Health care and life-style solutions for aging veterans <br>

                               
                                <br>

                            </p><br>
                        </div>
                        <div class="tablet:grid-col-7 padding-top-5">
                            <img class="oneshadow image-thumbnail padding-top-5"
                                src="/assets/images/necie/mission.png"
                                alt="image place holder - mission ">
                        </div>

                    </div>
                    <div class="grid-row grid-gap ">

                       
                        <div class="tablet:grid-col-12 ">
                           
                            <br>
                        </div>

                    </div>
                </div>




 </div>
 <div class="grid-container">
    <!-- 11111 -->

    <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
        <!-- 1 Augmented Reality and 5GE  -->
        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2" style="box-shadow: 0px 5px 6px -6px black;">
            <div class="usa-card__container">


                <div class="usa-card__media usa-card__media--inset">
                    <div class="usa-card__img">
                        <img class="image-thumbnail wrapper img-me" src="/assets/images/fall/download-1.jpg " alt="Project Convergence">
                    </div>
                    <header class="usa-card__header">
                        <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Augmented
                            Reality
                            and 5G
                        </h4>
                    </header>
                </div>

                <div class="usa-card__body padding-1 f15 ">
                    <p style="color:#1b1b1b; padding-bottom: 15px;">Project Convergence brings “science
                        fiction to
                        life” through
                        its cutting-edge 5G and augmented reality program. <br><br><br><br><br> </p>
                    <a class="usa-button btn-me btn-lg shadowme a-work" href="/views/who-we-are/NCCHI-projects.html#project1" target="_blank"><small>Read
                            More
                            »</small></a>
                </div>

            </div>

        </div>
        <!-- 2   -->
        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2" style="box-shadow: 0px 5px 6px -6px black;">
            <div class="usa-card__container">


                <div class="usa-card__media usa-card__media--inset">
                    <div class="usa-card__img">
                        <img class="image-thumbnail wrapper" src="/assets/images/NCCHI/ncchi2.jpg " alt="Project Convergence">
                    </div>
                    <header class="usa-card__header">
                        <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Fall
                            Prevention
                            Projects
                        </h4>
                    </header>
                </div>

                <div class="usa-card__body padding-1 f15">
                    <p style="color:#1b1b1b;padding-bottom: 17px;">In 2015 the cost of fatal and non-fatal
                        falls in
                        the US was
                        approximately $50 billion— and since falls disproportionally impact older
                        adults,
                        it is a particularly important issue for VA to address. <br><br>
                    </p>
                    <a class="usa-button btn-me btn-lg shadowme a-work" href="/views/who-we-are/NCCHI-projects.html#project2" target="_blank"><small>Read
                            More
                            »</small>
                    </a>
                </div>

            </div>

        </div>


        <!-- 3 Smart Cane for the Blind -->
        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2" style="box-shadow: 0px 5px 6px -6px black;">
            <div class="usa-card__container">


                <div class="usa-card__media usa-card__media--inset">
                    <div class="usa-card__img">
                        <img src="/assets/images/NCCHI/crane_cc_2.png" class="image-thumbnail wrapper" alt="A placeholder image">
                    </div>
                    <header class="usa-card__header">
                        <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Smart White
                            Cane for the Blind
                        </h4>
                    </header>
                </div>

                <div class="usa-card__body padding-1 f15">
                    <p style="color:#1b1b1b;">Safe and independent navigation is one of
                        the biggest challenges for those who are blind or visually impaired. The traditional
                        ‘white cane’ for the blind has not significantly changed since its inception – until
                        now.
                    </p>
                    <a class="usa-button btn-me btn-lg shadowme a-work" href="/views/who-we-are/NCCHI-projects.html#project8" target="_blank"><small>Read
                            More
                            »</small>
                    </a>
                </div>

            </div>


        </div>
      

    </div>
    <!-- 222 -->

  






</div>




        </section>

        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: #e0f1f1;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>

        <!-- news/awars/interview section background-image:url(/assets/images/ncchi/world.jpg);-->
        <section class="usa-section small-padding usa-section  padding-top-0 padding-bottom-0">
            <div class="grid-container">
                <div class="grid-row margin-top-3 margin-bottom-3">
                    <div class="tablet:grid-col">
                        <h3 class="font-heading-xl text-dark">
                            Learn more about NCCHI’s Innovative Work
                        </h3>


                    </div>

                </div>

                <!-- <div id="news-events-navigation" class="grid-col-3"></div> -->
                <div class="usa-layout-docs__main  usa-prose">


                    <div class="grid-row grid-gap">
                        <!-- right column ,intervew  -->
                        <div class="tablet:grid-col padding-right-1 padding-top-1  margin-right-1 bg-white"
                            style="border:1px solid #dfd9cc;border-radius: 5px; box-shadow: 0px 5px 6px -6px black;padding-right:0; padding-left: 0;padding-top: 0;">
                            <div class="gpo-shadow" style="height: 70px;padding: 10px;">
                                <p class=" font-weight-bold padding-top-2">
                                    <i class="fas fa-microphone padding-right-2 icon"></i> <strong>NCCHI
                                        Interview </strong> <a class="float-right " href="#"
                                        style="color: #072314;"></a>
                                </p>
                            </div>
                            <div class="scrollmenu" style="max-height: 380px; padding: 5px;">

                                <ul class="usa-list usa-list--unstyled margin-x-3 striped-list ">
                                    <!-- 111 -->
                                    <li><a target="_blank"
                                            href="https://issuu.com/faircountmedia/docs/veterans_affairs_military_medicine_outlook_spring_/s/12248843">

                                            “Innovative technologies Support Personalized Health Care”
                                        </a><br>
                                        <small>Veterans Affairs & Military Medicine OUTLOOK </small>
                                    </li>
                                    <!-- 2222 -->
                                    <li><a target="_blank"
                                            href="https://www.fedscoop.com/va-health-incubator-starts-disease-prevention-tools/">
                                            “VA, Air Force Test Out 5G in Hospital Settings”
                                        </a><br>
                                        <small>FedTech Magazine </small>
                                    </li>
                                    <!-- 111 -->
                                    <li><a target="_blank"
                                            href="https://www.usmedicine.com/non-clinical-topics/technology/vas-innovation-chief-sees-himself-as-a-catalyst-to-bring-people-ideas-together/">
                                            Chief as a Catalyst to Bring People, Ideas Together</a><br>
                                        <small>U.S. Medicine Interview </small>
                                    </li>
                                    <!-- 2222 -->
                                    <li><a target="_blank"
                                            href="https://www.fedscoop.com/va-health-incubator-starts-disease-prevention-tools/">
                                            Health incubator starts with disease prevention tools </a><br>
                                        <small>FedScoop Interview </small>
                                    </li>
                                    <!-- 33333 -->
                                    <li><a target="_blank"
                                            href="https://www.nextgov.com/emerging-tech/2020/08/six-months-vas-5g-enabled-hospital-project/167593/">
                                            Six Months into VA's 5G-Enabled Hospital Project </a><br>
                                        <small>Nextgov Interview</small>
                                    </li>
                                    <!-- 44444 -->
                                    <li><a target="_blank"
                                            href="https://www.fedscoop.com/va-hospital-silicon-valley-5g-hololens-verizon-microsoft/">
                                            Silicon Valley VA hospital gets taste of ‘mixed reality’ through Project
                                            Convergence</a>
                                        <small>FedScoop Interview </small>
                                    </li>
                                    <!-- 555555 -->
                                    <li><a target="_blank"
                                            href="https://www.nextgov.com/emerging-tech/2020/02/va-reveals-industry-partners-first-5g-enabled-hospital/163172/">
                                            VA Reveals Industry Partners for First 5G-Enabled Hospital</a><br>
                                        <small>NextGov Interview </small>
                                    </li>
                                    <!-- 66666 -->
                                    <li><a target="_blank"
                                            href="https://federalnewsnetwork.com/federal-drive/2019/11/va-creates-awards-innovation-honor-for-late-under-secretary-of-health/">
                                            VA creates, awards innovation honor for late under secretary of Health
                                        </a><br>
                                        <small>Federal News Network Interview </small>
                                    </li>

                                    <!-- 7777 -->
                                    <li><a target="_blank"
                                            href="https://rosenmaninstitute.org/podcast-2020/2020/5/26/54-dr-tom-osborne-predicting-the-future-with-big-data-1">Tom
                                            Osborne: Predicting the Future with Big Data
                                        </a><br>
                                        <small> UCSF Rosenman Institute: Health Technology podcast Interview </small>
                                    </li>


                                    <!-- 88888 -->
                                    <li><a target="_blank"
                                            href="https://www.research.va.gov/currents/0819-VA-DeepMind-partnership-reports-on-technology-for-early-detection-of-kidney-condition.cfm">
                                            VA-DeepMind partnership reports on technology for early detection of
                                            life-threatening kidney condition </a><br>
                                        <small>VA Office of R&D Interview </small>
                                    </li>



                                </ul>


                            </div>
                        </div>
                        <!-- news  -->
                        <div class="tablet:grid-col padding-right-1 padding-top-1  margin-right-1 bg-white"
                            style="border:1px solid #dfd9cc;border-radius: 5px; box-shadow: 0px 5px 6px -6px black;padding-right:0; padding-left: 0;padding-top: 0;">
                            <div class="gpo-shadow" style="height: 70px;padding: 10px;">
                                <p class=" font-weight-bold padding-top-2"><i
                                        class="fas fa-globe-europe padding-right-2 icon"></i> <strong>NCCHI In the News
                                    </strong> <a class="float-right " href="#" style="color: #072314;"></a></p>
                            </div>
                            <div class="scrollmenu" style="max-height: 380px; padding: 5px;">

                                <ul class="usa-list usa-list--unstyled margin-x-3 striped-list ">


                                    <!-- 1111 -->
                                    <li><a target="_blank"
                                            href="https://tippie.uiowa.edu/news/business-analytics-capstone-project-finds-better-outcomes-covid-19-patients-low-dose-aspirin-regimen">VHA
                                            Business Analytics capstone project finds better outcomes for COVID-19
                                            patients on a low dose aspirin regimen</a><br><small>
                                            March 19, 2021</small></li>

                                    <!-- 222 -->
                                    <li><a target="_blank"
                                            href="https://blogs.va.gov/VAntage/85449/face-of-innovation-kalyn-essex/">
                                            Face of Innovation: Kalyn Essex
                                        </a>
                                        <br><small>March 8, 2021</small>
                                    </li>
                                    <!-- 11 -->
                                    <li><a target="_blank"
                                            href="https://ai.healthcareitnews.com/ai-powered-healthcare/va-launches-collaborative-healthcare-innovation-center-california">VHA
                                            VA Launches Collaborative Healthcare Innovation Center in
                                            California</a><br><small>
                                            AI Powered Healthcare</small></li>

                                    <!-- 222 -->
                                    <li><a target="_blank"
                                            href="https://healthitanalytics.com/news/va-launches-predictive-analytics-clinical-decision-support-center">VA
                                            Launches Predictive Analytics, Clinical Decision Support Center</a>
                                        <br><small>Health IT Analytics</small>
                                    </li>

                                    <!-- 33 -->
                                    <li><a target="_blank"
                                            href="https://www.executivegov.com/2019/09/va-opens-health-care-innovation-center-in-california-robert-wilkie-quoted/">
                                            VA
                                            Opens Health Care Innovation Center in California: Robert Wilkie quoted
                                        </a><br><small>ExecutiveGov</small></li>
                                    <!-- 44 -->

                                    <li><a target="_blank"
                                            href="https://www.fedscoop.com/va-health-care-center-innovation/">
                                            Veterans Affairs pilots health care center seeking innovative tech
                                            breakthroughs</a>
                                        <br><small>FedScoop </small>
                                    </li>
                                    <!-- 55 -->

                                    <li><a target="_blank"
                                            href="https://www.va.gov/opa/pressrel/pressrelease.cfm?id=5309">
                                            VA pilots first collaborative health care innovation center in Palo Alto
                                        </a><br><small>
                                            VA Press Release </small></li>
                                    <!-- 66 -->

                                    <li><a target="_blank"
                                            href="http://www.digitaljournal.com/pr/4879783/#ixzz6eDrwNerg">
                                            Palarum Announces US Veterans Affairs to Evaluate Use of 'Smart Patient
                                            Sock' to Reduce Patient Falls </a><br><small>
                                            Press release</small></li>

                                    <!-- 77 -->
                                    <li><a target="_blank"
                                            href="https://www.va.gov/opa/pressrel/pressrelease.cfm?id=5433">
                                            VA joins XPRIZE Pandemic Alliance to combat COVID-19 and future
                                            outbreaks</a>
                                        <br><small>Press release </small>
                                    </li>
                                    <!-- 88 -->

                                    <li><a target="_blank"
                                            href="https://www.performance.gov/gearawards/vha-innovation/">
                                            Breaking: Gears of Government President's Award Winners</a><br><small>
                                            Press release </small></li>

                                    <!-- 99 -->
                                    <li><a target="_blank"
                                            href="https://www.fedhealthit.com/2019/10/press-release-va-secretary-recognizes-winner-and-finalists-of-the-under-secretary-for-health-robert-l-jesse-award-for-excellence-in-innovation/">
                                            VA Secretary recognizes winner and finalists of the Under Secretary for
                                            Health Robert L. Jesse Award for Excellence in Innovation”
                                        </a><br><small>NextGov, October 23, 2019</small></li>

                                    <!-- 1010101 -->
                                    <li><a target="_blank"
                                            href="https://med.stanford.edu/radiology/news/2019/thomas-osborne-received-robert-l-jesse-award.html">
                                            Dr. Osborne Received Inaugural Robert L. Jesse Award for Excellence in
                                            Innovation</a>
                                        <br><small>Stanford Medicine Press Release</small>
                                    </li>

                                    <!-- 11-11- -->
                                    <li><a target="_blank"
                                            href="https://www.jessefamilyfoundation.org/news/robertjesse-va-innovation-award">
                                            Inaugural Robert L. Jesse Award for Excellence in Innovation Given by VA
                                            Secretary</a><br><small>
                                            Jesse Family Foundation Press Release </small>
                                    </li>





                                </ul>


                            </div>
                        </div>


                        <!-- awards  -->
                        <div class="tablet:grid-col padding-right-1 padding-top-1  margin-right-1 bg-white"
                            style="border: 1px solid#dfd9cc;border-radius: 5px; box-shadow: 0px 5px 6px -6px black;padding-right:0; padding-left: 0;padding-top: 0;">
                            <div class="gpo-shadow" style="height: 70px;padding: 10px;">
                                <p class=" font-weight-bold padding-top-2"><i
                                        class="fas fa-award padding-right-2 icon"></i>
                                    <strong>NCCHI National Awards </strong> <a class="float-right " href="#"
                                        style="color: #072314;"></a>
                                </p>
                            </div>
                            <div class="scrollmenu" style="max-height: 380px; padding: 5px;">

                                <ul class="usa-list usa-list--unstyled margin-x-3 striped-list ">
                                    <!-- 1111 -->


                                    <li><a target="_blank"
                                            href="https://www.actiac.org/act-iac-event/emerging-technology-and-innovation-conference-2021?utm_source=Informz&utm_medium=Email&utm_campaign=ACT-IAC%20Blast%20Email&_zs=jms6c&_zl=gaVc2#ina-25989">
                                            American Council for Technology and Industry Advisory Council
                                            (ACT-IAC) Innovation Award.
                                        </a>



                                        <br><small> Brian Higgins Smart White Cane for the visually
                                            impaired. </small>
                                    </li>
                                    <!-- 222 -->

                                    <li>Department of Defense - Congressionally Directed Medical Research
                                        Programs (DOD CDMRP) Therapeutic Idea Award

                                        <br><small>
                                            Collaborating investigators for: Causal Machine Learning for Drug
                                            Repurposing to Impact ALS Treatment
                                        </small>
                                    </li>

                                    <!-- 1111 -->


                                    <li><a target="_blank"
                                            href="https://www.fedscoop.com/bio/fedscoop50-thomas-osborne/">FedScoop 50
                                            Award: Tech Champion of the Year
                                        </a>
                                        <br><small> Award honors the best and the brightest who make the federal
                                            government more
                                            efficient and effective</small>
                                    </li>
                                    <!-- 222 -->

                                    <li>
                                        <a target="_blank"
                                            href="https://www.va.gov/opa/pressrel/pressrelease.cfm?id=5530">
                                            President’s Award: Gears of Government
                                        </a>
                                        <br><small>
                                            The US executive branch recognizes the contributions of individuals and
                                            teams across the federal workforce who make a profound difference in the
                                            lives of the American people.
                                        </small>
                                    </li>
                                    <!-- 333/ -->

                                    <li>
                                        <a target="_blank"
                                            href="https://etc.g2xchange.com/statics/2020-disruptive-tech-winners/">
                                            G2Xchange 2020 Disruptive Tech Program Award
                                        </a>
                                        <br><small>
                                            For developing and leading project Convergence
                                        </small>
                                    </li>
                                    <!-- 444 -->

                                    <li>Research Grant Award

                                        <br><small> US Dept of Energy / Lawrence Livermore National Laboratory </small>
                                    </li>

                                    <!-- 5555 -->
                                    <li>Gears of Government - Agency Award

                                        <br><small> For exceptional delivery of key outcomes for the American people
                                        </small>
                                    </li>

                                    <!-- 6666/ -->
                                    <li>
                                        <a target="_blank"
                                            href="https://www.va.gov/opa/pressrel/pressrelease.cfm?id=5340">
                                            “VA Innovator of The Year” (Inaugural winner of the national award)
                                        </a>
                                        <br><small>
                                            VA Under Secretary for Health Robert L. Jesse Award for Excellence in
                                            Innovation
                                        </small>
                                    </li>

                                </ul>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <!-- image gray top SVG  -->
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: white;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>
        <!-- <section>
            <div class="grid-row">
                <svg width="1694" height="113" xmlns="http://www.w3.org/2000/svg">
          
                    <g>
                        <title>background</title>
                        <rect fill="none" id="canvas_background" height="115" width="1696" y="-1" x="-1" />
                        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                        </g>
                    </g>
                    <g>
                        <title>Layer 1</title>
                        <rect stroke="null" transform="rotate(2.1024317741394043 822.357055664063,111.05017852783094) "
                            id="svg_1" height="161" width="1755.3888" y="30.55018" x="-55.3374" stroke-width="1.5"
                            fill="#f0f0f0" />
                        <rect id="svg_3" height="2" width="2" y="393.45313" x="929.5" stroke-opacity="null"
                            stroke-width="1.5" stroke="#000" fill="#f0f0f0" />
                    </g>
                </svg>
            </div>
        </section> -->

        <!-- 2nd quoat of thom -->
        <section class="usa-section small-padding usa-section  "
            style="background: #f0f0f0;box-shadow: black 0px 8px 6px -6px;margin-top: -10px;">
            <div class="grid-container">

                <!-- style="box-shadow: 0px 5px 6px -6px black;" -->
                <div class="grid-row grid-gap-2 border-gray bg-white">


                    <div class="grid-row ">

                        <div class="tablet:grid-col text-left"
                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                            <h3 class="text-left">
                                Journal Article Publications
                            </h3>


                        </div>

                    </div>



                    <p class="padding-top-5   bg-white margin-2">



                        Tomašev N, Harris N, [...], Osborne TF, Reeves R, Hassabis D, King D, Suleyman M, Back T,
                        Nielson C, Seneviratne MG, Ledsam JR, Mohamed S.
                        <a href="https://www.nature.com/articles/s41596-021-00513-5">
                            <strong>Use of deep learning to develop continuous risk
                                models for adverse event prediction from electronic health records. Nature
                                Protocols.</strong></a>
                        <cite>May 5,
                            2021. DOI: 10.1038/s41596-021-00513-5
                        </cite><br><br>



                        Ferguson JM, Justice AC, Osborne TF, Magid HAS, Purnell AL, Rentsch CT.
                        <a href="https://www.medrxiv.org/content/10.1101/2021.04.27.21256215v2">
                            <strong> Racial and ethnic
                                disparities for SARS-CoV-2 positivity in the United States: a generalizing
                                pandemic.</strong></a>
                        <cite> medRxiv
                            preprint May 2, 2021 DOI: DOI: 10.1101/2021.04.27.21256215
                        </cite><br><br>




                        Ioannou GN, Green P Fan VS […], Osborne TF, Ioannou NG, Berry K.
                        <a href="https://jamanetwork.com/journals/jamanetworkopen/fullarticle/2778179">
                            <strong> Development of a model
                                (COVIDVax) estimating risk of SARS-CoV-2-related death among 7.6 million US Veterans for
                                use in
                                vaccination prioritization. JAMA Networks Open. Apr 8, 2021.</strong></a>
                        <cite> DOI:10.1001/jamanetworkopen.2021.4347
                        </cite><br><br>




                        Ferguson JM, Magid HSA, Purnell AL, Kiang MV, Osborne TF.
                        <a href="https://journals.sagepub.com/doi/full/10.1177/00333549211009498">
                            <strong> Differences in COVID-19 Testing and
                                Test Positivity Among Veterans, United States, 2020. Public Health Reports. Apr 7,
                                2021.</strong></a>
                        <cite> DOI:
                            org/10.1177/00333549211009498
                        </cite><br><br>






                        Pettit J, Nguyen S, Cadena J, Ng B, Reimer R, Osborne TF, Gryshuk A, Priyadip R
                        <a href="https://www.youtube.com/watch?v=z6pCejDWXBA">
                            <strong> Machine Learning
                                Models for Identifying Risk Factors and Prediction of ALS Progression. 31st
                                International
                                Symposium on ALS/MND December 9-11, 2020. Live abstract poster Dec 9 2020. EPI-05
                                Video released by LLNL with IM release number:</strong></a>
                        <cite> LLNL-VIDEO-816864.

                        </cite><br><br>









                        Osborne, TF, Veigulis ZP, Arreola, DM, Mahajan S, Röösli E, Curtin, CM.
                        <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0246825">
                            <strong>Association of mortality and aspirin prescription for COVID-19 patients at the
                                Veterans Health Administration.</strong></a>
                        <cite>PLoS ONE 2021 Feb 11. DOI: 10.1371/journal.pone.0246825
                        </cite><br><br>




                        Osborne, TF, Veigulis, ZP, Arreola, D, Mahajan, S, Röösli, E, Curtin, CM
                        <a href="https://www.medrxiv.org/content/10.1101/2020.12.13.20248147v1">
                            <strong>Association of Mortality and Aspirin Prescription for COVID-19 Patients at the
                                Veterans Health Administration.</strong></a>
                        <cite>medRxiv preprint 14 Dec 2020. DOI: 10.1101/2020.12.13.20248147
                        </cite><br><br>

                        D’Amour A, Heller K, Moldovan, D [...], Hou S, Mincu D, Nielson C, Osborne TF, Schrouff J,
                        Seneviratne MG, Sculley D. <a
                            href="https://arxiv.org/pdf/2011.03395.pdf)"><strong>Underspecification Presents Challenges
                                for Credibility in
                                Modern
                                Machine
                                Learning.</strong></a>
                        arXiv preprint arXiv:2011.03395. 2020 Nov 6.
                        <cite>arXiv:2011.03395v1</cite>
                        <br>

                        <br>
                        Osborne TF, Veigulis ZP, Arreola DM, Röösli E, Curtin CM.
                        <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0236554"><strong>Automated
                                EHR score to predict
                                COVID-19
                                outcomes at US Department of Veterans Affairs.</strong></a> PLoS ONE 2020 July 27;
                        15(7):e0236554.
                        <cite>Part of ISSN:
                            1932-6203. DOI: 10.1371/journal.pone.0236554</cite>
                        <br> <br>
                        Osborne TF, Suarez P, Edwards D, Hernandez-Boussard T, Curtin C. <a
                            href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7418912/"> <strong> Patient Electronic
                                Health
                                Records
                                Score for Preoperative Risk Assessment Before Total Knee Arthroplasty. </strong></a>
                        Journal of
                        Bone
                        and Joint
                        Surgery. 2020 Apr 1;5(2):e0061. <cite>Part of ISSN: 2472-7245. DOI:
                            10.2106/JBJS.OA.19.00061</cite>
                        <br>
                        <br>
                        Mahajan SM, Mahajan A, Nguyen C, Bui J, Abbott BT, Osborne TF.
                        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0972978X2030129X?via%3Dihub "><strong>Predictive
                                models for
                                identifying
                                risk of readmission after index hospitalization for hip arthroplasty: A systematic
                                review.</strong></a> Journal
                        of Orthopaedics. 2020 Apr 1. <cite> Part of ISSN: 0972-978X. DOI:
                            10.1016/j.jor.2020.03.045</cite>
                        <br><br>
                        Scott GD, Osborne TF, Gross S, Fong D.
                        <a
                            href="https://www.jpathinformatics.org/article.asp?issn=2153-3539;year=2020;volume=11;issue=1;spage=8;epage=8;aulast=Scott">
                            <strong>Value-based intervention with hospital and
                                pathology
                                laboratory informatics: a case of analytics and outreach at the Veterans
                                Affairs.</strong></a>
                        <cite>Journal of
                            Pathology Informatics. 2020
                        </cite> <br><br>


                    </p>
                </div>

            </div>
        </section>


        <!-- quoat of thom -->
        <section class="usa-section small-padding usa-section padding-bottom-3 "
            style="background: #f0f0f0;box-shadow: 0px 5px 6px -6px black;">
            <div class="grid-container">
                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">
                    <div class="tablet:grid-col-3">
                        <img class="usa-media-block__img    " style="border-radius: 5%;"
                            src="/assets/images/logos//ncchi-logo.jpeg" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 " style="padding-top: 40px;">
                        <p class="font-body-sm margin-0 padding-left-3" style="padding-top: 15px;">
                            <strong> Dr. Thomas Osborne, Director for NCCHI</strong>
                        </p>
                        <blockquote>
                            “This is a critically important time in medical history. The
                            work we do at VA has the potential for broad positive
                            impact that will not only dramatically benefit our
                            Veterans, but also the world. As a result, we have
                            both the opportunity and responsibility to
                            be leaders in health care innovation.”

                        </blockquote>
                    </div>

                </div>
            </div>
        </section>

        <!-- leader image -bio icon section -->
        <section class="usa-graphic-list usa-section padding-top-0 p ">
            <div class="grid-container  padding-3 ">
                <div class="tablet:grid-col margin-right-1 ">
                    <!-- thom  -->

                    <div class="grid-row bg-white  padding-2 padding-bottom-0"
                        style="border-bottom: .125rem dotted #7fcfcf;">


                        <p class="padding-2"> <i class="fas fa-envelope-open-text project-icon"></i><strong>Let's
                                Connect! </strong> <br> Email us with any questions or
                            inquiries. We would be happy to answer your questions. <br> <a
                                href="mailto:ContactNCCHI@va.gov"> ContactNCCHI@va.gov</a> </p>



                    </div>




                </div>

                <div class="grid-row margin-top-1 margin-bottom-3">
                    <div class="tablet:grid-col">
                        <h3 class="has-color" style="color: #004b87;">
                            Our Team
                        </h3>


                    </div>

                </div>

                <!-- 11111 row    Thomas Osborne, MD    Paola Suarez, MPH   -->
                <div class="grid-row ">
                    <div class="tablet:grid-col margin-right-1 text-center ">
                        <!-- thom  -->
                        <a href="/views/who-we-are/ncchi-bio.html#thom" class="text-dark" target="-blank">
                            <div class="grid-row bg-white wrapper padding-2 box-me2" style="background: #f0f0f0;
                        box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center text-center">

                                    <img class="text-center height-15 flex-align-center image-me "
                                        src=" /assets/images/NCCHI/OSBOURNE_CIRCLE.png" alt="dr thomas osborne image">


                                </div>
                                <div class="tablet:grid-col-12  ">
                                    <h3 class="font-heading-lg   ">
                                        Thomas Osborne, MD



                                    </h3>
                                    <p class="text-center text-800"> Director for NCCHI </p>

                                </div>



                            </div>

                        </a>


                    </div>
                    <div class="tablet:grid-col margin-right-1 ">
                        <!-- Paola Suarez, MPH  -->
                        <a href="/views/who-we-are/ncchi-bio.html#paola" class="text-dark" target="-blank">
                            <div class="grid-row  bg-white wrapper padding-2 text-center box-me2" style="background: #f0f0f0;
                            box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center text-center">

                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/NCCHI/SUAREZ_CIRCLE.png" alt="  Paola Suarez, MPH">
                                    <br>
                                    <!-- <p class="tablet:grid-col-12"> Director
                       National Center for Collaborative Healthcare Innovation</p> -->
                                </div>
                                <div class="tablet:grid-col-12 ">
                                    <h3 class="font-heading-lg   ">
                                        Paola Suarez, MPH
                                    </h3>
                                    <p class="text-center text-800"> Data Scientist </p>
                                </div>



                            </div>

                        </a>


                    </div>
                    <div class="tablet:grid-col margin-right-1 ">
                        <!-- David Arreola   -->
                        <a href="/views/who-we-are/ncchi-bio.html#david" class="text-dark" target="-blank">
                            <div class="grid-row  bg-white wrapper padding-2 text-center box-me2" style="background: #f0f0f0;
                        box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center">
                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/NCCHI/ARREOLA_CIRCLE.png" alt="David Arreola  image">
                                    <br>
                                    <!-- <p class="tablet:grid-col-12"> Director
               National Center for Collaborative Healthcare Innovation</p> -->
                                </div>
                                <div class="tablet:grid-col-12  ">
                                    <h3 class="font-heading-lg   ">
                                        David Arreola, MCSE
                                    </h3>
                                    <p class=" text-800">Technology Integration Analyst </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <!-- 222 first row  -->
                <div class="grid-row ">
                    <div class="tablet:grid-col margin-right-1 text-center ">
                        <!-- Ilya Vrublevskiy, PMP Project Manager  -->
                        <a href="/views/who-we-are/ncchi-bio.html#Ilya" class="text-dark" target="-blank">
                            <div class="grid-row bg-white wrapper padding-2 box-me2" style="background: #f0f0f0;
                        box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center text-center">

                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/NCCHI/VRUBLEVSKIY_CIRCLE.png" alt="ILya imag">


                                </div>
                                <div class="tablet:grid-col-12  ">
                                    <h3 class="font-heading-lg   ">
                                        Ilya Vrublevskiy, PMP



                                    </h3>
                                    <p class="text-center text-800"> Project Manager </p>

                                </div>



                            </div>

                        </a>


                    </div>
                    <div class="tablet:grid-col margin-right-1 ">
                        <!-- Kalyn Essex, MPA Innovation Specialist -->
                        <a href="/views/who-we-are/ncchi-bio.html#Kalyn" class="text-dark" target="-blank">
                            <div class="grid-row  bg-white wrapper padding-2 text-center box-me2" style="background: #f0f0f0;
                            box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center text-center">

                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/NCCHI/KALYN_CIRCLE.png"
                                        alt="  Kalyn Essex, MPA Innovation Specialist">
                                    <br>
                                    <!-- <p class="tablet:grid-col-12"> Director
                       National Center for Collaborative Healthcare Innovation</p> -->
                                </div>
                                <div class="tablet:grid-col-12">
                                    <h3 class="font-heading-lg">
                                        Kalyn Essex, MPA
                                    </h3>
                                    <p class="text-center text-800"> Innovation Specialist </p>
                                </div>



                            </div>

                        </a>


                    </div>
                    <div class="tablet:grid-col margin-right-1 ">
                        <!-- Zach Veigulis, MS Data Scientist   -->
                        <a href="/views/who-we-are/ncchi-bio.html#Zach" class="text-dark" target="-blank">
                            <div class="grid-row  bg-white wrapper padding-2 text-center box-me2" style="background: #f0f0f0;
                        box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center">
                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/NCCHI/ZACH_CIRCLE.png"
                                        alt="Zach Veigulis, MS Data Scientist  image">
                                    <br>
                                    <!-- <p class="tablet:grid-col-12"> Director
               National Center for Collaborative Healthcare Innovation</p> -->
                                </div>
                                <div class="tablet:grid-col-12  ">
                                    <h3 class="font-heading-lg   ">
                                        Zach Veigulis, MS
                                    </h3>
                                    <p class=" text-800">Data Scientist </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>


            </div>

        </section>

    </main>
    <div id="footer"></div>
</body>

</html>