<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3" style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                        VA New England Center for Innovation Excellence (NECIE)
                    </h1>


                    <div class="tablet:grid-col-7 text-left padding-top-1 ">

                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">


                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <div class="tablet:grid-col-5 padding-top-0">
                        <img style="background-color: #537494 !important;  width: 500px;"
                            src="/assets/images/NCCHI/3.jpg" alt="Virtual Reality Care in Action">

                    </div>

                </div>
                <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">


                    <!-- 1  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="color: white;
                    border-color: #00355f !important;box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">
                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="usa-card__img text-center padding-3">
                                        <strong class="badge padding-right-2 text-uppercase"
                                            style="box-shadow: 0px 5px 6px -6px black;font-size: 1rem;">m</strong>
                                        <strong class="badge padding-right-2 text-uppercase"
                                            style="box-shadow: 0px 5px 6px -6px black;font-size: 1rem;">i</strong>
                                        <strong class="badge padding-right-2 text-uppercase"
                                            style="box-shadow: 0px 5px 6px -6px black;font-size: 1rem;">s</strong>
                                        <strong class="badge padding-right-2 text-uppercase"
                                            style="box-shadow: 0px 5px 6px -6px black;font-size: 1rem;">i</strong>
                                        <strong class="badge padding-right-2 text-uppercase"
                                            style="box-shadow: 0px 5px 6px -6px black;font-size: 1rem;">o</strong>
                                        <strong class="badge padding-right-2 text-uppercase"
                                            style="box-shadow: 0px 5px 6px -6px black;font-size: 1rem;">n</strong>


                                    </div>
                                </div>
                            </div>

                            <div class="usa-card__body padding-1 f15 text-center">
                                <p
                                    style="font-weight: bold;font-size: 15px;line-height: 1.7;letter-spacing: .6px; color: #00355f;padding-bottom: 15px;">
                                    The mission of VA New England Center for Innovation Excellence is to create the
                                    foundation for operationalizing innovation in VISN 1’s health care settings.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- 2   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="color: white;
                    border-color: #00355f !important;box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">
                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img text-center padding-3">
                                    <strong class="badge padding-right-2 text-uppercase"
                                        style="box-shadow: 0px 5px 6px -6px black;font-size: 1rem;">V</strong>
                                    <strong class="badge padding-right-2 text-uppercase"
                                        style="box-shadow: 0px 5px 6px -6px black;font-size: 1rem;">i</strong>
                                    <strong class="badge padding-right-2 text-uppercase"
                                        style="box-shadow: 0px 5px 6px -6px black;font-size: 1rem;">s</strong>
                                    <strong class="badge padding-right-2 text-uppercase"
                                        style="box-shadow: 0px 5px 6px -6px black;font-size: 1rem;">i</strong>
                                    <strong class="badge padding-right-2 text-uppercase"
                                        style="box-shadow: 0px 5px 6px -6px black;font-size: 1rem;">o</strong>
                                    <strong class="badge padding-right-2 text-uppercase"
                                        style="box-shadow: 0px 5px 6px -6px black;font-size: 1rem;">n</strong>


                                </div>
                            </div>

                            <div class="usa-card__body padding-1 f15 text-center">
                                <p
                                    style="font-weight: bold;font-size: 15px;line-height: 1.7;letter-spacing: .6px; color: #00355f;padding-bottom: 15px;">
                                    The vision of VA New England Center for Innovation Excellence is to enhance VISN 1's
                                    ability, through Innovation, to be the premier, integrated, academic health care
                                    system in New England, with a highly engaged team, providing exceptional, highly
                                    reliable care to the Veterans we serve.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g ">
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>

        <!-- svg image bottom  -->
        <!-- <svg class="fl-builder-layer-align-top-center" viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background:#e0f1f1;">

            <defs>
                    </defs>
    
            <g class="fl-shape-content">
                <polygon class="fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20"></polygon>
            </g>
        </svg> -->
        <!-- main boxes project  -->
        <section
            class=" usa-section--dark small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">

            <div class="grid-container ">
                <div class="grid-row grid-gap-2">
                    <div class="tablet:grid-col">
                        <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                            Our Work
                        </h2>
                    </div>
                </div>

            </div>


            <div class="grid-container">
                <!-- 11111 -->

                <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                    <!-- 1 Augmented Reality and 5GE  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="image-thumbnail wrapper img-me"
                                        src="/assets/images/fall/download-1.jpg " alt="Project Convergence">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Technology
                                        solutions for chronic and/or complex illnesses and injuries
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15 ">
                                <p style="color:#1b1b1b; padding-bottom: 15px;">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br><br><br><br><br>
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work" href="#" target="_blank"
                                    class="text-primary-vivid"><small>Read
                                        More
                                        »</small></a>
                            </div>

                        </div>

                    </div>
                    <!-- 2   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="image-thumbnail wrapper" src="/assets/images/NCCHI/ncchi2.jpg "
                                        alt="Project Convergence">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Rural access
                                        to world class health care
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15 ">
                                <p style="color:#1b1b1b; padding-bottom: 15px;">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br><br><br><br><br>
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work" href="#" target="_blank"
                                    class="text-primary-vivid"><small>Read
                                        More
                                        »</small></a>
                            </div>

                        </div>

                    </div>


                    <!-- 3 Smart Cane for the Blind -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img src="/assets/images/NCCHI/crane_cc_2.png" class="image-thumbnail wrapper"
                                        alt="A placeholder image">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Health care
                                        and life-style solutions for aging veterans
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15 ">
                                <p style="color:#1b1b1b; padding-bottom: 15px;">The VA New England Center for Innovation
                                    Excellence was created to serve as the premier, integrated academic health care
                                    system. The Center will focus on technology solutions for chronic illness, making
                                    high quality health care accessible to rural Veterans and providing health care
                                    solutions for an aging population.
                                    <br><br><br><br><br>
                                </p>
                                <a class="usa-button btn-me btn-lg shadowme a-work" href="#" target="_blank"
                                    class="text-primary-vivid"><small>Read
                                        More
                                        »</small></a>
                            </div>

                        </div>


                    </div>


                </div>



        </section>



        <!-- news/awars/interview section background-image:url(/assets/images/ncchi/world.jpg);-->
        <section class="usa-section small-padding usa-section  padding-top-0 padding-bottom-0">
            <div class="grid-container">
                <div class="grid-row margin-top-3 margin-bottom-3">
                    <div class="tablet:grid-col">
                        <h3 class="font-heading-xl text-dark">
                            Learn more about NECIE
                        </h3>


                    </div>

                </div>

                <!-- <div id="news-events-navigation" class="grid-col-3"></div> -->
                <div class="usa-layout-docs__main  usa-prose">


                    <div class="grid-row grid-gap">
                        <!-- right column ,intervew  -->
                        <div class="tablet:grid-col padding-right-1 padding-top-1  margin-right-1 bg-white"
                            style="border:1px solid #dfd9cc;border-radius: 5px; box-shadow: 0px 5px 6px -6px black;padding-right:0; padding-left: 0;padding-top: 0;">
                            <div class="gpo-shadow" style="height: 70px;padding: 10px;background-color: #192838;">
                                <p class=" font-weight-bold padding-top-2">
                                    <i class="fas fa-chart-line padding-right-2 icon"></i> <strong>NECIE </strong> <a
                                        class="float-right " href="#" style="color: #072314;"></a>
                                </p>
                            </div>
                            <div>
                                <div class="grid-row grid-gap">
                                    <!-- right column ,intervew  -->
                                    <div class="tablet:grid-col-9">
                                        <p class="padding-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                            est laborum.
                                        </p>

                                    </div>
                                    <div class="tablet:grid-col-3 margin-top-2 padding-top-5">
                                        <img class="oneshadow" src="/assets/images/new-england/icarelogo.jpeg"
                                            alt="icare logo">

                                    </div>
                                </div>



                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </section>

        <!-- image gray top SVG  -->
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: white;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>
        <!-- <section>
            <div class="grid-row">
                <svg width="1694" height="113" xmlns="http://www.w3.org/2000/svg">
          
                    <g>
                        <title>background</title>
                        <rect fill="none" id="canvas_background" height="115" width="1696" y="-1" x="-1" />
                        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                        </g>
                    </g>
                    <g>
                        <title>Layer 1</title>
                        <rect stroke="null" transform="rotate(2.1024317741394043 822.357055664063,111.05017852783094) "
                            id="svg_1" height="161" width="1755.3888" y="30.55018" x="-55.3374" stroke-width="1.5"
                            fill="#f0f0f0" />
                        <rect id="svg_3" height="2" width="2" y="393.45313" x="929.5" stroke-opacity="null"
                            stroke-width="1.5" stroke="#000" fill="#f0f0f0" />
                    </g>
                </svg>
            </div>
        </section> -->

        <!-- 2nd quoat of thom -->
        <section class="usa-section small-padding usa-section  "
            style="background: #f0f0f0;box-shadow: black 0px 8px 6px -6px;margin-top: -10px;">
            <div class="grid-container">



            </div>
        </section>


        <!-- quoat of thom -->
        <section class="usa-section small-padding usa-section padding-bottom-3 "
            style="background: #f0f0f0;box-shadow: 0px 5px 6px -6px black;">
            <div class="grid-container">
                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">
                    <div class="tablet:grid-col-3">
                        <img class="usa-media-block__img    " style="border-radius: 5%;"
                            src="/assets/images/logos//ncchi-logo.jpeg" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 " style="padding-top: 40px;">
                        <p class="font-body-sm margin-0 padding-left-3" style="padding-top: 15px;">
                            <strong> Lisa Doyon ,Director, VISN 1 Performance Improvement</strong>
                        </p>
                        <blockquote>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”

                        </blockquote>
                    </div>

                </div>
            </div>
        </section>

        <!-- leader image -bio icon section -->
        <section class="usa-graphic-list usa-section padding-top-0 p ">
            <div class="grid-container  padding-3 ">
                <div class="tablet:grid-col margin-right-1 ">
                    <!-- thom  -->

                    <div class="grid-row bg-white  padding-2 padding-bottom-0"
                        style="border-bottom: .125rem dotted #7fcfcf;">


                        <p class="padding-2"> <i class="fas fa-envelope-open-text project-icon"></i><strong>Let's
                                Connect! </strong> <br> Email us with any questions or
                            inquiries. We would be happy to answer your questions. <br> <a
                                href="mailto:VISN1NECIE@va.gov"> VISN1NECIE@va.gov</a> </p>



                    </div>




                </div>

                <div class="grid-row margin-top-1 margin-bottom-3">
                    <div class="tablet:grid-col">
                        <h3 class="has-color" style="color: #004b87;">
                            Our Team
                        </h3>


                    </div>

                </div>

                <!-- 11111 row    Thomas Osborne, MD    Paola Suarez, MPH   -->
                <div class="grid-row ">
                    <div class="tablet:grid-col margin-right-1 text-center ">
                        <!-- thom  -->
                        <a href="#" class="text-dark" target="-blank">
                            <div class="grid-row bg-white wrapper padding-2 box-me2" style="background: #f0f0f0;
                        box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center text-center">

                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/team-headshots/TEAGUE_CIRCLE.png"
                                        alt="dr thomas osborne image">


                                </div>
                                <div class="tablet:grid-col-12  ">
                                    <h3 class="font-heading-lg   ">
                                        Leandro DaSilva



                                    </h3>
                                    <p class="text-center text-800">Program Manager, VISN 1</p>

                                </div>



                            </div>

                        </a>


                    </div>
                    <div class="tablet:grid-col margin-right-1 ">
                        <!-- Paola Suarez, MPH  -->
                        <a href="#" class="text-dark" target="-blank">
                            <div class="grid-row  bg-white wrapper padding-2 text-center box-me2" style="background: #f0f0f0;
                            box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center text-center">

                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/team-headshots/TEAGUE_CIRCLE.png" alt="  Paola Suarez, MPH">
                                    <br>
                                    <!-- <p class="tablet:grid-col-12"> Director
                       National Center for Collaborative Healthcare Innovation</p> -->
                                </div>
                                <div class="tablet:grid-col-12 ">
                                    <h3 class="font-heading-lg   ">
                                        Kristin Pressly-Mills
                                    </h3>
                                    <p class="text-center text-800"> Public Affairs Officer, VA Manchester </p>
                                </div>



                            </div>

                        </a>


                    </div>
                    <div class="tablet:grid-col margin-right-1 ">
                        <!-- David Arreola   -->
                        <a href="#" class="text-dark" target="-blank">
                            <div class="grid-row  bg-white wrapper padding-2 text-center box-me2" style="background: #f0f0f0;
                        box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center">
                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/team-headshots/TEAGUE_CIRCLE.png"
                                        alt="David Arreola  image">
                                    <br>
                                    <!-- <p class="tablet:grid-col-12"> Director
               National Center for Collaborative Healthcare Innovation</p> -->
                                </div>
                                <div class="tablet:grid-col-12  ">
                                    <h3 class="font-heading-lg   ">
                                        Ryan Lilly
                                    </h3>
                                    <p class=" text-800"> Network Director, VISN 1 </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <!-- 222 first row  -->
                <div class="grid-row ">
                    <div class="tablet:grid-col margin-right-1 text-center ">
                        <!-- Ilya Vrublevskiy, PMP Project Manager  -->
                        <a href="#" class="text-dark" target="-blank">
                            <div class="grid-row bg-white wrapper padding-2 box-me2" style="background: #f0f0f0;
                        box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center text-center">

                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/team-headshots/TEAGUE_CIRCLE.png" alt="ILya imag">


                                </div>
                                <div class="tablet:grid-col-12  ">
                                    <h3 class="font-heading-lg   ">
                                        Deborah Scher



                                    </h3>
                                    <p class="text-center text-800"> Executive Advisor, SCSP</p>

                                </div>



                            </div>

                        </a>


                    </div>
                    <div class="tablet:grid-col margin-right-1 ">
                        <!-- Kalyn Essex, MPA Innovation Specialist -->
                        <a href="#" class="text-dark" target="-blank">
                            <div class="grid-row  bg-white wrapper padding-2 text-center box-me2" style="background: #f0f0f0;
                            box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center text-center">

                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/team-headshots/TEAGUE_CIRCLE.png"
                                        alt="  Kalyn Essex, MPA Innovation Specialist">
                                    <br>
                                    <!-- <p class="tablet:grid-col-12"> Director
                       National Center for Collaborative Healthcare Innovation</p> -->
                                </div>
                                <div class="tablet:grid-col-12">
                                    <h3 class="font-heading-lg">
                                        Kristopher Teague
                                    </h3>
                                    <p class="text-center text-800"> Executive Director, VHA IE </p>
                                </div>



                            </div>

                        </a>


                    </div>
                    <div class="tablet:grid-col margin-right-1 ">
                        <!-- Zach Veigulis, MS Data Scientist   -->
                        <a href="#" class="text-dark" target="-blank">
                            <div class="grid-row  bg-white wrapper padding-2 text-center box-me2" style="background: #f0f0f0;
                        box-shadow: black 0px 8px 6px -6px;margin:5px;">
                                <div class="tablet:grid-col-12  flex-align-center">
                                    <img class="text-center height-15 flex-align-center image-me "
                                        src="/assets/images/team-headshots/TEAGUE_CIRCLE.png"
                                        alt="Zach Veigulis, MS Data Scientist  image">
                                    <br>
                                    <!-- <p class="tablet:grid-col-12"> Director
               National Center for Collaborative Healthcare Innovation</p> -->
                                </div>
                                <div class="tablet:grid-col-12  ">
                                    <h3 class="font-heading-lg   ">
                                        Kevin Forrest
                                    </h3>
                                    <p class=" text-800">Director, VA Manchester</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>


            </div>

        </section>

    </main>
    <div id="footer"></div>
</body>

</html>