<!DOCTYPE html>
<html class="no-js">

<head>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

  <title>Simlearn</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>

    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class=" text-dark-gray f48-700 ">About the National Simulation Center (NSC)



            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">
              The VHA SimLEARN National Simulation Center serves as the operational hub for coordination of all national
              VHA clinical simulation activities.





            </p><br>

          </div>


        </div>

      </div>
    </section>
    <!-- ======= About Section ======= -->

    <section style="background:#e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g "="">
              <polygon class=" fl-shape" style="background:#e1f3f8;fill:#fff" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- main boxes  -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="background: #e1f3f8;margin-top: 0 !important;padding-top: 0 !important;">

      <div class="grid-container">


        <div class="grid-row grid-gap-3 padding-top-2 padding-bottom-2 usa-card-group">
          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 ">
              Rooms and Facilities </h1>
          </div>
          <!--11-->
          <div class="tablet:grid-col-12  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/about-nsc/Operating-Room-002.png"
                    alt="Rooms and Facilities placeholder">
                </div>
                <div class="f18-line22-w400  text-white margin-0 padding-bottom-1" style="background: #005EA2;">
                  <p class="padding-1 f36-line22-w700 flex-justify-center " style="font-size: 30px; font-weight: 100;">
                    <br>
                    Operating Room

                  </p>

                </div>

              </div>


              <div class="f18-line22-w400   margin-0 bg-white">
                <p class="padding-2">
                  State-of-the-art OR utilizing high-fidelity simulation to address high-risk challenges medical
                  professionals face in real OR situations. Equipped with a control/observation deck, scrub room, prep
                  room, anesthetic room, high-fidelity manikins, simulated medical gases, room divider and modern OR
                  technology.

                </p>

              </div>

            </div>


          </div>

          <!-- 22 -->
          <div class="tablet:grid-col-12  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/about-nsc/Intensive-Care-Unit-002.png"
                    alt="Rooms and Facilities placeholder">
                </div>
                <div class="f18-line22-w400  text-white margin-0 padding-bottom-1" style="background: #005EA2;">
                  <p class="padding-1 f36-line22-w700 flex-justify-center " style="font-size: 30px; font-weight: 100;">
                    <br>
                    Intensive Care Unit

                  </p>

                </div>

              </div>


              <div class="f18-line22-w400   margin-0 bg-white">
                <p class="padding-2">
                  Three fully equipped ICUs for use with high-fidelity manakins or standardized patients allowing three
                  simulations to be conducted simultaneously through separate control stations. One ICU is equipped with
                  unique features such as integrated patient lift system, bariatric ICU with toilet and shower to
                  replicate safely transporting Veterans.
                </p>

              </div>

            </div>
          </div>





          <!--3-->
          <div class="tablet:grid-col-12  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/about-nsc/EHTI-Lab-002.png"
                    alt="Rooms and Facilities placeholder">
                </div>
                <div class="f18-line22-w400  text-white margin-0 padding-bottom-1" style="background: #005EA2;">
                  <p class="padding-1 f36-line22-w700 flex-justify-center " style="font-size: 30px; font-weight: 100;">
                    <br>
                    Emerging Healthcare Technology Integration Lab

                  </p>

                </div>

              </div>


              <div class="f18-line22-w400   margin-0 bg-white">
                <p class="padding-2">
                  Tests emerging technologies with simulation and learning to accelerate the effective use of emerging
                  health technologies during care delivery. SimLEARN’s initial evaluation location for new technology
                  such
                  as 3D printers, VR/XR/AR platforms, medical software, holograms, robotic devices and more!
                </p>

              </div>

            </div>


          </div>

          <!-- 4 -->
          <div class="tablet:grid-col-12  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/about-nsc/Innovation-Room-002.png"
                    alt="Rooms and Facilities placeholder">
                </div>
                <div class="f18-line22-w400  text-white margin-0 padding-bottom-1" style="background: #005EA2;">
                  <p class="padding-1 f36-line22-w700 flex-justify-center " style="font-size: 30px; font-weight: 100;">
                    <br>
                    Innovation Room

                  </p>

                </div>

              </div>


              <div class="f18-line22-w400   margin-0 bg-white">
                <p class="padding-2">
                  A 1,254 sq ft open space, is a premier location to test or evaluate innovative technologies, ranging
                  from VR/AR/XR to the latest medical equipment to enhance Veteran care. The space can be used in a
                  variety of ways, including clinical space build-out within the room to test workflows, conducting
                  high-tech training and much more!

                </p>

              </div>

            </div>
          </div>


          <!--5 -->
          <div class="tablet:grid-col-12  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/about-nsc/Dental-Eye-Room-002.png"
                    alt="Rooms and Facilities placeholder">
                </div>
                <div class="f18-line22-w400  text-white margin-0 padding-bottom-1" style="background: #005EA2;">
                  <p class="padding-1 f36-line22-w700 flex-justify-center " style="font-size: 30px; font-weight: 100;">
                    <br>
                    Dental and Eye Rooms

                  </p>

                </div>

              </div>


              <div class="f18-line22-w400   margin-0 bg-white">
                <p class="padding-2">
                  Included in the center are specialty dental and eye room spaces to train VHA staff on standardized
                  procedures. The dental room has two dedicated locations to test the latest technology and integrating
                  3D
                  printing into dental procedures.
                </p>

              </div>

            </div>
          </div>



          <!--6 -->
          <div class="tablet:grid-col-12  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/about-nsc/PACU-002.png"
                    alt="Rooms and Facilities placeholder">
                </div>
                <div class="f18-line22-w400  text-white margin-0 padding-bottom-1" style="background: #005EA2;">
                  <p class="padding-1 f36-line22-w700 flex-justify-center " style="font-size: 30px; font-weight: 100;">
                    <br>
                    Post Anesthesia Care Unit (PACU)/Pre-Operation Room
                  </p>

                </div>

              </div>


              <div class="f18-line22-w400   margin-0 bg-white">
                <p class="padding-2">This location uses manakins to replicate post-surgical simulations, frequently used
                  with anesthesia curriculum such as SimLEARN’s Maintenance of Certification in Anesthesiology (MOCA)
                  course.  This room additionally doubles as a Pre-Op room to prepare learners for surgical simulations.
                </p>

              </div>

            </div>
          </div>




          <!--7 -->
          <div class="tablet:grid-col-12  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/about-nsc/Outpatient-Room-002.png"
                    alt="Rooms and Facilities placeholder">
                </div>
                <div class="f18-line22-w400  text-white margin-0 padding-bottom-1" style="background: #005EA2;">
                  <p class="padding-1 f36-line22-w700 flex-justify-center " style="font-size: 30px; font-weight: 100;">
                    <br>
                    Outpatient Rooms

                  </p>

                </div>

              </div>


              <div class="f18-line22-w400   margin-0 bg-white">
                <p class="padding-2">The center contains six outpatient rooms replicated after the Orlando VA Healthcare
                  System’s space to provide learners real world settings to treat Veterans. One outpatient room is
                  equipped
                  with a negative air pressure system for training on how to control airborne contaminants within a
                  room.
                </p>

              </div>

            </div>
          </div>




          <!--8 -->
          <div class="tablet:grid-col-12  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/about-nsc/Task-Trainer-Room-002.png"
                    alt="Rooms and Facilities placeholder">
                </div>
                <div class="f18-line22-w400  text-white margin-0 padding-bottom-1" style="background: #005EA2;">
                  <p class="padding-1 f36-line22-w700 flex-justify-center " style="font-size: 30px; font-weight: 100;">
                    <br>
                    Task Trainer Room

                  </p>

                </div>

              </div>


              <div class="f18-line22-w400   margin-0 bg-white">
                <p class="padding-2">
                  Blended training area, with traditional classroom for 12 learners and a clinical side to conduct
                  simulations. Outfitted with portable ultrasound devices and patient tables, the room provides a
                  perfect
                  opportunity for Point of Care Ultrasound (POCUS) training utilizing manikins or standardized patients.
                </p>

              </div>

            </div>
          </div>




          <!--9 -->
          <div class="tablet:grid-col-12  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/about-nsc/Trauma-Room-002.png"
                    alt="Rooms and Facilities placeholder">
                </div>
                <div class="f18-line22-w400  text-white margin-0 padding-bottom-1" style="background: #005EA2;">
                  <p class="padding-1 f36-line22-w700 flex-justify-center " style="font-size: 30px; font-weight: 100;">
                    <br>
                    Trauma Room

                  </p>

                </div>

              </div>


              <div class="f18-line22-w400   margin-0 bg-white">
                <p class="padding-2">
                  Used to train medical teams to care for critical injuries threatening life or limbs through
                  comprehensive emergency medical services. The room can conduct two distinct scenarios simultaneously
                  to
                  provide realistic intensive scenarios through expert moulage representation of real-life injuries.
                </p>

              </div>

            </div>


          </div>
          <!--10 -->
          <div class="tablet:grid-col-12  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/about-nsc/Simulated-Transport-Spaces-002.png"
                    alt="Rooms and Facilities placeholder">
                </div>
                <div class="f18-line22-w400  text-white margin-0 padding-bottom-1" style="background: #005EA2;">
                  <p class="padding-1 f36-line22-w700 flex-justify-center " style="font-size: 30px; font-weight: 100;">
                    <br>
                    Simulated Transport Spaces
                  </p>

                </div>

              </div>


              <div class="f18-line22-w400   margin-0 bg-white">
                <p class="padding-2">
                  To replicate each aspect of care found in a medical center, the National Simulation Center maintains
                  numerous transport spaces and equipment to simulate safe patient handling & mobility best practices.
                  The
                  center includes a simulated ambulance with lights/sounds, simulated elevator, and transport systems.
                </p>

              </div>

            </div>


          </div>



        </div>


        <!-- second section 4 boxes  -->








        <div class="grid-row grid-gap-3 padding-top-2 padding-bottom-2 usa-card-group">

          <!--11-->
          <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/about-nsc/General-Care-Room.png"
                    alt="function placeholder">
                </div>

              </div>
              <header class="usa-card__header padding-2">
                <h4 class="f14-line22-w700" style="color: #004b87;">General Care Room


                </h4>
              </header>
              <div class="f18-line22-w400 padding-2  ">
                <p style="color:#1b1b1b;">
                  Originally constructed as a mental health room with integrated restroom and shower. The space can be
                  used for mental health therapy, home healthcare training, employee wellness technology testing and
                  many other simulations. <br> <br>


                </p>

              </div>

            </div>


          </div>
          <!-- 12 -->
          <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/about-nsc/General-Purpose-Meeting-Room.png"
                    alt="function placeholder">
                </div>

              </div>
              <header class="usa-card__header padding-2">
                <h4 class="f14-line22-w700" style="color: #004b87;">General-Purpose Meeting Room (1A148)


                </h4>
              </header>
              <div class="f18-line22-w400 padding-2  ">
                <p style="color:#1b1b1b;">
                  A general-purpose meeting room with a capacity to hold 20, with the option to divide the space in
                  half.  Located centrally within the facility, this is a prime space as a central location for
                  simulations that require various rooms types near all simulation rooms in the center.


                </p>

              </div>

            </div>

          </div>

          <!-- send row of 4 boxes  -->
          <div class="grid-row grid-gap-3 padding-top-2 padding-bottom-2 usa-card-group">

            <!--13-->
            <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
              <div class="usa-card__container bg-white oneshadow ">


                <div class="usa-card__media usa-card__media--inset text-left ">
                  <div class="usa-card__img">
                    <img class=" wrapper img-me" src="/assets/images/about-nsc/Multi-Purpose-Room.png"
                      alt="function placeholder">
                  </div>

                </div>
                <header class="usa-card__header padding-2">
                  <h4 class="f14-line22-w700" style="color: #004b87;">Multi-Purpose Room (MPR)


                  </h4>
                </header>
                <div class="f18-line22-w400 padding-2  ">
                  <p style="color:#1b1b1b;">
                    National Simulation Center’s largest continuous space at 1,777 sq ft, the room can accommodate 60
                    people in a traditional front-facing table and chair layout. MPR contains integrated
                    sound-reduction room dividers that can be used to split the space in half or quarters. The room
                    can be utilized in a variety of ways ranging from traditional conference space to a running four
                    simulations concurrently in each quadrant.


                  </p>

                </div>

              </div>


            </div>
            <!-- 14 -->
            <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
              <div class="usa-card__container bg-white oneshadow ">


                <div class="usa-card__media usa-card__media--inset text-left ">
                  <div class="usa-card__img">
                    <img class=" wrapper img-me" src="/assets/images/about-nsc/High-Low-Chair-Room.png"
                      alt="function placeholder">
                  </div>

                </div>
                <header class="usa-card__header padding-2">
                  <h4 class="f14-line22-w700" style="color: #004b87;">High/Low Chair Room


                  </h4>
                </header>
                <div class="f18-line22-w400 padding-2  ">
                  <p style="color:#1b1b1b;">
                    Serves as simulation planning locations or debriefing area, each space can hold up to eight
                    participants with integrated whiteboards. Close to both the Multi-purpose, Innovation and
                    Operating Rooms the space also serves as breakout spaces. <br><br><br><br>

                  </p>

                </div>

              </div>


            </div>



          </div>



        </div>




    </section>
    <section style="background:white;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:white;fill:#e1f3f8" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- last row -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0 bg-white">

      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 ">
              National Simulation Center’s Fact Sheet
            </h1>

            <!-- <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">
              If you experience any technical problems with the SimLEARN website, please contact the SimLEARN website
              webmaster.<br><br> -->


            <a class="usa-button  shadowme a-work   " href="/assets/documents/SimLearn_Datasheet_NSC.pdf"
              target="_blank"><small>See Fact Sheet</small></a>



            </p><br>

          </div>


        </div>
        <div class="grid-row grid-gap-5">
          <!-- last section 2 boxes  -->

          <div class="tablet:grid-col-6 ">
            <h1 class="text-dark-gray f48-700 ">
              General Inquiries
            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">
              There is a wide spectrum of health care professionals and learners using simulation. And the goal of the
              SimLEARN website is to provide useful information for every segment of that spectrum. Your input will
              help. We value your comments, questions and suggestions, and we are eager to hear from you.<br><br>


              <a class="usa-button  shadowme a-work   " href="mailto:VASimLEARNGeneralInformation@va.gov" target="_blank"><small>General Inquiry via Email</small></a>



            </p><br>

          </div>
          <div class="tablet:grid-col-6 ">
            <h1 class="text-dark-gray f48-700 ">
              Technical Issues
            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">
             If you experience any technical problems with the SimLEARN website, please contact the SimLEARN 
             website webmaster.<br><br> <br><br><br>


            <a class="usa-button  shadowme a-work   " href="mailto:VASimLEARNWebmaster@va.gov"
              target="_blank"><small>Contact Webmaster</small></a>



            </p><br>

          </div>

        </div>


      </div>



    </section>


  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>