<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

  <title>Simlearn</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
      <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
      </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>


<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#FFFFFF;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:#FFFFFF;fill:#537494" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>
    <section>
      <div class="grid-container padding-3">


        <div class="grid-row grid-gap-3">



          <div class="tablet:grid-col-7 text-left ">
            <h1 class="f48-700 padding-top-0 padding-bottom-0 " style="text-align: left;">
              About SimLEARN
            </h1>

            <p class="font-body-sm " style="line-height: 1.7; letter-spacing: .6px;">
              <strong>The Simulation Learning, Evaluation, Assessment, and Research Network (SimLEARN)</strong> provides
              an ever
              growing body of curricula and tools that improve overall Veteran well-being through simulation-based
              innovation and technologies provided in a safe learning environment. <br> <br>
            </p>
            <div class="tablet:grid-col-12 text-left padding-3 padding-top-0 padding-bottom-0"
              style="border-left: 5px solid black;">
              <p class="f18-line22-w700"> Mission</p>
              <p class="font-body-sm ">
                Set the standard for innovative healthcare education solutions through simulation-based innovation and
                technologies provided in a safe learning environment.

              </p>
              <p class="f18-line22-w700"> Vision</p>
              <p class="font-body-sm ">
                Be the indispensable asset to the enterprise and its partners that provides world class services to all
                Veterans through innovation and simulation education.
              </p>


            </div>


          </div>
          <div
            class="tablet:grid-col-5 padding-top-5 padding-right-3 display-flex flex-column flex-justify-center text-center">
            <a href="#" data-toggle="modal" data-target="#usermodaltop"><img style=" width:100%"
                src="/assets/images/about-page/img1.png" alt="About SimLEARN"><br>
              <figcaption> <small>Learn more about SimLEARN by selecting above.</small> </figcaption>
            </a>


          </div>

        </div>
    </section>
    <!-- End About Section -->
    <!-- SVG  -->
    <section style="background: #e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background: #e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background: #e1f3f8;fill: #ffffff;" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>
    <!-- ======= About middle section ======= -->
    <section class="usa-graphic-list usa-section padding-top-0  " style="background-color:  #e1f3f8;">
      <div class="grid-container">
        <div class="  padding-top-3 ">
          <!-- <h2 class="font-heading-xl border-bottom ">
            Learn more about SimLEARN
          </h2> -->
        </div>


        <!--project1  -->
        <div class="grid-row grid-gap-3 ">

          <div class="tablet:grid-col-7 padding-right-5  ">
            <h2 class="f36-700 "> SimLEARN Virtual Academy (SVA)</h2>
            <p class="font-body-sm margin-0 padding-2" style="padding-top: 15px;">SVA leverages innovation and
              technology to
              advance simulation education through synchronous and asynchronous modalities. SVA decreases training
              costs, minimize logistic requirements and reduces the time clinical staff are away from Veteran care
              through the reduction of travel to training locations. <br> <br>

            </p>
            <div class="">
              <a class="usa-button  shadowme a-work oneshadow  btn-me" href="#" target="_blank"
                style="width:80%;"><small>SimLEARN Virtual Academy »</small></a>


            </div>
          </div>
          <div class="tablet:grid-col-5 ml-auto flex-align-center padding-top-3 margin-top-1">

            <img class="  " src="/assets/images/about-page/SVA.png" alt="VHA SimLEARN National">
          </div>
        </div>
        <!--project2  -->
        <div class="grid-row grid-gap-5 margin-top-2 padding-top-3">
          <div class="tablet:grid-col-5 display-flex flex-column flex-justify-center padding-top-2 margin-top-1">

            <img class="  flex-align-center  " src="/assets/images/about-page/NSC-Plaque.png" alt="VHA SimLEARN">
          </div>

          <div class="tablet:grid-col-7 padding-3">
            <h2 class=" f36-700">Certified Simulation Centers </h2>
            <p class="font-body-sm margin-0"> SimLEARN staff recently awarded simulation
              certifications. These certifications are scheduled to be awarded to qualified facilities twice each year;
              in June and December. Facility certifications last for two years and are renewable. They are a distinctive
              accomplishment. There are three tiers of certification: basic, intermediate and advanced. Below
              is a link
              to the full list of certified facilities. A facility can request certification after one year of existence
              while meeting the basic level criteria. A non-binding email of intent and certification application is
              required. Please contact the team by sending an email to:
              <a
                href="mailto:VHASimLEARNFacilitySimulationCertification@va.gov">VHASimLEARNFacilitySimulationCertification@va.gov</a>
              <br><br>


            </p>
            <div>
              <a class="usa-button  shadowme a-work oneshadow  btn-me" href="/views/about/certified-simlearn.html" target="_blank"
                style="width: 80%;"><small>View Certified Centers »</small></a>

                <a class="usa-button  shadowme a-work oneshadow  btn-me margin-top-2" href="https://smart.vha.med.va.gov/simcert" target="_blank"
                style="width: 80%;"><small>View Certified Centers »</small></a> 


            </div>
          </div>

        </div>



    </section>
    <!-- banner image  -->
    <section class="padding-0 margin-0">

      <div class="text-center padding-0 margin-0">
        <img src="/assets/images/about-page/img4.png" style="width: 100%;
       " alt="VHA-iEX_Website_Header-banner">


      </div>
      <!-- <div class="parallax"></div>
      <div class="centered text-center">
        <img src="/assets/images/page1-images/simlogo.png" alt="Simlearn Logo" style="width: 80%;">
      </div> -->

    </section>
    <section class=" padding-top-3 padding-bottom-3 " style="background-color:  #e1f3f8;">
      <div class="grid-container">
        <h2 class="f36-700"> VHA SimLEARN National Simulation Center</h2>

        <!--project3  -->
        <div class="grid-row grid-gap-4">
          <div class="tablet:grid-col-5 display-flex flex-column flex-justify-center padding-top-2 margin-top-1">

            <img class="  flex-align-center " src="/assets/images/about-page/NSC-Lobby.png" alt="VHA SimLEARN National">
          </div>
          <div class="tablet:grid-col-7  ">

            <p class="font-body-sm margin-0" style="padding-top: 15px;">The VHA SimLEARN National Simulation Center was
              built on the campus of the new Orlando VA Medical Center, which is part of the exciting new "Medical City"
              campus at Lake Nona.

              <br><br> The Lake Nona development site includes other large clinical, education and research facilities.
              A variety of Federal simulation research offices are in close proximity at the University of Central
              Florida campus. This strategic placement facilitates enhanced opportunities for research in new simulation
              technologies and methods.

              <br><br> The VHA SimLEARN National Simulation Center serves as the operational hub for coordination of all
              national VHA clinical simulation activities. <br><br>

            </p>
            <div class="text-center">
              <a class="usa-button  shadowme a-work oneshadow  btn-me" href="#" target="_blank"><small>Read the Fact
                  Sheet »</small></a>
              <a class="usa-button  shadowme a-work oneshadow  btn-me" href="#" data-toggle="modal"
                data-target="#usermodalvideo"><small>About the NSC »</small></a>


            </div>
          </div>
        </div>

    </section>
    <!-- SVG  -->

    <!-- ======= Activities of the VHA SimLEARN National Simulation Center ======= -->
    <section class="   margin-bottom-0  margin-top-0 padding-top-0 bg-base-lightest">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background: #f0f0f0;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background: #f0f0f0;fill: #e1f3f8;" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
      <div class="grid-container ">
        <div class="bg-base-lightest">
          <div class="text-dark">
            <h2 class="f36-700">
              Activities of the VHA SimLEARN National Simulation Center
            </h2>


            <div class="grid-row grid-gap">
              <div class="tablet:grid-col-6 padding-top-2 ">


                <ul class="font-lang-12 padding-top-1 line-height-sans-6 " style="font-size: 18px;">


                  <li>Development and delivery of national simulation-based training curricula</li>
                  <li>Creation of national policies, procedures and standards for conduct of simulation-based training
                    across a
                    network of VA medical facilities</li>
                  <li> Coordination and support of Veterans Integrated Service Network medical center
                    simulation-based
                    training programs and feedback on local curricula</li>
                  <li> Train-the-trainer programs*</li>
                  <li>Train-the-provider programs*</li>
                  <li> Development of serious games, virtual environments and virtual patients to support health care
                    education
                    and training</li>
                  <li>Simulation technology innovation, evaluation and development</li>
                  <li>Simulation technology technical support</li>
                  <li> Human factors evaluation and systems testing</li>
                  <li> Advanced surgical training using virtual reality simulators</li>
                </ul>
              </div>

              <div class="tablet:grid-col-6 padding-top-4 ">
                <ul class="font-lang-12 padding-top-1 line-height-sans-6 " style="font-size: 18px;">
                  <li>Interprofessional Advanced Fellowships in Clinical Simulation</li>
                  <li> Management of VHA’s Resuscitation Education Initiative, or REdI, a national simulation-based
                    training
                    program in coordination with the American Heart Association for internal training of Basic Life
                    Support
                    and Advanced Cardiac Life Support certifications</li>
                  <li> National acquisition of simulation equipment</li>
                  <li> Educational research</li>
                  <li> Tele-Simulation training</li> <br>
                  <hr>
                  <p> &#9733; The center’s train-the-trainer and train-the provider approach uses the most suitable
                    modalities
                    of
                    simulation to include mannequin-based simulation, standardized patients and hands-on task trainers.
                  </p>
                </ul>


              </div>





            </div>


          </div>

        </div>


      </div>
      </div>



    </section>
    <section class="bg-primary-darker padding-5">
      <div class="grid-container">
        <div>
          <h2 class="text-white">Take a walk through the VHA SimLEARN National Simulation Center <br><br></h2>

        </div>
        <iframe class="" width="100%" height="400px"
          src=" https://players.brightcove.net/2851863979001/default_default/index.html?videoId=6205569443001"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

      </div>




    </section>



    <!-- modal for Simlearn Stand  -->
    <!-- <a href="#"data-toggle="modal" data-target="#usermodal">Aiden  </a> -->

    <div class="modal fade " id="usermodaltop" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg padding-3" role="document">
        <div class="modal-content">
          <div class="modal-header ">
            <h3 class="modal-title" id="exampleModalLabel">Breaking It Down</h3>
           
            <button type="button" class="close" style="opacity: 1;" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row padding-3">
              <p class="font-ui-2xs">SimLEARN stands for<strong> the Simulation Learning, Evaluation, Assessment, and Research Network (SimLEARN).</strong> </p> 
      <hr>
             

              <!-- 11 -->

              <div
                class="tablet:grid-col-12 text-left padding-3 padding-top-0 padding-bottom-0 margin-top-1 margin-bottom-1"
                style="border-left:20px solid #8FAADC;">
                <p class="f18-line22-w700"> Assessment</p>
                <p class="font-body-sm ">
                  Use simulation as a proactive approach to assess the effectiveness of clinical spaces, personnel, and
                  systems that impact the quality of care provided to Veterans.
                </p>
                <hr>
              </div>
              <!-- 22 -->

              <div class="tablet:grid-col-12 text-left padding-3 padding-top-3 padding-bottom-0"
                style="border-left:20px solid #2F5597;">
                <p class="f18-line22-w700"> Research</p>
                <p class="font-body-sm ">
                  Assemble a body of knowledge in simulation-based education; translate technology and innovation into
                  evidence-based best practices and standards; and collaborate with partners to maximize impact and
                  global
                  reach of simulation and innovation research

                </p>
                <hr>
              </div>
              <!-- 33 -->


              <div class="tablet:grid-col-12 text-left padding-3  padding-bottom-0"
                style="border-left:20px solid  #203864;">
                <p class="f18-line22-w700"> Network</p>
                <p class="font-body-sm ">
                  Build strong collaborations with internal/external partners to leverage simulation best practices and
                  innovation aimed at continuous improvement throughout the enterprise.

                </p>
                <hr>
              </div>
              <!-- 44 -->
             

              <div class="tablet:grid-col-12 text-left padding-3  padding-bottom-0"
                style="border-left:20px solid #DAE3F3;">
                <p class="f18-line22-w700">Learning</p>
                <p class="font-body-sm ">
                  Develop simulation-based curricula and tools that support learner-centered and problem-based learning
                  environments

                </p>
                <hr>
              </div>
              <!-- 55 -->



              <div class="tablet:grid-col-12 text-left padding-3  padding-bottom-0"
                style="border-left:20px solid #B4C7E7;">
                <p class="f18-line22-w700"> Evaluation</p>
                <p class="font-body-sm ">
                  Create processes and tools to evaluate simulation experiences, learner behaviors, and outcomes

                </p> <hr>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>


  </main><!-- End #main  -->

  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>