<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

  <title>Meet the Team </title>
  <meta name="description" content="VSimlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
          <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
              integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
          </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>
<!-- ======= Header ======= -->
<div class="no-padding" id="header"></div>

<body>
  <main class="" id="main-content" role="main">
    <!-- title section -->
    <!-- <section id="" class=" usa-section padding-left-0 padding-bottom-0" style=" padding-top: .5rem;">
      <div class="grid-container" style="text-align: left; margin-top: 1%; margin-bottom: 1%;">
        <div class="grid-row grid-gap-1">
          <div class="tablet:grid-col">
            <span class="font-heading-3xl" style="font-size: 33px;"> <br><br><br>
              Meet the CCPI Team <br><br><br>
            </span>
          </div>
        </div>
      </div>
    </section> -->
    <!--meet the team  leadership -->
    <section id="" class="aquaback ">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:#e1f3f8;fill:#0e2640 " points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
      <div id="" class="grid-container  padding-3 padding-top-1 ">
        <h3 class="font-heading-xl text-dark-gray border-bottom">
          Leadership
        </h3>

        <div class="grid-row grid-gap">

          <div class="tablet:grid-col "> <br>

            <div class="usa-accordion">
              <!-- dr roshni -->
              <h2 class="usa-accordion__heading">
                <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="a1"
                  style="background-color: #9e9e9e47;min-height: 150px; color: #002746; padding: 10px;">

                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col-2 mobile-lg:grid-col-auto display-flex flex-column flex-justify-center">
                      <img src="/assets/images/ccpi-headshots/ghosh1.jpeg" class="oneshadow"
                        style="  border: 5px solid white;" alt="access icon place holder ">
                    </div>

                    <div class="tablet:grid-col-6">

                      <h1 class=" text-900 padding-left-1 "
                        style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                        Dr. Roshni Ghosh​
                      </h1>
                      <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                        <strong>
                          Executive Director​
                        </strong>
                      </h4>
                    </div>


                </button>
              </h2>
              <div id="a1" class="usa-accordion__content usa-prose" hidden="">
                <div class="grid-row grid-gap-3">


                  <div class="tablet:grid-col-12 text-left">


                    <p class="font-body-sm  padding-top-3 margin-top-3 "
                      style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;"> <br>
                      Dr. Roshni Ghosh, MD, MPH, currently serves as the executive director for the Center for Care and
                      Payment
                      Innovation in the Office of Healthcare Innovation and Learning in the VHA Office of Discovery,
                      Education
                      and Affiliate Networks where she oversees the development and implementation of new and innovative
                      care
                      delivery and payment models. Dr. Ghosh is a graduate of The Rutgers University School of Medicine
                      and
                      received her Masters in Public Health from Columbia University's Mailman School of Public Health.
                      <br>
                      <br>
                      Dr.
                      Ghosh also served as a vice president and chief medical information officer at multiple health
                      care
                      consultancies, currently sits on the board of directors for a non-profit health care organization
                      and is
                      an adjunct professor at George Washington University.
                    </p>
                  </div>

                </div>
              </div>


              <!-- Dr. Cole Zanetti​ -->
              <!-- <h2 class="usa-accordion__heading ">
                <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="a2"
                  style="background-color: #9e9e9e47;min-height: 150px; color: #002746; padding: 10px;">

                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col-2 mobile-lg:grid-col-auto display-flex flex-column flex-justify-center">
                      <img src="/assets/images/ccpi-headshots/Cole-Zanetti.jpg" class="oneshadow"
                        style="  border: 5px solid white;" alt="access icon place holder ">
                    </div>

                    <div class="tablet:grid-col-6">

                      <h1 class=" text-900 padding-left-1 "
                        style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                        Dr. Cole Zanetti
                      </h1>
                      <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                        <strong>
                          Senior Advisor
                        </strong>
                      </h4>
                    </div>


                </button>
              </h2> -->
              <!-- <div id="a2" class="usa-accordion__content usa-prose" hidden="">
                <div class="grid-row grid-gap-3">


                  <div class="tablet:grid-col-12 text-left">


                    <p class="font-body-sm  padding-top-3 margin-top-3 "
                      style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;"> <br>
                      Dr. Cole Zanetti serves as a senior advisor for the Center for Care and Payment Innovation (CCPI).
                      In this role, he advises on CCPI's strategic direction, value-based care design, project and pilot
                      evaluation and coalition building with VA and private sector innovators. He has served as the
                      Acting Director for Value-Based Care, and in this role, Dr. Zanetti led CCPI's efforts in
                      value-based care in the VA and within the health care community.

                    </p>
                    <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
               padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 3px solid #f0f0f0; ">

                      ​<strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>



                      What excites me most about health care innovation is the opportunity to test new models of care
                      delivery
                      that provide more opportunities for care in the home, use of emerging technologies and remote VA
                      resources
                      and better aligns how we measure and pay in a way that removes barriers for the patient and
                      healthcare
                      team relationship. I'm excited to re-imagine how care can be in order to reduce burnout in health
                      care,
                      increase our capacity to provide care and increase convenience in how care is delivered. <br> <br>

                    </p>
                  </div>

                </div>
              </div> -->

              <!-- Michael Harry ​ -->
              <h2 class="usa-accordion__heading">
                <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="a3"
                  style="background-color: #9e9e9e47;min-height: 150px; color: #002746; padding: 10px;">

                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col-2 mobile-lg:grid-col-auto display-flex flex-column flex-justify-center">
                      <img src="/assets/images/ccpi-headshots/Michael-Harry.jpeg" class="oneshadow"
                        style="  border: 5px solid white;" alt="access icon place holder ">
                    </div>

                    <div class="tablet:grid-col-6">

                      <h1 class=" text-900 padding-left-1 "
                        style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                        Michael Harry ​
                      </h1>
                      <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                        <strong>
                          Director, Strategic Analytics
                        </strong>
                      </h4>
                    </div>


                </button>
              </h2>
              <div id="a3" class="usa-accordion__content usa-prose" hidden="">
                <div class="grid-row grid-gap-3">


                  <div class="tablet:grid-col-12 text-left">


                    <p class="font-body-sm  padding-top-3 margin-top-3 "
                      style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;"> <br>
                      Mr. Michael Harry currently serves as the director of strategic analytics for the VHA Center for
                      Care and
                      Payment Innovation where he oversees the evaluation of pilot programs and the conceptualization
                      and
                      implementation of data-centric innovations. Mr. Harry is a graduate of Virginia Tech, and he has
                      served as
                      chief information officer for two health care organizations, as an advisor on health informatics
                      for the
                      VA and as an advisor for a non-profit health care organization. Mr. Harry aims to break down silos
                      around
                      data to drive new opportunities for innovation and insights. <br><br>
                    </p>
                    <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
                 padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 3px solid #f0f0f0; ">

                      ​<strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br> I am
                      very
                      excited about innovations surrounding “virtual first” approaches to health care. “Virtual
                      first”-type approaches have revolutionized numerous industries from taxis, to entertainment, to
                      shopping,
                      and I believe it will be a true upgrade in how we interact with our health care system. <br> <br>

                    </p>
                  </div>

                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </section>
    <!-- meet the Core Office  -->
    <section id="" style="background-color: #f0f0f0;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#f0f0f0;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:#f0f0f0;fill:#e1f3f8 " points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
      <div id="" class="grid-container  padding-3 padding-top-1 ">
        <h3 class="font-heading-xl text-dark-gray border-bottom">
          Core Office
        </h3>

        <div class="grid-row grid-gap">

          <div class="tablet:grid-col "> <br>

            <div class="usa-accordion">
              <!-- •	Kathryn Pierce -->
              <h2 class="usa-accordion__heading">
                <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="c1"
                  style="background-color: #9e9e9e47;min-height: 150px; color: #002746; padding: 10px;">

                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col-2 mobile-lg:grid-col-auto display-flex flex-column flex-justify-center">
                      <img src="/assets/images/ccpi-headshots/Katy-Pierce.jpeg" class="oneshadow"
                        style="  border: 5px solid white;" alt="Kathryn Pierce headshot ">
                    </div>

                    <div class="tablet:grid-col-6">

                      <h1 class=" text-900 padding-left-1 "
                        style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                        Kathryn Pierce
                      </h1>
                      <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                        <strong>
                          Executive Officer and Director of Operations
                        </strong>
                      </h4>
                    </div>


                </button>
              </h2>
              <div id="c1" class="usa-accordion__content usa-prose" hidden="">
                <div class="grid-row grid-gap-3">


                  <div class="tablet:grid-col-12 text-left">
                    <p class="font-body-sm  padding-top-3 margin-top-3 "
                      style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;"> <br>
                      Ms. Kathryn “Katy” Pierce serves as the executive officer and
                      director of operations for the Center for Care and Payment Innovation. In this role, Ms. Pierce
                      directly
                      supports the executive director in advancing transformative pilot programs across VHA.<br><br>

                      Ms. Pierce previously served as the executive officer for the Office of Healthcare Innovation and
                      Learning, and, prior to joining the innovation team, she gained seven years of facility experience
                      at the
                      Central Virginia VA Health Care System (CVHCS) in Richmond, Virginia. Ms. Pierce joined CVHCS as
                      an
                      administrative resident and after completing her intern year, she served as the administrator and
                      practice
                      manager for the surgical services, later transitioning to the role of executive officer to the
                      facility
                      director and strategic planner. <br><br>

                      Ms. Pierce received her Bachelor of Arts degree from the University of Virginia and her Master of
                      Health
                      Administration degree from Virginia Commonwealth University.
                      <br><br>
                    </p>
                    <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
                 padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 3px solid #f0f0f0; ">

                      <strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
                      3D Printing. It's versatile and can be used in nearly every industry, but the life-changing
                      clinical
                      applications for Veterans and patients across the globe are the most exciting and inspiring.
                      <br> <br>

                    </p>
                  </div>

                </div>
              </div>


              <!-- •	Natalie Maixner -->
              <h2 class="usa-accordion__heading">
                <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="c2"
                  style="background-color: #9e9e9e47;min-height: 150px; color: #002746; padding: 10px;">

                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col-2 mobile-lg:grid-col-auto display-flex flex-column flex-justify-center">
                      <img src="/assets/images/ccpi-headshots/Maixner_Natalie.jpeg" class="oneshadow"
                        style="  border: 5px solid white;" alt="Natalie Maixner headshot ">
                    </div>

                    <div class="tablet:grid-col-6">

                      <h1 class=" text-900 padding-left-1 "
                        style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                        Natalie Maixner
                      </h1>
                      <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                        <strong>
                          Director, Project Operations
                        </strong>
                      </h4>
                    </div>


                </button>
              </h2>
              <div id="c2" class="usa-accordion__content usa-prose" hidden="">
                <div class="grid-row grid-gap-3">


                  <div class="tablet:grid-col-12 text-left">
                    <p class="font-body-sm  padding-top-3 margin-top-3 "
                      style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;">
                      <br>
                      Ms. Natalie Maixner serves as the director for project operations for the Center for Care and
                      Payment
                      Innovation (CCPI) where she provides leadership and direction to CCPI’s portfolio of pilot
                      programs. Prior
                      to joining CCPI, Ms. Maixner held the position of assistant director for the Central Virginia VA
                      Health
                      Care System (CVHCS) where she was responsible for providing executive oversight to numerous
                      service lines.
                      <br><br>

                      Ms. Maixner began her VA career as an administrative resident and gained a wide variety of
                      experience
                      during her time at CVHCS where she served as the administrator for the Fredericksburg Health Care
                      Center,
                      the executive assistant to the medical center director and strategic planner, the acting VISN 6
                      strategic
                      planner, the administrative officer for primary care and the acting practice manager for several
                      outpatient clinics. <br><br>


                      Ms. Maixner holds a Bachelor of Science degree from the Virginia Polytechnic Institute and State
                      University and a Master of Health Administration degree from Virginia Commonwealth University.
                      <br><br>
                    </p>
                    <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
                 padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 3px solid #f0f0f0;">

                      <strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
                      Digital tools. There seems to be lots of unearthed potential in this area with many exciting and
                      emerging
                      technologies to explore! CCPI is looking forward to enhancing VA health care by developing guiding
                      pathways for digital tools to integrate into care delivery.
                      <br> <br>

                    </p>
                  </div>

                </div>
              </div>



            </div>

          </div>

        </div>

      </div>

    </section>

    <!--meet the team projects -->
    <section id="" class="aquaback ">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:#e1f3f8;fill:#f0f0f0 " points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
      <div id="" class="grid-container  padding-3 padding-top-1 ">
        <h3 class="font-heading-xl text-dark-gray border-bottom">
          Projects
        </h3>

        <div class="grid-row grid-gap">

          <div class="tablet:grid-col "> <br>

            <div class="usa-accordion">
              <!--Bailee Bannan -->
              <h2 class="usa-accordion__heading">
                <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="p1"
                  style="background-color: #9e9e9e47;min-height: 150px; color: #002746; padding: 10px;">

                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col-2 mobile-lg:grid-col-auto display-flex flex-column flex-justify-center">
                      <img src="/assets/images/ccpi-headshots/bannan.jpg" class="oneshadow"
                        style="  border: 5px solid white;" alt="Bailee Bannan ">
                    </div>

                    <div class="tablet:grid-col-6">

                      <h1 class=" text-900 padding-left-1 "
                        style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                        Bailee Bannan
                      </h1>
                      <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                        <strong>
                          Project Manager
                        </strong>
                      </h4>
                    </div>


                </button>
              </h2>
              <div id="p1" class="usa-accordion__content usa-prose" hidden="">
                <div class="grid-row grid-gap-3">


                  <div class="tablet:grid-col-12 text-left">
                    <p class="font-body-sm  padding-top-3 margin-top-3 "
                      style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;">
                      <br>
                      Ms. Bailee Bannan is a project manager at the Center for Care and
                      Payment Innovation where she manages pilot development and implementation to address opportunities
                      for
                      improvement in care and payment models throughout the enterprise. She began her career as an
                      administrative resident with the Central Virginia VA Health Care System, spending seven years
                      developing
                      and guiding leasing projects to give Veterans better access to care within their communities.
                      <br><br>


                      Ms. Bannan received her master's degree in Health Administration from Virginia Commonwealth
                      University,
                      and prior to joining the VA, she ran a home health agency for children and adults needing hourly
                      in-home
                      care.
                      <br><br>
                    </p>
                    <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
                     padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 3px solid #f0f0f0; ">

                      <strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
                      Health care innovation - whether it's new technology, innovative payment models or reimagined care
                      delivery - allows us to better serve Veterans and the providers that care for them. Each of these
                      innovations excite me because health care innovation, at its core, is about opportunity - the
                      opportunity
                      to improve quality of care, the opportunity to creatively alleviate burdens for providers and the
                      opportunity to reach people where they are to create a better care experience.
                      <br> <br>

                    </p>
                  </div>

                </div>
              </div>




            </div>

          </div>

        </div>

      </div>

    </section>

    <!-- meet the DATA -->
    <section id="" style="background-color: #f0f0f0;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#f0f0f0;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:#f0f0f0;fill:#e1f3f8 " points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
      <div id="" class="grid-container  padding-3 padding-top-1 ">
        <h3 class="font-heading-xl text-dark-gray border-bottom">
          Data
        </h3>

        <div class="grid-row grid-gap">

          <div class="tablet:grid-col "> <br>

            <div class="usa-accordion">
              <!-- •Daleena Scott -->
              <h2 class="usa-accordion__heading">
                <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="d1"
                  style="background-color: #9e9e9e47;min-height: 150px; color: #002746; padding: 10px;">

                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col-2 mobile-lg:grid-col-auto display-flex flex-column flex-justify-center">
                      <img src="/assets/images/ccpi-headshots/Daleena-scott.jpeg" class="oneshadow"
                        style="  border: 5px solid white;" alt="Daleena Scott headshot ">
                    </div>

                    <div class="tablet:grid-col-6">

                      <h1 class=" text-900 padding-left-1 "
                        style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                        Daleena Scott
                      </h1>
                      <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                        <strong>
                          Senior Strategic Innovations Analyst
                        </strong>
                      </h4>
                    </div>


                </button>
              </h2>
              <div id="d1" class="usa-accordion__content usa-prose" hidden="">
                <div class="grid-row grid-gap-3">


                  <div class="tablet:grid-col-12 text-left">

                    <p class="font-body-sm  padding-top-3 margin-top-3 "
                      style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;">
                      <br>
                      Ms. Daleena Scott currently serves as a senior strategic
                      innovations analyst for the VHA Center for Care and Payment Innovation (CCPI). She focuses on
                      determining
                      the analytic needs of CCPI pilots to ensure that they possess meaningful data in order to tell
                      their
                      stories and evaluate their impacts. Ms. Scott works to support organizational priorities that
                      conceptualize and implement data-centric innovations in support of Veterans health care delivery.
                      Ms.
                      Scott is an Army Veteran who has served VHA for eight years in various capacities. She is
                      passionate about
                      breaking down barriers specific to women Veterans, while continuing to improve access and quality
                      for all.
                      <br><br>
                    </p>
                    <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
       padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 3px solid #f0f0f0; ">

                      <strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
                      A health care innovation that excites me is women's health in the VA. I'm passionate about the
                      opportunity
                      to make VA health care accessible and innovative for all that have served. I believe the
                      initiatives that
                      have happened in recent years, and the ones on the horizon, allow VHA to be a leading inclusive
                      health
                      care system.
                      <br> <br>

                    </p>

                  </div>

                </div>
              </div>


              <!-- •	•	Joseph Wallace -->
              <h2 class="usa-accordion__heading">
                <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="d2"
                  style="background-color: #9e9e9e47;min-height: 150px; color: #002746; padding: 10px;">

                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col-2 mobile-lg:grid-col-auto display-flex flex-column flex-justify-center">
                      <img src="/assets/images/ccpi-headshots/Joseph-Wallace.png" class="oneshadow"
                        style="  border: 5px solid white;" alt="Joseph Wallace headshot ">
                    </div>

                    <div class="tablet:grid-col-6">

                      <h1 class=" text-900 padding-left-1 "
                        style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                        Joseph Wallace
                      </h1>
                      <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                        <strong>
                          Senior Strategic Innovations Analyst
                        </strong>
                      </h4>
                    </div>


                </button>
              </h2>
              <div id="d2" class="usa-accordion__content usa-prose" hidden="">
                <div class="grid-row grid-gap-3">


                  <div class="tablet:grid-col-12 text-left">
                    <p class="font-body-sm  padding-top-3 margin-top-3 "
                      style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;">
                      <br>
                      Mr. Joseph “Mike” Wallace serves as a senior strategic innovations
                      analyst for the Center for Care and Payment Innovation (CCPI) and has over 11 years of experience
                      working
                      with the Department of Veterans Affairs. Prior to joining CCPI, Mr. Wallace served as a management
                      &
                      program analyst with the Atlanta VA Health Care System. With a passion for data analytics and
                      informatics,
                      he also served in the role of performance improvement coordinator for specialty medicine.
                      Additionally,
                      Mr. Wallace served as a registered nurse in the operating room, specializing in orthopedic and
                      trauma
                      surgeries, and he is a Veteran of the United States Air Force.
                      <br><br>
                    </p>
                    <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
             padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 3px solid #f0f0f0; ">

                      <strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
                      A health care innovation I'm excited about is the adoption and integration of AI-based health care
                      applications to improve outcomes for our Veterans, reduce operational inefficiencies within the
                      Department
                      and improve workload balance for health care professionals, fulfilling the VA mission.
                      <br> <br>

                    </p>
                  </div>

                </div>
              </div>

              <!-- •	Hugh Welch  -->
              <h2 class="usa-accordion__heading">
                <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="d3"
                  style="background-color: #9e9e9e47;min-height: 150px; color: #002746; padding: 10px;">

                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col-2 mobile-lg:grid-col-auto display-flex flex-column flex-justify-center">
                      <img src="/assets/images/ccpi-headshots/Hugh_Welch_Headshot_square.jpg" class="oneshadow"
                        style="  border: 5px solid white;" alt="Hugh Welch  headshot ">
                    </div>

                    <div class="tablet:grid-col-6">

                      <h1 class=" text-900 padding-left-1 "
                        style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                        Hugh Welch
                      </h1>
                      <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                        <strong>
                          Senior Strategic Innovations Analyst
                        </strong>
                      </h4>
                    </div>


                </button>
              </h2>
              <div id="d3" class="usa-accordion__content usa-prose" hidden="">
                <div class="grid-row grid-gap-3">


                  <div class="tablet:grid-col-12 text-left">
                    <p class="font-body-sm  padding-top-3 margin-top-3 "
                      style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;">
                      <br>
                      Hugh Welch serves as a senior strategic innovations analyst for the VHA Center for Care and
                      Payment Innovation (CCPI). He specializes in combining data science with Lean Six Sigma principles
                      to transform health care data into operational insights that support a culture of high-reliability
                      and continuous process improvement. Hugh is a Lean Six Sigma Black Belt who has led several
                      process improvement projects, achieving success in a variety of areas including reductions in
                      emergency department patient wait times, decreased congestive heart failure hospital readmissions
                      and increased efficiency in disaster resource utilization. His work has been highlighted by the
                      American College of Healthcare Executives, the South Carolina Hospital Association and the
                      Veterans Health Administration Innovation Experience.
                      <br><br>
                    </p>
                    <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
             padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 3px solid #f0f0f0; ">

                      <strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
                      I'm incredibly excited by the opportunity to operationalize machine learning within VHA systems
                      to help uncover hidden insights and drive improvements in Veteran health outcomes. There is huge
                      potential in unlocking the power of our unrivaled data stores to craft the future of global health
                      care.
                      <br> <br>

                    </p>
                  </div>

                </div>
              </div>



            </div>

          </div>

        </div>

      </div>

    </section>


    <!--meet the team managment analyst -->
    <section id="" class="aquaback ">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:#e1f3f8;fill:#f0f0f0 " points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
      <div id="" class="grid-container  padding-3 padding-top-1 ">
        <h3 class="font-heading-xl text-dark-gray border-bottom">
          Management Analyst
        </h3>

        <div class="grid-row grid-gap">

          <div class="tablet:grid-col "> <br>

            <div class="usa-accordion">
              <!-- Erin Gerace -->
              <h2 class="usa-accordion__heading">
                <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="ma1"
                  style="background-color: #9e9e9e47;min-height: 150px; color: #002746; padding: 10px;">

                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col-2 mobile-lg:grid-col-auto display-flex flex-column flex-justify-center">
                      <img src="/assets/images/ccpi-headshots/Gerace-Headshot.png" class="oneshadow"
                        style="  border: 5px solid white;" alt="Bailee Bannan ">
                    </div>

                    <div class="tablet:grid-col-6">

                      <h1 class=" text-900 padding-left-1 "
                        style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                        Erin Gerace
                      </h1>
                      <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                        <strong>
                          Management Analyst
                        </strong>
                      </h4>
                    </div>


                </button>
              </h2>
              <div id="ma1" class="usa-accordion__content usa-prose" hidden="">
                <div class="grid-row grid-gap-3">


                  <div class="tablet:grid-col-12 text-left">
                    <p class="font-body-sm  padding-top-3 margin-top-3 "
                      style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;">
                      <br>
                      Ms. Gerace currently serves as the administrative specialist for CCPI where she oversees a variety
                      of daily office organizational tasks. Ms. Gerace previously served as the special assistant to the
                      director from the Medical-Legal Risk Management office in VACO (formerly OMLA) where she led and
                      managed the program office processes. Her VA career began as a Physical Therapist Assistant at the
                      Buffalo VAMC where she specialized in her passion in outpatient orthopedic and spinal
                      rehabilitation.
                      <br><br>
                    </p>
                    <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
       padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 3px solid #f0f0f0; ">

                      <strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
                      The innovations that excite me are the strides VA is making in delivering better physical therapy
                      to Veterans that are reducing barriers and improving long-term outcomes. I'm also excited to see
                      the different ways VA is working with virtual reality in health care to support Veterans in a
                      number of health areas from mental health to pain management.
                      <br> <br>

                    </p>
                  </div>

                </div>
              </div>




            </div>

          </div>

        </div>

      </div>

    </section>

  </main>
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

  <!-- Code injected by live-server -->

</body>

</html>