<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>
  
    <title>Simlearn</title>
    <meta name="description" content="VSimlearn">
  
    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- custom hero slider -->
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
          <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">
  
    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- custom hero slider -->
    <script type="text/javascript" src="/assets/js/slick.js"></script>
  
  
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  
  
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
              integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
          </script> -->
    <!-- js+jq for the  header and footer -->
    <script>
      $(function () {
        $("#header").load("/partials/header.html");
        $("#footer").load("/partials/footer.html");
      });
    </script>
  
  </head>
<!-- ======= Header ======= -->
<div class="no-padding" id="header"></div>
<body>
  <main class="" id="main-content" role="main">
    <!-- title section -->
    <section id="" class=" usa-section padding-left-0 padding-bottom-0" style=" padding-top: .5rem;">
      <div class="grid-container" style="text-align: left; margin-top: 1%; margin-bottom: 1%;">
        <div class="grid-row grid-gap-1">
          <div class="tablet:grid-col">
            <span class="font-heading-3xl" style="font-size: 33px;">
              VHA SimLEARN Team
            </span>
          </div>
        </div>
      </div>
    </section>
    <!-- Presenter Spotlight -->
    <section class="usa-graphic-list usa-section padding-top-0  " style="background-color: #f0f0f047;">
      <div class=" grid-container  padding-3">
        <div id="ryan" class="grid-row grid-gap-2 border-gray bg-white ">
          <div class="tablet:grid-col-3 ml-auto ">
            <img class="bi-image h100" src="/assets/images/team-headshots/Cropped-Eric-Bruns.svg" alt="Eric Bruns">
          </div>
          <div class="tablet:grid-col-9 ">
            <h4 class=" text-900 padding-left-3"
              style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
              Eric Bruns, MBA </h4>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
            font-size: 15px;
            border-left: 5px solid #917b47;"> <strong> Executive Director, Simulation Learning, Evaluation, Assessment, and
              Research Network (SimLEARN)</strong></p>

            <p class="font-body-sm margin-0" style="padding: 10px 20px;
                    margin: 0 0 20px;
                    font-size: 16px;
                    border-left: 5px solid #917b47;">
              Eric B. Bruns is a retired career Army officer with over 25 years of valiant service to the nation where
              he served as an Air Defense officer responsible for the implementation of warfare simulations programs. He
              retired as a Lieutenant Colonel after serving in Kitzingen, Germany, Guantanamo Bay Cuba and exercises in
              Japan, receiving a Legion of Merit. Eric graduated from the United States Military Academy at West Point
              in 1988 with a BS in Engineering and completed an MBA from Mays Business School at Texas A&M University
              that he uses to continue a career in service to others.
              <br><br>
              Eric served as the Associate Director for the Events Division of the VHA Employee Education System (EES)
              in the Crystal City Facility where he addressed education needs for VHA clients. As the Associate
              director, he implemented the policies, procedures and systems required for maintaining and enhancing the
              overall organizational mission, develops and documents standards to measure quality and effectiveness of
              programs.
              <br><br>
              Eric is currently the Executive Director of the Simulation Learning Evaluation, Assessment and Research
              Network (SimLEARN) where he develops strategy for using simulation based clinical education products to
              drive the innovation of healthcare, making the VA a high reliability organization.

            </p>
          </div>
        </div>

        <div id="kris" class="grid-row grid-gap-2 border-gray bg-white ">
          <div class="tablet:grid-col-3 ml-auto ">

            <img class="bi-image h100" src="/assets/images/team-headshots/Cropped-Lygia-Arcaro.svg"
              alt=" Lygia Arcaro " Kit" Teague">
          </div>
          <div class="tablet:grid-col-9 ">
            <h4 class=" text-900 padding-left-3"
              style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
              Lygia Arcaro, Ph.D, RN </h4>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
              font-size: 15px;
              border-left: 5px solid #917b47;"> <strong> National Director Nursing Programs, Simulation Learning, Evaluation,
              Assessment, and Research
              Network(SimLEARN)</strong></p>

            <p class="font-body-sm margin-0" style="padding: 10px 20px;
                    margin: 0 0 20px;
                    font-size: 16px;
                    border-left: 5px solid #917b47;">

              Dr. Lygia Arcaro serves as the National Director, Nursing Programs for the Veterans Health Administration
              (VHA) Simulation Learning Education and Research Network (SimLEARN) program. She serves as the official
              representative of the Office of Nursing Services (ONS) while in this SimLEARN role, by collaborating with
              leadership of national program offices and field facilities throughout VHA including inter-professional
              teams for clinical and administrative personnel using simulation-based education and training. She
              provides significant contribution and involvement to the overall strategic direction of SimLEARN to
              leverage strengths, opportunities and dissemination of simulation-based curricula to the workforce with an
              emphasis on nurses’ enterprise-wide.
              <br><br>
              Dr. Arcaro is a graduate of Leadership VA, the VHA Health Care Leadership Institute, the VHA Executive
              Career Field Program, and holds a certificate in Modeling and Simulation from the Naval Post Graduate
              School. She has received recognition from the Southern Nevada Federal Executive Association, Clarkson
              College (Nebraska), and the Nevada March of Dimes for her professional contributions.
              <br><br>
              Dr. Arcaro is an active member of Sigma Theta Tau, the International Honor Society for Nursing, belongs to
              the International Nursing Association for Clinical Simulation and Learning, and the Society for Simulation
              in Healthcare. She has been a member of the Association for Nursing Professional Development since 1995,
              and she is a member of the American and Florida Nurses Associations.

            </p>
          </div>
        </div>
        <div id="kris" class="grid-row grid-gap-2 border-gray bg-white ">
          <div class="tablet:grid-col-3 ml-auto ">

            <img class="bi-image h100" src="/assets/images/team-headshots/Cropped-Scott-Wiltz.svg" alt=" Scott Wiltz ">
          </div>
          <div class="tablet:grid-col-9 ">
            <h4 class=" text-900 padding-left-3"
              style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
              Scott Wiltz, MD, MPH, FAAFP</h4>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
              font-size: 15px;
              border-left: 5px solid #917b47;"> <strong>SimLEARN Medical Director, Simulation Learning, Evaluation, Assessment,
              and Research Network (SimLEARN)</strong>
            </p>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
                    margin: 0 0 20px;
                    font-size: 16px;
                    border-left: 5px solid #917b47;">

              Dr. Scott Wiltz is a family doctor serving as the SimLEARN Medical Director. He is a graduate of Louisiana
              State University Health Sciences Center (LSUHSC) School of Medicine in New Orleans, the Eglin Air Force
              Base Family Medicine Residency Program, and the Faculty Development Fellowship at the University of North
              Carolina – Chapel Hill. He served in the Air Force for 12 years as a clinician and educator including
              duties as a medical director and residency program director with multiple research publications and
              national presentations. He has been with SimLEARN since May 2017, leading classes and projects developing
              clinical, leadership and educational skills to meet the needs of SimLEARN’s clients and partners. He
              serves as a primary contact for SimLEARN with national program offices, clinical subject matter experts
              and other partners in VA, DoD and other government, academic and private sector groups. As a leader,
              physician and Veteran, Dr. Wiltz is dedicated to ensuring the VA meets is mission to care for all “who
              shall have borne the battle.”
            </p>
          </div>
        </div>
        <div id="kris" class="grid-row grid-gap-2 border-gray bg-white ">
          <div class="tablet:grid-col-3 ml-auto ">

            <img class="bi-image h100" src="/assets/images/team-headshots/Cropped-Lisa-Baker.svg" alt="Lisa Baker">
          </div>
          <div class="tablet:grid-col-9 ">
            <h4 class=" text-900 padding-left-3"
              style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
              Lisa Baker, BSN, Med </h4>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
            font-size: 15px;
            border-left: 5px solid #917b47;"><strong> National Program Director, Resuscitation Education Initiative (REdI),
              Simulation Learning, Evaluation,
              Assessment, and Research Network (SimLEARN)</strong>
            </p>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
                margin: 0 0 20px;
                font-size: 16px;
                border-left: 5px solid #917b47;">


              As the National Program Director Ms. Baker is responsible for enterprise-wide oversight and support of a
              robust resuscitation portfolio for the largest healthcare system in the world. The REdI program, in its
              commitment to VHA’s journey as a high reliability and learning organization strives to provide employees
              with the right tools, processes, and technologies to respond during a medical emergency. REdI supports a
              system-wide innovative learning platform for low dose, high frequency resuscitation training and a
              national REdI Mock Code Training Program (RMCTP) that provides local VHA Medical Facilities a
              standardized, turnkey solution to building a robust mock code training program. In addition, REdI provides
              services through Resuscitation Simulation System Testing (RSST), which is a simulation-based strategy to
              identify and mitigate potential hazards related to the delivery of code response services and training of
              code team staff and first responders.
              <br><br>
              Ms. Baker possesses experience in executive medicine, quality management, patient safety, risk management,
              critical care and education. Prior to this position, Ms. Baker served as the Associate Director for
              Training, responsible for the oversight of all SimLEARN operations related to the development, delivery,
              evaluation and sustainment of simulation-based training projects and national curriculum. Ms. Baker had
              served as the Director, Simulation Center at an integrated VA/DoD facility, the Captain James A. Lovell
              Federal Health Care Center, North Chicago, IL. Ms. Baker has worked in several executive details
              throughout her VA career, to include Chief, Organizational Performance Improvement, Assistant Director,
              Facility Support, and Assistant Director, Geriatrics and Mental Health.
              <br><br>
              Before joining the Department of Veterans Affairs in November 2013, Ms. Baker served in the U.S. Navy as
              an active duty Nurse Corps Officer, holding several executive leadership positions and honorably retiring
              after 21 years at the rank of Commander.
              <br><br>
              Ms. Baker holds a Bachelor of Science Degree in Nursing from the University of Mary, Bismarck, ND, a
              Master of Education in Educational Leadership from the University of West Florida, Pensacola, FL and a
              Post Graduate Certificate in Healthcare Modeling and Simulation from the Naval Postgraduate School,
              Monterey, CA.

            </p>
          </div>
        </div>
        <div id="kris" class="grid-row grid-gap-2 border-gray bg-white ">
          <div class="tablet:grid-col-3 ml-auto ">

            <img class="bi-image h100" src="/assets/images/team-headshots/Cropped-Franklin-Espinal.svg"
              alt="Franklin Espinal">
          </div>
          <div class="tablet:grid-col-9 ">
            <h4 class=" text-900 padding-left-3"
              style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
              Franklin Espinal, PMP </h4>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
              font-size: 15px;
              border-left: 5px solid #917b47;"><strong> Associate Director for Support Operations, Simulation Learning,
              Evaluation, Assessment, and Research
              Network (SimLEARN)</strong>
            </p>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
            margin: 0 0 20px;
            font-size: 16px;
            border-left: 5px solid #917b47;">



              Franklin Espinal serves as SimLEARN’s Associate Director for Support Operations, overseeing work related
              to support functions for the development and distribution of clinical training development and
              distribution to health care providers and associated staff. He previously served as the Executive
              Assistant for the Deputy Chief Learning Officer (DCLO) for the Veterans Health Administration, Employee
              Education System (EES).
              <br><br>
              Franklin joined VHA from the Department of Defense where he worked as a Senior Program Manager for the
              Chief Scientist for the Air Force Medical Service advancing modernization efforts by focusing research on
              Warfighters needs. Mr. Espinal retired from the United States Air Force after completing 23-years as a
              Medical Service Corp Officer. He brings extensive experience in project management, requirements
              generation, information systems, human resource management, managed care, logistics management, budgetary
              and fiscal management, education and training and facility/construction management. Mr. Espinal’s past
              deployments include Operation Enduring Freedom (OEF) where he served as the administrator for the Allied
              Health Professions Institute in Kabul Afghanistan. He holds a Master of Arts in Computer Resources and
              Information Systems from Webster University.


            </p>
          </div>
        </div>
        <div id="alli" class="grid-row grid-gap-2 border-gray bg-white ">
          <div class="tablet:grid-col-3 ml-auto ">

            <img class="bi-image h100" src="/assets/images/team-headshots/Cropped-Tracey-Robilotto.svg"
              alt="Tracey Robilotto">
          </div>
          <div class="tablet:grid-col-9 ">
            <h4 class=" text-900 padding-left-3"
              style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
              Tracey Robilotto, DNP(c), MSN Ed., APRN, ACNS-BC</h4>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
            font-size: 15px;
            border-left: 5px solid #917b47;"><strong> Associate Director SimLEARN, Resuscitation Education Initiative (REdI)
              Program Regional Training Manager,
              Simulation Learning, Evaluation, Assessment, and Research Network (SimLEARN)</strong>
            </p>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
                    margin: 0 0 20px;
                    font-size: 16px;
                    border-left: 5px solid #917b47;">



              Dr. Robilotto joined the SimLEARN team in 2011 as one of the first Health Education Specialists hired to
              stand up the National Simulation Center and the Resuscitation Education Initiative (REdI) program. In 2017
              she was promoted to Associate Director.
              <br><br>
              Dr. Robilotto came to SimLEARN from the Louis Stokes VAMC in Cleveland, Ohio where she was the ICU,
              Progressive Care, and ER Nurse Educator. Dr. Robilotto has 25 years of clinical experience with the
              majority in intensive care including medical, surgical, neuro and cardiothoracic surgery units. She spent
              five years providing cardiothoracic intensive care and gaining cutting edge experience at the worldwide
              healthcare leader Cleveland Clinic and University Hospitals Cleveland before joining the VHA in 2004.
              <br><br>
              Dr. Robilotto is an advanced practice Clinical Nurse Specialist, board certified in adult health care and
              earned her doctorate in nursing from the Jesuit Regis University, in Colorado. She has a master’s degree
              in Nursing specialized in Healthcare Education and holds a Healthcare Education teaching certificate. Dr.
              Robilotto also holds a Post Graduate Certificate in Healthcare Modeling and Simulation from the Naval
              Postgraduate School in Monterey, California.

            </p>
          </div>
        </div>
        <!-- Brynn Cole Director of Programming, VHA Innovators Network  -->
        <div id="bryn" class="grid-row grid-gap-2 border-gray bg-white ">
          <div class="tablet:grid-col-3 ml-auto ">

            <img class="bi-image h100" src="/assets/images/team-headshots/Cropped-LeAnn-Schlamb.svg"
              alt="LeAnn Schlamb">
          </div>
          <div class="tablet:grid-col-9 ">
            <h4 class=" text-900 padding-left-3"
              style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
              LeAnn Schlamb, MSN Ed. S</h4>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
            font-size: 15px;
            border-left: 5px solid #917b47;"><strong> Associate Director for Education Research and Outreach, Simulation
              Learning, Evaluation, Assessment, and
              Research Network (SimLEARN)</strong>

            </p>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
                    margin: 0 0 20px;
                    font-size: 16px;
                    border-left: 5px solid #917b47;">


              LeAnn Schlamb is SimLEARN’s Associate Director for Education Research and Outreach, also known as,
              Simulation Outreach Network (SON). She earned a BSN from the University of Cincinnati in 1990 and 2003,
              MSN in forensics from Xavier University Cincinnati, Ohio, and Ed. S Adult Education from Walden
              University.
              <br><br>
              Ms. Schlamb’s nursing experience expands from critical care, emergency, forensics, and academia. In 2008
              she began as a nurse educator at the Cincinnati VAMC and developed the simulation program and became
              simulation coordinator, VISN 10 co-sim champ, co-director Advance Simulation Fellowship, and Safe Patient
              Handling & Mobility Coordinator. She has experience with multiple simulation modalities that have been
              utilized in adult education and within health care facilities, as well as outside facilities, offering
              training in a safe environment. She has experience working with a broad range of inter-professionals
              representing several service lines among VA facilities, as well as national program offices. In her
              current position Ms. Schlamb facilitates, consults, and supports her team to network across VHA enterprise
              for simulation-based education, as well as System/Hospital Activations. Ms. Schlamb believes that
              simulation leads to collaborative inter-professional team training and can impact care for Veterans,
              through outreach made possible to all VAs.


            </p>
          </div>
        </div>

        <div id="blake" class="grid-row grid-gap-2 border-gray bg-white ">
          <div class="tablet:grid-col-3 ml-auto ">

            <img class="bi-image h100" src="/assets/images/team-headshots/Cropped-Jonathan-Borgwing.svg"
              alt="Jonathan Borgwing">
          </div>
          <div class="tablet:grid-col-9 ">
            <h4 class=" text-900 padding-left-3"
              style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
              Jonathan Borgwing, EdD. </h4>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
              font-size: 15px;
              border-left: 5px solid #917b47;"><strong> Associate Director for Training Operations, Simulation Learning,
              Evaluation, Assessment, and Research
              Network (SimLEARN)</strong>


            </p>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
                    margin: 0 0 20px;
                    font-size: 16px;
                    border-left: 5px solid #917b47;">



              Dr. Jonathan Borgwing was appointed as the Associate Director for Training Operations of SimLEARN on
              January 6, 2020. Dr. Borgwing is responsible for the oversight of all SimLEARN operations related to the
              development, delivery and evaluation of simulation-based training projects and national curriculum.
              <br><br>
              Dr. Borgwing possesses experience in curriculum management, instructional design and development,
              educational evaluation, and program management. Before joining the Department of Veterans Affairs, Dr.
              Borgwing served in several educational leadership positions within a schoolhouse associated with the
              United States Army Intelligence Center of Excellence at Fort Huachuca, Arizona as a Department of the Army
              civilian, and is an Army Veteran.
              <br><br>
              Dr. Borgwing holds a Bachelor of Science Degree in Information Technology from Northeastern University; a
              Master of Science in Educational Technology from the University of Arizona; a Graduate Certificate in
              Instructional Design and Technology from the University of Arizona; and a Doctorate of Education in
              Leadership and Innovation from Arizona State University with a dissertation focused on the impact of Agile
              elements on the ADDIE model.


            </p>
          </div>
        </div>

        <div id="blake" class="grid-row grid-gap-2 border-gray bg-white ">
          <div class="tablet:grid-col-3 ml-auto ">

            <img class="bi-image h100" src="/assets/images/team-headshots/Cropped-Brian-Stevenson.svg"
              alt="Brian Stevenson">
          </div>
          <div class="tablet:grid-col-9 ">
            <h4 class=" text-900 padding-left-3"
              style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
              Brian Stevenson, FACPPM, FACCOR </h4>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
            font-size: 15px;
            border-left: 5px solid #917b47;"><strong> Associate Director of Emerging Healthcare Technology Integration,
              Simulation Learning, Evaluation,
              Assessment, and Research Network (SimLEARN)</strong>
            </p>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
                  margin: 0 0 20px;
                  font-size: 16px;
                  border-left: 5px solid #917b47;">

              Brian Stevenson serves as SimLEARN’s Associate Director for Emerging Healthcare Technology Integration
              overseeing work related to technical functions and emerging healthcare technology physical/virtual
              classrooms and partnerships. Brian accelerates the adoption of emerging health technology through
              simulation and learning, to optimize patient care and empower VHA as a learning health system by assessing
              the technology landscape and identifying solutions that advance the standard of clinical learning and
              simulation, informing the National Simulation Center’s (NSC) curriculum development, focusing on emerging
              health technologies to improve care delivery and optimizing workflows of emerging health technologies in a
              simulated, risk-free environment.
              <br><br>
              Brian joined VHA from the Department of Defense, shortly after the Persian Gulf War I, where he worked as
              an Operations Specialist for the Combat Systems Division 1 aboard the USS Stark (FFG-31), advancing
              modernization efforts by implementing and operating warfighter systems such as: Link 11 and Joint
              Operations Tactical System (JOTS) a first of its kind global network. He brings extensive experience in
              project management, requirements generation, information systems, logistics management, and
              operationalization of clinical innovation, technologies and VHA information systems to enterprise scale.
              <br><br>
              Mr. Stevenson’s past deployments include the Standing Naval Force Atlantic (SNFL) NATO Sharp Spear 89,
              Space Shuttle Recovery Operations (SSROs), Legal Enforcement Operations (LEOs) with the U.S. Coast Guard
              and Operation Desert Storm (ODS), where he served as an anti-air warfare coordinator (AAWC) in the North
              Frigate Patrol Station in the northern Arabian Gulf (NAG).


            </p>
          </div>
        </div>

        <div id="blake" class="grid-row grid-gap-2 border-gray bg-white ">
          <div class="tablet:grid-col-3 ml-auto ">

            <img class="bi-image h100" src="/assets/images/team-headshots/Cropped-Bonnie-Haupt.svg"
              alt=" Bonnie Haupt DNP">
          </div>
          <div class="tablet:grid-col-9 ">
            <h4 class=" text-900 padding-left-3"
              style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;border-left: 5px solid #917b47;margin-bottom: 0px;">
              Bonnie Haupt DNP, RN CNL, CHSE </h4>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
              font-size: 15px;
              border-left: 5px solid #917b47;"><strong> Associate Director for Clinical Simulation and Engagement, Simulation
              Learning, Evaluation, Assessment,
              and Research Network (SimLEARN)</strong>


            </p>
            <p class="font-body-sm margin-0" style="padding: 10px 20px;
                margin: 0 0 20px;
                font-size: 16px;
                border-left: 5px solid #917b47;">



              Dr. Bonnie Haupt DNP, RN, CNL, CHSE joined the SimLEARN team, June 2021. As Associate Director for
              Clinical Training and Engagement, she is responsible for providing oversight for the SimLEARN faculty
              team; empowering enterprise simulation teams in providing and sustaining high quality education aimed at
              improving Veteran outcomes; supporting and mentoring simulation champions and their teams, building
              relationships through collaboration and promoting National programs.
              <br><br>
              Dr. Haupt previously served in VISN 9: MidSouth Network as the High Reliability Officer, Infection
              Prevention and Occupational Health team, Community of Practice leads. Her experiences within VHA span over
              25 years serving as; Patient Experience Officer, Clinical Nurse Leader, VA Nursing Academy Professor,
              Hospital Educator and Surgical Intensive Unit care nurse to name a few. Her extensive background in
              collaborating with quality, safety and value teams within VHA and the private sector have focused on
              improving communication, performance initiatives and research.
              <br><br>
              Dr. Haupt is a graduate of Sacred Heart University, with a Doctorate in Nursing Practice Program. She
              received her undergraduate BSN degree from Southern Connecticut State University Nursing program. She is
              also a Certified Clinical Nurse Leader and Certified Healthcare Simulation Educator.


            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>