<!DOCTYPE html>
<html class="no-js">

<head>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

  <title>certified Simlearn</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header =======        <div class="text-center padding-0 margin-0" >
        <div class="container">
          <img src="/assets/images/page1-images/simtop.png" alt="simlearn image "  style="width: 100; height: auto;">
          
          <div class="centered">
            <img src="/assets/images/page1-images/simlogo.png" alt="Simlearn Logo">
          </div>
        </div>
        
        
        
    </div>-->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>

    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="font-heading-xl text-dark-gray f48-700 ">
              SimLEARN Certified Simulation Centers

            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              SimLEARN is excited to announce the continuation of certification for Veterans Health Administration (VHA)
              simulation centers. The goal for national certification is to continue a structured program that supports
              improved local delivery of simulation-based training, augments access to developed instructional
              curricula, and increases continuity across the VHA. Certification ensures prioritization of the priorities
              of the VA Secretary and Executive In Charge. Facility Simulation Certification has been in existence since
              July, 2015 and remains one avenue for continuous process improvement and reflects the principles of highly
              reliable organizations. <br>

              SimLEARN congratulates the newest SimLEARN Certified Simulation Centers:






            </p><br>

          </div>


        </div>

      </div>
    </section>
    <!-- ======= About Section ======= -->

    <section style="background:#e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g "="">
              <polygon class=" fl-shape" style="background:#e1f3f8;fill:#fff" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- main boxes  -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="background: #e1f3f8;margin-top: 0 !important;padding-top: 0 !important;">

      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray  ">
              VAMC/VAHCS/Medical Facility
            </h1>

            <input  type="text"
              placeholder="Search by name..." name="name" id="myInput" onkeyup="myFunction()" value=""
              class="adele-input long email_text_field oneshadow margin-top-2 margin-bottom-3" >

            <hr>
            <table id="myTable" class="bg-white">
              <tr class="header">
                <th style="width:80%;">VAMC/VAHCS/Medical Facility</th>
                <th style="width:100%;">Tier of Certification</th>
              </tr>
              <tr>
                <td>Audie L Murphy VA Hospital
                </td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>Boise VA Medical Center</td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>Carl Vinson VA Medical Center</td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>Central Texas Veterans Health Care System</td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>Cincinnati VA Medical Center</td>
                <td>Advanced</td>
              </tr>
              <tr>
                <td>Durham VA Medical Center
                </td>
                <td>Advanced</td>
              </tr>
              <tr>
                <td>Fargo VAHCS</td>
                <td>Basic</td>
              </tr>
              <tr>
                <td>Harry S. Truman Memorial Veterans’ Hospital</td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>Hunter Holmes McGuire VAMC</td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>James A. Haley Veterans’ Hospital</td>
                <td>Advanced</td>
              </tr>
              <tr>
                <td>James E. Van Zandt VA Medical Center</td>
                <td>Basic</td>
              </tr>
              <tr>
                <td>John J. Pershing VA Medical Center</td>
                <td>Basic</td>
              </tr>
              <tr>
                <td>Kansas City VA Medical Center</td>
                <td>Basic</td>
              </tr>
              <tr>
                <td>Lexington VA Medical Center</td>
                <td>Basic</td>
              </tr>
              <tr>
                <td>Minneapolis VA Health Care System</td>
                <td>
                  Advanced</td>
              </tr>
              <tr>
                <td>Nebraska Western Iowa Healthcare System</td>
                <td>
                  Advanced</td>
              </tr>
              <tr>
                <td>
                  Northern Arizona Health Care System</td>
                <td>
                  Basic</td>
              </tr>
              <tr>
                <td>Oklahoma City VA Health Care System</td>
                <td>
                  Basic</td>
              </tr>
              <tr>
                <td>Orlando VA Healthcare System</td>
                <td>
                  Intermediate</td>
              </tr>
              <tr>
                <td>Phoenix VA Healthcare System</td>
                <td>Basic</td>
              </tr>
              <tr>
                <td>Providence VA Health Care System</td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>Ralph H. Johnson</td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>Salem VA Medical Center</td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>
                  Syracuse VA Medical Center</td>
                <td>
                  Basic</td>
              </tr>
              <tr>
                <td>Sioux Falls Veterans Affairs Health Care System</td>
                <td>
                  Basic</td>
              </tr>
              <tr>
                <td>St. Could VA Healthcare System</td>
                <td>
                  Basic</td>
              </tr>
              <tr>
                <td>VA Central Iowa Health Care System</td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>VA Connecticut Healthcare System</td>
                <td>Basic</td>
              </tr>
              <tr>
                <td>VA Maryland Health Care System</td>
                <td>Basic</td>
              </tr><tr>
                <td>VA North Texas Health Care System</td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>VA Northeast Ohio Healthcare System</td>
                <td>Advanced</td>
              </tr>
              <tr>
                <td>VA Pittsburgh Healthcare System</td>
                <td>Advanced</td>
              </tr>
              <tr>
                <td>
                  West Palm Beach VA Medical Center</td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>Wilkes Barre VA Medical Center
                </td>
                <td>Intermediate</td>
              </tr>
              <tr>
                <td>
                  William S. Middleton VA Memorial Hospital</td>
                <td>Basic</td>
              </tr>


            </table>
            
            <script>
            function myFunction() {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
            </script>
              
              

            

          </div>

      

        </div>

      </div>




    </section>



  

  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>