<!DOCTYPE html>
<html class="no-js">

<head>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

  <title>Simlearn</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header =======        <div class="text-center padding-0 margin-0" >
        <div class="container">
          <img src="/assets/images/page1-images/simtop.png" alt="simlearn image "  style="width: 100; height: auto;">
          
          <div class="centered">
            <img src="/assets/images/page1-images/simlogo.png" alt="Simlearn Logo">
          </div>
        </div>
        
        
        
    </div>-->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>

    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="font-heading-xl text-dark-gray f48-700 ">
              Our History

            </h1>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">
              The Simulation Learning, Evaluation, Assessment, and Research Network began its journey on July 17, 2009
              when the Acting Undersecretary for Health authorized the establishment of a national simulation training
              and education program for the Veterans Health Administration (VHA).

              <br><br> Before moving into the new 51,000 square foot training center in 2016, SimLEARN worked out of and
              trained students from a 5,000 square foot leased area in an industrial park. And, as SimLEARN grew, so did
              our demand for space.






            </p><br>

          </div>


        </div>

      </div>
    </section>
    <!-- ======= About Section ======= -->

    <section style="background:#e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g "="">
              <polygon class=" fl-shape" style="background:#e1f3f8;fill:#fff" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- main boxes  -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="background: #e1f3f8;margin-top: 0 !important;padding-top: 0 !important;">

      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 ">
              SimLEARN 2012
            </h1>



          </div>


        </div>

      </div>
      <div class="text-center padding-0 margin-0">
        <img src="/assets/images/about-page/history-page.png" style="width: 100%;
       " alt="VHA-iEX_Website_Header-banner">
      </div>



    </section>



    <!-- last row -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0 bg-base-lightest">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#f0f0f0;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:white;fill: #e1f3f8;" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>

      <div class="grid-container">
        <h2 class="f36-700"> SimLEARN Today</h2>

        <!--project3  -->
        <div class="grid-row grid-gap-4">
          <div class="tablet:grid-col-5 display-flex flex-column flex-justify-center padding-top-2 margin-top-1">

            <img class="  flex-align-center " src="/assets/images/about-page/history2.png" alt="VHA SimLEARN National">
          </div>
          <div class="tablet:grid-col-7  ">

            <p class="font-body-sm margin-0" style="padding-top: 15px;">The VHA SimLEARN National Simulation Center was
              built on the campus of the Orlando VA Medical Center, which is part of the exciting new Medical City
              campus at Lake Nona. <br><br>

              The Lake Nona development site includes other large clinical, education and research facilities. A variety
              of Federal simulation research offices are in close proximity to the University of Central Florida campus.
              This strategic placement facilitates enhanced opportunities for research in new simulation technologies
              and methods. The VHA SimLEARN National Center serves as the operational hub for coordination of national
              VHA clinical simulation activities.
              <br>

            </p>
            <div class="text-left padding-top-3">
              <a class="usa-button  shadowme a-work oneshadow  btn-me" href="#" target="_blank"><small>The Center’s Groundbreaking</small></a>
               <a class="usa-button  shadowme a-work oneshadow  btn-me" href="#"
                target="_blank"><small>Read More</small></a>


            </div>
          </div>
        </div>

      </div>



    </section>


  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>