<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>
    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

  


</head>

<body>

    <div id="header"></div>
    <main class="" id="main-content" role="main">
        <!-- title section -->
        <section id="" class=" usa-section padding-left-0 padding-bottom-0" style=" padding-top: .5rem;">
          <div class="grid-container" style="text-align: left; margin-top: 1%; margin-bottom: 1%;">
            <div class="grid-row grid-gap-1">
              <div class="tablet:grid-col">
                <span class="font-heading-3xl" style="font-size: 33px;">
                  Meet the CCPI Team
                </span>
              </div>
            </div>
          </div>
        </section>
        <!-- Presenter Spotlight -->
        <section class="usa-graphic-list usa-section padding-top-0  " style="background-color: #f0f0f047;">
          <div class=" grid-container  padding-3">

            <div class="grid-row grid-gap-1 border-gray bg-base-lightest ">
                <div class="tablet:grid-col-12 ml-auto  ">
                   
             
                        <!-- <img class=" padding-3" src="/assets/images/innovation/TOPR140_CCPI_Values_graphic-01.png"
                        alt="Strengthening Care for Veterans Now and in the Future"> -->
                        <div class="usa-accordion">
                            <!-- ACCESS -->
                            <h2 class="usa-accordion__heading">
                              <button class="usa-accordion__button oneshadow bg-base-lighest" aria-expanded="false" aria-controls="a1" style="
                                color: #002746;padding: 0;border: 1px solid gray;">
                                <img src="/assets/images/innovation/access_ICON.png" class="padding-1" style="width: 70px;" 
                                alt="access icon place holder ">Access
        
        
                              </button>
                            </h2>
                            <div id="a1" class="usa-accordion__content usa-prose" hidden="">
                              <div class="grid-row grid-gap-3">
        
        
                                <div class="tablet:grid-col-12 text-left">
        
        
                                  <p style="color: black !important; font-size: 16px;">
                                    <strong> ACCESS:</strong>
                                    Using the entire team, in-person and virtual,
                                     to match care needs with delivery resources
                                  </p>
                                </div>
        
                              </div>
                            </div>
                            <!-- EQUITY -->
                            <h2 class="usa-accordion__heading">
                              <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="a2" 
                              style="  background-color: #169fc2;color: #002746;padding: 0;">
                                <img src="/assets/images/innovation/second-03_ICON.png"style="width: 70px;" class="padding-1" alt="access icon place holder ">
                                Equity
        
                              </button>
                            </h2>
                            <div id="a2" class="usa-accordion__content usa-prose" hidden="">
        
                              <div class="grid-row grid-gap-2" style="text-align:center;">
                                <div class="grid-row grid-gap-3">
        
        
                                  <div class="tablet:grid-col-12 text-left">
        
        
                                    <p style="color: black !important; font-size: 16px;">
                                        <strong>EQUITY:</strong>
                                         Identifying risk factors and engaging vulnerable patients and care teams at every step of the project
        
                                    </p>
                                  </div>
        
                                </div>
        
                              </div>
                            </div>

                              <!-- EFFECTIVNESS-->
                              <h2 class="usa-accordion__heading">
                                <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="a3" 
                                style="  background-color: #169fc2;color: #002746;padding: 0;">
                                  <img src="/assets/images/innovation/effect-04_ICON.png" class="padding-1" style="width: 70px;" alt="access icon place holder ">
                                  Effectiveness
          
                                </button>
                              </h2>
                              <div id="a3" class="usa-accordion__content usa-prose" hidden="">
          
                                <div class="grid-row grid-gap-2" style="text-align:center;">
                                  <div class="grid-row grid-gap-3">
          
          
                                    <div class="tablet:grid-col-12 text-left">
          
          
                                      <p style="color: black !important; font-size: 16px;">
                                        <strong>EFFECTIVENESS:</strong>
                                         Ability of an intervention to have meaningful impact on patients and care teams
          
                                      </p>
                                    </div>
          
                                  </div>
          
                                </div>
                              </div>
          
                              <!-- EFFICIENCY-->
                              <h2 class="usa-accordion__heading">
                                <button class="usa-accordion__button oneshadow " aria-expanded="false" aria-controls="a4" 
                                style="  background-color: #169fc2;color: #002746;padding: 0;">
                                  <img src="/assets/images/innovation/graphic-05_ICON.png" class="padding-1" style="width: 70px;" alt="access icon place holder ">
                                  Efficiency
          
                                </button>
                              </h2>
                              <div id="a4" class="usa-accordion__content usa-prose" hidden="">
          
                                <div class="grid-row grid-gap-2" style="text-align:center;">
                                  <div class="grid-row grid-gap-3">
          
          
                                    <div class="tablet:grid-col-12 text-left">
          
          
                                      <p style="color: black !important; font-size: 16px;">
                                        <strong> EFFICIENCY:</strong>
    
                                        Doing things in the most economical way while maintaining or exceeding quality of care
          
          
          
                                      </p>
                                    </div>
          
                                  </div>
          
                                </div>
                              </div>
        
                           
                            
        
        
        
        
                          </div>
                        
                    
               

                </div>


<!-- SEcond half  -->

                <div class="tablet:grid-col-6 ml-auto  ">
                    
                </div>
    
            <!-- Dr Roshni  -->
    
            <div class="grid-row grid-gap-1 border-gray bg-base-lightest ">
              <div class="tablet:grid-col-3 ml-auto text-center ">
                <img class="bi-image   margin-top-1 oneshadow" style="border: 7px solid white; "
                  src="/careandpayment/assets/images/ccpi-headshots/ghosh1.jpeg" alt="Dr. Roshni Ghosh">
              </div>
    
              <div class="tablet:grid-col-9  display-flex flex-column flex-justify-center">
                <h1 class=" text-900 padding-left-1 " style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                  Dr. Roshni Ghosh​
                </h1>
                <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                  <strong>
                   Executive Director​
                  </strong>
                </h4>
            
              </div>
    
    
              <p class="font-body-sm  padding-top-3 margin-top-3 "
                style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;"> <br>
                Dr. Roshni Ghosh, MD, MPH, currently serves as the executive director for the Center for Care and Payment
                Innovation in the Office of Healthcare Innovation and Learning in the VHA Office of Discovery, Education
                and Affiliate Networks where she oversees the development and implementation of new and innovative care
                delivery and payment models. Dr. Ghosh is a graduate of The Rutgers University School of Medicine and
                received her Masters in Public Health from Columbia University's Mailman School of Public Health. <br>
                <br>
                Dr.
                Ghosh also served as a vice president and chief medical information officer at multiple health care
                consultancies, currently sits on the board of directors for a non-profit health care organization and is
                an adjunct professor at George Washington University.
              </p>
    
            </div>
    
            <!-- DR cloe  -->
            <div class="grid-row grid-gap-3 border-gray bg-base-lightest ">
              <div class="tablet:grid-col-3 ml-auto text-center ">
                <img class="bi-image   margin-top-1 oneshadow" style="border: 7px solid white; "
                  src="/careandpayment/assets/images/ccpi-headshots/Cole-Zanetti.jpg" alt="dr Cole">
              </div>
              <div class="tablet:grid-col-9  display-flex flex-column flex-justify-center">
                <h1 class=" text-900 padding-left-1 " style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                  Dr. Cole Zanetti</h1>
                <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                  <strong> Acting Director of Value-Based Care</strong>
                </h4>
    
              </div>
    
    
              <p class="font-body-sm  padding-top-3 margin-top-3 "
                style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;"> <br>
                Dr. Cole Zanetti is the acting director for value-based care. In this role, Dr. Zanetti is leading the
                Center for Care and Payment Innovation's (CCPI) efforts in value-based care in the VA and within the
                community. Dr. Zanetti is triple board-certified in family medicine, preventive medicine and clinical
                informatics. He also has been trained in value-based health care, community organizing and positive
                deviance. Dr. Zanetti has served as the senior advisor to the VHA Innovation Ecosystem, a chief health
                informatics officer for the Ralph H. Johnson VA as well as a primary care section chief at the Eastern
                Colorado VA. He also served as a primary care innovator with Iora Health. Dr. Zanetti earned his DO at the
                University of North Texas Health Science Center- Texas College of Osteopathic Medicine, his MPH at the
                Dartmouth Institute for Health Policy and Clinical Practice and his BA in Psychology at the University at
                Buffalo. Dr. Zanetti completed his family medicine residency training at NH Dartmouth and his leadership
                preventive medicine residency training at Dartmouth Hitchcock Medical Center. <br><br>
              </p>
              <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
                   padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 7px solid white; ">
    
                ​<strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
    
    
    
                What excites me most about health care innovation is the opportunity to test new models of care delivery
                that provide more opportunities for care in the home, use of emerging technologies and remote VA resources
                and better aligns how we measure and pay in a way that removes barriers for the patient and healthcare
                team relationship. I'm excited to re-imagine how care can be in order to reduce burnout in health care,
                increase our capacity to provide care and increase convenience in how care is delivered. <br> <br>
    
              </p>
            </div>
    
            <!-- Michael Harry ​Director, Strategic Analytics ​ -->
    
    
            <div class="grid-row grid-gap-3 border-gray bg-base-lightest ">
              <div class="tablet:grid-col-3 ml-auto text-center ">
                <img class="bi-image   margin-top-1 oneshadow" style="border: 7px solid white; "
                  src="/careandpayment/assets/images/ccpi-headshots/Michael-Harry.jpeg" alt="  Michael Harry ">
              </div>
              <div class="tablet:grid-col-9  display-flex flex-column flex-justify-center">
                <h1 class=" text-900 padding-left-1 " style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                  Michael Harry ​</h1>
                <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                  <strong> Director of Strategic Analytics</strong>​
                </h4>
    
              </div>
    
    
              <p class="font-body-sm  padding-top-3 margin-top-3 "
                style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;"> <br>
                Mr. Michael Harry currently serves as the director of strategic analytics for the VHA Center for Care and
                Payment Innovation where he oversees the evaluation of pilot programs and the conceptualization and
                implementation of data-centric innovations. Mr. Harry is a graduate of Virginia Tech, and he has served as
                chief information officer for two health care organizations, as an advisor on health informatics for the
                VA and as an advisor for a non-profit health care organization. Mr. Harry aims to break down silos around
                data to drive new opportunities for innovation and insights. <br><br>
              </p>
              <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
             padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 7px solid white; ">
    
                ​<strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br> I am very
                excited about innovations surrounding “virtual first” approaches to health care. “Virtual
                first”-type approaches have revolutionized numerous industries from taxis, to entertainment, to shopping,
                and I believe it will be a true upgrade in how we interact with our health care system. <br> <br>
    
              </p>
            </div>
    
    
            <!-- Kathryn Pierce​,    Executive Officer and Director of Operations​  -->
    
            <div class="grid-row grid-gap-3 border-gray bg-base-lightest ">
              <div class="tablet:grid-col-3 ml-auto text-center ">
                <img class="bi-image   margin-top-1 oneshadow" style="border: 7px solid white; "
                  src="/careandpayment/assets/images/ccpi-headshots/Katy-Pierce.jpeg" alt="Kathryn Pierce">
              </div>
              <div class="tablet:grid-col-9  display-flex flex-column flex-justify-center">
                <h1 class=" text-900 padding-left-1 " style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                  Kathryn Pierce
                </h1>
                <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                  <strong>
                    Executive Officer and Director of Operations
                  </strong>
                </h4>
    
              </div>
    
    
              <p class="font-body-sm  padding-top-3 margin-top-3 "
                style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;"> <br>
                Ms. Kathryn “Katy” Pierce serves as the executive officer and
                director of operations for the Center for Care and Payment Innovation. In this role, Ms. Pierce directly
                supports the executive director in advancing transformative pilot programs across VHA.<br><br>
    
                Ms. Pierce previously served as the executive officer for the Office of Healthcare Innovation and
                Learning, and, prior to joining the innovation team, she gained seven years of facility experience at the
                Central Virginia VA Health Care System (CVHCS) in Richmond, Virginia. Ms. Pierce joined CVHCS as an
                administrative resident and after completing her intern year, she served as the administrator and practice
                manager for the surgical services, later transitioning to the role of executive officer to the facility
                director and strategic planner. <br><br>
    
                Ms. Pierce received her Bachelor of Arts degree from the University of Virginia and her Master of Health
                Administration degree from Virginia Commonwealth University.
                <br><br>
              </p>
              <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
             padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 7px solid white; ">
    
                <strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
                3D Printing. It's versatile and can be used in nearly every industry, but the life-changing clinical
                applications for Veterans and patients across the globe are the most exciting and inspiring.
                <br> <br>
    
              </p>
            </div>
    
    
            <!-- Natalie Maixner​,    Director, Project Operations​  -->
    
            <div class="grid-row grid-gap-3 border-gray bg-base-lightest ">
              <div class="tablet:grid-col-3 ml-auto text-center ">
                <img class="bi-image   margin-top-1 oneshadow" style="border: 7px solid white; "
                  src="/careandpayment/assets/images/ccpi-headshots/Maixner_Natalie.jpeg" alt=" Natalie Maixner">
              </div>
              <div class="tablet:grid-col-9  display-flex flex-column flex-justify-center">
                <h1 class=" text-900 padding-left-1 " style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                  Natalie Maixner
                </h1>
                <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                  <strong>
                    Director of Project Operations
                  </strong>
                </h4>
    
              </div>
    
    
              <p class="font-body-sm  padding-top-3 margin-top-3 "
                style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;">
                <br>
                Ms. Natalie Maixner serves as the director for project operations for the Center for Care and Payment
                Innovation (CCPI) where she provides leadership and direction to CCPI’s portfolio of pilot programs. Prior
                to joining CCPI, Ms. Maixner held the position of assistant director for the Central Virginia VA Health
                Care System (CVHCS) where she was responsible for providing executive oversight to numerous service lines.
                <br><br>
    
                Ms. Maixner began her VA career as an administrative resident and gained a wide variety of experience
                during her time at CVHCS where she served as the administrator for the Fredericksburg Health Care Center,
                the executive assistant to the medical center director and strategic planner, the acting VISN 6 strategic
                planner, the administrative officer for primary care and the acting practice manager for several
                outpatient clinics. <br><br>
    
    
                Ms. Maixner holds a Bachelor of Science degree from the Virginia Polytechnic Institute and State
                University and a Master of Health Administration degree from Virginia Commonwealth University.
                <br><br>
              </p>
              <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
             padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 7px solid white; ">
    
                <strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
                Digital tools. There seems to be lots of unearthed potential in this area with many exciting and emerging
                technologies to explore! CCPI is looking forward to enhancing VA health care by developing guiding
                pathways for digital tools to integrate into care delivery.
                <br> <br>
    
              </p>
            </div>
    
            <!-- Bailee Bannan ​Project Manager  -->
    
            <div class="grid-row grid-gap-3 border-gray bg-base-lightest ">
              <div class="tablet:grid-col-3 ml-auto text-center ">
                <img class="bi-image   margin-top-1 oneshadow" style="border: 7px solid white; "
                  src="/careandpayment/assets/images/ccpi-headshots/Bailee-Bannan.jpeg" alt="Eric Bruns">
              </div>
              <div class="tablet:grid-col-9  display-flex flex-column flex-justify-center">
                <h1 class=" text-900 padding-left-1 " style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                  Bailee Bannan
                </h1>
                <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                  <strong>
                    Project Manager
                  </strong>
                </h4>
    
              </div>
    
    
              <p class="font-body-sm  padding-top-3 margin-top-3 "
                style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;">
                <br>
                Ms. Bailee Bannan is a project manager at the Center for Care and
                Payment Innovation where she manages pilot development and implementation to address opportunities for
                improvement in care and payment models throughout the enterprise. She began her career as an
                administrative resident with the Central Virginia VA Health Care System, spending seven years developing
                and guiding leasing projects to give Veterans better access to care within their communities. <br><br>
    
    
                Ms. Bannan received her master's degree in Health Administration from Virginia Commonwealth University,
                and prior to joining the VA, she ran a home health agency for children and adults needing hourly in-home
                care.
                <br><br>
              </p>
              <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
             padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 7px solid white; ">
    
                <strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
                Health care innovation - whether it's new technology, innovative payment models or reimagined care
                delivery - allows us to better serve Veterans and the providers that care for them. Each of these
                innovations excite me because health care innovation, at its core, is about opportunity - the opportunity
                to improve quality of care, the opportunity to creatively alleviate burdens for providers and the
                opportunity to reach people where they are to create a better care experience.
                <br> <br>
    
              </p>
            </div>
    
           
    
            <!-- Daleena Scott ​Senior Strategic Innovations Analyst  ​  -->
    
            <div class="grid-row grid-gap-3 border-gray bg-base-lightest ">
              <div class="tablet:grid-col-3 ml-auto text-center ">
                <img class="bi-image   margin-top-1 oneshadow" style="border: 7px solid white; "
                  src="/careandpayment/assets/images/ccpi-headshots/Daleena-scott.jpeg" alt="Daleena Scott">
              </div>
              <div class="tablet:grid-col-9  display-flex flex-column flex-justify-center">
                <h1 class=" text-900 padding-left-1 " style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                  Daleena Scott
                </h1>
                <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                  <strong>
                    Senior Strategic Innovations Analyst
                  </strong>
                </h4>
    
              </div>
    
    
              <p class="font-body-sm  padding-top-3 margin-top-3 "
                style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;">
                <br>
                Ms. Daleena Scott currently serves as a senior strategic
                innovations analyst for the VHA Center for Care and Payment Innovation (CCPI). She focuses on determining
                the analytic needs of CCPI pilots to ensure that they possess meaningful data in order to tell their
                stories and evaluate their impacts. Ms. Scott works to support organizational priorities that
                conceptualize and implement data-centric innovations in support of Veterans health care delivery. Ms.
                Scott is an Army Veteran who has served VHA for eight years in various capacities. She is passionate about
                breaking down barriers specific to women Veterans, while continuing to improve access and quality for all.
                <br><br>
              </p>
              <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
             padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 7px solid white; ">
    
                <strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
                A health care innovation that excites me is women's health in the VA. I'm passionate about the opportunity
                to make VA health care accessible and innovative for all that have served. I believe the initiatives that
                have happened in recent years, and the ones on the horizon, allow VHA to be a leading inclusive health
                care system.
                <br> <br>
    
              </p>
            </div>
    
            <!--Joseph Wallace  ​ Senior Strategic Innovations Analyst  ​  -->
    
            <div class="grid-row grid-gap-3 border-gray bg-base-lightest ">
              <div class="tablet:grid-col-3 ml-auto text-center ">
                <img class="bi-image   margin-top-1 oneshadow" style="border: 7px solid white; "
                  src="/careandpayment/assets/images/ccpi-headshots/Joseph-Wallace.png" alt="Joseph Wallace ">
              </div>
              <div class="tablet:grid-col-9  display-flex flex-column flex-justify-center">
                <h1 class=" text-900 padding-left-1 " style="font-weight: bold;line-height: 1.4;margin-bottom: 0px;">
                  Joseph Wallace
                </h1>
                <h4 class="  padding-left-1 margin-top-0" style="line-height: 1.4;margin-bottom: 0px;">
                  <strong>
                    Senior Strategic Innovations Analyst
                  </strong>
                </h4>
    
              </div>
    
    
              <p class="font-body-sm  padding-top-3 margin-top-3 "
                style="padding: 10px 20px; margin: 0 0 20px; font-size: 16px;">
                <br>
                Mr. Joseph “Mike” Wallace serves as a senior strategic innovations
                analyst for the Center for Care and Payment Innovation (CCPI) and has over 11 years of experience working
                with the Department of Veterans Affairs. Prior to joining CCPI, Mr. Wallace served as a management &
                program analyst with the Atlanta VA Health Care System. With a passion for data analytics and informatics,
                he also served in the role of performance improvement coordinator for specialty medicine. Additionally,
                Mr. Wallace served as a registered nurse in the operating room, specializing in orthopedic and trauma
                surgeries, and he is a Veteran of the United States Air Force.
                <br><br>
              </p>
              <p class="font-body-sm margin-0 oneshadow bg-base-lighest" style=" 
             padding: 10px 20px; margin: 0 0 20px;font-size: 16px; border: 7px solid white; ">
    
                <strong style="font-size: 20px;">Health care innovation that excites me:</strong> <br> <br>
              A health care innovation I'm excited about is the adoption and integration of AI-based health care applications to improve outcomes for our Veterans, reduce operational inefficiencies within the Department and improve workload balance for health care professionals who are fulfilling the VA mission.
                <br> <br>
    
              </p>
            </div>
           
    
    
    
          </div>
        </section>
      </main>
                        
        <div id="footer"></div>
      
    </body>
    
    </html>