<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links test-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- jsjq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                            VHA 3D Printing Network COVID-19 Response
                        </h1>


                    </div>

                    <div class="tablet:grid-col-6 text-left padding-top-4  ">


                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7; 
                        letter-spacing: .6px;">
                            VA has entered into a memorandum of understanding (MOU) with the Food and Drug
                            Administration (FDA) and National Institutes for Health (NIH) 3D Print Exchange to share
                            data and coordinate on open-source medical products for the COVID-19 response. We are also
                            working closely with America Makes to provide resources that will connect health care
                            providers and 3D printing organizations. Finally, VHA facilities can submit a 3D printing
                            need for consideration and tracking to the VHA Procurement & Logistics Office.
                        </p>
                    </div>
                    <div class="tablet:grid-col-6 padding-top-3 ">

                        <img class="image-thumbnail oneshadow" src="/assets/images/covid-images/3d-prington-covid19.png"
                            alt="Immersive Technology">

                    </div>
                </div>

            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>


        <!-- main boxes project  -->
        <section
            class=" usa-section--dark small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">

            <div class="grid-container ">



                <div class="grid-container margin-bottom-3">
                    <div class="grid-row  padding-bottom-3">
                        <div class="tablet:grid-col">
                            <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                                Interested in Participating? How to Engage:
                            </h2>
                        </div>
                    </div>
                    <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">

                        <!-- 1   -->
                        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                            style="box-shadow: 0px 5px 6px -6px black;">
                            <div class="usa-card__container">

                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="usa-card__img  text-center padding-bottom-2"
                                        style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                                        <img src="/assets/images/newsletter-images/VA-logo.png " alt="va logo">
                                    </div>
                                    <header class="usa-card__header">

                                    </header>
                                </div>

                                <div class="usa-card__body padding-1 f15 ">
                                    <p style="color:#1b1b1b; padding-bottom: 15px;"> <a
                                            class="usa-button btn-me btn-lg oneshadow  a-work"
                                            href="https://myvapm.force.com/3DPrintingNew/s/"
                                            target="_blank"><small>Submit »</small></a>
                                        <br>
                                        Submit your design for consideration and testing.
                                    </p>


                                </div>

                            </div>

                        </div>
                        <!-- 2   -->
                        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                            style="box-shadow: 0px 5px 6px -6px black;">
                            <div class="usa-card__container">


                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="usa-card__img  text-center padding-bottom-2"
                                        style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                                        <img src="/assets/images/newsletter-images/FDA-logo.png " alt="FDA logo">
                                    </div>
                                    <header class="usa-card__header">

                                    </header>
                                </div>

                                <div class="usa-card__body padding-1 f15 ">
                                    <p style="color:#1b1b1b; "> <a class="usa-button btn-me btn-lg oneshadow  a-work"
                                            href="https://www.fda.gov/emergency-preparedness-and-response/coronavirus-disease-2019-covid-19/fda-efforts-connect-manufacturers-and-health-care-entities-fda-department-veterans-affairs-national"
                                            target="_blank"><small>Look »</small></a><br>
                                        FDA is working rapidly to approve 3D-printed solutions for COVID-19 response.
                                    </p>


                                </div>

                            </div>

                        </div>


                        <!-- 3  -->
                        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                            style="box-shadow: 0px 5px 6px -6px black;">
                            <div class="usa-card__container">


                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="usa-card__img  text-center padding-bottom-2"
                                        style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                                        <img src="/assets/images/newsletter-images/NIH-logo.jpg " alt="NIHlogo">
                                    </div>
                                    <header class="usa-card__header">

                                    </header>
                                </div>

                                <div class="usa-card__body padding-1 f15 ">
                                    <p style="color:#1b1b1b; ">
                                        <a class="usa-button btn-me btn-lg oneshadow  a-work"
                                            href="https://3dprint.nih.gov/share" target="_blank"><small>Search
                                                »</small></a>
                                        <br> Find the latest 3D-printed solutions on the NIH 3D Print Exchange.
                                    </p>


                                </div>

                            </div>

                        </div>
                        <!-- 4  -->
                        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                            style="box-shadow: 0px 5px 6px -6px black;">
                            <div class="usa-card__container">


                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="usa-card__img  text-center padding-bottom-2"
                                        style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                                        <img src="/assets/images/newsletter-images/America-Makes-Logo.jpg "
                                            alt="America Makes logo">
                                    </div>
                                    <header class="usa-card__header">

                                    </header>
                                </div>

                                <div class="usa-card__body padding-1 f15 ">
                                    <p style="color:#1b1b1b; "> <a class="usa-button btn-me btn-lg oneshadow a-work"
                                            href="https://www.americamakes.us/amcpr/#COVIDresponse"
                                            target="_blank"><small>Explore »</small></a>
                                        <br>
                                        America Makes is coordinating the capabilities of the additive-manufacturing
                                        industry with
                                        the needs of the health care community.
                                    </p>


                                </div>

                            </div>

                        </div>



                    </div>


                </div>
            </div>
        </section>
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: #e0f1f1;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>
        <section class=" oneshadow padding-bottom-3 " style="background: #f0f0f0;margin-top: -20px;">
            <div class="grid-container ">
                

                <div class="grid-row grid-gap-2 border-gray bg-white " style="box-shadow: 0px 5px 6px -6px black;">
                   
                   
                    <div class="tablet:grid-col-8 text-left padding-top-5">
                        

                        <section>
                            <h1 class="headlineTitle" style="border-bottom: .125rem dotted #7fcfcf;">

                                COVID-19 3D Printing
                            </h1>

                            <p>
                            <div class="text-base-dark">
                                Volunteer to print, design, or provide feedback for in-demand equipment and resources
                            </div>
                            </p>
                        </section>

                        <div>
                            <div class="c3d-print-button">
                                <a target="_blank" href="http://americamakes.us/covid-19"> <i
                                        class="fas fa-hand-point-right text-orange  padding-top-1  padding-right-1"></i>
                                        I have
                                    3D printing capabilities </a>
                            </div>
                            <div class="c3d-print-button">
                                <a target="_blank" href="https://myvapm.force.com/3DPrintingNew/s/3d-print-design"><i
                                        class="fas fa-hand-point-right text-orange padding-right-1 padding-top-2"></i>I have a 3D-printed
                                    design I would like to share </a>
                            </div>
                            <div class="c3d-print-button">
                                <a target="_blank" href="https://myvapm.force.com/3DPrintingNew/s/3d-print-design-feedback"> <i
                                        class="fas fa-hand-point-right text-orange padding-right-1 padding-top-2"></i>I have
                                    tested a 3D-printed design and I would like to provide feedback </a>
                            </div>
                            <div class="c3d-print-button">
                                <a target="_blank" href="https://leaf.va.gov/NATIONAL/10X3/Innovation_Ecosystem/"> <i
                                        class="fas fa-hand-point-right text-orange padding-right-1 padding-top-2"></i> I have a 3D printing need (VA Only) </a>
                            </div>

                        </div>
                    </div>
                    <div class="tablet:grid-col-4 text-left padding-top-5 margin-top-3">
                        <img class="image-thumbnail oneshadow" alt="image placeholder" src="/assets/images/covid-images/examine-mask2.png">
                    </div>

                </div>
                

                <div class="grid-row ">


                    
                   
                </div>

            </div>


        </section>






    </main>
    <div id="footer"></div>
</body>

</html>