<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links test-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- jsjq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                            Diffusion of Excellence Promising Practices
                        </h1>



                    </div>

                    <div class="tablet:grid-col-5 text-left  ">



                        <p class="font-body-md  text-white line-height-sans-5" style="font-size: 20px;
                        line-height: 1.7; 
                        letter-spacing: .6px;">
                            The VHA Shark Tank Competition shines a spotlight on employees passionate about solving some
                            of the toughest challenges across VHA. It provides them with
                            a platform to bring exposure from all levels of leadership to their practices that are
                            elevating the standard of care for Veterans.
                            All employees are encouraged to submit their successfully implemented promising
                            practices and compete for the opportunity to pitch their practices to Medical Center and
                            VISN Director Sharks.
                        </p>
                    </div>
                    <div class="tablet:grid-col-7 padding-top-5 margin-top-3 ">
                        <div class="wrapper-txt oneshadow margin-2 margin-left-0 padding-2"
                            style="background: #032b50;">
                            <div class="typing-demo3">
                                Selecting Promising Practices – VHA Shark Tank Competition
                            </div>
                        </div>

                        <img class="image-thumbnail oneshadow margin-top-2 padding-left-2"
                            src="/assets/images/Promising-practices/Shark_DoE_2021.png" alt="Promising-practices logo">


                    </div>
                </div>

            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>


        <!-- main boxes project  -->
        <section class=" usa-graphic-list usa-section padding-top-2 "
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;padding-bottom:3px !important;">

            <div class="grid-container  padding-4 bg-white oneshadow" style="border: 1px solid #f0f0f0 !important;
   padding: 10px;">
                <h1 class="font-heading-xl">
                    VHA Shark Tank Competition Process
                </h1>
                <hr>
                <!-- <h2 class="font-heading-xl text-light-blue ">
           Phases
       </h2> -->
                <h3 class="font-body-sm text-dark-blue padding-bottom-205 line-height-sans-5"
                    style="letter-spacing: .2px;">
                    The VHA Shark Tank Competition identifies field-developed practices that promote positive outcomes
                    and improved experiences for Veterans and employees, and then facilitates the standardization of
                    those practices across the health care system, fostering a culture of continuous improvement.

                </h3>

                <!-- yellowish  -->
                <div class="grid-container padding-5" style="padding-bottom: 2rem;">

                    <div class="grid-row grid-gap-2 "
                        style="text-align:center;background:#e0f1f1;box-shadow: 0px 5px 6px -6px black;">
                        <div class="tablet:grid-col border-right border-white">

                            <div>
                                <img class="padding-1" src="/assets/images/Promising-practices/icon_laptop_blue.png"
                                    height="130" alt="icon_laptop_blue">
                            </div>
                            <div>
                                <p class="text-center" style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                    VHA employees submit successfully implemented practices

                                </p>
                            </div>

                        </div>
                        <div class="tablet:grid-col border-right border-white">

                            <div>
                                <img class="padding-1" src="/assets/images/Promising-practices/icon_sme_blue.png"
                                    height="130" alt="icon_sme_blue">
                            </div>
                            <div>
                                <p class="text-center" style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                    Subject matter experts evaluate applications during two rounds of evaluation
                                </p>
                            </div>

                        </div>
                        <div class="tablet:grid-col border-right border-white">

                            <div>
                                <img class="padding-1" src="/assets/images/Promising-practices/icon_finalists_blue.png"
                                    height="130" alt="icon_finalists_blue">
                            </div>
                            <div>
                                <p class="text-center" style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                    15 Finalists pitch their practices to Medical Center and VISN Director Shark at the
                                    live Competition

                                </p>
                            </div>

                        </div>
                        <div class="tablet:grid-col border-right border-white">

                            <div>
                                <img class="padding-1" src="/assets/images/Promising-practices/icon_resources_blue.png"
                                    height="130" alt="icon_resources_blue">
                            </div>
                            <div>
                                <p class="text-center" style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                    Medical Center and VISN Director Sharks bid resources to support the implemented of
                                    the practices at their site
                                </p>
                            </div>

                        </div>
                        <div class="tablet:grid-col border-right border-white">

                            <div>
                                <img class="padding-1" src="/assets/images/Promising-practices/icon_winning_blue.png"
                                    height="130" alt="icon_winning_blue">
                            </div>
                            <div>
                                <p class="text-center" style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                    Winning practices receive "Promising Practice" designation and proceed with
                                    implementation in the winning Shark's facility or VISN

                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </section>
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: #e0f1f1;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>
        <section class=" oneshadow padding-bottom-3 " style="background: #f0f0f0;margin-top: -20px;">
            <div class="grid-container  padding-3 ">
                <h1 class="font-heading-xl text-dark-blue">Featured Practices</h1>
                <!--project1  -->
                <div class="grid-row grid-gap-3 border-gray oneshadow margin-bottom-5 "
                    style="background-color: #edf8f8;">
                    <div class="tablet:grid-col-5 ml-auto flex-align-center padding-top-3 margin-top-3 ">

                        <img class="  flex-align-center  image-thumbnail oneshadow"
                            src="/assets/images/Promising-practices/lactatio.jpeg" alt="Augmented Reality and 5G">
                    </div>
                    <div class="tablet:grid-col-7  ">
                        <h2 class="font-heading-md project-title">The TeleLactation Program </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;">
                            <i class="fas fa-baby-carriage project-icon"></i>The TeleLactation Program
                            was created to provide pregnant and lactating Veterans with the support, education, and
                            tools necessary to successfully breastfeed. Breastmilk is ultimately the best source of
                            nutrition for newborns, infants, and toddlers. However, many barriers prevent women from
                            initiating breastfeeding or breastfeeding for the recommended duration. Despite the
                            well-established benefits of breastfeeding, lactation services are not routinely offered
                            through VA. <br> <br>
                            <a class="usa-button btn-me btn-lg shadowme a-work"
                                href="https://marketplace.va.gov/practices/telelactation-program"
                                target="_blank"><small>Learn
                                    More (VA Only)
                                    »</small></a>
                        </p>
                    </div>
                </div>
                <!--project2  -->
                <div class="grid-row grid-gap-2 border-gray bg-white oneshadow  margin-top-4s">

                    <div class="tablet:grid-col-7 ">
                        <h2 class="font-heading-md project-title"> Beta Lactam Allergy Assessment </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;">
                            <i class="fas fa-prescription-bottle-alt project-icon"></i>
                            Beta Lactam Allergy Assessment is an initiative to help decrease inappropriate antibiotic
                            use due to penicillin allergy labels. By using this template, patient allergies are
                            clarified and often cleared. By clearing or clarifying these allergies using the assessment
                            and skin test clinic, we can decrease the incidence of multi-drug resistant infections,
                            decrease treatment failures, decrease hospital length of stay, and save money.
                            <br><br>
                            <a class="usa-button btn-me btn-lg shadowme a-work"
                                href="https://marketplace.va.gov/practices/beta-lactam-allergy-assessment-saving-lives-one-assessment-at-a-time"
                                target="_blank"><small>Learn
                                    More (VA Only)
                                    »</small></a>

                        </p>
                    </div>
                    <div class="tablet:grid-col-5 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail padding-top-3 margin-top-3 oneshadow"
                            src="/assets/images/Promising-practices/allergy.jpeg" alt="project image">
                    </div>
                </div>


            </div>
            <section class="usa-section small-padding usa-section  " style="background: #f0f0f0;margin-top: -10px;">
                <div class="grid-container">
                    <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="tablet:grid-col-3 padding-top-1">
                            <img class="usa-media-block__img   " style="border-radius: 5%;width: 80%;"
                                src="/assets/images/team-headshots/HENDERSON_CIRCLE.png"
                                alt="VHA Innovators Network Logo">
                        </div>
                        <div class="tablet:grid-col-9 "> <a href="/views/who-we-are/biograph.html#blake">
                                <p class="font-body-sm margin-0 padding-left-3" style="padding-top: 15px;">
                                    <strong> Blake Henderson <br>
                                        Director, Diffusion of Excellence</strong>
                                </p>
                            </a>

                            <blockquote>
                                “Diffusion of Excellence enables our partnered practices and innovations to sustainably
                                scale across our nationwide health care system to maximize their impact.”

                            </blockquote>
                        </div>

                    </div>
                </div>

            </section>

        </section>






    </main>
    <div id="footer"></div>
</body>

</html>