<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - Home Page</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- title section -->
        <section id="" class="grid-container usa-section padding-bottom-0" style=" padding-top: .5rem;">
            <div class="grid-container padding-left-0" style="text-align: left;">
                <div class="grid-row grid-gap-1">
                    <!-- <div class="tablet:grid-col-2">
              <img src="/assets/images/icons/Icon_Innovators_B_r1.png"
                    alt=""  height="100px" width="100px">
            </div> -->
                    <div class="tablet:grid-col">
                        <h1 class="font-heading-3xl">
                            Fall Prevention Project
                        </h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- introduction  -->
        <section id="" class="usa-section small-padding">
            <div class="grid-container">
                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-6">
                        <img  class="image-thumbnail"src="/assets/images/fall/DoE_Image_Graphic_Website_B_r1.jpg"
                            alt="A Veteran in the STRIDE program at Durham VAHCS.">

                    </div>
                    <div class="tablet:grid-col-6">
                        <h1 class="font-heading-lg" style="text-align: left;">
                            Integrating Fall Risk Data into Workflows to Enhance Preventative Care

                        </h1>
                        <p class="font-body-md" style="text-align: left;">
                            It is important to utilize data to identify people who are at risk for falls, and it is
                            critically important to incorporate this information into the clinical workflow so that
                            clinicians can be automatically alerted to the risk. The National Center for Collaborative
                            Healthcare Innovation (NCCHI) looks to revolutionize the way VA Medical Centers approach and
                            mitigate fall risk among Veterans within their patient population.
                        </p> <br>

                        <!-- <p class="font-body-md padding-3"
                            style="text-align: left;border: 1px solid #f0f0f0 !important;">
                            Each year, over $50 billion is spent on fall-related injuries, which is a type of injury
                            most commonly occurring in adults ages 65 or older and an ever-growing problem within the
                            Veteran population.
                        </p> -->
                    </div>
                </div>
            </div>
        </section>
        </section>

        <!-- blue section  -->

        <section id="" class="usa-section--dark small-padding ">
            <div class="grid-container usa-section--dark">
                <!-- <div class="grid-row grid-gap-2">
                    
                </div> -->
                <div class="grid-row grid-gap-2" style="text-align:left;">

                    <div class="tablet:grid-col  ">
                        <p class="font-body-md padding-3">
                            A diverse multi-disciplinary team of internal and external partners is working to integrate
                            existing fall risk data into clinical workflows to improve the identification and visibility
                            of Veterans at high risk for falls and ultimately improve their access to quality, tailored
                            preventative care.
                            <br><br>
                            The innovation can also automate downstream workflows related to the fall risk, which
                            ensures that all patients are efficiently and systematically identified to have the most
                            appropriate and timely personalized care.
                        </p>

                    </div>
                    <!-- <div class="tablet:grid-col-3 ">
                        <div>
                            <img src="/assets/images/placeholder/img-white-placeholder.png" height="150"
                                alt="Shark Tank Logo">
                        </div>

                    </div> -->

                </div>
            </div>
        </section>

        <!-- In partnership with  -->
<!-- 
        <section id="" class="usa-section small-padding" style="text-align: center;">
            <div class="grid-container">
                <h1 class="font-heading-xl">
                    In partnership with
                </h1>
              
                <div class="grid-row grid-gap">
                    <div class="tablet:grid-col">
                        <img src="/assets/images/placeholder/img-blue-placeholder.png" alt="logo"
                            style="height: 100px; width: 100px; padding: 5px 0px 5px 0px;">
                        <p class="font-body-md" style="height: 125px;">
                            NCCHI
                        </p>
                      
                    </div>
                    <div class="tablet:grid-col">
                        <img src="/assets/images/placeholder/img-blue-placeholder.png" alt="logo"
                            style="height: 100px; width: 100px; padding: 5px 0px 5px 0px;">
                        <p class="font-body-md" style="height: 125px;">
                            VA Palo Alto Health Care System
                        </p>
                       
                    </div>
                    <div class="tablet:grid-col">
                        <img src="/assets/images/placeholder/img-blue-placeholder.png" alt="logo"
                            style="height: 100px; width: 100px; padding: 5px 0px 5px 0px;">
                        <p class="font-body-md" style="height: 125px;">
                            VA Central Iowa Health Care System
                        </p>
                       
                    </div>
                    <div class="tablet:grid-col">
                        <img src="/assets/images/placeholder/img-blue-placeholder.png" alt="logo"
                            style="height: 100px; width: 100px; padding: 5px 0px 5px 0px;">
                        <p class="font-body-md" style="height: 125px;">
                            Office of
                            Information and Technology (OIT)
                        </p>
                        <div>

                        </div>
                    </div>
                    <div class="tablet:grid-col">
                        <img src="/assets/images/placeholder/img-blue-placeholder.png" alt="logo"
                            style="height: 100px; width: 100px; padding: 5px 0px 5px 0px;">
                        <p class="font-body-md" style="height: 125px;">
                            application programming interface (API) teams,
                            and industry partners
                        </p>
                        <div>

                        </div>
                    </div>

                </div>
                
            </div>
        </section> -->

    </main>
    <div id="footer"></div>
</body>

</html>