<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links test-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- jsjq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                            Innovation Community Events
                        </h1>

                    </div>

                    <div class="tablet:grid-col-5 text-left padding-top-1 ">

                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7; 
                        letter-spacing: .6px;">
                            A health care hackathon is a collaborative design sprint. Participants come together from
                            different backgrounds and professions to solve specific challenges, usually over the course
                            of just a few days. These events foster innovation, build stronger ties within communities
                            and across industry, and promote VA’s commitment to innovation.
                        </p>
                    </div>
                    <div class="tablet:grid-col-7 padding-top-3">
                        <div class="img-container img-blur oneshadow">
                            <img class="image-thumbnail" src="/assets/images/HACK/Picture2.png"
                                alt="Immersive Technology" style="width:100%;">

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>


        <!-- main boxes project  -->
        <section
            class=" usa-section--dark small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">

            <div class="grid-container ">
                <div class="grid-row grid-gap-2">
                    <div class="tablet:grid-col">
                        <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                            The Impact of Community Events
                        </h2>
                    </div>
                </div>

            </div>


            <div class="grid-container">
                <!-- 11111 -->

                <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                    <!-- 1 COVID-19 MIT Hack Solution  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img text-center">
                                    <img class="image-thumbnail wrapper img-me" src="/assets/images/HACK/Insomniax.PNG "
                                        alt="Project Convergence">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">COVID-19 MIT
                                        Hack Solution
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15 ">
                                <p style="color:#1b1b1b; padding-bottom: 20px;">As a result of winning the MIT COVID-19
                                    Hackathon Challenge, VHA and Ulivity, LLC (Ulivity) have partnered to improve
                                    adherence to social distancing guidance without increasing wait times. Through the
                                    testing and validation of Ulivity’s web-based platform, the number of individuals in
                                    an outpatient waiting room is expected to decrease, positively impacting adherence
                                    to social distancing practices. This tool will be leveraged at no cost to VA, with
                                    designated iNET sites and their clinic staff accessing the platform dashboard for
                                    the purpose of piloting. </p>

                            </div>

                        </div>

                    </div>
                    <!-- 2   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="image-thumbnail wrapper" src="/assets/images/HACK/Feature_vp1.jpeg"
                                        alt="Project Convergence">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">COVID-19 Maker
                                        Challenge
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;padding-bottom: 20px;">VHA Innovation Ecosystem and Veteran
                                    nonprofit Challenge America partnered with federal agencies, private industry,
                                    leading research universities, and nonprofits to develop innovative solutions to the
                                    challenges encountered by essential workers on the frontlines of the coronavirus
                                    pandemic. Working with teams of engineers and designers, these challenges have
                                    produced innovative and unique solutions using rapid manufacturing processes like 3D
                                    printing that are capable of scaling quickly to meet the needs on the ground during
                                    the COVID-19 pandemic.
                                </p>
                               
                            </div>

                        </div>

                    </div>



                </div>


            </div>
        </section>
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: #e0f1f1;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>
        <section class="usa-section small-padding usa-section oneshadow  "
            style="background: #f0f0f0;margin-top: -10px;">
            <div class="grid-container">

                <!-- style="box-shadow: 0px 5px 6px -6px black;" -->
                <div class="grid-row grid-gap-2 border-gray bg-white oneshadow">


                    <div class="grid-row grid-gap-4 ">

                        <div class="tablet:grid-col-12 text-left"
                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                            <h3 class="text-left">
                                More about health care hackathons
                            </h3>
                        </div>
                        <div class="tablet:grid-col-4 padding-top-3">
                            <img class="oneshadow image-thumbnail bg-white" src="/assets/images/HACK/Picture1.png"
                                alt="Health care hackathons">

                        </div>
                        <div class="tablet:grid-col-8 text-left padding-top-5">
                            <p class="font-body-md text-dark padding-top-1 "> Health care hackathons are a powerful way
                                to
                                engage individuals across public and private sectors—government, health care, industry,
                                and
                                academia—in collaborative solution engineering to address some of VA’s biggest
                                challenges.
                            </p>


                        </div>
                    </div>

                </div>
               
                    <div class="grid-container margin-top-5">
                        <div class="grid-row ">
        
                            <div class="tablet:grid-col text-left">
                                <div class="article-summary-cta">
                                    <div class="summary-cta">
                                        <h3 class="" style="color: #7fcfcf;">Interested in hosting a community event? </h3>
        
                                        <div class="summary-cta-description text-white">
        
                                            Check out our hackathon playbook  <br><a class="text-white" style="" target="_blank" href="/views/solutions/3d-print-covid19.html">
                                                 <br> 
                                                 <strong>

                                                    <i class="fas fa-sign-in-alt project-icon"></i>Start Here</strong></a>
                                            <br>
        
                                        </div>
        
        
                                    </div>
                                </div>
                            </div>
                            <div class="tablet:grid-col text-left">
                                <div class="article-summary-cta">
                                    <div class="summary-cta">
                                        <h3 class="" style="color: #7fcfcf;">Be part of our innovation community!  </h3>
        
                                        <div class="summary-cta-description text-white">
                                            <a href="/views/news-events/iEX.html" style="font-weight: bolder;   font-size: 110%;" class="text-white" target="_Blank">
                                                <i class="fas fa-check-square project-icon"></i>Check out the Innovation Experience </a>
                                            <br>
        
                                        </div>
        
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
        
        
        
        
                    </div>
                
            </div>
        </section>


    </main>
    <div id="footer"></div>
</body>

</html>