<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links test-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- jsjq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                            HAPPEN is Saving Lives
                        </h1>


                    </div>

                    <div class="tablet:grid-col-7 text-left padding-top-4  ">


                        <p class="font-body-md  text-white line-height-sans-6" style="font-size: 21px;
                        line-height: 2.1; 
                        letter-spacing: .6px;">
                            HAPPEN (Hospital-Acquired Pneumonia Prevention by Engaging Nurses) began in October 2016 at
                            the Salem VA Medical Center’s community living center (CLC) and has spread to every VA
                            hospital in the nation. We predict that over $200M and countless lives will be saved by this
                            initiative annually.


                        </p>

                    </div>
                    <div class="tablet:grid-col-5 padding-top-0">
                        <img style="background-color: #537494 !important;  width: 500px;"
                            src="/assets/images/no-hap/HAPPEN_Logo.png" alt="Virtual Reality Care in Action">

                    </div>

                </div>

            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>


        <!-- main boxes project  -->
        <section
            class=" usa-section--dark small-padding margin-bottom-3 1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">

            <div class="grid-container  padding-3 ">
                <!--11  -->
                <div class="grid-row grid-gap-3 border-gray oneshadow padding-bottom-3 "
                    style="background-color: white;;">
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-3">

                        <img class="  flex-align-center  image-thumbnail oneshadow padding-top-2"
                            src="/assets/images/no-hap/vhs_headshots-_2.jpeg" alt="care Models-place holder">
                    </div>
                    <div class="tablet:grid-col-8  ">

                        <p class="font-body-sm margin-0 text-dark padding-top-5 padding-bottom-3 ">

                            The HAPPEN team is collaborating with VA leaders, the Centers for Disease Control and
                            Prevention (CDC), the Joint Commission, Food and Drug Administration (FDA), Health Resources
                            and Services Administration (HRSA), insurers including Medicare and Medicaid, the Patient
                            Safety Movement Foundation, academia, and private industry to develop a national research
                            agenda, policy, and an implementation/ marketing plan for the nation. <br><br>
                            HAPPEN team members at each site include professionals in nursing, medicine, infection
                            control, quality management, dental, speech and language pathology, and others. <br><br>

                            Providing consistent oral care to hospitalized Veterans and long-term care residents cuts
                            the risk of developing pneumonia in half.

                        </p>
                    </div>

                </div>
                <!-- 2222 -->
                <div class="grid-row grid-gap-3 border-gray oneshadow " style="    background-color: #c0e1f0;">
                    <div class="tablet:grid-col-12 ml-auto flex-align-left  margin-top-1 text-left">

                        <img class="  flex-align-left  " src="/assets/images/no-hap/small_banner.png"
                            alt="image place holder">
                    </div>


                </div>
                <!-- 3333 -->
                <div class="grid-row grid-gap-3 border-gray oneshadow " style="background-color: white;;">

                    <div class="tablet:grid-col-6  padding-top-4 ">

                        <p class="font-body-sm margin-0 text-dark padding-top-5 padding-bottom-2"
                            style="border-bottom: .125rem dotted #7fcfcf;">

                            VA hospitals that have implemented the program report a decrease in pneumonia rates of
                            40&ndash;60%. Implementation does not require a significant investment in either time or
                            money.

                        </p>
                        <div class="tablet:grid-col text-left">
                            <h2 class="font-heading-lg  text-dark text-left ">
                                Contact
                            </h2>
                            <h2 class="font-body-md   text-dark font-body-1xl ">
                                For questions related HAPPEN Contact
                            </h2>

                            <div class="usa-button usa-button--outline tablet:margin-bottom-3">

                                <a class="text-dark" href="mailto:VAHAPPEN@va.gov ">VAHAPPEN@va.gov </a>
                            </div>
                        </div>
                    </div>
                    <div class="tablet:grid-col-6 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail oneshadow"
                            src="/assets/images/solutions/DoE_Soc_Media_Pneumonia_B_r1.png"
                            alt="care Models-place holder">
                    </div>
                </div>

            </div>
        </section>
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: #e0f1f1;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>
        <section class="usa-section small-padding usa-section  "
            style="background: #f0f0f0;box-shadow: black 0px 8px 6px -6px;margin-top: -10px;">
            <div class="grid-container">

                <!-- style="box-shadow: 0px 5px 6px -6px black;" -->
                <div class="grid-row grid-gap-2 border-gray bg-white oneshadow">




                    <div class="tablet:grid-col-12 text-left"
                        style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                        <h3 class="text-left">
                            HAPPEN Resources
                        </h3>


                    </div>


                    <div class="tablet:grid-col">
                        <p class="font-body-md padding-top-4">
                        <ul>
                            <li class="padding-b">
                                <a href="https://www.cambridge.org/core/journals/infection-control-and-hospital-epidemiology/article/abs/nonventilator-hospitalacquired-pneumonia-a-call-to-action/3320E4A1D1367730EA5EF691A1884AAE"
                                    target="_blank"> Nonventilator hospital-acquired pneumonia: A call to action |
                                    Infection Control & Hospital Epidemiology | Cambridge Core</a>
                                <br><br>
                            </li>
                            <li class="padding-b">
                                <a href="https://nursing.jnj.com/nursing-news-events/nurses-leading-innovation/how-an-innovative-nurse-led-program-is-reducing-pneumonia-across-the-va"
                                    target="_blank"> Interview with Johnson &amp; Johnson (October 2019)</a>
                                <br><br>
                            </li>
                            <li>
                                <a href="https://www.blogs.va.gov/VAntage/80062/announcing-delivering-more-together-podcast/"
                                    target="_blank">35 minute VHA Innovation Ecosystem HAPPEN Podcast</a>
                            </li>

                        </ul>
                        </p>
                    </div>

                </div>

            </div>
        </section>


    </main>
    <div id="footer"></div>


</body>

</html>