<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-2">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12 text-left  ">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                            Innovators Network Programming
                        </h1>

                    </div>


                    <div class="tablet:grid-col-6 text-left padding-top-0">
                        <h3 class="font-heading-l padding-top-0 padding-bottom-0 text-white" >Empowering Innovation
                            Across VHA
                            <br> </h3>

                        <p class="font-body-md  text-white"
                            style="font-size: 19px;line-height: 1.7;letter-spacing: .6px;">
                            VHA Innovators Network (iNET) exists to inspire, connect, and empower VHA employees to
                            change and save Veteran lives through employee-driven innovation. iNET believes in
                            innovation as both a product or an outcome and as an invaluable mindset that must be readily
                            accessible to all VA employees. While iNET formally consists of a network of designated iNET
                            sites (VA hospitals and health care systems) in specific parts of the country, our reach is
                            far greater as we support innovative ideation, imagination, and iteration across the
                            entirety of VHA. 
                        </p>
                    </div>
                    <div class="tablet:grid-col-6 padding-top-5 margin-top-2">
                        <img style="background-color: #537494 !important; width: 80%;" class="oneshadow image-thumbnail"
                            src="/assets/images/int-pp/inet-pro.png" alt="innet pro">

                    </div>
                </div>
                <!-- <div class="grid-row grid-gap-1 margin-top-3" >
                    <div class="tablet:grid-col-2 text-right padding-top-2">
                        <img class="usa-media-block__img   image-thumbnail padding-top-3 " style="border-radius: 50%; height: 30%;"
                            src="/assets/images/NCCHI/dr-thom.jpg" alt="Dr asborve image">
                    </div>
                    <div class="tablet:grid-col-10 ">
                        <p class="font-mono-xs margin-0 text-white" style="padding-top: 15px;">

                        <blockquote class="text-white">
                            “We have both an opportunity and responsibility
                            to lead the discovery of solutions that improve the
                            health and wellness of our Veterans,” said Dr. Osborne.
                            “Groundbreaking collaborative partnerships like this
                            are an important part of our future success. As the
                            largest integrated health care system in the United
                            States, these advances have the potential to have
                            far-reaching positive impact.” Although our work is
                            focused on Veterans, it is also expected to benefit other
                            individuals and organizations, thanks to VA’s authority
                            to partner with others.
                        </blockquote>

                    </div>
                </div> -->
            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g ">
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>

        <!-- svg image bottom  -->
        <!-- <svg class="fl-builder-layer-align-top-center" viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background:#e0f1f1;">

            <defs>
                    </defs>
    
            <g class="fl-shape-content">
                <polygon class="fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20"></polygon>
            </g>
        </svg> -->
        <!-- main boxes project  -->
        <section
            class=" usa-section--dark small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">

            <div class="grid-container ">
                <div class="grid-row grid-gap-2">
                    <div class="tablet:grid-col">
                        <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                            Innovation Fundamentals
                        </h2>
                    </div>
                </div>

            </div>


            <div class="grid-container">
                <!-- 11111 -->

                <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                    <!-- 1   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="image-thumbnail wrapper img-me"
                                        src="/assets/images/int-pp/iNET_Icon_Three-Box_218x348.png" alt="icon">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">The Three-Box
                                        Solution
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15 ">
                                <p style="color:#1b1b1b; padding-bottom: 15px;">The strategies and mindsets needed to
                                    create the future are vastly different than, and potentially at odds with, those
                                    needed to respond to the present day. The Three-Box Solution teaches us how to
                                    balance it all to ensure that we keep an eye toward the future and ensure that our
                                    organization doesn’t become obsolete. </p>

                            </div>

                        </div>

                    </div>
                    <!-- 2   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="image-thumbnail wrapper"
                                        src="/assets/images/int-pp/iNET_Icon_Lean_Startup_218x348.png " alt="icon">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Lean Startup
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;padding-bottom: 17px;">Lean Startup teaches us to favor customer
                                    feedback over lengthy planning processes, maintain a spirit of agility, embrace
                                    rapid prototyping, and know when to pivot, persevere, or kill an idea. With this
                                    approach, ideas are tested continuously and adjust and adapt to true customer needs
                                    before becoming too mature (less agile).
                                </p>

                            </div>

                        </div>

                    </div>


                    <!-- 3 Smart Cane for the Blind -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img src="/assets/images/int-pp/iNET_Icon_HCD_218x348.png" class="image-thumbnail wrapper"
                                        alt="A placeholder image">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Human-Centered
                                        Design
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;">Simply put, human-centered design (HCD) helps us design
                                    solutions to problems by placing human needs first. Steeped in empathy, HCD is a
                                    creative, collaborative, iterative approach to problem-solving that involves true
                                    human perspective at every step of the way.
                                </p>

                            </div>

                        </div>


                    </div>
                    <!-- 4   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img src="/assets/images/int-pp/iNET_Icon_Storytelling_218x348.png"
                                        class="image-thumbnail wrapper" alt="A placeholder image">
                                </div>
                                <header class="usa-card__header">
                                    <h4 class="usa-card__heading text-center f17" style="color: #004b87;">Pitching and
                                        Storytelling
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f15">
                                <p style="color:#1b1b1b;padding-bottom: 20px;">Two-hour presentations have their place
                                    in the world, but not within iNET! We teach how leaning into story evokes an
                                    emotional response, while a well-structured pitch can have leaders and investors
                                    seeing the value of an idea, and its connection to a deeply understood problem,
                                    within minutes.
                                </p>

                            </div>

                        </div>


                    </div>

                </div>







        </section>





        <!-- image gray top SVG  -->
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill:#e0f1f1;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>
        <!-- <section>
            <div class="grid-row">
                <svg width="1694" height="113" xmlns="http://www.w3.org/2000/svg">
          
                    <g>
                        <title>background</title>
                        <rect fill="none" id="canvas_background" height="115" width="1696" y="-1" x="-1" />
                        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                        </g>
                    </g>
                    <g>
                        <title>Layer 1</title>
                        <rect stroke="null" transform="rotate(2.1024317741394043 822.357055664063,111.05017852783094) "
                            id="svg_1" height="161" width="1755.3888" y="30.55018" x="-55.3374" stroke-width="1.5"
                            fill="#f0f0f0" />
                        <rect id="svg_3" height="2" width="2" y="393.45313" x="929.5" stroke-opacity="null"
                            stroke-width="1.5" stroke="#000" fill="#f0f0f0" />
                    </g>
                </svg>
            </div>
        </section> -->

        <!-- 2nd quoat of thom -->
        <section class="usa-section small-padding usa-section  "
            style="background: #f0f0f0;box-shadow: black 0px 8px 6px -6px;margin-top: -10px;">
            <div class="grid-container">

                <section id="highlights" class="usa-graphic-list usa-section padding-top-2 border-gray bg-white"
                    style="box-shadow: 0px 5px 6px -6px black;">

                    <div class="grid-container  padding-4  " style="border: 1px solid #f0f0f0 !important;
           padding: 10px;">
                        <h1 class="font-heading-xl">
                            Innovation Cycle
                        </h1>
                        <hr>
                        <p class="padding-bottom-2">
                   iNET programming supports the innovation learning of VHA nationwide
                            through a cycle of Ignite – Incubate – Accelerate – Celebrate, providing VA employees with a
                            multitude of innovation fundamentals to leverage as they explore creating new services and
                            experiences for our Veterans. <br>
                        </p>



                        <!-- yellowish  -->
                        <div class="grid-container" style="padding-bottom: 2rem;">

                            <div class="grid-row grid-gap-2 "
                                style="text-align:center;background: #7fcfcf;box-shadow: 0px 5px 6px -6px black;">
                                <div class="tablet:grid-col border-right border-white">
                                    <div>
                                        <h1 class="font-heading-lg text-center">
                                            Ignite
                                        </h1>
                                    </div>
                                    <div>
                                        <img class="" src="/assets/images/iNET/ICON_ignite_red.png" height="150"
                                            alt="Ignite image">
                                    </div>
                                    <div>
                                        <p class="text-center"
                                            style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                            Fire up the creativity and passion of the VA workforce. Lean into problem
                                            framing, ideation, and posing solutions based on HCD.
                                        </p>
                                    </div>

                                </div>
                                <div class="tablet:grid-col border-right border-white">
                                    <div>
                                        <h1 class="font-heading-lg">
                                            Incubate
                                        </h1>
                                    </div>
                                    <div>
                                        <img class="" src="/assets/images/iNET/ICON_incubate_blue.png" height="150"
                                            alt="cubate Logo">
                                    </div>
                                    <div>
                                        <p class="text-center"
                                            style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                            Nurture people and ideas that have promise. Provide open access to iNET
                                            frameworks so anyone, anywhere can become part of iNET.
                                        </p>
                                    </div>

                                </div>
                                <div class="tablet:grid-col border-right border-white">
                                    <div>
                                        <h1 class="font-heading-lg">
                                            Accelerate
                                        </h1>
                                    </div>
                                    <div>
                                        <img class="" src="/assets/images/iNET/ICON_accelerate_grey.png" height="150"
                                            alt="Accelerate Logo">
                                    </div>
                                    <div>
                                        <p class="text-center"
                                            style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                            Intriguing ideas are resourced by the Spark-Seed-Spread Innovation
                                            Investment Program and undergo a rapid learning-by-doing process unlike any
                                            other available within VA.

                                        </p>
                                    </div>

                                </div>
                                <div class="tablet:grid-col border-right border-white">
                                    <div>
                                        <h1 class="font-heading-lg">
                                            Celebrate
                                        </h1>
                                    </div>
                                    <div>
                                        <img class="" src="/assets/images/iNET/ICON_celebrate_yellow.png" height="150"
                                            alt="Celebrate Logo">
                                    </div>
                                    <div>
                                        <p class="text-center"
                                            style="height: 250px; margin-bottom: 0px;margin-top: 20px;">
                                            Where we take a moment to reflect on the achievements (including early
                                            failures) of the past year with the VHA Innovation Experience, local site
                                            celebrations, and annual iNET Awards.
                                        </p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </section>

            </div>
        </section>


        <!-- quoat of thom -->
        <section class="usa-section small-padding usa-section padding-bottom-3 "
            style="background: #f0f0f0;box-shadow: 0px 5px 6px -6px black;">
            <div class="grid-container">
                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">
                    <div class="tablet:grid-col-3 padding-top-1 text-center">
                        <img class=" padding-right-0 " style="border-radius: 5%;width: 80%;"
                            src="/assets/images/team-headshots/COLE_CIRCLE.png" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 "> <a href="/views/who-we-are/biograph.html#bryn">
                            <p class="font-body-sm margin-0 padding-left-3" style="padding-top: 15px;">
                                <strong> Brynn Cole <br>
                                    Director of Programming,
                                    VHA Innovators Network </strong></p>
                        </a>

                        <blockquote>
                            “During a time like this, many people think of programs like
                            innovation as extra work. But iNET participants understand
                            that it’s a key part of our work as we strive to ensure Veterans
                            receive the best care possible.”

                        </blockquote>
                    </div>

                </div>
            </div>
        </section>

       

    </main>
    <div id="footer"></div>
</body>

</html>