<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - Home Page</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- title section -->
        <section id="" class="grid-container usa-section padding-bottom-0" style=" padding-top: .5rem;">
            <div class="grid-container padding-left-0" style="text-align: left;">
                <div class="grid-row grid-gap-1">
                    <!-- <div class="tablet:grid-col-2">
                      <img src="/assets/images/icons/Icon_Innovators_B_r1.png"
                            alt=""  height="100px" width="100px">
                    </div> -->
                    <div class="tablet:grid-col">
                        <h1 class="font-heading-3xl">
                            Innovation Accelerator Program
                        </h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- empowering innovation section -->
        <!-- <section id="" class="usa-section small-padding">
            <div class="grid-container">
                <div class="grid-row ">

                    <div class="tablet:grid-col-12">

                        <p class="font-body-md" style="text-align: left;">
                        <ul>
                            <li>Mechanism to listen to frontline providers for operational needs that are currently
                                unmet</li>
                            <li>Strong local tie to academic affiliate and industry in community to forge partners that
                                allow us to deliver more together</li>
                            <li>Leveraging immediate access to Veterans to identify areas for needed innovation</li>
                            <li>Ear of local leadership (VISN and VAMC) and broad based, proactive support in making
                                innovation a top priority</li>
                            <li>Collaborative relationship with local VA research nonprofit corporation and local VA
                                Office of Research</li>
                            <li>Networking and relationship building to cast a wide net for local innovation</li>
                            <li>Strong relationship with local SimLEARN center and activities as well as local admin and
                                clinical departments</li>
                        </ul>


                        </p>
                    </div>
                </div>
            </div>
        </section> -->



        <section id="highlights" class="usa-graphic-list usa-section padding-top-2 "
            style="background-color: #f0f0f047;">

            <div id="" class="grid-container  padding-4 border-blue bg-white ">
                <!-- <h1 class="font-heading-xl">
                    Innovation Accelerator Program
                </h1>
                <hr> -->
                <h2 class="font-heading-xl text-light-blue ">
                    Fundamentals
                </h2>
                <h3 class="font-body-sm text-dark-blue padding-bottom-205">
                    Innovation, while at times messy, has significant foundational structures. The following are the
                    fundamentals of what we teach, preach, and practice:
                </h3>


                <!-- yellowish  -->
                <div class="grid-container" style="padding-bottom: 2rem;">

                    <div class="grid-row grid-gap-2 padding-3" style="text-align:center;background: #FFC107;">
                        <div class="tablet:grid-col-3 border-right border-white">
                            <div>
                                <h1 class="font-heading-lg text-center">
                                    The Three Box Solution
                                </h1>
                            </div>
                            <div>
                                <img class="" src="/assets/images/iNET/ICON_three_box_red.png" height="150"
                                    alt="IThe Three Box Solution image">
                            </div>
                            <div>
                                <p class="text-center" style=" margin-bottom: 0px;margin-top: 20px;">
                                    The strategies and mindsets needed to create the future are vastly different than,
                                    and potentially at odds with, those needed to respond to the present. The Three Box
                                    Solution teaches us how to balance it all to ensure that our organization doesn't
                                    become obsolete.
                                </p>
                            </div>

                        </div>
                        <div class="tablet:grid-col-3 border-right border-white">
                            <div>
                                <h1 class="font-heading-lg">
                                    Human-Centerd Design (HCD)
                                </h1>
                            </div>
                            <div>
                                <img class="" src="/assets/images/iNET/ICON_HCD_grey.png" height="150"
                                    alt="cubate Logo">
                            </div>
                            <div>
                                <p class="text-center" style=" margin-bottom: 0px;margin-top: 20px;">
                                    Simply put, HCD helps us design solutions around the problems humans experience.
                                    Steeped in empathy, HCD is an iterative approach to problem-solving that involves
                                    true human perspective at every step of the way.
                                </p>
                            </div>

                        </div>
                        <div class="tablet:grid-col-3 border-right border-white">
                            <div>
                                <h1 class="font-heading-lg">
                                    Lean Startup
                                </h1>
                            </div>
                            <div>
                                <img class="margin-bottom-3" src="/assets/images/iNET/ICON_lean_yellow.png" height="150"
                                    alt="Lean Startup">
                            </div>
                            <div>
                                <p class="text-center" style=" margin-bottom: 0px;margin-top: 20px;">
                                    Not to be confused with Lean Six Sigma, Lean Startup teaches us to favor customer
                                    feedback over lengthy planning processes, the art of prototyping, and when to pivot
                                    versus persevere- essentially anything related to finding out, at the very earliest
                                    opportunity, if an idea is on target or not.
                                </p>
                            </div>

                        </div>
                        <div class="tablet:grid-col-3 ">
                            <div>
                                <h1 class="font-heading-lg">
                                    Pitching and Storytelling
                                </h1>
                            </div>
                            <div>
                                <img class="" src="/assets/images/iNET/ICON_book_grey.png" height="150"
                                    alt=" Pitching and Storytelling">
                            </div>
                            <div>
                                <p class="text-center" style=" margin-bottom: 0px;margin-top: 20px;">

                                    Two-hour presentations have their place in the world, but thankfully not
                                    within iNET. Learning into story evokes an emotional response, while a
                                    well-structured pitch can have leaders and investors seeing value within minutes.
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </section>


    </main>
    <div id="footer"></div>
</body>

</html>