<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links test-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- jsjq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4">
                    <div class="tablet:grid-col-12">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                            Project CONVERGENCE </h1>



                    </div>
                    <h3 class="text-white   ">Delivering Among the Most Advanced Surgical Care Available Today </h3>
                    <div class="tablet:grid-col-7 text-left padding-top-1  ">



                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7; 
                        letter-spacing: .6px;">
                            Through Project CONVERGENCE, the Department of Veterans Affairs (VA) has partnered with
                            Verizon, Medivis, and Microsoft to provide Veterans with the one of the first 5G medical
                            campuses in the United States. The initiative, led by VA’s National Center for Collaborative
                            Healthcare Innovation, brings Verizon’s 5G technology together with: (1) an
                            FDA-approved use
                            case in Medivis’ Surgical augmented reality clinical visualization software (SurgicalAR);
                            and (2) Microsoft’s HoloLens2 headset and Azure cloud service. <br> Together, these tools
                            will
                            improve the quality and speed of health care delivery at VA and in the broader health care
                            community.
                        </p>

                    </div>
                    <div class="tablet:grid-col-5 padding-top-5 margin-top-3">
                        <div class="img-container img-blur oneshadow padding-top-5 margin-top-3 image-thumbnail">
                            <img src="/assets/images/fall/convege2.png"
                                alt="When It Comes to Health Care, One Size Does Not Fit All" style="width:100%;">

                        </div>

                    </div>

                </div>

            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>


        <!-- main boxes project  -->
        <section
            class="  small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">
            <div class="grid-container ">
                <div class="grid-row grid-gap-2">
                    <div class="tablet:grid-col">
                        <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                            More About Project CONVERGENCE
                        </h2>
                    </div>
                </div>

            </div>
            <div class="grid-container   ">
                <!--project1  -->
                <div class="grid-row grid-gap-2 border-gray  bg-white oneshadow">
                    <div class="tablet:grid-col-5  flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail oneshadow"
                            src="/assets/images/fall/download-1.jpg" alt="Project CONVERGENCE image holder">
                    </div>
                    <div class="tablet:grid-col-7  padding-3 ">
                        <!-- <h2 class="font-heading-md project-title"> Machine Learning in Response to COVID-19 </h2> -->
                        <p class="font-body-sm margin-0 padding-bottom-2" style="padding-top: 5px;">
                            The surgical community largely relies on 2D-imaging technology to understand patient anatomy
                            and pathology. Using Medivis’ FDA-approved SurgicalAR software and Microsoft’s HoloLens 2
                            headset, VA clinicians will now be able to translate 2D images in 3D holographic
                            representations in augmented reality via the Verizon 5G network. Further, VA physicians will
                            now be able to better plan and prepare for surgery by being able to view and orient
                            themselves to the patient’s internal anatomy.



                        </p>
                    </div>
                </div>
                <!--project2  -->
                <div id="project2" class="grid-row grid-gap-2 border-gray bg-white oneshadow">

                    <div class="tablet:grid-col-7 ">
                        <!-- <h2 class="font-heading-md project-title"> Collaborations Empower Use of AI for <br> COVID-19
                        </h2> -->
                        <p class="font-body-sm margin-3 padding-top-5">By delivering the first-ever
                            5G-enabled augmented reality surgical navigation system, VA is now equipped to deliver the
                            most advanced surgical care available. This trailblazing technology will allow VA health
                            care providers to view patients’ anatomy in pre-surgical preparation and intervention.
                            <br><br>


                        </p>
                    </div>
                    <div class="tablet:grid-col-5 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail oneshadow " style="width: 300px;"
                            src="/assets/images/fall/surgical.jpeg" alt="hospital image">
                    </div>
                </div>



            </div>
        </section>
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill:#e0f1f1;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>
        <section class="usa-section small-padding usa-section  "
            style="background: #f0f0f0;box-shadow: black 0px 8px 6px -6px;margin-top: -10px;">
            <div class="grid-container">
                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">
                    <div class="tablet:grid-col-3">
                        <img class="usa-media-block__img   padding-top-3 " style="border-radius: 5%;"
                            src="/assets/images/NCCHI/OSBOURNE_CIRCLE.png" alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 " style="padding-top: 40px;">
                        <p class="font-body-sm margin-0 padding-left-3" style="padding-top: 15px;">
                            <strong> Dr. Thomas Osborne, Director for NCCHI</strong>
                        </p>
                        <blockquote>
                            “We have both an opportunity and responsibility to lead the discovery of solutions that
                            improve the health and wellness of our Veterans. Groundbreaking collaborative partnerships
                            like this are an important part of our future success. As the largest integrated health care
                            system in the United States, these advances have the potential to have far-reaching positive
                            impact. Although our work is focused on Veterans, it is also expected to benefit other
                            individuals and organizations, thanks to VA’s authority to partner with others.”

                        </blockquote>
                    </div>

                </div>


            </div>
        </section>


    </main>
    <div id="footer"></div>
</body>

</html>