<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - News</title>
    <meta name="description" content="Some Alt Text">
    <meta name="keywords"
        content="VHA Innovation Ecosystem, News, Newsroom, VHA News, Excellence, scaling excellence, high-reliability, best practices, life-saving best practices, Veteran, Veterans lives, Diffusion of Excellence, health care innovation, Innovation Community, strategic initiatives, innovators network">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer and side nav -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
            $('#news-events-navigation').load("/partials/news-events.html")
        });
    </script>
</head>

<body>

    <div id="header"></div>
    <main id="main-content" class=" usa-layout-docs">
        <br>
        <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        <div class="">
          

            <div class="grid-container  ">
                <h1 class="font-heading-3xl">
                    VHA Shark Tank Competition
                </h1>  
            </div>
                

                    <section class="usa-section  small-padding">
                        <div class="grid-container" style="line-height: 32px;">
                            <div class="grid-row">
                                <h3 class="no-bottom-margin">Diffusing Best Practices Across VHA</h3>
                                <p class="font-body-sm margin-0" style="padding-top: 10px; bottom: 0;">
                                    VHA Shark Tank Competition offers a unique opportunity to recognize top
                                    performers who are solving some of the toughest clinical and operational
                                    challenges across VHA. To be eligible, applicants must have successfully
                                    implemented their practice in at least one facility, and the practice must
                                    address one of the VHA Priority Categories defined each year.
                                </p>
                                <p class="font-body-sm margin-0" style="padding-top: 10px; bottom: 0;">
                                    Submitted practices undergo evaluation by VHA subject matter experts.
                                    Applicants compete for the opportunity to be one of 15 Finalists who pitch
                                    their practices at the live Competition to Medical Center and Veterans
                                    Integrated Service Network (VISN)Director “Sharks.” During the
                                    Competition, Sharks bid resources—such as funding, staff, or time—to
                                    implement the practices they want in their facilities. VHA senior leaders
                                    select approximately 10 Finalists and 10 Sharks as winners of the
                                    Competition. The winning practices proceed with facilitated replication in
                                    the winning Sharks’ facilities. If the implementation is successful, VHA
                                    leaders may select the practice for national rollout.
                                </p>
                                <p class="font-body-sm margin-0" style="padding-top: 10px; bottom: 0;">
                                    To date, the Competition has identified 59 clinical and operational
                                    practices that are transforming VHA into a high-reliability, high-value
                                    organization. Eight of these practices are actively being implemented
                                    nationally. The practices have impacted more than 100,000 Veterans across
                                    the health care system and are helping position VHA as a leader in health
                                    care innovation and progress.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="usa-section--dark small-padding">
                        <div class="grid-container">
                            <h3 class="no-bottom-margin">VHA Shark Tank Competition Process</h3>
                            <p>
                                The VHA Shark Tank Competition identifies field-developed promising practices
                                that promote positive outcomes and improved experiences for Veterans and
                                employees and facilitates the standardization of those practices across the
                                health care system to foster a culture of continuous improvement.
                            </p>

                            <img src="/assets/images/shark-tank-process-flow.png" class="center-img"
                                alt="Process diagram with 5 circles each describing a step of VHA Shark Tank competition process program.">

                        </div>
                    </section>
                

           
        </div>
    </main>

    <div id="footer"></div>

</body>

</html>