<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - Home Page</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- js+jq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12  ">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white text-center"
                            style="text-align: left;">
                            Innovators Network Spark-Seed-Spread Investment Program <br>
                        </h1>
                    </div>
                    <div class="tablet:grid-col-5 text-left  ">
                        <h3 class="font-heading-l padding-top-0 padding-bottom-0 text-white">What is Spark-Seed-Spread?
                            <br> </h3>

                        <p class="font-body-md  text-white"
                            style="font-size: 20px; line-height: 1.7; letter-spacing: .6px;">
                            The goal of the Spark-Seed-Spread Innovation Investment Program (Spark-Seed-Spread Program)
                            is to identify and accelerate employee-inspired innovations to improve health care
                            experiences for Veterans, families, caregivers, and employees. <br><br>


                        </p>
                    </div>
                    <div class="tablet:grid-col-7 padding-top-3 o">
                        <img class="oneshadow image-thumbnail" src="/assets/images/SSS/spark-seed-spread-logo.png"
                            alt="logo Spark-Seed-Spread" height="250"> <br>
                        <a class="usa-button btn-me btn-l shadowme a-work margin-top-1 oneshadow"
                            href="/assets/documents/Investee_List_FY2021.pdf" target="_blank">
                            See a full list of FY2021 Investee’s
                        </a>


                    </div>




                    <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                        <p class="font-body-md  text-white text-left" style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            The Spark-Seed-Spread
                            Program’s three levels of investment are based on the maturity of the employee’s innovative
                            solution: </p>
                        <!-- 1 Augmented Reality and 5GE  -->
                        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                            style="box-shadow: 0px 5px 6px -6px black;">
                            <div class="usa-card__container">


                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="usa-card__img">
                                        <img src="/assets/images/iNET/spark.png" class=" h15" style="height:60px;"
                                            alt="spark icon">
                                    </div>

                                    <header class="usa-card__header">
                                        <h4 class="usa-card__heading text-center f17 padding-bottom-2"
                                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">Spark
                                        </h4>
                                    </header>
                                </div>

                                <div class="usa-card__body padding-1 f15 text-left">
                                    <p style="color:#1b1b1b; padding-bottom: 15px;">
                                        Supports brand new concepts and solutions with the goal being to develop a
                                        functional prototype
                                    </p>

                                </div>

                            </div>

                        </div>
                        <!-- 2   -->
                        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                            style="box-shadow: 0px 5px 6px -6px black;">
                            <div class="usa-card__container">


                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="usa-card__img">
                                        <img src="/assets/images/iNET/seed.png" class=" h15" style="height:60px;"
                                            alt="seed icon">
                                    </div>

                                    <header class="usa-card__header">
                                        <h4 class="usa-card__heading text-center f17 padding-bottom-2"
                                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">Seed
                                        </h4>
                                    </header>
                                </div>

                                <div class="usa-card__body padding-1 f15 text-left">
                                    <p style="color:#1b1b1b;">
                                        Supports the testing and validation of prototypes through a pilot with the goal
                                        of testing prototypes in production at one site or department for a minimum of
                                        six months
                                    </p>

                                </div>

                            </div>

                        </div>


                        <!-- 3 Smart Cane for the Blind -->
                        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                            style="box-shadow: 0px 5px 6px -6px black;">
                            <div class="usa-card__container">


                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="usa-card__img">
                                        <img src="/assets/images/iNET/spread.png" class=" h15" style="height:60px;"
                                            alt="spread icon">
                                    </div>

                                    <header class="usa-card__header">
                                        <h4 class="usa-card__heading text-center f17 padding-bottom-2"
                                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">Spread
                                        </h4>
                                    </header>
                                </div>

                                <div class="usa-card__body padding-1 text-left f15">
                                    <p style="color:#1b1b1b;">
                                        Supports validated prototypes looking to spread their innovation to multiple
                                        sites or departments with the goal of testing the prototype at two to five new
                                        sites for a minimum of six months
                                    </p>

                                    </a>
                                </div>

                            </div>


                        </div>


                    </div>

                </div>
                <!-- <div class="grid-row grid-gap-1 margin-top-3" >
                    <div class="tablet:grid-col-2 text-right padding-top-2">
                        <img class="usa-media-block__img   image-thumbnail padding-top-3 " style="border-radius: 50%; height: 30%;"
                            src="/INNOVATIONECOSYSTEM/assets/images/NCCHI/dr-thom.jpg" alt="Dr asborve image">
                    </div>
                    <div class="tablet:grid-col-10 ">
                        <p class="font-mono-xs margin-0 text-white" style="padding-top: 15px;">

                        <blockquote class="text-white">
                            “We have both an opportunity and responsibility
                            to lead the discovery of solutions that improve the
                            health and wellness of our Veterans,” said Dr. Osborne.
                            “Groundbreaking collaborative partnerships like this
                            are an important part of our future success. As the
                            largest integrated health care system in the United
                            States, these advances have the potential to have
                            far-reaching positive impact.” Although our work is
                            focused on Veterans, it is also expected to benefit other
                            individuals and organizations, thanks to VA’s authority
                            to partner with others.
                        </blockquote>

                    </div>
                </div> -->
            </div>
        </section>
        <section>
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:white;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:white;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>

        <!-- svg image bottom  -->
        <!-- <svg class="fl-builder-layer-align-top-center" viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background:#e0f1f1;">

            <defs>
                    </defs>
    
            <g class="fl-shape-content">
                <polygon class="fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20"></polygon>
            </g>
        </svg> -->
        <!-- main boxes project  -->
        <section class="usa-graphic-list usa-section padding-top-0  " style="background-color: #f0f0f047;">
            <div class="grid-container  padding-3 ">
                <div class="grid-container ">
                    <div class="grid-row grid-gap-2">
                        <div class="tablet:grid-col">
                            <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                                Our Work
                            </h2>
                        </div>
                    </div>

                </div>
                <!--project1  -->
                <div id="project1" class="grid-row grid-gap-3 border-gray  " style="background-color: #edf8f8;">
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail" src="/assets/images/SSS/vetext.jpeg"
                            alt="vetex">
                    </div>
                    <div class="tablet:grid-col-8  ">
                        <h2 class="font-heading-md project-title"> VEText </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;">
                            <i class="fas fa-mobile-alt project-icon"></i>

                            VEText is an interactive mobile solution to remind Veterans of upcoming appointments via
                            text messaging. Since its launch in 2018, 71 million text messages have been sent and over 1
                            million appointments were made available for other Veterans. VEText originated at the VA
                            Loma Linda Healthcare System. <br> <br>
                            <a class="usa-button btn-me  shadowme a-work"
                                href="https://blogs.va.gov/VAntage/57288/vetext-enhances-access-improves-experience-veterans/"
                                target="_blank" class="text-primary-vivid"><small>Read
                                    More
                                    »</small>
                            </a>



                        </p>
                    </div>
                </div>
                <!--project2  -->
                <div id="project2" class="grid-row grid-gap-2 border-gray bg-white ">

                    <div class="tablet:grid-col-8 ">
                        <h2 class="font-heading-md project-title"> PRIDE </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;">
                            <i class="fas fa-user-md project-icon"></i>
                            PRIDE is a 10-week health education program that focuses on reducing health care
                            disparities. Group facilitators follow a session-by-session manual with corresponding
                            Veteran handouts on each topic. The manual includes information about how to access relevant
                            services within VHA. During sessions, participants focus on improving their overall
                            wellness, increasing social connection, and empowering Veterans to engage in services
                            related to their personal health care needs. Veterans who have attended the program are
                            linked to a reduced likelihood of attempting suicide in the future, as well as reduced
                            anxiety and concern about not being accepted. These same Veterans also have an increased
                            feeling of safety and protection through engagement in the community and certainty in their
                            own identity. The PRIDE Program began at the Hampton and Tuscaloosa VA Medical Centers and
                            is currently active at 14 VA Medical Centers across the country. <br><br>
                            <a class="usa-button btn-me  shadowme a-work"
                                href=" https://blogs.va.gov/VAntage/72726/pride-program-helps-employees-better-care-lgbtq-veterans/"
                                target="_blank" class="text-primary-vivid"><small>Read
                                    More
                                    »</small>
                            </a>


                        </p>
                    </div>
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail" src="/assets/images/SSS/pride.jpeg"
                            alt="pride">
                    </div>
                </div>
                <!--project3  -->
                <div id="project3" class="grid-row grid-gap-3 border-gray  " style="background-color: #edf8f8;">
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail" src="/assets/images/SSS/ridesh.jpeg"
                            alt="our works image">
                    </div>
                    <div class="tablet:grid-col-8 ">
                        <h2 class="font-heading-md project-title"> Veterans Rideshare Program </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;">
                            <i class="fas fa-handshake project-icon"></i>
                            The Veterans Rideshare Program began at the VA Boston Healthcare System and is now live at
                            over 60 sites throughout the country. Rideshare was created to support homeless Veterans by
                            helping them get to job interviews and find housing opportunities. As housing costs rise in
                            inner cities, Veterans are increasingly housed outside the city where public transportation
                            is less accessible, making it a constant challenge for these Veterans to search for
                            employment or attend medical appointments. “I don’t know what I would have done if the VA
                            and Uber/Lyft didn’t offer me these rides, I have no one who can drive me,” said Veteran
                            Robert Bukirch of Waltham, MA, who is undergoing a series of radiation treatments that
                            require him to get therapy daily. “I love the VA, and I love my country, this means so much
                            to me. You guys literally saved my life, thank you.”
                        </p>
                    </div>
                </div>
                <!--project4  -->
                <div id="project4" class="grid-row grid-gap-2 border-gray bg-white ">

                    <div class="tablet:grid-col-8">
                        <h2 class="font-heading-md project-title"> Automated Email Notification System </h2>
                        <p class="font-body-sm margin-0" style="padding-top: 15px;">
                            <i class="fas fa-envelope-open-text project-icon"></i>
                            The Automatic Email Notification System
                            (AENS) is a push system for consult management that allows users to access their priority
                            consult data through an automated email-system that delivers a direct data link specific to
                            each user. The system is set up by clinical stop code so that only users responsible for a
                            specific stop code receive an email notification, and only when consults fall outside the
                            national timeframes. AENS originated from the Lexington VA Medical Center and is now
                            available at 100 sites throughout the VA health care system. <br> <br>
                        </p>
                    </div>
                    <div class="tablet:grid-col-4 ml-auto flex-align-center padding-top-2 margin-top-1">

                        <img class="  flex-align-center  image-thumbnail" src="/assets/images/SSS/AENS.jpeg"
                            alt="our works image">
                    </div>
                </div>



            </div>

        </section>





    </main>
    <div id="footer"></div>
</body>

</html>