<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links test-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- jsjq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                            Veteran-Facing Solutions
                        </h1>


                    </div>

                    <div class="tablet:grid-col-6 text-left padding-top-4  ">


                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7; 
                        letter-spacing: .6px;">
                            Veteran-facing technologies are unique in that they are informed by direct Veteran feedback
                            and address the most pressing and impactful challenges throughout the Veteran community.
                            This focus area takes advantage of technologies gaining prominence in the health space, such
                            as biometric wearables to track health status and predict early deterioration. Care &
                            Transformational Initiatives (CTI) is also taking advantage of evidence-based behavioral
                            technology to promote mental health.
                        </p>
                    </div>
                    <div class="tablet:grid-col-6 padding-top-4">
                        <div class="img-container img-blur oneshadow">
                            <img src="/assets/images/fall/facing1.jpg"
                                alt="When It Comes to Health Care, One Size Does Not Fit All" style="width:100%;">
                            <div class="content">
                                <h2 class="text-white">Solutions Informed by Direct Veteran Feedback </h2>


                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>


        <!-- main boxes project  -->
        <section
            class=" usa-section--dark small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">

            <div class="grid-container ">



                <div class="grid-container margin-bottom-3">
                    <div class="grid-row  padding-bottom-3">
                        <div class="tablet:grid-col">
                            <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                                More About Veteran-Facing Solutions
                            </h2>
                        </div>
                    </div>
                    <div class="grid-row grid-gap-4  bg-white box-me padding-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="tablet:grid-col-12 text-left">
                            <h3 class="font-body-md text-dark padding-top-1 line-height-sans-6" style="color: #004b87;
                                                      border-bottom: .125rem dotted #7fcfcf;">
                                <i class="fas fa-file-medical-alt project-icon"></i>
                                By collaborating with companies known for their wearable technology, CTI and its
                                collaborators will be able to learn more about the impacts of COVID-19 exposure on
                                day-to-day life and overall mental health.
                            </h3>
                        </div>
                        <div class="tablet:grid-col-8 text-left padding-top-2">
                            <p class="font-body-md text-dark padding-top-1 line-height-sans-6"> CTI has established
                                collaborations critical to ensuring that Veterans remain safe and informed in the wake
                                of COVID-19. Through collaborations with the Biomedical Advanced Research and
                                Development Authority (BARDA) and well-established wearables companies, CTI launched
                                initiatives to counter the risks and impacts of COVID-19. CTI and BARDA were able to
                                provide Veterans a wearable patch to monitor vital signs, allowing both organizations to
                                learn more about the health status changes in high-risk patients prior to and during
                                COVID-19 infection.
                            </p>


                        </div>
                        <div class="tablet:grid-col-4 padding-top-4">
                            <img class="oneshadow image-thumbnail bg-white" src="/assets/images/fall/IMG_0734.JPG"
                                alt="image holder">

                        </div>
                        <div class="grid-row grid-gap-3 padding-top-3 margin-top-3">
                            <div class="tablet:grid-col-6 padding-top-3 text-center">
                                <img class="oneshadow image-thumbnail bg-white"
                                    src="/assets/images/fall/DoE_Image_Graphic_Website_A_r1.jpg" alt="image holder">

                            </div>

                            <div class="tablet:grid-col-6 text-left">
                                <p class="font-body-md text-dark padding-top-0 line-height-sans-6"> Optimal
                                    Psychological Treatment Intervention is an evidence-based behavioral technology to
                                    promote and protect mental health through 5-10 minutes of daily activity. This
                                    VHA-developed e-learning platform offers mental health exercises and connects
                                    Veterans with their most trusted resource—each other—to privately share experiences,
                                    ask questions, and receive support. Optimal Psychological Treatment Intervention
                                    customizes terminology for Veterans and continually adapts content to individual
                                    preferences through its intelligence engine. CTI is proud to work with fellow VHA
                                    partners to conduct a pilot study.
                                </p>


                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </section>


    </main>
    <div id="footer"></div>
</body>

</html>