<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA State of Innovation</title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
     <!-- js+jq for the header and footer -->
     <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!-- intro section -->
        <!-- <section id="" class="grid-container usa-section padding-left-0 padding-bottom-0" style=" padding-top: .5rem;">
            <div class="grid-container padding-left-0">
                <div class="grid-row grid-gap-2">
                    <div class="tablet:grid-col">
                        <h1 class="font-heading-3xl text-primary-darker ">
                            VHA State of Innovation
                        </h1>  
                    </div>
                </div>
              </div>
        </section> -->
        
        <!-- state of innovation pdf section -->
        <section id="" class="usa-section small-padding usa-section" >
            <div class="grid-container">

                <div class="grid-row grid-gap-2" style="text-align: center;"> 
                    <div class="usa-layout-docs__main desktop:grid-col-12 usa-prose">
                        <h1 class="font-heading-2xl text-primary-darker ">VHA State of Innovation</h1>
                        <h2 class="font-heading-xl text-primary-darker "> How VHA's culture of innovation is changing Veterans care</h2>
                        <section class="usa-section small-padding">
                            <div class="grid-row">
                                <p>VHA is driving innovation forward by building a culture of innovation and
                                    empowering employees. Through engaging spotlights, narrative stories, and special
                                    features, VHA
                                    State of Innovation provides an in-depth look at just how innovation is changing and
                                    saving Veterans
                                    lives. 
                                    <br><br>
                                    You can read the report below in the embedded PDF or download it 
                                    <a
                                        href="/assets/documents/2019_State_of_Innovation_Report.pdf"
                                        download="VHA_State_of_Innovation_Report">here</a>.
                                </p>
                            </div>
                            <div class="grid-row">
                                <iframe src="/assets/documents/2019_State_of_Innovation_Report.pdf" height="600" width="100%"></iframe>
    
                            </div>
                        </section>
    
                    </div>
                </div>
            </div>
        </section>

    </main>
    <div id="footer"></div>
</body>

</html>