<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->


<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>VHA Innovation Ecosystem - </title>
    <meta name="description" content="VHA Innovation Ecosystem Home">

    <!-- High Level meta data  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links test-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <!-- jsjq for the header and footer -->
    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>

<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #537494 !important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-12">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                            Immersive Technology
                        </h1>

                    </div>

                    <div class="tablet:grid-col-5 text-left padding-top-2 ">

                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7; 
                        letter-spacing: .6px;">
                            Recent advances in virtual, augmented, and mixed reality technologies have led to clinical
                            applications using these tools for Veteran-facing solutions. VHA Innovation Ecosystem, in
                            collaboration with multiple
                            organizations across the country, is pioneering the introduction of these tools for use in
                            pain management, physical therapy, surgical planning, medical training, and the treatment of
                            post-traumatic stress disorder (PTSD).
                        </p>
                    </div>
                    <div class="tablet:grid-col-7 padding-top-0">
                        <div class="img-container img-blur oneshadow">
                            <img src="/assets/images/VR/VR1.jpg" alt="Immersive Technology" style="width:100%;">
                            <div class="content">
                                <h2 class="text-white">Revolutionizing Care Delivery Through Immersive Technologies
                                </h2>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section style="background:#e0f1f1;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#e0f1f1;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:#e0f1f1;fill:#7fcfcf" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>


        <!-- main boxes project  -->
        <section
            class=" usa-section--dark small-padding margin-bottom-3 padding-bottom-1 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background: #e0f1f1;margin-top: 0 !important;padding-top: 0 !important;">

            <div class="grid-container ">



                <div class="grid-container margin-bottom-3">
                    <div class="grid-row grid-gap-4  bg-white box-me padding-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="tablet:grid-col-12 text-left">
                            <h3 class="text-left text-dark" style="color: #004b87;
                                                      border-bottom: .125rem dotted #7fcfcf;">
                                Virtual Reality Care in Action
                            </h3>
                        </div>
                        <div class="tablet:grid-col-8 text-left padding-top-5">
                            <p class="font-body-md text-dark padding-top-1 "> Virtual reality (VR) can be used to
                                deliver prolonged exposure therapy&#8212;the practice of recalling a traumatic memory
                                while
                                talking through the nuances of that memory with a therapist&#8212;an evidence-based
                                method
                                for treating PTSD; however, Veterans dealing with PTSD often find it difficult to summon
                                specific memories of their time in the service. VR therapy makes the process of
                                recalling and confronting such memories easier for Veterans.
                            </p>


                        </div>
                        <div class="tablet:grid-col-4 padding-top-0">
                            <img class="oneshadow image-thumbnail bg-white" src="/assets/images/VR/VR2.jpg"
                                alt="Virtual Reality Care in Action">

                        </div>
                        <div class="grid-row grid-gap-3">
                            <div class="tablet:grid-col-4 padding-top-0 text-center">
                                <img class="oneshadow image-thumbnail bg-white" src="/assets/images/VR/vr-3.png"
                                    alt="Virtual Reality Care in Action">

                            </div>

                            <div class="tablet:grid-col-8 text-left">
                                <p class="font-body-md text-dark padding-top-3 "> Care & Transformational Initiatives,
                                    in collaboration with Soldier Strong, has deployed 13 VR systems to VA Medical
                                    Centers across the country. <br><br>

                                    The protocol may come across as simple in writing, but as Dr. Rizzo notes, “exposure
                                    therapy can be difficult.” However, if conducted in a safe and supportive
                                    environment in which the process is overseen by trained VA clinicians, exposure
                                    therapy can help individuals confront and effectively cope with trauma-induced
                                    emotions. <br><br>

                                    “I was skeptical at first,“ said Christy Tubbs, a clinician at the Syracuse VA
                                    Medical Center in Syracuse, NY. “But it’s an enhancement to treatment that the
                                    therapist provides and it will be helping us do our jobs better.”
                                </p>


                            </div>

                        </div>
                    </div>


        </section>









    </main>
    <div id="footer"></div>
</body>

</html>